Repository r7com/front-monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build storybook, deploy storybook, test, component-test

build storybook:
  interruptible: true
  tags:
  - gitlab-runner-ec2
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - .yarn-cache/
    - cache/Cypress
  before_script:
  - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
  - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
  ...

deploy storybook:
  image:
    name: gitlab.ir7.com.br:5050/sre/docker-images/gitlab-runner-images:1.0.5
    entrypoint:
    - ''
  stage: deploy
  interruptible: true
  tags:
  - gitlab-runner-ec2
  script:
  - ls -la dist/apps/vision-components
  ...

test:
  interruptible: true
  tags:
  - gitlab-runner-ec2
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - .yarn-cache/
    - cache/Cypress
  before_script:
  - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
  - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
  ...

component-test:
  interruptible: true
  tags:
  - gitlab-runner-ec2
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - .yarn-cache/
    - cache/Cypress
  before_script:
  - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
  - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
  ...

chore(ui-card): release version 0.9.0
  libs/ui-card/CHANGELOG.md
  libs/ui-card/package.json
Due: none

refactor(text-over-photo): using composition on text-over-photo card
  libs/ui-card/src/components/text-over-photo/text-over-photo.cy.tsx
  libs/ui-card/src/components/text-over-photo/text-over-photo.stories.tsx
  libs/ui-card/src/components/text-over-photo/text-over-photo.tsx
  libs/ui-card/src/components/text-over-photo/text-over-photo.variants.tsx
Due: test, component-test

feat(ui-card): creating title-with-bullets card
  apps/demo-ui-components/src/app/routes/ui-card.tsx
  libs/ui-card/src/components/title-with-bullets/index.ts
  libs/ui-card/src/components/title-with-bullets/title-with-bullets.tsx
  libs/ui-card/src/index.ts
Due: test, component-test

docs(ui-card): added stories for title-with-bullets
  libs/ui-card/src/components/title-with-bullets/title-with-bullets.stories.tsx
Due: test, component-test

feat(ui-card): making bullets optional in title-with-bullets
  libs/ui-card/src/components/title-with-bullets/title-with-bullets.tsx
Due: test, component-test

test(ui-card): added tests for title-with-bullets card
  libs/ui-card/src/components/title-with-bullets/__image_snapshots__/TitleWithBullets responsiveness should render title-with-bullets card - desktop #0.png
  libs/ui-card/src/components/title-with-bullets/__image_snapshots__/TitleWithBullets responsiveness should render title-with-bullets card - mobile #0.png
  libs/ui-card/src/components/title-with-bullets/__image_snapshots__/TitleWithBullets responsiveness should render title-with-bullets card - tablet #0.png
  libs/ui-card/src/components/title-with-bullets/title-with-bullets.cy.tsx
Due: test, component-test

feat: created latest news chain, storybook and cypress
  apps/demo-ui-components/src/app/routes/ui-layout.tsx
  libs/ui-layout/src/components/latest-news/__image_snapshots__/Latest should render Latest News on Desktop #0.png
  libs/ui-layout/src/components/latest-news/__image_snapshots__/Latest should render Latest News on Mobile #0.png
  libs/ui-layout/src/components/latest-news/__image_snapshots__/Latest should render Latest News on Tablet #0.png
  libs/ui-layout/src/components/latest-news/index.ts
  libs/ui-layout/src/components/latest-news/latest-news-sidebar/index.ts
  libs/ui-layout/src/components/latest-news/latest-news-sidebar/latest-news-sidebar.tsx
  libs/ui-layout/src/components/latest-news/latest-news.cy.tsx
  libs/ui-layout/src/components/latest-news/latest-news.stories.tsx
  libs/ui-layout/src/components/latest-news/latest-news.tsx
  libs/ui-layout/src/components/latest-news/mocks/mocks.tsx
  libs/ui-layout/src/index.ts
Due: test, component-test

chore: updated snapshot
  libs/ui-layout/src/components/latest-news/__image_snapshots__/Latest should render Latest News on Desktop #0.png
  libs/ui-layout/src/components/latest-news/__image_snapshots__/Latest should render Latest News on Mobile #0.png
  libs/ui-layout/src/components/latest-news/__image_snapshots__/Latest should render Latest News on Tablet #0.png
  libs/ui-layout/src/components/latest-news/mocks/mocks.tsx
Due: test, component-test

refactor: removed sectionHeading
  libs/ui-layout/src/components/latest-news/latest-news.cy.tsx
  libs/ui-layout/src/components/latest-news/latest-news.stories.tsx
Due: test, component-test

chore: removed dependence
  libs/ui-layout/src/components/latest-news/latest-news.cy.tsx
Due: test, component-test

refactor(guerra): using composition on the guerra card
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - desktop #1.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - desktop #2.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - desktop #3.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - mobile #1.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - tablet #1.actual.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - tablet #2.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - tablet #3.png
  libs/ui-card/src/components/guerra/guerra.cy.tsx
  libs/ui-card/src/components/guerra/guerra.stories.tsx
  libs/ui-card/src/components/guerra/guerra.tsx
Due: test, component-test

feat(ui-card): added max-width for bullets of title-with-bullets
  apps/demo-ui-components/src/app/routes/ui-card.tsx
  libs/ui-card/src/components/title-with-bullets/title-with-bullets.tsx
Due: test, component-test

feat: Created latest news chain, storybook and cypress
  apps/demo-ui-components/src/app/routes/ui-layout.tsx
  libs/ui-layout/src/components/latest-news/__image_snapshots__/Latest should render Latest News on Desktop #0.png
  libs/ui-layout/src/components/latest-news/__image_snapshots__/Latest should render Latest News on Mobile #0.png
  libs/ui-layout/src/components/latest-news/__image_snapshots__/Latest should render Latest News on Tablet #0.png
  libs/ui-layout/src/components/latest-news/index.ts
  libs/ui-layout/src/components/latest-news/latest-news-sidebar/index.ts
  libs/ui-layout/src/components/latest-news/latest-news-sidebar/latest-news-sidebar.tsx
  libs/ui-layout/src/components/latest-news/latest-news.cy.tsx
  libs/ui-layout/src/components/latest-news/latest-news.stories.tsx
  libs/ui-layout/src/components/latest-news/latest-news.tsx
  libs/ui-layout/src/components/latest-news/mocks/mocks.tsx
  libs/ui-layout/src/index.ts
Due: test, component-test

chore(ui-layout): release version 0.5.0
  libs/ui-layout/CHANGELOG.md
  libs/ui-layout/package.json
Due: none

refactor(proportional-photo): using composition on proportional-photo
  apps/demo-ui-components/src/app/routes/ui-card.tsx
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto should render proportional card - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto should render proportional card - mobile #0.png
  libs/ui-card/src/components/proportional-photo/proportional-photo-figure/index.ts
  libs/ui-card/src/components/proportional-photo/proportional-photo-figure/proportional-photo-figure.tsx
  libs/ui-card/src/components/proportional-photo/proportional-photo-text-wrapper/index.ts
  libs/ui-card/src/components/proportional-photo/proportional-photo-text-wrapper/proportional-photo-text-wrapper.tsx
  libs/ui-card/src/components/proportional-photo/proportional-photo-title/index.ts
  libs/ui-card/src/components/proportional-photo/proportional-photo-title/proportional-photo-title.tsx
  libs/ui-card/src/components/proportional-photo/proportional-photo.cy.tsx
  libs/ui-card/src/components/proportional-photo/proportional-photo.stories.tsx
  libs/ui-card/src/components/proportional-photo/proportional-photo.tsx
  libs/ui-card/src/components/two-cards-square-photo/__image_snapshots__/TwoCardsSquarePhoto should render two cards - desktop #0.png
  libs/ui-card/src/components/two-cards-square-photo/__image_snapshots__/TwoCardsSquarePhoto should render two cards - mobile #0.png
Due: test, component-test

feat(ui-base-components): changing font of the bullet component
  libs/ui-base-components/src/components/bullet/bullet.variants.ts
Due: test

docs(ui-card-demo): added two landscape cards with bullet
  apps/demo-ui-components/src/app/routes/ui-card.tsx
Due: test, component-test

test(cards): updating cypress screenshots with new ones
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - desktop #1.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - desktop #2.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - desktop #3.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - mobile #1.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - tablet #1.actual.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - tablet #2.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - tablet #3.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards landscape photo should render two cards - desktop #0.diff.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards landscape photo should render two cards - desktop #1.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards landscape photo should render two cards - desktop #2.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards landscape photo should render two cards - mobile #1.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards landscape photo should render two cards - mobile #2.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards landscape photo with bullet should render two cards - desktop #1.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards landscape photo with bullet should render two cards - desktop #2.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards landscape photo with bullet should render two cards - mobile #1.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards landscape photo with bullet should render two cards - mobile #2.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards square photo should render two cards - desktop #1.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards square photo should render two cards - desktop #2.actual.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards square photo should render two cards - mobile #1.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards square photo should render two cards - mobile #2.png
Due: none

fix: check if windows exists to avoid incorrect rendering in nodejs environment
  libs/ui-article-delivery/src/components/contrast-control/contrast-control.tsx
  libs/ui-header-delivery/src/components/internals-header/utils/hooks/use-is-in-viewport.ts
Due: test, component-test

chore(ui-header-delivery): release version 2.5.1
  libs/ui-header-delivery/CHANGELOG.md
  libs/ui-header-delivery/package.json
Due: none

chore(ui-article-delivery): release version 0.4.5
  libs/ui-article-delivery/CHANGELOG.md
  libs/ui-article-delivery/package.json
Due: none

feat: title-with-bullets card
  apps/demo-ui-components/src/app/routes/ui-card.tsx
  libs/ui-base-components/src/components/bullet/bullet.variants.ts
  libs/ui-card/src/components/title-with-bullets/__image_snapshots__/TitleWithBullets responsiveness should render title-with-bullets card - desktop #0.png
  libs/ui-card/src/components/title-with-bullets/__image_snapshots__/TitleWithBullets responsiveness should render title-with-bullets card - mobile #0.png
  libs/ui-card/src/components/title-with-bullets/__image_snapshots__/TitleWithBullets responsiveness should render title-with-bullets card - tablet #0.png
  libs/ui-card/src/components/title-with-bullets/index.ts
  libs/ui-card/src/components/title-with-bullets/title-with-bullets.cy.tsx
  libs/ui-card/src/components/title-with-bullets/title-with-bullets.stories.tsx
  libs/ui-card/src/components/title-with-bullets/title-with-bullets.tsx
  libs/ui-card/src/index.ts
Due: test, component-test

chore(ui-base-components): release version 0.7.0
  libs/ui-base-components/CHANGELOG.md
  libs/ui-base-components/package.json
Due: none

chore(ui-base-components): release version 0.6.6
  libs/ui-base-components/CHANGELOG.md
  libs/ui-base-components/package.json
Due: none

chore(ui-card): release version 0.10.0
  libs/ui-card/CHANGELOG.md
  libs/ui-card/package.json
Due: none

revert: reverting wrong tag
  libs/ui-base-components/CHANGELOG.md
Due: none

feat: adding font-face
  libs/ui-base-components/src/style.css
Due: none

fix: added contrast in components all
  apps/demo-ui-components/src/app/routes/ui-article-delivery.tsx
  libs/ui-article-delivery/src/components/social-share/social-icons/social-icons.variants.ts
  libs/ui-article-delivery/tailwind.config.js
  libs/ui-base-components/src/components/breadcrumb/breadcrumb.variants.ts
  libs/ui-base-components/src/components/typography/typography.variants.ts
  libs/ui-base-components/tailwind.config.js
  libs/ui-card/src/components/card-coupon/card-coupon-image/card-coupon-image.tsx
  libs/ui-card/src/components/card-coupon/card-coupon-image/index.ts
  libs/ui-card/src/components/card-coupon/card-coupon-item/card-coupon-item.tsx
  libs/ui-card/src/components/card-coupon/card-coupon-list/card-cupom-list.tsx
  libs/ui-card/src/components/card-coupon/card-coupon.cy.tsx
  libs/ui-card/src/components/card-coupon/card-coupon.stories.tsx
  libs/ui-card/src/components/card-coupon/card-coupon.tsx
  libs/ui-card/tailwind.config.js
  libs/ui-footer-delivery/tailwind.config.js
Due: test, component-test

refactor(guerra): separates the guerra sub-components
  libs/ui-card/src/components/guerra/guerra-bullets/guerra-bullets.tsx
  libs/ui-card/src/components/guerra/guerra-bullets/index.ts
  libs/ui-card/src/components/guerra/guerra-figure/guerra-figure.tsx
  libs/ui-card/src/components/guerra/guerra-figure/index.ts
  libs/ui-card/src/components/guerra/guerra-overlay/guerra-overlay.tsx
  libs/ui-card/src/components/guerra/guerra-overlay/index.ts
  libs/ui-card/src/components/guerra/guerra-title/guerra-title.tsx
  libs/ui-card/src/components/guerra/guerra-title/index.ts
  libs/ui-card/src/components/guerra/guerra.stories.tsx
  libs/ui-card/src/components/guerra/guerra.tsx
Due: test, component-test

chore: update nx
  libs/ui-layout/cypress/downloads/downloads.html.crdownload
  libs/ui-voting-components/cypress/downloads/downloads.html.crdownload
Due: none

refactor(left-photo): ajusted font-sizes as Figma and hat above title
  libs/ui-card/src/components/left-photo/left-photo-figure/left-photo-figure.tsx
  libs/ui-card/src/components/left-photo/left-photo-flex/left-photo-flex.tsx
  libs/ui-card/src/components/left-photo/left-photo-title/left-photo-title.variants.tsx
  libs/ui-card/src/components/left-photo/left-photo.cy.tsx
  libs/ui-card/src/components/left-photo/left-photo.stories.tsx
Due: test, component-test

refactor(proportional-photo): ajusted font-sizes as Figma and new variants on storybook/tests
  libs/ui-card/src/components/proportional-photo/proportional-photo-title/proportional-photo-title.tsx
  libs/ui-card/src/components/proportional-photo/proportional-photo.cy.tsx
  libs/ui-card/src/components/proportional-photo/proportional-photo.stories.tsx
Due: test, component-test

docs(demo-ui): updates cards on the ui-card demo route and removes separator
  apps/demo-ui-components/src/app/routes/ui-card.tsx
Due: test, component-test

docs(demo-ui): removes a Separator left behind
  apps/demo-ui-components/src/app/routes/ui-card.tsx
Due: test, component-test

test(guerra): added padding on desktop/tablet viewports
  libs/ui-card/src/components/guerra/guerra.cy.tsx
Due: test, component-test

test(cards): updates guerra, left-photo and proportional-photo cypress prints
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - desktop #0.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - mobile #0.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - tablet #0.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Three cards landscape small photo should render three cards - desktop #0.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Three cards landscape small photo should render three cards - mobile #0.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards landscape photo should render two cards - desktop #0.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards landscape photo should render two cards - mobile #0.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards landscape photo with bullet should render two cards - desktop #0.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards landscape photo with bullet should render two cards - mobile #0.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards square photo should render two cards - desktop #0.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards square photo should render two cards - mobile #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto big should render proportional card - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto big should render proportional card - mobile #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto medium should render proportional card - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto medium should render proportional card - mobile #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto responsive should render proportional card - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto responsive should render proportional card - mobile #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto should render proportional card - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto should render proportional card - mobile #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto small should render proportional card - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto small should render proportional card - mobile #0.png
Due: none

style(left-photo): moves the className styles to the base variant
  libs/ui-card/src/components/left-photo/left-photo.tsx
  libs/ui-card/src/components/left-photo/left-photo.variants.tsx
Due: test, component-test

chore(ui-card): release version 0.11.0
  libs/ui-card/CHANGELOG.md
  libs/ui-card/package.json
Due: none

Path conditions:
  build storybook: any of: *.stories.tsx
  deploy storybook: any of: *.stories.tsx
  test: any of: */**/*.tsx, */**/*.ts
  component-test: any of: */**/*.tsx
