Repository r7com/front-monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build storybook, deploy storybook, test, component-test

build storybook:
  interruptible: true
  tags:
  - gitlab-runner-ec2
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - .yarn-cache/
    - cache/Cypress
  before_script:
  - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
  - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
  ...

deploy storybook:
  image:
    name: gitlab.ir7.com.br:5050/sre/docker-images/gitlab-runner-images:1.0.5
    entrypoint:
    - ''
  stage: deploy
  interruptible: true
  tags:
  - gitlab-runner-ec2
  script:
  - ls -la dist/apps/vision-components
  ...

test:
  interruptible: true
  tags:
  - gitlab-runner-ec2
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - .yarn-cache/
    - cache/Cypress
  before_script:
  - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
  - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
  ...

component-test:
  interruptible: true
  tags:
  - gitlab-runner-ec2
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - .yarn-cache/
    - cache/Cypress
  before_script:
  - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
  - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
  ...

fix: adding border-style to the footer line
  libs/ui-footer-delivery/src/components/institutional/institutional-content/institutional-content.tsx
Due: test, component-test

chore(ui-header-delivery): release version 2.6.0
  libs/ui-header-delivery/CHANGELOG.md
  libs/ui-header-delivery/package.json
Due: none

chore(ui-footer-delivery): release version 1.3.4
  libs/ui-footer-delivery/CHANGELOG.md
  libs/ui-footer-delivery/package.json
Due: none

fix: adjusting font size of breadcrumb
  libs/ui-base-components/src/components/breadcrumb/breadcrumb.variants.ts
Due: test

chore(ui-base-components): release version 0.7.2
  libs/ui-base-components/CHANGELOG.md
  libs/ui-base-components/package.json
Due: none

feat(ui-base-components): new informer component
  apps/demo-ui-components/src/app/routes/ui-article-delivery.tsx
  libs/ui-base-components/src/components/informer/index.ts
  libs/ui-base-components/src/components/informer/informer.tsx
  libs/ui-base-components/src/components/informer/informer.variants.ts
  libs/ui-base-components/src/index.ts
Due: test, component-test

fix: font size control
  libs/ui-article-delivery/src/utils/constants/constants.ts
  libs/ui-article-delivery/src/utils/provider/article-provider.tsx
Due: test, component-test

chore(ui-article-delivery): release version 0.5.2
  libs/ui-article-delivery/CHANGELOG.md
  libs/ui-article-delivery/package.json
Due: none

chore(ui-article-delivery): release version 0.5.3
  libs/ui-article-delivery/CHANGELOG.md
  libs/ui-article-delivery/package.json
Due: none

chore(update): update nx packages
  package.json
  yarn.lock
Due: none

chore(update): added new configuration object in test target for demo-ui-components
  apps/demo-ui-components/project.json
Due: none

chore(update): update vite config
  apps/demo-ui-components/project.json
  apps/demo-ui-components/vite.config.ts
Due: test

refactor(ui-base-components): changing name informer to disclaimer
  apps/demo-ui-components/src/app/routes/ui-article-delivery.tsx
  libs/ui-base-components/src/components/disclaimer/disclaimer.tsx
  libs/ui-base-components/src/components/disclaimer/disclaimer.variants.ts
  libs/ui-base-components/src/components/disclaimer/index.ts
  libs/ui-base-components/src/components/informer/index.ts
  libs/ui-base-components/src/index.ts
Due: test, component-test

feat(ui-base-components): using editorial color or personalized color in the disclaimer component
  apps/demo-ui-components/src/app/routes/ui-article-delivery.tsx
  libs/ui-base-components/src/components/disclaimer/disclaimer.tsx
  libs/ui-base-components/src/components/disclaimer/disclaimer.variants.ts
Due: test, component-test

test(ui-base-components): added tests for disclaimer
  libs/ui-base-components/src/components/disclaimer/__image_snapshots__/Disclaimer should render default disclaimer, with editorial color as background color #0.png
  libs/ui-base-components/src/components/disclaimer/__image_snapshots__/Disclaimer should render disclaimer with personalized background color #0.png
  libs/ui-base-components/src/components/disclaimer/disclaimer.cy.tsx
  libs/ui-base-components/src/components/disclaimer/disclaimer.tsx
Due: test, component-test

docs(ui-base-components): added stories for disclaimer component
  libs/ui-base-components/src/components/disclaimer/disclaimer.stories.tsx
Due: test, component-test

refactor(ui-base-components): using variant types
  libs/ui-base-components/src/components/disclaimer/disclaimer.tsx
Due: test, component-test

feat(ui-base-components): new disclaimer component
  apps/demo-ui-components/src/app/routes/ui-article-delivery.tsx
  libs/ui-base-components/src/components/disclaimer/__image_snapshots__/Disclaimer should render default disclaimer, with editorial color as background color #0.png
  libs/ui-base-components/src/components/disclaimer/__image_snapshots__/Disclaimer should render disclaimer with personalized background color #0.png
  libs/ui-base-components/src/components/disclaimer/disclaimer.cy.tsx
  libs/ui-base-components/src/components/disclaimer/disclaimer.stories.tsx
  libs/ui-base-components/src/components/disclaimer/disclaimer.tsx
  libs/ui-base-components/src/components/disclaimer/disclaimer.variants.ts
  libs/ui-base-components/src/components/disclaimer/index.ts
  libs/ui-base-components/src/index.ts
Due: test, component-test

chore(ui-base-components): release version 0.8.0
  libs/ui-base-components/CHANGELOG.md
  libs/ui-base-components/package.json
Due: none

chore(ui-base-components): release version 0.8.0
  libs/ui-base-components/CHANGELOG.md
Due: none

chore(ui-base-components): release version 0.8.1
  libs/ui-base-components/CHANGELOG.md
  libs/ui-base-components/package.json
Due: none

Path conditions:
  build storybook: any of: *.stories.tsx
  deploy storybook: any of: *.stories.tsx
  test: any of: */**/*.tsx, */**/*.ts
  component-test: any of: */**/*.tsx
