Repository r7com/front-monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build storybook, deploy storybook, test, component-test

build storybook:
  interruptible: true
  tags:
  - gitlab-runner-ec2
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - .yarn-cache/
    - cache/Cypress
  before_script:
  - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
  - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
  ...

deploy storybook:
  image:
    name: gitlab.ir7.com.br:5050/sre/docker-images/gitlab-runner-images:1.0.5
    entrypoint:
    - ''
  stage: deploy
  interruptible: true
  tags:
  - gitlab-runner-ec2
  script:
  - ls -la dist/apps/vision-components
  ...

test:
  interruptible: true
  tags:
  - gitlab-runner-ec2
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - .yarn-cache/
    - cache/Cypress
  before_script:
  - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
  - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
  ...

component-test:
  interruptible: true
  tags:
  - gitlab-runner-ec2
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - .yarn-cache/
    - cache/Cypress
  before_script:
  - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
  - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
  ...

chore(ui-tv-guide): exporting main components
  libs/ui-tv-guide/src/components/index.ts
  libs/ui-tv-guide/src/components/ui-tv-guide.tsx
  libs/ui-tv-guide/src/index.ts
Due: test, component-test

chore(ui-tv-guide): change file name to match other libs pattern
  libs/ui-tv-guide/src/style.css
  libs/ui-tv-guide/src/styles/style.ts
  libs/ui-tv-guide/src/styles/styles.ts
Due: test

chore(global): updating yarn.lock
  yarn.lock
Due: none

feat(ui-tv-guide): utils to control which day-of-week/tab is active and change it on action
  libs/ui-tv-guide/src/utils/context.ts
  libs/ui-tv-guide/src/utils/days-of-week.ts
  libs/ui-tv-guide/src/utils/hook.ts
  libs/ui-tv-guide/src/utils/provider.tsx
Due: test, component-test

feat(ui-tv-guide): creating button-as-link for actions in programs lists
  libs/ui-tv-guide/src/components/tv-guide-button/index.ts
  libs/ui-tv-guide/src/components/tv-guide-button/tv-guide-button.tsx
Due: test, component-test

feat(ui-tv-guide): creating component to present the hour/date of programs
  libs/ui-tv-guide/src/components/tv-guide-time/index.ts
  libs/ui-tv-guide/src/components/tv-guide-time/tv-guide-time.tsx
  libs/ui-tv-guide/src/components/tv-guide-time/variants.ts
Due: test, component-test

feat(ui-tv-guide): creating select component to change event list per section
  libs/ui-tv-guide/src/components/tv-guide-select/index.ts
  libs/ui-tv-guide/src/components/tv-guide-select/tv-guide-select.tsx
  libs/ui-tv-guide/src/components/tv-guide-select/variants.ts
Due: test, component-test

feat(ui-tv-guide): creating live-tag component to show when a program is live
  libs/ui-tv-guide/src/components/tv-guide-live-tag/index.ts
  libs/ui-tv-guide/src/components/tv-guide-live-tag/tv-guide-live-tag.tsx
  libs/ui-tv-guide/src/components/tv-guide-live-tag/variants.ts
Due: test, component-test

feat(ui-tv-guide): creating figure component to show images
  libs/ui-tv-guide/src/components/tv-guide-figure/index.ts
  libs/ui-tv-guide/src/components/tv-guide-figure/tv-guide-figure.tsx
Due: test, component-test

feat(ui-tv-guide): creating card component to present events in tv-guide
  libs/ui-tv-guide/src/components/tv-guide-card/index.ts
  libs/ui-tv-guide/src/components/tv-guide-card/tv-guide-card.tsx
Due: test, component-test

feat(ui-tv-guide): creating highlight component to present live, next and later programs
  libs/ui-tv-guide/src/components/tv-guide-highlight/index.ts
  libs/ui-tv-guide/src/components/tv-guide-highlight/tv-guide-highlight-live.tsx
  libs/ui-tv-guide/src/components/tv-guide-highlight/tv-guide-highlight-next.tsx
  libs/ui-tv-guide/src/components/tv-guide-highlight/tv-guide-highlight.tsx
  libs/ui-tv-guide/src/components/tv-guide-highlight/variants.ts
Due: test, component-test

feat(ui-tv-guide): creating tabs for changing programs in a week
  libs/ui-tv-guide/src/components/tv-guide-programs/tabs/index.ts
  libs/ui-tv-guide/src/components/tv-guide-programs/tabs/tv-guide-programs-day.tsx
  libs/ui-tv-guide/src/components/tv-guide-programs/tabs/tv-guide-programs-week.tsx
  libs/ui-tv-guide/src/components/tv-guide-programs/tabs/variants.ts
Due: test, component-test

feat(ui-tv-guide): creating components to present lists of events per day in a week
  libs/ui-tv-guide/src/components/tv-guide-programs/events/index.ts
  libs/ui-tv-guide/src/components/tv-guide-programs/events/tv-guide-programs-event.tsx
  libs/ui-tv-guide/src/components/tv-guide-programs/events/tv-guide-programs-list.tsx
  libs/ui-tv-guide/src/components/tv-guide-programs/events/variants.ts
Due: test, component-test

feat(ui-tv-guide): creating programs component to group the list of events and the tabs of days
  libs/ui-tv-guide/src/components/tv-guide-programs/index.ts
  libs/ui-tv-guide/src/components/tv-guide-programs/tv-guide-programs.tsx
Due: test, component-test

feat: created article-grid
  apps/demo-ui-components/src/app/routes/ui-layout.tsx
  libs/ui-layout/src/components/article/__image_snapshots__/Article should render Article on Desktop #0.png
  libs/ui-layout/src/components/article/__image_snapshots__/Article should render Article on Mobile #0.png
  libs/ui-layout/src/components/article/__image_snapshots__/Article should render Article on Tablet #0.png
  libs/ui-layout/src/components/article/article.cy.tsx
  libs/ui-layout/src/components/article/article.stories.tsx
  libs/ui-layout/src/components/article/article.tsx
  libs/ui-layout/src/components/article/aside/aside.tsx
  libs/ui-layout/src/components/article/aside/index.ts
  libs/ui-layout/src/components/article/index.ts
  libs/ui-layout/src/components/article/main/index.ts
  libs/ui-layout/src/components/article/main/main.tsx
  libs/ui-layout/src/components/article/mocks/mocks.tsx
  libs/ui-layout/src/index.ts
Due: test, component-test

test: inclusion of proportional photo variation test
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto Medium bullet should render proportional card with call and bullet - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto Medium bullet should render proportional card with call and bullet - mobile #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto Medium text should render proportional card with two calls - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto Medium text should render proportional card with two calls- mobile #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto Small bullet should render proportional card with call and bullet - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto Small bullet should render proportional card with call and bullet - mobile #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto Small text should render proportional card with two calls - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto Small text should render proportional card with two calls- mobile #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto big bullet should render proportional card with call and bullet - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto big bullet should render proportional card with call and bullet - mobile #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto big should render proportional card - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto big should render proportional card - mobile #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto big text should render proportional card with two calls - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto big text should render proportional card with two calls- mobile #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto medium should render proportional card - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto medium should render proportional card - mobile #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto responsive should render proportional card - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto responsive should render proportional card - mobile #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto small should render proportional card - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto small should render proportional card - mobile #0.png
  libs/ui-card/src/components/proportional-photo/proportional-photo.cy.tsx
Due: test, component-test

refactor: updated grids and gaps
  apps/demo-ui-components/src/app/routes/ui-layout.tsx
  libs/ui-layout/src/components/article/article-aside/article-aside.tsx
  libs/ui-layout/src/components/article/article-aside/index.ts
  libs/ui-layout/src/components/article/article-grid/article-grid.tsx
  libs/ui-layout/src/components/article/article-grid/index.ts
  libs/ui-layout/src/components/article/article-main/article-main.tsx
  libs/ui-layout/src/components/article/article-main/index.ts
  libs/ui-layout/src/components/article/article.cy.tsx
  libs/ui-layout/src/components/article/article.stories.tsx
  libs/ui-layout/src/components/article/article.tsx
  libs/ui-layout/src/components/article/aside/aside.tsx
  libs/ui-layout/src/components/article/aside/index.ts
  libs/ui-layout/src/components/article/main/index.ts
  libs/ui-layout/src/components/article/main/main.tsx
Due: test, component-test

refactor: updated snapshots
  libs/ui-layout/src/components/article/__image_snapshots__/Article should render Article on Desktop #0.png
  libs/ui-layout/src/components/article/__image_snapshots__/Article should render Article on Tablet #0.png
Due: none

refactor: added should
  libs/ui-layout/src/components/article/article.cy.tsx
Due: test, component-test

refactor: added should
  libs/ui-layout/src/components/article/__image_snapshots__/Article should render Article on Desktop #0.png
  libs/ui-layout/src/components/article/__image_snapshots__/Article should render Article on Mobile #0.png
  libs/ui-layout/src/components/article/__image_snapshots__/Article should render Article on Tablet #0.png
  libs/ui-layout/src/components/article/article.cy.tsx
  libs/ui-layout/src/components/article/article.stories.tsx
Due: test, component-test

feat: created article-grid
  apps/demo-ui-components/src/app/routes/ui-layout.tsx
  libs/ui-layout/src/components/article/__image_snapshots__/Article should render Article on Desktop #0.png
  libs/ui-layout/src/components/article/__image_snapshots__/Article should render Article on Mobile #0.png
  libs/ui-layout/src/components/article/__image_snapshots__/Article should render Article on Tablet #0.png
  libs/ui-layout/src/components/article/article-aside/article-aside.tsx
  libs/ui-layout/src/components/article/article-aside/index.ts
  libs/ui-layout/src/components/article/article-grid/article-grid.tsx
  libs/ui-layout/src/components/article/article-grid/index.ts
  libs/ui-layout/src/components/article/article-main/article-main.tsx
  libs/ui-layout/src/components/article/article-main/index.ts
  libs/ui-layout/src/components/article/article.cy.tsx
  libs/ui-layout/src/components/article/article.stories.tsx
  libs/ui-layout/src/components/article/article.tsx
  libs/ui-layout/src/components/article/index.ts
  libs/ui-layout/src/components/article/mocks/mocks.tsx
  libs/ui-layout/src/index.ts
Due: test, component-test

chore(ui-layout): release version 0.6.0
  libs/ui-layout/CHANGELOG.md
  libs/ui-layout/package.json
Due: none

chore(demo-components): adding complete ui-tv-guide components to demo application
  apps/demo-ui-components/src/app/routes/ui-tv-guide.tsx
Due: test, component-test

feat(ui-theme-core): adding rating colors to tailwind presets
  libs/ui-theme-core/src/tailwind-preset.js
Due: none

feat(ui-tv-guide): tabs accessibility
  libs/ui-tv-guide/src/components/tv-guide-programs/events/tv-guide-programs-list.tsx
  libs/ui-tv-guide/src/components/tv-guide-programs/tabs/tv-guide-programs-day.tsx
  libs/ui-tv-guide/src/components/tv-guide-programs/tabs/tv-guide-programs-week.tsx
Due: test, component-test

style(ui-tv-guide): styling adjusts in some components
  libs/ui-tv-guide/src/components/tv-guide-button/tv-guide-button.tsx
  libs/ui-tv-guide/src/components/tv-guide-card/tv-guide-card.tsx
  libs/ui-tv-guide/src/components/tv-guide-programs/events/tv-guide-programs-event.tsx
  libs/ui-tv-guide/src/components/tv-guide-programs/events/variants.ts
  libs/ui-tv-guide/src/components/tv-guide-time/variants.ts
Due: test, component-test

feat(ui-tv-guide): creating details component to describe an event features like closed caption
  libs/ui-tv-guide/src/components/tv-guide-details/index.ts
  libs/ui-tv-guide/src/components/tv-guide-details/tv-guide-details.tsx
  libs/ui-tv-guide/src/components/tv-guide-details/utils/utils.ts
  libs/ui-tv-guide/src/components/tv-guide-details/variants.ts
Due: test, component-test

chore(ui-tv-guide): exporting created components
  libs/ui-tv-guide/src/components/ui-tv-guide.tsx
Due: test, component-test

fix: change grid to flex
  libs/ui-layout/src/components/article/article-main/article-main.tsx
Due: test, component-test

fix: snapshot
  libs/ui-layout/src/components/article/__image_snapshots__/Article should render Article on Tablet #0.png
Due: none

fix: change grid to flex
  libs/ui-layout/src/components/article/__image_snapshots__/Article should render Article on Tablet #0.png
  libs/ui-layout/src/components/article/article-main/article-main.tsx
Due: test, component-test

chore(ui-layout): release version 0.6.1
  libs/ui-layout/CHANGELOG.md
  libs/ui-layout/package.json
Due: none

docs(ui-tv-guide): creating story for ui-tv-guide
  apps/vision-components/.storybook/preview.ts
  libs/ui-tv-guide/src/components/ui-tv-guide.stories.tsx
Due: test, component-test

test(ui-tv-guide): creating tests for ui-tv-guide
  libs/ui-tv-guide/cypress/support/component.ts
  libs/ui-tv-guide/src/components/__image_snapshots__/TvGuide should render ui-tv-guide in desktop mode #0.png
  libs/ui-tv-guide/src/components/__image_snapshots__/TvGuide should render ui-tv-guide in mobile mode #0.png
  libs/ui-tv-guide/src/components/__image_snapshots__/TvGuide should render ui-tv-guide in tablet mode #0.png
  libs/ui-tv-guide/src/components/ui-tv-guide.cy.tsx
Due: test, component-test

feat: adding gap for header publicity
  libs/ui-header-delivery/src/components/header/header-root/header.tsx
Due: test, component-test

feat: removing variation file
  libs/ui-card/src/components/proportional-photo/proportional-photo-title/proportional-photo-title-variants.tsx
  libs/ui-card/src/components/proportional-photo/proportional-photo-title/proportional-photo-title.tsx
  libs/ui-card/src/components/proportional-photo/proportional-photo.stories.tsx
Due: test, component-test

test(adding test): adding test
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto Medium bullet should render proportional card with call and bullet - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto Medium bullet should render proportional card with call and bullet - mobile #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto Medium text should render proportional card with two calls - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto Medium text should render proportional card with two calls- mobile #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto Small bullet should render proportional card with call and bullet - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto Small bullet should render proportional card with call and bullet - mobile #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto Small text should render proportional card with two calls - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto Small text should render proportional card with two calls- mobile #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto big bullet should render proportional card with call and bullet - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto big bullet should render proportional card with call and bullet - mobile #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto big should render proportional card - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto big text should render proportional card with two calls - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto big text should render proportional card with two calls- mobile #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto medium should render proportional card - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto responsive should render proportional card - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto small should render proportional card - desktop #0.png
Due: none

fix: return of class from card title
  libs/ui-card/src/components/proportional-photo/proportional-photo-title/proportional-photo-title.tsx
Due: test, component-test

Path conditions:
  build storybook: any of: *.stories.tsx
  deploy storybook: any of: *.stories.tsx
  test: any of: */**/*.tsx, */**/*.ts
  component-test: any of: */**/*.tsx
