Repository r7com/front-monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: storybook, test, component-test

.gitlab-ci.yml:

variables:
  NODE_VERSION: node:18
  CI: 'true'
  GIT_DEPTH: 0

image: $NODE_VERSION

stages:
  - test
  - deploy
  - storybook

.distributed:
  interruptible: true
  tags:
    - gitlab-runner-ec2
  only:
    - main
    - merge_requests
  cache:
    key:
      files:
        - yarn.lock
    paths:
      - '.yarn-cache/'
      - cache/Cypress
  before_script:
    - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
    - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
    - NX_HEAD=$CI_COMMIT_SHA

storybook:
  extends: .distributed
  stage: storybook
  script:
    - yarn nx build-storybook vision-components
    - ls -la dist/apps/vision-components
  only:
    refs:
      - main
      - merge_requests
    changes:
      - '*.stories.tsx'
test:
  stage: test
  extends: .distributed
  script:
    - npx nx affected --base=$NX_BASE --head=$NX_HEAD -t test --parallel=3 --configuration=ci
  only:
    refs:
      - main
      - merge_requests
    changes:
      - '*/**/*.tsx'
      - '*/**/*.ts'

component-test:
  image: cypress/browsers:node18.12.0-chrome106-ff106
  stage: test
  extends: .distributed
  script:
    - apt-get update && apt-get install -y xvfb
    - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
    - export DISPLAY=:99
    - CHANGED_FOLDERS=$(git diff --dirstat=files,0 -w --name-only origin/${CI_DEFAULT_BRANCH} $CI_COMMIT_SHA -- '**/components/**' | sed 's:/[^/]*$:/\*:' | paste -sd ',')
    # CHANGED_FOLDERS:
    # Check which folders were modified until the last commit with main
    # only display component folders modified with pattern '/*,' from the cypress spec pattern
    - echo $CHANGED_FOLDERS
    - npx nx affected --base=$NX_BASE --head=$NX_HEAD -t component-test --parallel=3 --configuration=ci --spec "${CHANGED_FOLDERS}"
  only:
    refs:
      - main
      - merge_requests
    changes:
      - '*/**/*.tsx'
  artifacts:
    when: on_failure
    paths:
      - dist/cypress
    expire_in: 1 day

deploy ui-form-components:
  stage: deploy
  extends: .distributed
  script:
    - yarn nx build ui-form-components
    - yarn nx build-css ui-form-components
    - cd ./dist/libs/ui-form-components
    - echo "@r7:registry=https://registry.npmjs.org/" > .npmrc
    - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> .npmrc
    - npm publish
  only:
    refs:
      - /ui-form-components\-.*/

deploy ui-base-components:
  stage: deploy
  extends: .distributed
  script:
    - yarn nx build ui-base-components
    - yarn nx build-css ui-base-components
    - cd ./dist/libs/ui-base-components
    - echo "@r7:registry=https://registry.npmjs.org/" > .npmrc
    - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> .npmrc
    - npm publish
  only:
    refs:
      - /ui-base-components\-.*/

deploy ui-footer-delivery:
  stage: deploy
  extends: .distributed
  script:
    - yarn nx build ui-footer-delivery
    - yarn nx build-css ui-footer-delivery
    - cd ./dist/libs/ui-footer-delivery
    - echo "@r7:registry=https://registry.npmjs.org/" > .npmrc
    - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> .npmrc
    - npm publish
  only:
    refs:
      - /ui-footer-delivery\-.*/

chore: fix typecript
  apps/admin/src/bootstrap.tsx
  apps/demo-ui-components/src/main.tsx
  libs/ui-base-components/src/components/svg-icon/insert-root.tsx
Due: test, component-test

chore: added storybook font size control
  libs/ui-article-delivery/src/components/audima/audima.cy.tsx
  libs/ui-article-delivery/src/components/contrast-control/__image_snapshots__/ContrastControl Should render Contrast Control #0.png
  libs/ui-article-delivery/src/components/contrast-control/contrast-control.cy.tsx
  libs/ui-article-delivery/src/components/contrast-control/contrast-control.tsx
  libs/ui-article-delivery/src/components/font-size-control/__image_snapshots__/FontSizeControl Should render Font size control #0.png
  libs/ui-article-delivery/src/components/font-size-control/__image_snapshots__/FontSizeControl Should render FontSizeControl #0.png
  libs/ui-article-delivery/src/components/font-size-control/font-size-control.cy.tsx
  libs/ui-article-delivery/src/components/font-size-control/font-size-control.stories.tsx
  libs/ui-article-delivery/src/components/font-size-control/font-size-control.tsx
  libs/ui-article-delivery/src/components/font-size-control/utils/index.ts
  libs/ui-article-delivery/src/components/font-size-control/utils/utils.ts
  libs/ui-article-delivery/src/utils/consumer/article-consumer.ts
Due: test, component-test

chore: fix storybook and cypresss
  libs/ui-article-delivery/src/components/accessibility-bar/__image_snapshots__/AccessibilityBar Should render AccessibilityBar #0.png
  libs/ui-article-delivery/src/components/accessibility-bar/__image_snapshots__/AccessibilityBar Should render AccessibilityBar #1.png
  libs/ui-article-delivery/src/components/accessibility-bar/__image_snapshots__/AccessibilityBar Should render AccessibilityBar #2.png
  libs/ui-article-delivery/src/components/accessibility-bar/__image_snapshots__/AccessibilityBar Should render AccessibilityBar mobile #0.png
  libs/ui-article-delivery/src/components/accessibility-bar/__image_snapshots__/AccessibilityBar Should render AccessibilityBar mobile #1.png
  libs/ui-article-delivery/src/components/accessibility-bar/accessibility-bar.cy.tsx
  package.json
  yarn.lock
Due: test, component-test

chore: fix storybook and cypresss
  libs/ui-article-delivery/src/components/accessibility-bar/__image_snapshots__/AccessibilityBar Should render AccessibilityBar Desktop #0.png
  libs/ui-article-delivery/src/components/accessibility-bar/__image_snapshots__/AccessibilityBar Should render AccessibilityBar mobile #0.actual.png
  libs/ui-article-delivery/src/components/accessibility-bar/__image_snapshots__/AccessibilityBar Should render AccessibilityBar mobile #0.diff.png
  libs/ui-article-delivery/src/components/accessibility-bar/accessibility-bar.cy.tsx
Due: test, component-test

chore: removed as any
  apps/admin/src/bootstrap.tsx
  apps/demo-ui-components/src/main.tsx
  apps/voting/src/bootstrap.tsx
  libs/ui-base-components/src/components/svg-icon/insert-root.tsx
Due: test, component-test

chore: removed snapshoot
  libs/ui-article-delivery/src/components/accessibility-bar/__image_snapshots__/AccessibilityBar Should render AccessibilityBar #0.png
  libs/ui-article-delivery/src/components/accessibility-bar/__image_snapshots__/AccessibilityBar Should render AccessibilityBar mobile #0.diff.png
  libs/ui-article-delivery/src/components/audima/__image_snapshots__/Audima Should render Audima #0.png
  libs/ui-article-delivery/src/components/audima/__image_snapshots__/Audima Should render Audima #1.png
  libs/ui-article-delivery/src/components/font-size-control/__image_snapshots__/FontSizeControl Should render FontSizeControl #0.png
Due: none

chore: removed color string
  libs/ui-article-delivery/src/components/audima/audima.stories.tsx
  libs/ui-article-delivery/src/components/contrast-control/contrast-control.stories.tsx
  libs/ui-article-delivery/src/components/font-size-control/font-size-control.stories.tsx
Due: test, component-test

chore: removed images
  apps/admin/src/app/app.tsx
  apps/demo-ui-components/src/app/app.tsx
  libs/ui-article-delivery/src/components/accessibility-bar/__image_snapshots__/AccessibilityBar Should render AccessibilityBar #2.png
  libs/ui-article-delivery/src/components/accessibility-bar/__image_snapshots__/AccessibilityBar Should render AccessibilityBar Desktop #0.png
  libs/ui-article-delivery/src/components/accessibility-bar/__image_snapshots__/AccessibilityBar Should render AccessibilityBar mobile #1.png
Due: test, component-test

style(ui-card): addded blank line between card-image tests
  libs/ui-card/src/components/card/card-image/card-image.cy.tsx
Due: test, component-test

chore: removed console.log
  libs/ui-article-delivery/src/components/audima/audima.tsx
Due: test, component-test

feat(ui-section-foot): generating lib for ui-section-foot
  libs/ui-section-foot/.eslintrc.json
  libs/ui-section-foot/README.md
  libs/ui-section-foot/cypress.config.ts
  libs/ui-section-foot/cypress/fixtures/example.json
  libs/ui-section-foot/cypress/support/commands.ts
  libs/ui-section-foot/cypress/support/component-index.html
  libs/ui-section-foot/cypress/support/component.ts
  libs/ui-section-foot/cypress/tsconfig.json
  libs/ui-section-foot/jest.config.ts
  libs/ui-section-foot/package.json
  libs/ui-section-foot/postcss.config.js
  libs/ui-section-foot/project.json
  libs/ui-section-foot/src/components/__image_snapshots__/SectionFoot - Viewport should match the section foot on the desktop #0.png
  libs/ui-section-foot/src/components/__image_snapshots__/SectionFoot - Viewport should match the section foot on the mobile #0.png
  libs/ui-section-foot/src/components/index.ts
  libs/ui-section-foot/src/components/section-foot-line/section-foot-line.tsx
  libs/ui-section-foot/src/components/section-foot-link/section-foot-link.tsx
  libs/ui-section-foot/src/components/section-foot-text/section-foot-text.tsx
  libs/ui-section-foot/src/components/section-foot.cy.tsx
  libs/ui-section-foot/src/components/section-foot.stories.tsx
  libs/ui-section-foot/src/components/section-foot.tsx
  libs/ui-section-foot/src/index.ts
  libs/ui-section-foot/src/style.css
  libs/ui-section-foot/tailwind.config.js
  libs/ui-section-foot/tsconfig.json
  libs/ui-section-foot/tsconfig.lib.json
  libs/ui-section-foot/tsconfig.spec.json
  libs/ui-section-foot/vite.config.ts
  tsconfig.base.json
Due: test, component-test

test(ui-card): restructuring the main test of card component with hat
  libs/ui-card/src/components/card/card.cy.tsx
Due: test, component-test

test(ui-card): new snapshot for card component test
  libs/ui-card/src/components/card/__image_snapshots__/Card should render default card #0.png
Due: none

refactor(ui-card): changing card prop name from newsTitle to newsUrlTitle
  libs/ui-card/src/components/card/card-hat/card-hat.stories.tsx
  libs/ui-card/src/components/card/card-image/card-image.stories.tsx
  libs/ui-card/src/components/card/card-label/card-label.stories.tsx
  libs/ui-card/src/components/card/card-title/card-title.stories.tsx
  libs/ui-card/src/components/card/card.stories.tsx
  libs/ui-card/src/components/card/card.tsx
Due: test, component-test

fix: removed archive
  .eslintrc.json
  globals.d.ts
Due: none

chore: remed comma
  .eslintrc.json
Due: none

chore: removed eslint rules and utils
  libs/ui-article-delivery/.eslintrc.json
  libs/ui-article-delivery/src/components/audima/audima.tsx
  libs/ui-article-delivery/src/components/audima/utils/index.ts
  libs/ui-article-delivery/src/components/audima/utils/utils.test.ts
  libs/ui-article-delivery/src/components/audima/utils/utils.ts
Due: test, component-test

chore: created constants folder and fix request changes merge
  libs/ui-article-delivery/src/components/accessibility-bar/accessibility-bar.cy.tsx
  libs/ui-article-delivery/src/components/accessibility-bar/accessibility-bar.stories.tsx
  libs/ui-article-delivery/src/utils/constants/constants.ts
  libs/ui-article-delivery/src/utils/constants/index.ts
  libs/ui-article-delivery/src/utils/hooks/use-article-actions.ts
  libs/ui-article-delivery/src/utils/provider/article-provider.tsx
Due: test, component-test

style: added container
  apps/demo-ui-components/src/app/routes/ui-article-delivery.tsx
Due: test, component-test

chore: remooved templaate string
  libs/ui-article-delivery/src/components/audima/audima.cy.tsx
  libs/ui-article-delivery/src/components/audima/audima.stories.tsx
Due: test, component-test

chore(ui-base-components): release version 0.1.0
  libs/ui-base-components/CHANGELOG.md
  libs/ui-base-components/package.json
Due: none

chore(ui-card): release version 0.1.0
  libs/ui-card/CHANGELOG.md
  libs/ui-card/package.json
Due: none

ci: update deploy ui-card script
  .gitlab-ci.yml
Due: none

feat(ui-section-foot): data inclusion in gitlab-ci.yml
  .gitlab-ci.yml
Due: none

feat(ui-section-foot): indentation adjustment
  .gitlab-ci.yml
Due: none

feat(ui-section-foot): nomenclature adjustment
  libs/ui-section-foot/src/components/section-foot.cy.tsx
  libs/ui-section-foot/src/components/section-foot.stories.tsx
  libs/ui-section-foot/src/components/section-foot.tsx
Due: test, component-test

chore: cypress configs
  libs/ui-hotsite-delivery/cypress/fixtures/example.json
  libs/ui-hotsite-delivery/cypress/support/commands.ts
  libs/ui-hotsite-delivery/cypress/support/component-index.html
  libs/ui-hotsite-delivery/cypress/support/component.ts
  libs/ui-hotsite-delivery/cypress/tsconfig.json
Due: test

chore: project configs
  libs/ui-hotsite-delivery/.eslintrc.json
  libs/ui-hotsite-delivery/README.md
  libs/ui-hotsite-delivery/cypress.config.ts
  libs/ui-hotsite-delivery/jest.config.ts
  libs/ui-hotsite-delivery/package.json
  libs/ui-hotsite-delivery/postcss.config.js
  libs/ui-hotsite-delivery/project.json
  libs/ui-hotsite-delivery/tailwind.config.js
  libs/ui-hotsite-delivery/tsconfig.json
  libs/ui-hotsite-delivery/tsconfig.lib.json
  libs/ui-hotsite-delivery/tsconfig.spec.json
  libs/ui-hotsite-delivery/vite.config.ts
Due: test

feat: submenu and submenu-item creation
  libs/ui-hotsite-delivery/src/components/hotsite-menu/hotsite-submenu-item/hotsite-submenu-item.tsx
  libs/ui-hotsite-delivery/src/components/hotsite-menu/hotsite-submenu/hotsite-submenu.tsx
  libs/ui-hotsite-delivery/src/components/hotsite-menu/hotsite-submenu/hotsite-submenu.variants.ts
Due: test, component-test

feat: menu button for activating submenu
  libs/ui-hotsite-delivery/src/components/hotsite-menu/hotsite-button/hotsite-button.tsx
Due: test, component-test

feat: submenu item creation
  libs/ui-hotsite-delivery/src/components/hotsite-menu/hotsite-item/hotsite-item.tsx
Due: test, component-test

feat: link creation
  libs/ui-hotsite-delivery/src/components/hotsite-menu/hotsite-link/hotsite-link.tsx
Due: test, component-test

feat: menu-list creation
  libs/ui-hotsite-delivery/src/components/hotsite-menu/hotsite-list/hotsite-list.tsx
Due: test, component-test

feat: creating context, provider and hook for submenu
  libs/ui-hotsite-delivery/src/components/hotsite-menu/utils/context/hotsite-provider.ts
  libs/ui-hotsite-delivery/src/components/hotsite-menu/utils/hooks/use-hotsite-actions.ts
  libs/ui-hotsite-delivery/src/components/hotsite-menu/utils/provider/hotsite-provider.tsx
Due: test, component-test

feat: hotsite-menu root creation and exporting components
  libs/ui-hotsite-delivery/src/components/hotsite-menu/hotsite-menu.tsx
  libs/ui-hotsite-delivery/src/components/hotsite-menu/index.ts
  libs/ui-hotsite-delivery/src/index.ts
Due: test, component-test

chore: hotsite-components alias
  tsconfig.base.json
Due: none

chore(ui-card): release version 0.1.1
  libs/ui-card/CHANGELOG.md
  libs/ui-card/package.json
Due: none

feat(ui-section-foot): layout adjustment
  libs/ui-section-foot/src/components/__image_snapshots__/SectionFoot - Viewport should match the section foot on the desktop #0.png
  libs/ui-section-foot/src/components/__image_snapshots__/SectionFoot - Viewport should match the section foot on the mobile #0.png
  libs/ui-section-foot/src/components/section-foot-link/section-foot-link.tsx
  libs/ui-section-foot/src/components/section-foot-text/section-foot-text.tsx
Due: test, component-test

feat(ui-section-foot): removing the color variable
  libs/ui-section-foot/src/components/section-foot-text/section-foot-text.tsx
  libs/ui-section-foot/src/components/section-foot.tsx
Due: test, component-test
