Repository r7com/front-monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build storybook, deploy storybook, test, component-test

build storybook:
  interruptible: true
  tags:
  - gitlab-runner-ec2
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - .yarn-cache/
    - cache/Cypress
  before_script:
  - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
  - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
  ...

deploy storybook:
  image:
    name: gitlab.ir7.com.br:5050/sre/docker-images/gitlab-runner-images:1.0.5
    entrypoint:
    - ''
  stage: deploy
  interruptible: true
  tags:
  - gitlab-runner-ec2
  script:
  - ls -la dist/apps/vision-components
  ...

test:
  interruptible: true
  tags:
  - gitlab-runner-ec2
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - .yarn-cache/
    - cache/Cypress
  before_script:
  - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
  - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
  ...

component-test:
  interruptible: true
  tags:
  - gitlab-runner-ec2
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - .yarn-cache/
    - cache/Cypress
  before_script:
  - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
  - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
  ...

feat: added new script with generate lin
  package.json
  tools/add-prefix/README.md
  tools/add-prefix/add-prefix.js
  tools/index.ts
  tools/nx-generate/README.md
  tools/nx-generate/nx-generate.mjs
  tools/nx-generate/src/generaters/index.mjs
  tools/nx-generate/src/generaters/react-application/react-application.mjs
  tools/nx-generate/src/generaters/react-library/cypress.mjs
  tools/nx-generate/src/generaters/react-library/files-manipulation.mjs
  tools/nx-generate/src/generaters/react-library/project-json.mjs
  tools/nx-generate/src/generaters/react-library/react-library.mjs
  tools/nx-generate/src/generaters/react-library/storybook.mjs
  tools/nx-generate/src/generaters/react-library/tailwind.mjs
  tools/nx-generate/src/generaters/react-library/templates/cypress/cypress.config.ts
  tools/nx-generate/src/generaters/react-library/templates/storybook/template.stories.tsx
  tools/nx-generate/src/generaters/react-library/templates/tailwind/postcss.config.js
  tools/nx-generate/src/generaters/react-library/templates/tailwind/src/styles.css
  tools/nx-generate/src/generaters/react-library/templates/tailwind/src/styles/styles.ts
  tools/nx-generate/src/generaters/react-library/templates/tailwind/tailwind.config.js
  tools/nx-generate/src/utils/constants.mjs
  tools/nx-generate/src/utils/questions.mjs
  tools/nx-generate/src/utils/utils.mjs
  tools/src/nx-generate/src/generaters/react-library/files-manipulation.mjs
  tools/src/nx-generate/src/generaters/react-library/tailwind.mjs
  tools/src/nx-generate/src/generaters/react-library/templates/tailwind/src/styles.css
  tools/src/nx-generate/src/utils/utils.test.js
  tools/tailwind-variants/index.ts
  tools/tailwind-variants/tailwind-variants.ts
  tsconfig.base.json
Due: test, component-test

chore(ui-corinthians): release version 0.0.1
  libs/ui-corinthians/CHANGELOG.md
  libs/ui-corinthians/package.json
Due: none

chore: lib nova
  libs/ui-corinthians/.eslintrc.json
  libs/ui-corinthians/README.md
  libs/ui-corinthians/jest.config.ts
  libs/ui-corinthians/project.json
  libs/ui-corinthians/src/index.ts
  libs/ui-corinthians/src/lib/ui-corinthians.spec.tsx
  libs/ui-corinthians/src/lib/ui-corinthians.tsx
  libs/ui-corinthians/tsconfig.json
  libs/ui-corinthians/tsconfig.lib.json
  libs/ui-corinthians/tsconfig.spec.json
  libs/ui-corinthians/vite.config.ts
  tsconfig.base.json
Due: test, component-test

chore(ui-corinthians): release version 0.0.2
  libs/ui-corinthians/CHANGELOG.md
  libs/ui-corinthians/package.json
Due: none

chore: removing test lib
  libs/ui-corinthians/.eslintrc.json
  libs/ui-corinthians/CHANGELOG.md
  libs/ui-corinthians/README.md
  libs/ui-corinthians/jest.config.ts
  libs/ui-corinthians/package.json
  libs/ui-corinthians/project.json
  libs/ui-corinthians/src/index.ts
  libs/ui-corinthians/src/lib/ui-corinthians.spec.tsx
  libs/ui-corinthians/src/lib/ui-corinthians.tsx
  libs/ui-corinthians/tsconfig.json
  libs/ui-corinthians/tsconfig.lib.json
  libs/ui-corinthians/tsconfig.spec.json
  libs/ui-corinthians/vite.config.ts
  tsconfig.base.json
Due: test, component-test

fix(sitemap-footer): merge adjustments
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-menu-dropdown.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-menu-item.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/utils/provider/dropdown-provider.tsx
Due: test, component-test

chore: update fileess
  libs/ui-article-delivery/src/components/accessibility-bar/__image_snapshots__/AccessibilityBar Should render AccessibilityBar #0.png
  libs/ui-article-delivery/src/components/accessibility-bar/__image_snapshots__/AccessibilityBar Should render AccessibilityBar Desktop #0.png
  libs/ui-article-delivery/src/components/font-size-control/__image_snapshots__/FontSizeControl Should render Font size control #0.png
  libs/ui-article-delivery/src/components/signature/__image_snapshots__/Signature should render agencyImageUrl prop #0.png
  libs/ui-article-delivery/src/components/signature/__image_snapshots__/Signature should render updated time #0.png
  libs/ui-article-delivery/src/components/signature/signature.cy.tsx
  libs/ui-article-delivery/src/components/social-share/__image_snapshots__/SocialShare should render social-share links with primary color and square shape #0.png
  libs/ui-article-delivery/src/components/social-share/__image_snapshots__/SocialShare should render social-share links with secondary color and rounded shape #0.png
  libs/ui-article-delivery/tailwind.config.js
  package.json
  yarn.lock
Due: test, component-test

chore: rm alias
  tsconfig.base.json
Due: none

chore: fixxed error logs
  tools/nx-generate/src/utils/utils.mjs
Due: none

fix(sitemap-footer): toggle context improvements
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-menu-dropdown.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/utils/context/dropdown-context.ts
  libs/ui-footer-delivery/src/components/sitemap-footer/utils/provider/dropdown-provider.tsx
Due: test, component-test

chore: update section foot
  libs/ui-section-foot/src/components/__image_snapshots__/SectionFoot - Viewport should match the section foot on the desktop #0.png
Due: none

chore: updated snapshoot
  libs/ui-article-delivery/src/components/accessibility-bar/__image_snapshots__/AccessibilityBar Should render AccessibilityBar #0.png
  libs/ui-article-delivery/src/components/accessibility-bar/__image_snapshots__/AccessibilityBar Should render AccessibilityBar Desktop #0.png
  libs/ui-article-delivery/src/components/font-size-control/__image_snapshots__/FontSizeControl Should render Font size control #0.png
  libs/ui-article-delivery/src/components/signature/__image_snapshots__/Signature should render agencyImageUrl prop #0.png
  libs/ui-article-delivery/src/components/signature/__image_snapshots__/Signature should render updated time #0.png
  libs/ui-article-delivery/src/components/social-share/__image_snapshots__/SocialShare should render social-share links with primary color and square shape #0.png
  libs/ui-article-delivery/src/components/social-share/__image_snapshots__/SocialShare should render social-share links with secondary color and rounded shape #0.png
  libs/ui-section-foot/src/components/__image_snapshots__/SectionFoot - Viewport should match the section foot on the mobile #0.png
Due: none

chore: move on files
  tools/nx-generate/src/generaters/react-library/files-manipulation.mjs
  tools/nx-generate/src/generaters/react-library/react-library.mjs
  tools/nx-generate/src/generaters/react-library/vite-config.mjs
Due: none

chore: removed import
  tools/nx-generate/src/generaters/react-library/storybook.mjs
Due: none

fix(sitemap-footer): merge adjusts
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-menu-dropdown.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/utils/context/dropdown-context.ts
  libs/ui-footer-delivery/src/components/sitemap-footer/utils/provider/dropdown-provider.tsx
Due: test, component-test

feat(sitemap-footer): rework and adding mobile layout
  apps/demo-ui-components/src/app/mocks/sitemap.ts
  apps/demo-ui-components/src/app/routes/ui-footer-delivery.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/__image_snapshots__/SitemapFooter should render Sitemap Footer mobile with the correct structure #0.png
  libs/ui-footer-delivery/src/components/sitemap-footer/__image_snapshots__/SitemapFooter should render Sitemap Footer mobile with the correct structure opening and closing dropdown #0.png
  libs/ui-footer-delivery/src/components/sitemap-footer/__image_snapshots__/SitemapFooter should render Sitemap Footer with the correct structure #0.diff.png
  libs/ui-footer-delivery/src/components/sitemap-footer/__image_snapshots__/SitemapFooter should render Sitemap Footer with the correct structure #1.png
  libs/ui-footer-delivery/src/components/sitemap-footer/index.ts
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-container.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-menu-dropdown.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-menu-item.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-menu-list.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-menu-title.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-root.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-submenu.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer.cy.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer.stories.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer.variants.ts
  libs/ui-footer-delivery/src/components/sitemap-footer/utils/context/dropdown-context.ts
  libs/ui-footer-delivery/src/components/sitemap-footer/utils/hooks/use-dropdown.ts
  libs/ui-footer-delivery/src/components/sitemap-footer/utils/provider/dropdown-provider.tsx
  libs/ui-footer-delivery/src/mocks/sitemap.ts
  libs/ui-theme-core/src/tailwind-preset.js
  yarn.lock
Due: test, component-test

chore(ui-footer-delivery): release version 1.3.0
  libs/ui-footer-delivery/CHANGELOG.md
  libs/ui-footer-delivery/package.json
Due: none

fix(ui-header-delivery): fix responsive header
  libs/ui-header-delivery/src/components/menu/menu-root/menu.tsx
Due: test, component-test

chore: resolved conflicts
  yarn.lock
Due: none

feat/generate lib
  libs/ui-article-delivery/src/components/signature/signature.cy.tsx
  package.json
  tools/add-prefix/README.md
  tools/add-prefix/add-prefix.js
  tools/index.ts
  tools/nx-generate/README.md
  tools/nx-generate/nx-generate.mjs
  tools/nx-generate/src/generaters/index.mjs
  tools/nx-generate/src/generaters/react-application/react-application.mjs
  tools/nx-generate/src/generaters/react-library/cypress.mjs
  tools/nx-generate/src/generaters/react-library/files-manipulation.mjs
  tools/nx-generate/src/generaters/react-library/project-json.mjs
  tools/nx-generate/src/generaters/react-library/react-library.mjs
  tools/nx-generate/src/generaters/react-library/storybook.mjs
  tools/nx-generate/src/generaters/react-library/tailwind.mjs
  tools/nx-generate/src/generaters/react-library/templates/cypress/cypress.config.ts
  tools/nx-generate/src/generaters/react-library/templates/storybook/template.stories.tsx
  tools/nx-generate/src/generaters/react-library/templates/tailwind/postcss.config.js
  tools/nx-generate/src/generaters/react-library/templates/tailwind/src/styles.css
  tools/nx-generate/src/generaters/react-library/templates/tailwind/src/styles/styles.ts
  tools/nx-generate/src/generaters/react-library/templates/tailwind/tailwind.config.js
  tools/nx-generate/src/generaters/react-library/vite-config.mjs
  tools/nx-generate/src/utils/constants.mjs
  tools/nx-generate/src/utils/questions.mjs
  tools/nx-generate/src/utils/utils.mjs
  tools/tailwind-variants/index.ts
  tools/tailwind-variants/tailwind-variants.ts
  tsconfig.base.json
  yarn.lock
Due: test, component-test

chore(ui-header-delivery): release version 2.3.2
  libs/ui-header-delivery/CHANGELOG.md
  libs/ui-header-delivery/package.json
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions header-search-form should only be visible after header-search-toggle click #0.actual.png
Due: none

feat(ui-layout): initial version
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-menu-list.tsx
  libs/ui-header-delivery/src/components/header/header-fixed/header-fixed.tsx
  libs/ui-header-delivery/src/components/header/header-fixed/header-fixed.variants.ts
  libs/ui-header-delivery/src/components/header/header-root/header.tsx
  libs/ui-layout/.eslintrc.json
  libs/ui-layout/README.md
  libs/ui-layout/cypress.config.ts
  libs/ui-layout/cypress/fixtures/example.json
  libs/ui-layout/cypress/support/commands.ts
  libs/ui-layout/cypress/support/component-index.html
  libs/ui-layout/cypress/support/component.ts
  libs/ui-layout/cypress/tsconfig.json
  libs/ui-layout/jest.config.ts
  libs/ui-layout/package.json
  libs/ui-layout/postcss.config.js
  libs/ui-layout/project.json
  libs/ui-layout/src/components/container/container.tsx
  libs/ui-layout/src/components/container/index.ts
  libs/ui-layout/src/components/layout.cy.tsx
  libs/ui-layout/src/components/layout.stories.tsx
  libs/ui-layout/src/components/layout.tsx
  libs/ui-layout/src/components/special-one/index.ts
  libs/ui-layout/src/components/special-one/special-one.tsx
  libs/ui-layout/src/index.ts
  libs/ui-layout/src/styles.css
  libs/ui-layout/src/styles/styles.ts
  libs/ui-layout/tailwind.config.js
  libs/ui-layout/tsconfig.json
  libs/ui-layout/tsconfig.lib.json
  libs/ui-layout/tsconfig.spec.json
  libs/ui-layout/vite.config.ts
  tools/nx-generate/src/generaters/react-library/files-manipulation.mjs
  tsconfig.base.json
Due: test, component-test

refactor(ui-layout): convert percentage to fraction
  libs/ui-layout/src/components/layout.tsx
  libs/ui-layout/src/components/special-one/special-one.tsx
Due: test, component-test

style: change breakpoints from sm to lg
  libs/ui-header-delivery/src/components/header/header-logo/header-logo.tsx
  libs/ui-header-delivery/src/components/header/header-search-toggle/header-search-toggle.tsx
  libs/ui-header-delivery/src/components/header/header-social-list/header-social-list.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-toggle/sidebar-toggle.variants.ts
Due: test, component-test

test: updating snapshots
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions header-search-form should only be visible after header-search-toggle click #0.actual.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions header-search-form should only be visible after header-search-toggle click #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions header-search-form should only be visible after header-search-toggle click #1.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar search form should only be visible in small devices #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - desktop presentation #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - desktop presentation #1.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - mobile presentation #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - mobile presentation #1.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header Portal R7, sidebar-toggle button, navigation-menu, social-media share buttons and search-toggle button should be visible in large devices #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header Portal R7, sidebar-toggle button, navigation-menu, social-media share buttons and search-toggle button should be visible in large devices #1.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header Sidebar-toggle button and Portal R7 should be visible in small devices #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header Sidebar-toggle button and Portal R7 should be visible in small devices #1.png
Due: none

feat: added layout and structure
  apps/demo-ui-components/src/app/routes/ui-article-delivery.tsx
  libs/ui-base-components/src/components/breadcrumb/breadcrumb-item/breadcrumb-item.tsx
  libs/ui-base-components/src/components/breadcrumb/breadcrumb-item/index.ts
  libs/ui-base-components/src/components/breadcrumb/breadcrumb-list/breadcrumb-list.tsx
  libs/ui-base-components/src/components/breadcrumb/breadcrumb-list/index.ts
  libs/ui-base-components/src/components/breadcrumb/breadcrumb.tsx
  libs/ui-base-components/src/components/breadcrumb/index.ts
  libs/ui-base-components/src/index.ts
Due: test, component-test

style: added new colors
  apps/demo-ui-components/src/app/routes/ui-article-delivery.tsx
  libs/ui-base-components/src/components/breadcrumb/breadcrumb-item/breadcrumb-item.tsx
  libs/ui-theme-core/src/tailwind-preset.js
Due: test, component-test

chore: created cypress and storybook
  libs/ui-base-components/src/components/breadcrumb/__image_snapshots__/Breadcrumb should render Breadcrumb Desktop #0.png
  libs/ui-base-components/src/components/breadcrumb/__image_snapshots__/Breadcrumb should render Breadcrumb mobile #0.png
  libs/ui-base-components/src/components/breadcrumb/breadcrumb-list/breadcrumb-list.tsx
  libs/ui-base-components/src/components/breadcrumb/breadcrumb.cy.tsx
  libs/ui-base-components/src/components/breadcrumb/breadcrumb.stories.tsx
  libs/ui-base-components/src/components/breadcrumb/mocks/MENU_DATA.ts
Due: test, component-test

feat(ui-card): added size variant to hat title
  libs/ui-card/src/components/card/card-hat/card-hat-title.tsx
  libs/ui-card/src/components/card/card-hat/card-hat-title.variants.tsx
  libs/ui-card/src/components/card/card-hat/card-hat.stories.tsx
Due: test, component-test

refactor(ui-card): changing image to figure
  libs/ui-card/src/components/card/card-figure/card-figure.cy.tsx
  libs/ui-card/src/components/card/card-figure/card-figure.stories.tsx
  libs/ui-card/src/components/card/card-figure/card-figure.tsx
  libs/ui-card/src/components/card/card-figure/card-figure.variants.tsx
  libs/ui-card/src/components/card/card-image/__image_snapshots__/CardImage should render all format variants #0.png
  libs/ui-card/src/components/card/card-image/__image_snapshots__/CardImage should render default image #0.png
  libs/ui-card/src/components/card/card-image/__image_snapshots__/CardImage should render image with shadow #0.png
  libs/ui-card/src/components/card/card-label/card-label.stories.tsx
  libs/ui-card/src/components/card/card.stories.tsx
  libs/ui-card/src/components/card/card.tsx
Due: test, component-test

feat(ui-base-components): initial files of ad-shell
  libs/ui-base-components/src/components/ad-shell/ad-shell.cy.tsx
  libs/ui-base-components/src/components/ad-shell/ad-shell.stories.tsx
  libs/ui-base-components/src/components/ad-shell/ad-shell.tsx
  libs/ui-base-components/src/components/ad-shell/index.ts
  libs/ui-base-components/src/index.ts
Due: test, component-test

refactor(ui-card): updating snapshots of figure subcomponent
  libs/ui-card/src/components/card/card-figure/__image_snapshots__/CardFigure should render all format variants #0.png
  libs/ui-card/src/components/card/card-figure/__image_snapshots__/CardFigure should render default image #0.png
  libs/ui-card/src/components/card/card-figure/__image_snapshots__/CardFigure should render image with shadow #0.png
Due: none

feat(demo): added route for ui-base-components
  apps/demo-ui-components/src/app/app.tsx
  apps/demo-ui-components/src/app/routes/index.ts
  apps/demo-ui-components/src/app/routes/ui-base-components.tsx
Due: test, component-test

feat(ui-base-components): added ad placeholder
  libs/ui-base-components/src/components/ad-placeholder/index.ts
  libs/ui-base-components/src/components/ad-placeholder/placeholder.tsx
  libs/ui-base-components/src/index.ts
Due: test, component-test

feat(ui-base-components): added ad layouts
  libs/ui-base-components/src/components/ad-shell/ad-shell.tsx
Due: test, component-test

feat: internals header article title
  libs/ui-header-delivery/src/components/internals-header/internals-header-title/internals-header-title.tsx
Due: test, component-test

feat: internals-header root with its variants
  libs/ui-header-delivery/src/components/internals-header/internals-header-root/internals-header.tsx
  libs/ui-header-delivery/src/components/internals-header/internals-header-root/internals-header.variants.ts
Due: test, component-test

feat: internals-header section name
  libs/ui-header-delivery/src/components/internals-header/internals-header-section-name/internals-header-section-name.tsx
Due: test, component-test

chore: exporting components
  libs/ui-header-delivery/src/components/internals-header/index.ts
  libs/ui-header-delivery/src/index.ts
Due: test

Path conditions:
  build storybook: any of: *.stories.tsx
  deploy storybook: any of: *.stories.tsx
  test: any of: */**/*.tsx, */**/*.ts
  component-test: any of: */**/*.tsx
