Repository r7com/front-monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build storybook, deploy storybook, test, component-test

build storybook:
  interruptible: true
  tags:
  - gitlab-runner-ec2
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - .yarn-cache/
    - cache/Cypress
  before_script:
  - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
  - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
  ...

deploy storybook:
  image:
    name: gitlab.ir7.com.br:5050/sre/docker-images/gitlab-runner-images:1.0.5
    entrypoint:
    - ''
  stage: deploy
  interruptible: true
  tags:
  - gitlab-runner-ec2
  script:
  - ls -la dist/apps/vision-components
  ...

test:
  interruptible: true
  tags:
  - gitlab-runner-ec2
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - .yarn-cache/
    - cache/Cypress
  before_script:
  - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
  - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
  ...

component-test:
  interruptible: true
  tags:
  - gitlab-runner-ec2
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - .yarn-cache/
    - cache/Cypress
  before_script:
  - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
  - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
  ...

refactor(ui-base-components): updating snapshot of ad-shell
  libs/ui-base-components/src/components/ad-shell/__image_snapshots__/AdShell should render all layout variants #0.png
Due: none

chore(ui-card): release version 0.8.0
  libs/ui-card/CHANGELOG.md
  libs/ui-card/package.json
Due: none

chore(ui-base-components): release version 0.6.3
  libs/ui-base-components/CHANGELOG.md
  libs/ui-base-components/package.json
Due: none

feat(ui-base-components): ad-shell and ad-placeholder
  apps/demo-ui-components/src/app/app.tsx
  apps/demo-ui-components/src/app/routes/index.ts
  apps/demo-ui-components/src/app/routes/ui-base-components.tsx
  libs/ui-base-components/src/components/ad-placeholder/__image_snapshots__/AdPlaceholder should render ad placeholder #0.png
  libs/ui-base-components/src/components/ad-placeholder/index.ts
  libs/ui-base-components/src/components/ad-placeholder/placeholder.cy.tsx
  libs/ui-base-components/src/components/ad-placeholder/placeholder.stories.tsx
  libs/ui-base-components/src/components/ad-placeholder/placeholder.tsx
  libs/ui-base-components/src/components/ad-shell/__image_snapshots__/AdShell should render all layout variants #0.png
  libs/ui-base-components/src/components/ad-shell/ad-shell.cy.tsx
  libs/ui-base-components/src/components/ad-shell/ad-shell.stories.tsx
  libs/ui-base-components/src/components/ad-shell/ad-shell.tsx
  libs/ui-base-components/src/components/ad-shell/ad-shell.variants.tsx
  libs/ui-base-components/src/components/ad-shell/index.ts
  libs/ui-base-components/src/index.ts
  libs/ui-theme-core/src/tailwind-preset.js
Due: test, component-test

chore(ui-base-components): release version 0.6.4
  libs/ui-base-components/CHANGELOG.md
  libs/ui-base-components/package.json
Due: none

style(card-figure): new custom format variant for handling individual widget aspect ratios
  libs/ui-card/src/components/card/card-figure/card-figure.variants.tsx
Due: test, component-test

docs(storybook): renames the default story of proportional-photo and guerra to Primary
  libs/ui-card/src/components/guerra/guerra.stories.tsx
  libs/ui-card/src/components/proportional-photo/proportional-photo.stories.tsx
Due: test, component-test

docs(storybook): renames the default story of two-cards-square-photo to Primary
  libs/ui-card/src/components/two-cards-square-photo/two-cards-square-photo.stories.tsx
Due: test, component-test

feat(card): new text-over-photo card/widget
  apps/demo-ui-components/src/app/routes/ui-card.tsx
  libs/ui-card/src/components/text-over-photo/index.ts
  libs/ui-card/src/components/text-over-photo/text-over-photo.stories.tsx
  libs/ui-card/src/components/text-over-photo/text-over-photo.tsx
  libs/ui-card/src/components/text-over-photo/text-over-photo.variants.tsx
  libs/ui-card/src/index.ts
Due: test, component-test

chore(ui-article-delivery): release version 0.4.3
  libs/ui-article-delivery/CHANGELOG.md
  libs/ui-article-delivery/package.json
Due: none

feat: adding the RecordType font files
  libs/ui-base-components/src/fonts/RecordType-Bold.ttf
  libs/ui-base-components/src/fonts/RecordType-Light.ttf
  libs/ui-base-components/src/fonts/RecordType-Medium.ttf
  libs/ui-base-components/src/fonts/RecordType-Regular.ttf
  yarn.lock
Due: none

fix(ui-base-components): ad-placeholder layout adjustment
  libs/ui-base-components/src/components/ad-placeholder/placeholder.tsx
Due: test, component-test

feat(ui-base-components): added minHeight prop
  apps/demo-ui-components/src/app/routes/ui-base-components.tsx
  libs/ui-base-components/src/components/ad-shell/__image_snapshots__/AdShell should render all layout variants #0.png
  libs/ui-base-components/src/components/ad-shell/ad-shell.cy.tsx
  libs/ui-base-components/src/components/ad-shell/ad-shell.stories.tsx
  libs/ui-base-components/src/components/ad-shell/ad-shell.tsx
Due: test, component-test

chore: added important
  libs/ui-article-delivery/src/components/accessibility-bar/accessibility-bar-list/accessibility-bar-list.tsx
Due: test, component-test

chore: added important
  libs/ui-base-components/CHANGELOG.md
  libs/ui-base-components/package.json
Due: none

chore(ui-article-delivery): release version 0.4.4
  libs/ui-article-delivery/CHANGELOG.md
  libs/ui-article-delivery/package.json
Due: none

style(card-figure): new props/variants shadowFrom and shadowTo on the CardFigure
  libs/ui-card/src/components/card/card-figure/card-figure.tsx
  libs/ui-card/src/components/card/card-figure/card-figure.variants.tsx
Due: test, component-test

test(text-over-photo): adds tests for the text-over-photo card
  libs/ui-card/src/components/text-over-photo/text-over-photo.cy.tsx
Due: test, component-test

refactor(text-over-photo): new props for variants and url's on each card sub-component
  apps/demo-ui-components/src/app/routes/ui-card.tsx
  libs/ui-card/src/components/text-over-photo/text-over-photo.stories.tsx
  libs/ui-card/src/components/text-over-photo/text-over-photo.tsx
  libs/ui-card/src/components/text-over-photo/text-over-photo.variants.tsx
Due: test, component-test

test(text-over-photo): updates text-over-photo cypress prints
  libs/ui-card/src/components/text-over-photo/__image_snapshots__/TextOverPhoto half layout should render half layout - desktop #0.png
  libs/ui-card/src/components/text-over-photo/__image_snapshots__/TextOverPhoto half layout should render half layout - mobile #0.png
  libs/ui-card/src/components/text-over-photo/__image_snapshots__/TextOverPhoto vertical layout should render vertical layout - desktop #0.png
  libs/ui-card/src/components/text-over-photo/__image_snapshots__/TextOverPhoto vertical layout should render vertical layout - mobile #0.png
Due: none

feat(ui-base-components): added minHeight prop to ad-shell component
  apps/demo-ui-components/src/app/routes/ui-base-components.tsx
  libs/ui-base-components/src/components/ad-placeholder/placeholder.tsx
  libs/ui-base-components/src/components/ad-shell/__image_snapshots__/AdShell should render all layout variants #0.png
  libs/ui-base-components/src/components/ad-shell/ad-shell.cy.tsx
  libs/ui-base-components/src/components/ad-shell/ad-shell.stories.tsx
  libs/ui-base-components/src/components/ad-shell/ad-shell.tsx
Due: test, component-test

chore(ui-base-components): release version 0.6.5
  libs/ui-base-components/CHANGELOG.md
Due: none

fix(text-over-photo): adds Slot at the ending of the slot variant name [slot-name]Slot
  libs/ui-card/src/components/text-over-photo/text-over-photo.tsx
  libs/ui-card/src/components/text-over-photo/text-over-photo.variants.tsx
Due: test, component-test

feat(ui-layout): added height 100% to sidebar of specialOne
  libs/ui-layout/src/components/special-one/special-one-sidebar/special-one-sidebar.tsx
Due: test, component-test

fix(text-over-photo): moved className to the variants file
  libs/ui-card/src/components/text-over-photo/text-over-photo.tsx
  libs/ui-card/src/components/text-over-photo/text-over-photo.variants.tsx
Due: test, component-test

chore(demo-ui-components): misspelled import text
  apps/demo-ui-components/src/app/routes/index.ts
Due: test

chore(global): updating yarn.lock
  yarn.lock
Due: none

style(ui-layout): fixing style for grid component when mobile
  libs/ui-layout/src/components/grid/grid.tsx
Due: test, component-test

style(ui-layout): adding tablet breakpoints in magazine grids
  libs/ui-layout/src/components/magazine/magazine.tsx
Due: test, component-test

style(ui-layout): adding tablet breakpoints to proportional grids
  libs/ui-layout/src/components/proportional/proportional.tsx
  libs/ui-layout/src/components/proportional/proportional.variants.ts
Due: test, component-test

test(ui-layout): adding tablet tests and snapshots to magazine and proportional grids
  libs/ui-layout/src/components/magazine/__image_snapshots__/Magazine Grids - Desktop should render magazine-one grid with three elements #0.png
  libs/ui-layout/src/components/magazine/__image_snapshots__/Magazine Grids - Desktop should render magazine-two grid with two elements #0.png
  libs/ui-layout/src/components/magazine/__image_snapshots__/Magazine Grids - Mobile should render magazine-one grid with three elements #0.png
  libs/ui-layout/src/components/magazine/__image_snapshots__/Magazine Grids - Mobile should render magazine-two grid with two elements #0.png
  libs/ui-layout/src/components/magazine/__image_snapshots__/Magazine Grids - Tablet should render magazine-one grids with three elements #0.png
  libs/ui-layout/src/components/magazine/__image_snapshots__/Magazine Grids - Tablet should render magazine-two grids with two elements #0.png
  libs/ui-layout/src/components/magazine/magazine.cy.tsx
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Desktop should render proportional-four grid with four element #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Desktop should render proportional-one grid with one element #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Desktop should render proportional-three grid with three element #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Desktop should render proportional-two grid with two element #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Mobile should render proportional-four grid with four elements #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Mobile should render proportional-one grid with one element #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Mobile should render proportional-three grid with three elements #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Mobile should render proportional-two grid with two elements #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Tablet should render proportional-four grid with four element #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Tablet should render proportional-one grid with one element #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Tablet should render proportional-three grid with three element #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Tablet should render proportional-two grid with two element #0.png
  libs/ui-layout/src/components/proportional/proportional.cy.tsx
Due: test, component-test

Responsive grids
  apps/demo-ui-components/src/app/routes/index.ts
  libs/ui-layout/src/components/grid/grid.tsx
  libs/ui-layout/src/components/magazine/__image_snapshots__/Magazine Grids - Desktop should render magazine-one grid with three elements #0.png
  libs/ui-layout/src/components/magazine/__image_snapshots__/Magazine Grids - Desktop should render magazine-two grid with two elements #0.png
  libs/ui-layout/src/components/magazine/__image_snapshots__/Magazine Grids - Mobile should render magazine-one grid with three elements #0.png
  libs/ui-layout/src/components/magazine/__image_snapshots__/Magazine Grids - Mobile should render magazine-two grid with two elements #0.png
  libs/ui-layout/src/components/magazine/__image_snapshots__/Magazine Grids - Tablet should render magazine-one grids with three elements #0.png
  libs/ui-layout/src/components/magazine/__image_snapshots__/Magazine Grids - Tablet should render magazine-two grids with two elements #0.png
  libs/ui-layout/src/components/magazine/magazine.cy.tsx
  libs/ui-layout/src/components/magazine/magazine.tsx
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Desktop should render proportional-four grid with four element #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Desktop should render proportional-one grid with one element #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Desktop should render proportional-three grid with three element #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Desktop should render proportional-two grid with two element #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Mobile should render proportional-four grid with four elements #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Mobile should render proportional-one grid with one element #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Mobile should render proportional-three grid with three elements #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Mobile should render proportional-two grid with two elements #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Tablet should render proportional-four grid with four element #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Tablet should render proportional-one grid with one element #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Tablet should render proportional-three grid with three element #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Tablet should render proportional-two grid with two element #0.png
  libs/ui-layout/src/components/proportional/proportional.cy.tsx
  libs/ui-layout/src/components/proportional/proportional.tsx
  libs/ui-layout/src/components/proportional/proportional.variants.ts
  yarn.lock
Due: test, component-test

chore(ui-layout): release version 0.3.1
  libs/ui-layout/CHANGELOG.md
  libs/ui-layout/package.json
Due: none

feat(ui-layout): creating section wrapper to add gaps between grids
  apps/demo-ui-components/src/app/routes/ui-layout.tsx
  libs/ui-layout/src/components/section-wrapper/index.ts
  libs/ui-layout/src/components/section-wrapper/section-wrapper.tsx
  libs/ui-layout/src/index.ts
Due: test, component-test

chore(ui-layout): changing type name for SectionWrapper
  libs/ui-layout/src/components/section-wrapper/section-wrapper.tsx
Due: test, component-test

chore(ui-layout): adding prefix to tailwind classes
  libs/ui-layout/src/components/section-wrapper/section-wrapper.tsx
Due: test, component-test

chore(ui-layout): release version 0.4.0
  libs/ui-layout/CHANGELOG.md
  libs/ui-layout/package.json
Due: none

feat(card): new text-over-photo card/widget
  apps/demo-ui-components/src/app/routes/ui-card.tsx
  libs/ui-card/src/components/card/card-figure/card-figure.tsx
  libs/ui-card/src/components/card/card-figure/card-figure.variants.tsx
  libs/ui-card/src/components/guerra/guerra.stories.tsx
  libs/ui-card/src/components/proportional-photo/proportional-photo.stories.tsx
  libs/ui-card/src/components/text-over-photo/__image_snapshots__/TextOverPhoto half layout should render half layout - desktop #0.png
  libs/ui-card/src/components/text-over-photo/__image_snapshots__/TextOverPhoto half layout should render half layout - mobile #0.png
  libs/ui-card/src/components/text-over-photo/__image_snapshots__/TextOverPhoto vertical layout should render vertical layout - desktop #0.png
  libs/ui-card/src/components/text-over-photo/__image_snapshots__/TextOverPhoto vertical layout should render vertical layout - mobile #0.png
  libs/ui-card/src/components/text-over-photo/index.ts
  libs/ui-card/src/components/text-over-photo/text-over-photo.cy.tsx
  libs/ui-card/src/components/text-over-photo/text-over-photo.stories.tsx
  libs/ui-card/src/components/text-over-photo/text-over-photo.tsx
  libs/ui-card/src/components/text-over-photo/text-over-photo.variants.tsx
  libs/ui-card/src/components/two-cards-square-photo/two-cards-square-photo.stories.tsx
  libs/ui-card/src/index.ts
Due: test, component-test

Path conditions:
  build storybook: any of: *.stories.tsx
  deploy storybook: any of: *.stories.tsx
  test: any of: */**/*.tsx, */**/*.ts
  component-test: any of: */**/*.tsx
