Repository r7com/front-monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build storybook, deploy storybook, test, component-test

.gitlab-ci.yml:

variables:
  NODE_VERSION: node:18
  CI: 'true'
  GIT_DEPTH: 0

image: $NODE_VERSION

stages:
  - test
  - storybook
  - deploy

.distributed:
  interruptible: true
  tags:
    - gitlab-runner-ec2
  only:
    - main
    - merge_requests
  cache:
    key:
      files:
        - yarn.lock
    paths:
      - '.yarn-cache/'
      - cache/Cypress
  before_script:
    - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
    - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
    - NX_HEAD=$CI_COMMIT_SHA

build storybook:
  extends: .distributed
  stage: storybook
  script:
    - yarn nx run-many --target=build
    - yarn nx build-storybook vision-components
  only:
    refs:
      - main
    changes:
      - '*.stories.tsx'
  artifacts:
    paths:
      - dist/apps/vision-components/

deploy storybook:
  image:
    name: gitlab.ir7.com.br:5050/sre/docker-images/gitlab-runner-images:1.0.5
    entrypoint: ['']
  stage: deploy
  interruptible: true
  tags:
    - gitlab-runner-ec2
  script:
    - ls -la dist/apps/vision-components
    - aws s3 cp dist/apps/vision-components/ s3://r7-pipelines-statics/vision-components/ --recursive
  dependencies:
    - build storybook
  only:
    refs:
      - main
    changes:
      - '*.stories.tsx'

test:
  stage: test
  extends: .distributed
  script:
    - npx nx affected --base=$NX_BASE --head=$NX_HEAD -t test --parallel=3 --configuration=ci
  only:
    refs:
      - main
      - merge_requests
    changes:
      - '*/**/*.tsx'
      - '*/**/*.ts'

component-test:
  image: cypress/browsers:node18.12.0-chrome106-ff106
  stage: test
  extends: .distributed
  script:
    - apt-get update && apt-get install -y xvfb
    - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
    - export DISPLAY=:99
    - npx nx build ui-base-components
    - npx nx affected --base=$NX_BASE --head=$NX_HEAD -t component-test --parallel=3 --configuration=ci
  only:
    refs:
      - main
      - merge_requests
    changes:
      - '*/**/*.tsx'
  artifacts:
    when: on_failure
    paths:
      - dist/cypress
    expire_in: 1 day

deploy libs setup:
  stage: deploy
  interruptible: true
  tags:
    - gitlab-runner-ec2
  script:
    - node ./deploy-libs.js
  artifacts:
    expire_in: '60 sec'
    paths:
      - dynamic-gitlab-ci.yml
  only:
    refs:
      - /ui\-.*/

deploy libs:
  stage: deploy
  needs:
    - deploy libs setup
  trigger:
    include:
      - artifact: dynamic-gitlab-ci.yml
        job: deploy libs setup
    strategy: depend

refactor: added contrast all components
  libs/ui-article-delivery/src/components/social-share/social-icons/social-icons.variants.ts
  libs/ui-article-delivery/src/components/social-share/social-item/social-item.variants.ts
  libs/ui-section-heading/src/components/section-heading/section-heading-line/section-heading-line.tsx
  libs/ui-section-heading/src/components/section-heading/section-heading-title/section-heading-title.tsx
  libs/ui-section-heading/tailwind.config.js
  libs/ui-theme-core/src/tailwind-preset.js
Due: test, component-test

feat(ui-header-delivery): changing color of the sidebar links
  libs/ui-header-delivery/src/components/sidebar/sidebar-link/sidebar-link.tsx
Due: test, component-test

feat: correcting variable names
  apps/demo-ui-components/src/style.css
  libs/ui-base-components/src/style.css
Due: none

refactor: added border
  libs/ui-article-delivery/src/components/article-header/article-header-heading/article-header-heading.tsx
  libs/ui-article-delivery/src/components/social-share/social-item/social-item.variants.ts
Due: test, component-test

fix: added contrast in all components
  apps/demo-ui-components/src/app/routes/ui-article-delivery.tsx
  libs/ui-article-delivery/src/components/article-header/article-header-heading/article-header-heading.tsx
  libs/ui-article-delivery/src/components/social-share/social-icons/social-icons.variants.ts
  libs/ui-article-delivery/src/components/social-share/social-item/social-item.variants.ts
  libs/ui-article-delivery/tailwind.config.js
  libs/ui-base-components/src/components/breadcrumb/breadcrumb.variants.ts
  libs/ui-base-components/src/components/typography/typography.variants.ts
  libs/ui-base-components/tailwind.config.js
  libs/ui-card/src/components/card-coupon/card-coupon-image/card-coupon-image.tsx
  libs/ui-card/src/components/card-coupon/card-coupon-image/index.ts
  libs/ui-card/src/components/card-coupon/card-coupon-item/card-coupon-item.tsx
  libs/ui-card/src/components/card-coupon/card-coupon-list/card-cupom-list.tsx
  libs/ui-card/src/components/card-coupon/card-coupon.cy.tsx
  libs/ui-card/src/components/card-coupon/card-coupon.stories.tsx
  libs/ui-card/src/components/card-coupon/card-coupon.tsx
  libs/ui-card/tailwind.config.js
  libs/ui-footer-delivery/tailwind.config.js
  libs/ui-section-heading/src/components/section-heading/section-heading-line/section-heading-line.tsx
  libs/ui-section-heading/src/components/section-heading/section-heading-title/section-heading-title.tsx
  libs/ui-section-heading/tailwind.config.js
  libs/ui-theme-core/src/tailwind-preset.js
Due: test, component-test

chore(ui-article-delivery): release version 0.4.6
  libs/ui-article-delivery/CHANGELOG.md
  libs/ui-article-delivery/package.json
Due: none

chore(ui-base-components): release version 0.6.7
  libs/ui-base-components/CHANGELOG.md
  libs/ui-base-components/package.json
Due: none

chore(ui-card): release version 0.11.1
  libs/ui-card/CHANGELOG.md
  libs/ui-card/package.json
Due: none

chore(ui-section-heading): release version 0.3.3
  libs/ui-section-heading/CHANGELOG.md
  libs/ui-section-heading/package.json
Due: none

test: changing the font variant
  libs/ui-base-components/src/components/paragraph/__image_snapshots__/Paragraph using color #0.png
  libs/ui-base-components/src/components/paragraph/__image_snapshots__/Paragraph using fontFamily #0.png
  libs/ui-base-components/src/components/paragraph/__image_snapshots__/Paragraph using fontSize #0.png
  libs/ui-base-components/src/components/paragraph/__image_snapshots__/Paragraph using fontWeight #0.png
  libs/ui-base-components/src/components/paragraph/paragraph.cy.tsx
  libs/ui-base-components/src/components/typography/__image_snapshots__/Typography using ClassName #0.png
  libs/ui-base-components/src/components/typography/__image_snapshots__/Typography using color #0.png
  libs/ui-base-components/src/components/typography/__image_snapshots__/Typography using fontFamily #0.png
  libs/ui-base-components/src/components/typography/__image_snapshots__/Typography using fontSize #0.png
  libs/ui-base-components/src/components/typography/__image_snapshots__/Typography using fontWeight #0.png
  libs/ui-base-components/src/components/typography/typography.cy.tsx
Due: test, component-test

chore(ui-section-heading): release version 0.3.4
  libs/ui-section-heading/CHANGELOG.md
  libs/ui-section-heading/package.json
Due: none

chore: importing the fonts in libs
  apps/demo-ui-components/src/fonts/RecordType-Bold.ttf
  apps/demo-ui-components/src/fonts/RecordType-Light.ttf
  apps/demo-ui-components/src/fonts/RecordType-Medium.ttf
  apps/demo-ui-components/src/fonts/RecordType-Regular.ttf
  apps/vision-components/.storybook/tailwind.css
  apps/vision-components/fonts/RecordType-Bold.ttf
  apps/vision-components/fonts/RecordType-Light.ttf
  apps/vision-components/fonts/RecordType-Medium.ttf
  apps/vision-components/fonts/RecordType-Regular.ttf
  libs/ui-article-delivery/cypress/support/component.ts
  libs/ui-article-delivery/src/components/article-header/__image_snapshots__/Signature should render article header on desktop #0.actual.png
  libs/ui-article-delivery/src/components/article-header/__image_snapshots__/Signature should render article header on desktop #0.diff.png
  libs/ui-article-delivery/src/components/article-header/__image_snapshots__/Signature should render article header on mobile #0.actual.png
  libs/ui-article-delivery/src/components/article-header/__image_snapshots__/Signature should render article header on mobile #0.diff.png
  libs/ui-base-components/cypress/support/component.ts
  libs/ui-base-components/src/components/paragraph/__image_snapshots__/Paragraph using fontSize #0.actual.png
  libs/ui-base-components/src/components/paragraph/__image_snapshots__/Paragraph using fontSize #0.diff.png
  libs/ui-base-components/src/font.css
  libs/ui-base-components/src/style.css
  libs/ui-card/cypress/support/component.ts
  libs/ui-card/src/components/title-with-bullets/__image_snapshots__/TitleWithBullets responsiveness should render title-with-bullets card - desktop #0.actual.png
  libs/ui-card/src/components/title-with-bullets/__image_snapshots__/TitleWithBullets responsiveness should render title-with-bullets card - desktop #0.diff.png
  libs/ui-card/src/components/title-with-bullets/__image_snapshots__/TitleWithBullets responsiveness should render title-with-bullets card - mobile #0.actual.png
  libs/ui-card/src/components/title-with-bullets/__image_snapshots__/TitleWithBullets responsiveness should render title-with-bullets card - mobile #0.diff.png
  libs/ui-card/src/components/title-with-bullets/__image_snapshots__/TitleWithBullets responsiveness should render title-with-bullets card - tablet #0.actual.png
  libs/ui-card/src/components/title-with-bullets/__image_snapshots__/TitleWithBullets responsiveness should render title-with-bullets card - tablet #0.diff.png
  tools/nx-generate/src/utils/constants.mjs
  tsconfig.base.json
Due: test

feat(ui-header-delivery): defining a higher z-index for header
  libs/ui-header-delivery/src/components/header/header-fixed/header-fixed.variants.ts
Due: test

refactor(ui-header-delivery): updating snapshots
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions header-search-form should only be visible after header-search-toggle click #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar search form should only be visible in small devices #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - desktop presentation #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - mobile presentation #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header Portal R7, sidebar-toggle button, navigation-menu, social-media share buttons and search-toggle button should be visible in large devices #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header Sidebar-toggle button and Portal R7 should be visible in small devices #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/InternalsHeader should only be visible when triggerElement is out of the viewport #0.png
Due: none

feat: changed sidebarLink color and header z-index
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions header-search-form should only be visible after header-search-toggle click #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar search form should only be visible in small devices #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - desktop presentation #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - mobile presentation #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header Portal R7, sidebar-toggle button, navigation-menu, social-media share buttons and search-toggle button should be visible in large devices #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header Sidebar-toggle button and Portal R7 should be visible in small devices #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/InternalsHeader should only be visible when triggerElement is out of the viewport #0.png
  libs/ui-header-delivery/src/components/header/header-fixed/header-fixed.variants.ts
  libs/ui-header-delivery/src/components/sidebar/sidebar-link/sidebar-link.tsx
Due: test, component-test

chore(ui-header-delivery): release version 2.5.2
  libs/ui-header-delivery/CHANGELOG.md
  libs/ui-header-delivery/package.json
Due: none

feat: inclusion of title variation
  libs/ui-card/src/components/left-photo/left-photo-title/left-photo-title.variants.tsx
  libs/ui-card/src/components/left-photo/left-photo.stories.tsx
Due: test, component-test

feat: inclusion args in the storybook
  libs/ui-card/src/components/left-photo/left-photo.stories.tsx
Due: test, component-test

feat: test inclusion
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Three cards landscape small photo should render three cards - desktop #0.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Three cards landscape small photo should render three cards - mobile #0.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards landscape photo large should render two cards - desktop #0.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards landscape photo large should render two cards - mobile #0.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards landscape photo should render two cards - desktop #0.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards landscape photo should render two cards - mobile #0.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards landscape photo with bullet should render two cards - desktop #0.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards landscape photo with bullet should render two cards - mobile #0.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards square photo should render two cards - desktop #0.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards square photo should render two cards - mobile #0.png
  libs/ui-card/src/components/left-photo/left-photo.cy.tsx
Due: test, component-test

feat: font size adjustment
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards landscape photo large should render two cards - mobile #0.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards square photo should render two cards - desktop #1.png
  libs/ui-card/src/components/left-photo/left-photo-title/left-photo-title.variants.tsx
Due: test, component-test

feat(ui-card): creating five-vertical-news and its variants
  libs/ui-card/src/components/five-vertical-news/five-vertical-news.tsx
  libs/ui-card/src/components/five-vertical-news/five-vertical-news.variants.ts
Due: test, component-test

feat(ui-card): creating five-vertical-news-item components and its variants
  libs/ui-card/src/components/five-vertical-news/five-vertical-news-item/five-vertical-news-item.tsx
  libs/ui-card/src/components/five-vertical-news/five-vertical-news-item/five-vertical-news-item.variants.ts
  libs/ui-card/src/components/five-vertical-news/five-vertical-news-item/index.ts
Due: test, component-test

test(ui-card): testing five-vertical-news component and taking snapshots
  libs/ui-card/src/components/five-vertical-news/__image_snapshots__/FiveVerticalNews should render five cards - desktop #0.png
  libs/ui-card/src/components/five-vertical-news/__image_snapshots__/FiveVerticalNews should render five cards - mobile #0.png
  libs/ui-card/src/components/five-vertical-news/__image_snapshots__/FiveVerticalNews should render five cards - tablet #0.png
  libs/ui-card/src/components/five-vertical-news/five-vertical-news.cy.tsx
Due: test, component-test

docs(ui-card): creating storybook file for five-vertical-news and mock components
  libs/ui-card/src/components/five-vertical-news/five-vertical-news.stories.tsx
  libs/ui-card/src/components/five-vertical-news/mocks/components.tsx
Due: test, component-test

feat(ui-card): creating a provider to vary items layout between primary and secondary
  libs/ui-card/src/components/five-vertical-news/five-vertical-news-item/utils/context.ts
  libs/ui-card/src/components/five-vertical-news/five-vertical-news-item/utils/hook.ts
  libs/ui-card/src/components/five-vertical-news/five-vertical-news-item/utils/provider.tsx
Due: test, component-test

chore(ui-card): exporting five-vertical-news components
  libs/ui-card/src/components/five-vertical-news/index.ts
  libs/ui-card/src/index.ts
Due: test

chore(global): updating yarn.lock packages
  yarn.lock
Due: none

chore(demo-components): adding five-vertical-news in demo application
  apps/demo-ui-components/src/app/routes/ui-card.tsx
Due: test, component-test

fix: removing diff snapshots
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions header-search-form should only be visible after header-search-toggle click #0.diff.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar search form should only be visible in small devices #0.diff.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - desktop presentation #0.diff.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - mobile presentation #0.diff.png
Due: none

chore: removing the record type from vision and importing from base
  apps/vision-components/.storybook/preview.ts
  apps/vision-components/.storybook/tailwind.css
  apps/vision-components/fonts/RecordType-Bold.ttf
  apps/vision-components/fonts/RecordType-Light.ttf
  apps/vision-components/fonts/RecordType-Medium.ttf
  apps/vision-components/fonts/RecordType-Regular.ttf
Due: test

feat: adjust font and image size
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards landscape photo large should render two cards - mobile #0.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards square photo should render two cards - desktop #1.png
  libs/ui-card/src/components/left-photo/left-photo-figure/left-photo-figure.tsx
  libs/ui-card/src/components/left-photo/left-photo-figure/left-photo-figure.variants.tsx
  libs/ui-card/src/components/left-photo/left-photo-title/left-photo-title.variants.tsx
  libs/ui-card/src/components/left-photo/left-photo.cy.tsx
  libs/ui-card/src/components/left-photo/left-photo.stories.tsx
Due: test, component-test

style(ui-card): adding margin between figure and text
  libs/ui-card/src/components/five-vertical-news/__image_snapshots__/FiveVerticalNews should render five cards - mobile #0.png
  libs/ui-card/src/components/five-vertical-news/__image_snapshots__/FiveVerticalNews should render five cards - tablet #0.png
  libs/ui-card/src/components/five-vertical-news/five-vertical-news-item/five-vertical-news-item.variants.ts
Due: test

chore: correcting the font import
  apps/demo-ui-components/src/app/app.tsx
  apps/demo-ui-components/src/fonts/RecordType-Bold.ttf
  apps/demo-ui-components/src/fonts/RecordType-Light.ttf
  apps/demo-ui-components/src/fonts/RecordType-Medium.ttf
  apps/demo-ui-components/src/fonts/RecordType-Regular.ttf
  apps/demo-ui-components/src/style.css
  apps/demo-ui-components/vite.config.ts
  apps/vision-components/.storybook/preview.ts
  libs/ui-article-delivery/cypress/support/component.ts
  libs/ui-base-components/cypress/support/component.ts
  libs/ui-base-components/src/fonts.css
  libs/ui-card/cypress/support/component.ts
  libs/ui-footer-delivery/cypress/support/component.ts
  libs/ui-form-components/cypress/support/component.ts
  libs/ui-header-delivery/cypress/support/component.ts
  libs/ui-layout/cypress/support/component.ts
  libs/ui-section-foot/cypress/support/component.ts
  libs/ui-section-heading/cypress/support/component.ts
  libs/ui-section-menu/cypress/support/component.ts
  libs/ui-voting-components/cypress/support/component.ts
  tools/nx-generate/src/utils/constants.mjs
  tsconfig.base.json
Due: test, component-test

feat(ui-card): Five vertical news
  apps/demo-ui-components/src/app/routes/ui-card.tsx
  libs/ui-card/src/components/five-vertical-news/__image_snapshots__/FiveVerticalNews should render five cards - desktop #0.png
  libs/ui-card/src/components/five-vertical-news/__image_snapshots__/FiveVerticalNews should render five cards - mobile #0.png
  libs/ui-card/src/components/five-vertical-news/__image_snapshots__/FiveVerticalNews should render five cards - tablet #0.png
  libs/ui-card/src/components/five-vertical-news/five-vertical-news-item/five-vertical-news-item.tsx
  libs/ui-card/src/components/five-vertical-news/five-vertical-news-item/five-vertical-news-item.variants.ts
  libs/ui-card/src/components/five-vertical-news/five-vertical-news-item/index.ts
  libs/ui-card/src/components/five-vertical-news/five-vertical-news-item/utils/context.ts
  libs/ui-card/src/components/five-vertical-news/five-vertical-news-item/utils/hook.ts
  libs/ui-card/src/components/five-vertical-news/five-vertical-news-item/utils/provider.tsx
  libs/ui-card/src/components/five-vertical-news/five-vertical-news.cy.tsx
  libs/ui-card/src/components/five-vertical-news/five-vertical-news.stories.tsx
  libs/ui-card/src/components/five-vertical-news/five-vertical-news.tsx
  libs/ui-card/src/components/five-vertical-news/five-vertical-news.variants.ts
  libs/ui-card/src/components/five-vertical-news/index.ts
  libs/ui-card/src/components/five-vertical-news/mocks/components.tsx
  libs/ui-card/src/index.ts
  yarn.lock
Due: test, component-test

chore(ui-card): release version 0.12.0
  libs/ui-card/CHANGELOG.md
  libs/ui-card/package.json
Due: none

style: removing comments
  apps/demo-ui-components/vite.config.ts
Due: test

style(guerra): new auto height based on the text/bullets size on tablet & mobile
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - desktop #0.diff.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - mobile #0.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - tablet #0.png
  libs/ui-card/src/components/guerra/guerra-bullets/guerra-bullets.tsx
  libs/ui-card/src/components/guerra/guerra-figure/guerra-figure.tsx
  libs/ui-card/src/components/guerra/guerra-overlay/guerra-overlay.tsx
  libs/ui-card/src/components/guerra/guerra-title/guerra-title.tsx
Due: test, component-test
