Repository r7com/front-monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build storybook, deploy storybook, test, component-test

.gitlab-ci.yml:

variables:
  NODE_VERSION: node:18
  CI: 'true'
  GIT_DEPTH: 0

image: $NODE_VERSION

stages:
  - test
  - storybook
  - deploy

.distributed:
  interruptible: true
  tags:
    - gitlab-runner-ec2
  only:
    - main
    - merge_requests
  cache:
    key:
      files:
        - yarn.lock
    paths:
      - '.yarn-cache/'
      - cache/Cypress
  before_script:
    - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
    - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
    - NX_HEAD=$CI_COMMIT_SHA

build storybook:
  extends: .distributed
  stage: storybook
  script:
    - yarn nx run-many --target=build
    - yarn nx build-storybook vision-components
  only:
    refs:
      - main
    changes:
      - '*.stories.tsx'
  artifacts:
    paths:
      - dist/apps/vision-components/

deploy storybook:
  image:
    name: gitlab.ir7.com.br:5050/sre/docker-images/gitlab-runner-images:1.0.5
    entrypoint: ['']
  stage: deploy
  interruptible: true
  tags:
    - gitlab-runner-ec2
  script:
    - ls -la dist/apps/vision-components
    - aws s3 cp dist/apps/vision-components/ s3://r7-pipelines-statics/vision-components/ --recursive
  dependencies:
    - build storybook
  only:
    refs:
      - main
    changes:
      - '*.stories.tsx'

test:
  stage: test
  extends: .distributed
  script:
    - npx nx affected --base=$NX_BASE --head=$NX_HEAD -t test --parallel=3 --configuration=ci
  only:
    refs:
      - main
      - merge_requests
    changes:
      - '*/**/*.tsx'
      - '*/**/*.ts'

component-test:
  image: cypress/browsers:node18.12.0-chrome106-ff106
  stage: test
  extends: .distributed
  script:
    - apt-get update && apt-get install -y xvfb
    - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
    - export DISPLAY=:99
    - npx nx build ui-base-components
    - npx nx affected --base=$NX_BASE --head=$NX_HEAD -t component-test --parallel=3 --configuration=ci
  only:
    refs:
      - main
      - merge_requests
    changes:
      - '*/**/*.tsx'
  artifacts:
    when: on_failure
    paths:
      - dist/cypress
    expire_in: 1 day

deploy libs setup:
  stage: deploy
  interruptible: true
  tags:
    - gitlab-runner-ec2
  script:
    - node ./deploy-libs.js
  artifacts:
    expire_in: '60 sec'
    paths:
      - dynamic-gitlab-ci.yml
  only:
    refs:
      - /ui\-.*/

deploy libs:
  stage: deploy
  needs:
    - deploy libs setup
  trigger:
    include:
      - artifact: dynamic-gitlab-ci.yml
        job: deploy libs setup
    strategy: depend

test(card): imports Card from the correct path
  libs/ui-card/src/components/proportional-photo/proportional-photo.cy.tsx
Due: test, component-test

test: fixes the not.be.visible to be.visible
  libs/ui-card/src/components/proportional-photo/proportional-photo.cy.tsx
Due: test, component-test

feat(component): proportional-photo
  apps/demo-ui-components/src/app/routes/ui-card.tsx
  libs/ui-card/src/components/proportional-photo/index.ts
  libs/ui-card/src/components/proportional-photo/proportional-photo.cy.tsx
  libs/ui-card/src/components/proportional-photo/proportional-photo.stories.tsx
  libs/ui-card/src/components/proportional-photo/proportional-photo.tsx
  libs/ui-card/src/components/two-cards-square-photo/two-cards-square-photo.cy.tsx
  libs/ui-card/src/components/two-cards-square-photo/two-cards-square-photo.stories.tsx
  libs/ui-card/src/index.ts
Due: test, component-test

chore(ui-card): release version 0.5.0
  libs/ui-card/CHANGELOG.md
  libs/ui-card/package.json
Due: none

chore(ui-card): updating branch
  apps/demo-ui-components/src/app/routes/ui-card.tsx
Due: test, component-test

chore(ui-card): release version 0.6.0
  libs/ui-card/CHANGELOG.md
  libs/ui-card/package.json
Due: none

feat: created card cupom
  apps/demo-ui-components/src/app/mocks/CUPOM_DATA.ts
  apps/demo-ui-components/src/app/routes/ui-article-delivery.tsx
  libs/ui-base-components/src/components/typography/typography.stories.tsx
  libs/ui-base-components/src/components/typography/typography.tsx
  libs/ui-base-components/src/components/typography/typography.variants.ts
  libs/ui-card/src/components/card-cupom/__image_snapshots__/CardCupom should render default card #0.png
  libs/ui-card/src/components/card-cupom/__image_snapshots__/CardCupom should render default card cupons #0.png
  libs/ui-card/src/components/card-cupom/__image_snapshots__/CardCupom should render structure card cupom #0.png
  libs/ui-card/src/components/card-cupom/card-cupom-content/card-cupom-content.tsx
  libs/ui-card/src/components/card-cupom/card-cupom-content/index.ts
  libs/ui-card/src/components/card-cupom/card-cupom-item/card-cupom-item.tsx
  libs/ui-card/src/components/card-cupom/card-cupom-item/index.ts
  libs/ui-card/src/components/card-cupom/card-cupom-list/card-cupom-list.tsx
  libs/ui-card/src/components/card-cupom/card-cupom-list/index.ts
  libs/ui-card/src/components/card-cupom/card-cupom.cy.tsx
  libs/ui-card/src/components/card-cupom/card-cupom.stories.tsx
  libs/ui-card/src/components/card-cupom/card-cupom.tsx
  libs/ui-card/src/components/card-cupom/index.ts
  libs/ui-card/src/components/card-cupom/mock/CUPOM_DATA.ts
  libs/ui-card/src/index.ts
  libs/ui-theme-core/src/tailwind-preset.js
  yarn.lock
Due: test, component-test

refactor: fix typography and cypress
  libs/ui-card/src/components/card-cupom/__image_snapshots__/CardCupom should render default card #0.png
  libs/ui-card/src/components/card-cupom/__image_snapshots__/CardCupom should render structure card cupom #0.png
  libs/ui-card/src/components/card-cupom/card-cupom.cy.tsx
Due: test, component-test

fix(ui-footer-delivery): change layout to between in menu
  libs/ui-footer-delivery/src/components/sitemap-footer/__image_snapshots__/SitemapFooter should render Sitemap Footer with the correct structure #0.png
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-menu-list.tsx
Due: test, component-test

chore(ui-footer-delivery): release version 1.3.2
  libs/ui-footer-delivery/CHANGELOG.md
  libs/ui-footer-delivery/package.json
Due: none

fix: list-style
  libs/ui-article-delivery/src/components/accessibility-bar/accessibility-bar-list/accessibility-bar-list.tsx
Due: test, component-test

chore: moving tailwind-variants to base-components
  libs/ui-article-delivery/src/components/contrast-control/contrast-control.variants.tsx
  libs/ui-article-delivery/src/components/font-size-control/font-size-control.variants.ts
  libs/ui-article-delivery/src/components/social-share/social-icons/social-icons.variants.ts
  libs/ui-article-delivery/src/components/social-share/social-item/social-item.variants.ts
  libs/ui-base-components/src/components/breadcrumb/breadcrumb.variants.ts
  libs/ui-base-components/src/components/bullet/bullet.variants.ts
  libs/ui-base-components/src/components/button/button.variants.ts
  libs/ui-base-components/src/components/chips/chips.variants.ts
  libs/ui-base-components/src/components/heading/heading.variants.ts
  libs/ui-base-components/src/components/paragraph/paragraph.variants.ts
  libs/ui-base-components/src/components/subheading/subheading.variants.ts
  libs/ui-base-components/src/components/svg-icon/svg-icon.variants.ts
  libs/ui-base-components/src/components/toggle/toggle.variants.ts
  libs/ui-base-components/src/components/tooltip/tooltip.variants.ts
  libs/ui-base-components/src/components/typography/typography.variants.ts
  libs/ui-base-components/src/index.ts
  libs/ui-base-components/src/tailwind-variants/index.ts
  libs/ui-base-components/src/tailwind-variants/tailwind-variants.ts
  libs/ui-card/src/components/card/card-figure/card-figure.variants.tsx
  libs/ui-card/src/components/card/card-hat/card-hat-title.variants.tsx
  libs/ui-card/src/components/card/card-hat/card-hat-wrapper.variants.tsx
  libs/ui-card/src/components/card/card-label/card-label-variants.tsx
  libs/ui-card/src/components/card/card-title/card-title.variants.ts
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer.variants.ts
  libs/ui-form-components/src/components/input-field/input-field.variants.ts
  libs/ui-form-components/src/components/select-field/select-field.variants.ts
  libs/ui-header-delivery/src/components/header/header-fixed/header-fixed.variants.ts
  libs/ui-header-delivery/src/components/header/header-root/header.variants.ts
  libs/ui-header-delivery/src/components/header/header-search/header-search.variants.ts
  libs/ui-header-delivery/src/components/internals-header/internals-header-root/internals-header.variants.ts
  libs/ui-header-delivery/src/components/sidebar/sidebar-root/sidebar.variants.ts
  libs/ui-header-delivery/src/components/sidebar/sidebar-search/sidebar-search.variants.ts
  libs/ui-header-delivery/src/components/sidebar/sidebar-submenu/sidebar-submenu.variants.ts
  libs/ui-header-delivery/src/components/sidebar/sidebar-toggle/sidebar-toggle.variants.ts
  libs/ui-section-menu/src/components/submenu/submenu.variants.ts
  libs/ui-voting-components/src/components/bullet/bullet.variants.ts
  libs/ui-voting-components/src/components/card-status/card-status.variants.ts
  libs/ui-voting-components/src/components/snackbar/snackbar.variants.ts
  tools/index.ts
Due: test, component-test

chore: change names
  apps/demo-ui-components/src/app/mocks/COUPON_DATA.ts
  apps/demo-ui-components/src/app/routes/ui-article-delivery.tsx
  libs/ui-card/src/components/card-coupon/__image_snapshots__/CardCupom should render default card cupons #0.png
  libs/ui-card/src/components/card-coupon/card-coupon-content/card-coupon-content.tsx
  libs/ui-card/src/components/card-coupon/card-coupon-content/index.ts
  libs/ui-card/src/components/card-coupon/card-coupon-item/card-coupon-item.tsx
  libs/ui-card/src/components/card-coupon/card-coupon-item/index.ts
  libs/ui-card/src/components/card-coupon/card-coupon-list/card-cupom-list.tsx
  libs/ui-card/src/components/card-coupon/card-coupon-list/index.ts
  libs/ui-card/src/components/card-coupon/card-coupon.cy.tsx
  libs/ui-card/src/components/card-coupon/card-coupon.stories.tsx
  libs/ui-card/src/components/card-coupon/card-coupon.tsx
  libs/ui-card/src/components/card-coupon/index.ts
  libs/ui-card/src/components/card-coupon/mock/COUPON_DATA.ts
  libs/ui-card/src/components/card-cupom/card-cupom-content/card-cupom-content.tsx
  libs/ui-card/src/components/card-cupom/card-cupom-content/index.ts
  libs/ui-card/src/components/card-cupom/card-cupom-item/index.ts
  libs/ui-card/src/components/card-cupom/card-cupom.tsx
  libs/ui-card/src/components/card-cupom/index.ts
  libs/ui-card/src/index.ts
Due: test, component-test

chore: changing import to base-components
  libs/ui-card/src/components/breaking-news-bar/breaking-news.variants.ts
Due: test

chore: changing tailwind-variants to utils
  libs/ui-base-components/src/components/breadcrumb/breadcrumb.variants.ts
  libs/ui-base-components/src/components/bullet/bullet.variants.ts
  libs/ui-base-components/src/components/button/button.variants.ts
  libs/ui-base-components/src/components/chips/chips.variants.ts
  libs/ui-base-components/src/components/heading/heading.variants.ts
  libs/ui-base-components/src/components/paragraph/paragraph.variants.ts
  libs/ui-base-components/src/components/subheading/subheading.variants.ts
  libs/ui-base-components/src/components/svg-icon/svg-icon.variants.ts
  libs/ui-base-components/src/components/toggle/toggle.variants.ts
  libs/ui-base-components/src/components/tooltip/tooltip.variants.ts
  libs/ui-base-components/src/components/typography/typography.variants.ts
  libs/ui-base-components/src/index.ts
  libs/ui-base-components/src/utils/index.ts
  libs/ui-base-components/src/utils/tailwind-variants.tsx
Due: test, component-test

chore: cypress snapshot
  libs/ui-card/src/components/card-coupon/__image_snapshots__/CardCoupon should render default card coupon #0.png
  libs/ui-card/src/components/card-coupon/__image_snapshots__/CardCupom should render default card cupons #0.png
  libs/ui-card/src/components/card-coupon/card-coupon.cy.tsx
Due: test, component-test

chore: font family
  libs/ui-base-components/src/components/paragraph/paragraph.variants.ts
  libs/ui-base-components/src/components/typography/typography.variants.ts
  libs/ui-theme-core/src/tailwind-preset.js
Due: test

chore: font family
  libs/ui-card/src/components/card-coupon/card-coupon.tsx
Due: test, component-test

chore(tailwind-variants): moving tailwind-variants to base-components
  libs/ui-article-delivery/src/components/contrast-control/contrast-control.variants.tsx
  libs/ui-article-delivery/src/components/font-size-control/font-size-control.variants.ts
  libs/ui-article-delivery/src/components/social-share/social-icons/social-icons.variants.ts
  libs/ui-article-delivery/src/components/social-share/social-item/social-item.variants.ts
  libs/ui-base-components/src/components/breadcrumb/breadcrumb.variants.ts
  libs/ui-base-components/src/components/bullet/bullet.variants.ts
  libs/ui-base-components/src/components/button/button.variants.ts
  libs/ui-base-components/src/components/chips/chips.variants.ts
  libs/ui-base-components/src/components/heading/heading.variants.ts
  libs/ui-base-components/src/components/paragraph/paragraph.variants.ts
  libs/ui-base-components/src/components/subheading/subheading.variants.ts
  libs/ui-base-components/src/components/svg-icon/svg-icon.variants.ts
  libs/ui-base-components/src/components/toggle/toggle.variants.ts
  libs/ui-base-components/src/components/tooltip/tooltip.variants.ts
  libs/ui-base-components/src/components/typography/typography.variants.ts
  libs/ui-base-components/src/index.ts
  libs/ui-base-components/src/utils/index.ts
  libs/ui-base-components/src/utils/tailwind-variants.tsx
  libs/ui-card/src/components/breaking-news-bar/breaking-news.variants.ts
  libs/ui-card/src/components/card/card-figure/card-figure.variants.tsx
  libs/ui-card/src/components/card/card-hat/card-hat-title.variants.tsx
  libs/ui-card/src/components/card/card-hat/card-hat-wrapper.variants.tsx
  libs/ui-card/src/components/card/card-label/card-label-variants.tsx
  libs/ui-card/src/components/card/card-title/card-title.variants.ts
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer.variants.ts
  libs/ui-form-components/src/components/input-field/input-field.variants.ts
  libs/ui-form-components/src/components/select-field/select-field.variants.ts
  libs/ui-header-delivery/src/components/header/header-fixed/header-fixed.variants.ts
  libs/ui-header-delivery/src/components/header/header-root/header.variants.ts
  libs/ui-header-delivery/src/components/header/header-search/header-search.variants.ts
  libs/ui-header-delivery/src/components/internals-header/internals-header-root/internals-header.variants.ts
  libs/ui-header-delivery/src/components/sidebar/sidebar-root/sidebar.variants.ts
  libs/ui-header-delivery/src/components/sidebar/sidebar-search/sidebar-search.variants.ts
  libs/ui-header-delivery/src/components/sidebar/sidebar-submenu/sidebar-submenu.variants.ts
  libs/ui-header-delivery/src/components/sidebar/sidebar-toggle/sidebar-toggle.variants.ts
  libs/ui-section-menu/src/components/submenu/submenu.variants.ts
  libs/ui-voting-components/src/components/bullet/bullet.variants.ts
  libs/ui-voting-components/src/components/card-status/card-status.variants.ts
  libs/ui-voting-components/src/components/snackbar/snackbar.variants.ts
  tools/tailwind-variants/index.ts
Due: test, component-test

chore(global): running migrations to update packages
  .nvmrc
  package.json
  yarn.lock
Due: none

fix(card-figure): using neutral-low-600 on the card-figure shadow instead of #000
  libs/ui-card/src/components/card/card-figure/__image_snapshots__/CardFigure should render image with shadow #0.png
  libs/ui-card/src/components/card/card-figure/card-figure.variants.tsx
Due: test, component-test

fix(ui-base): adds variants to the bullet with a neutralLow and neutralHigh color
  libs/ui-base-components/src/components/bullet/bullet.tsx
  libs/ui-base-components/src/components/bullet/bullet.variants.ts
Due: test, component-test

chore(tailwind-preset): adds border-radius none
  libs/ui-theme-core/src/tailwind-preset.js
Due: none

test(proportional-photo): adds cypress screenshots missing on the proportional-photo card
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto should render proportional card - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto should render proportional card - mobile #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto should render proportional card - tablet #0.png
Due: none

feat(card): new guerra card
  apps/demo-ui-components/src/app/routes/ui-card.tsx
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - desktop #0.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - mobile #0.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - tablet #0.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - taboet #0.png
  libs/ui-card/src/components/guerra/guerra.cy.tsx
  libs/ui-card/src/components/guerra/guerra.stories.tsx
  libs/ui-card/src/components/guerra/guerra.tsx
  libs/ui-card/src/components/guerra/index.ts
  libs/ui-card/src/index.ts
Due: test, component-test

chore(tailwind-preset): re-adds fontFamily primary
  libs/ui-theme-core/src/tailwind-preset.js
Due: none

fix(guerra-bullets): using real bullets texts examples from sup prod
  apps/demo-ui-components/src/app/routes/ui-card.tsx
  libs/ui-card/src/components/guerra/guerra.cy.tsx
  libs/ui-card/src/components/guerra/guerra.stories.tsx
Due: test, component-test

style(tablet-breakpoint): transition to a vertical layout earlier to avoid overflowing bullets
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - desktop #0.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - mobile #0.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - tablet #0.png
  libs/ui-card/src/components/guerra/guerra.tsx
Due: test, component-test

chore(ui-card): release version 0.7.0
  libs/ui-base-components/CHANGELOG.md
  libs/ui-base-components/package.json
  libs/ui-card/CHANGELOG.md
  libs/ui-card/package.json
Due: none

chore(yarn-lock): updated yarn-lock generated by git pull (yarn install)
  yarn.lock
Due: none

test(guerra): updates cypress prints without overflowing and with correct name
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - desktop #0.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - tablet #0.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - taboet #0.png
Due: none

refactor(ui-base-components): updatind tailwind variants import on ad-SHELL
  libs/ui-base-components/src/components/ad-shell/ad-shell.tsx
  libs/ui-base-components/src/components/ad-shell/ad-shell.variants.tsx
  yarn.lock
Due: test, component-test

style(font-primary): changes the open-sas to the Record font with font-primary
  libs/ui-card/src/components/card/card-hat/card-hat-title.variants.tsx
  libs/ui-card/src/components/card/card-label/card-label-variants.tsx
  libs/ui-card/src/components/card/card-title/card-title.variants.ts
Due: test, component-test

test(old-font): deleting cypress prints with the old open-sans font to update with the new
  libs/ui-card/src/components/breaking-news-bar/__image_snapshots__/BreakingNews - With Image should render breaking news bar without image - desktop #0.png
  libs/ui-card/src/components/breaking-news-bar/__image_snapshots__/BreakingNews - With Image should render breaking news bar without image - mobile #0.png
  libs/ui-card/src/components/breaking-news-bar/__image_snapshots__/BreakingNews - Without Image should render breaking news bar without image - desktop #0.png
  libs/ui-card/src/components/breaking-news-bar/__image_snapshots__/BreakingNews - Without Image should render breaking news bar without image - mobile #0.png
  libs/ui-card/src/components/card-coupon/__image_snapshots__/CardCoupon should render default card coupon #0.png
  libs/ui-card/src/components/card/__image_snapshots__/Card should render default card #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatImage should render hat image #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatTitle should render all color variants of title #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatTitle should render hat #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatWrapper should render hat image and hat title composition #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatWrapper should render hat with link #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatWrapper should render type variant composition #0.png
  libs/ui-card/src/components/card/card-label/__image_snapshots__/CardLabel should render all other type variants #0.png
  libs/ui-card/src/components/card/card-label/__image_snapshots__/CardLabel should render type sponsored-by variant #0.png
  libs/ui-card/src/components/card/card-title/__image_snapshots__/CardTitle should render all color variants #0.png
  libs/ui-card/src/components/card/card-title/__image_snapshots__/CardTitle should render all fontStyle variants in desktop #0.png
  libs/ui-card/src/components/card/card-title/__image_snapshots__/CardTitle should render all fontStyle variants in mobile #0.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - desktop #0.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - mobile #0.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - tablet #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto should render proportional card - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto should render proportional card - mobile #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto should render proportional card - tablet #0.png
  libs/ui-card/src/components/two-cards-square-photo/__image_snapshots__/TwoCardsSquarePhoto should render two cards - desktop #0.png
  libs/ui-card/src/components/two-cards-square-photo/__image_snapshots__/TwoCardsSquarePhoto should render two cards - mobile #0.png
Due: none

test(font-primary): updates cypress prints with the Record font card-font-primary on the card
  libs/ui-card/src/components/breaking-news-bar/__image_snapshots__/BreakingNews - With Image should render breaking news bar without image - desktop #0.png
  libs/ui-card/src/components/breaking-news-bar/__image_snapshots__/BreakingNews - With Image should render breaking news bar without image - mobile #0.png
  libs/ui-card/src/components/breaking-news-bar/__image_snapshots__/BreakingNews - Without Image should render breaking news bar without image - desktop #0.png
  libs/ui-card/src/components/breaking-news-bar/__image_snapshots__/BreakingNews - Without Image should render breaking news bar without image - mobile #0.diff.png
  libs/ui-card/src/components/breaking-news-bar/__image_snapshots__/BreakingNews - Without Image should render breaking news bar without image - mobile #0.png
  libs/ui-card/src/components/card-coupon/__image_snapshots__/CardCoupon should render default card coupon #0.png
  libs/ui-card/src/components/card/__image_snapshots__/Card should render default card #0.png
  libs/ui-card/src/components/card/card-figure/__image_snapshots__/CardFigure should render image with shadow #0.diff.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatImage should render hat image #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatTitle should render all color variants of title #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatTitle should render hat #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatWrapper should render hat image and hat title composition #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatWrapper should render hat with link #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatWrapper should render type variant composition #0.png
  libs/ui-card/src/components/card/card-label/__image_snapshots__/CardLabel should render all other type variants #0.png
  libs/ui-card/src/components/card/card-label/__image_snapshots__/CardLabel should render type sponsored-by variant #0.png
  libs/ui-card/src/components/card/card-title/__image_snapshots__/CardTitle should render all color variants #0.png
  libs/ui-card/src/components/card/card-title/__image_snapshots__/CardTitle should render all fontStyle variants in desktop #0.png
  libs/ui-card/src/components/card/card-title/__image_snapshots__/CardTitle should render all fontStyle variants in mobile #0.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - desktop #0.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - mobile #0.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - tablet #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto should render proportional card - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto should render proportional card - mobile #0.png
  libs/ui-card/src/components/two-cards-square-photo/__image_snapshots__/TwoCardsSquarePhoto should render two cards - desktop #0.png
  libs/ui-card/src/components/two-cards-square-photo/__image_snapshots__/TwoCardsSquarePhoto should render two cards - mobile #0.png
Due: none

test(old-font): removing old prints again bugged by Cypress ui
  libs/ui-card/src/components/breaking-news-bar/__image_snapshots__/BreakingNews - With Image should render breaking news bar without image - desktop #0.png
  libs/ui-card/src/components/breaking-news-bar/__image_snapshots__/BreakingNews - With Image should render breaking news bar without image - mobile #0.png
  libs/ui-card/src/components/breaking-news-bar/__image_snapshots__/BreakingNews - Without Image should render breaking news bar without image - desktop #0.png
  libs/ui-card/src/components/breaking-news-bar/__image_snapshots__/BreakingNews - Without Image should render breaking news bar without image - mobile #0.diff.png
  libs/ui-card/src/components/breaking-news-bar/__image_snapshots__/BreakingNews - Without Image should render breaking news bar without image - mobile #0.png
  libs/ui-card/src/components/card-coupon/__image_snapshots__/CardCoupon should render default card coupon #0.png
  libs/ui-card/src/components/card/__image_snapshots__/Card should render default card #0.png
  libs/ui-card/src/components/card/card-figure/__image_snapshots__/CardFigure should render all format variants #0.png
  libs/ui-card/src/components/card/card-figure/__image_snapshots__/CardFigure should render default image #0.png
  libs/ui-card/src/components/card/card-figure/__image_snapshots__/CardFigure should render image with shadow #0.diff.png
  libs/ui-card/src/components/card/card-figure/__image_snapshots__/CardFigure should render image with shadow #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatImage should render hat image #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatTitle should render all color variants of title #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatTitle should render hat #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatWrapper should render hat image and hat title composition #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatWrapper should render hat with link #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatWrapper should render type variant composition #0.png
  libs/ui-card/src/components/card/card-label/__image_snapshots__/CardLabel should render all other type variants #0.png
  libs/ui-card/src/components/card/card-label/__image_snapshots__/CardLabel should render type sponsored-by variant #0.png
  libs/ui-card/src/components/card/card-title/__image_snapshots__/CardTitle should render all color variants #0.png
  libs/ui-card/src/components/card/card-title/__image_snapshots__/CardTitle should render all fontStyle variants in desktop #0.png
  libs/ui-card/src/components/card/card-title/__image_snapshots__/CardTitle should render all fontStyle variants in mobile #0.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - desktop #0.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - mobile #0.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - tablet #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto should render proportional card - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto should render proportional card - mobile #0.png
  libs/ui-card/src/components/two-cards-square-photo/__image_snapshots__/TwoCardsSquarePhoto should render two cards - desktop #0.png
  libs/ui-card/src/components/two-cards-square-photo/__image_snapshots__/TwoCardsSquarePhoto should render two cards - mobile #0.png
Due: none

test(font-primary): updating prints with the new Record font again witch the ci
  libs/ui-card/src/components/breaking-news-bar/__image_snapshots__/BreakingNews - With Image should render breaking news bar without image - desktop #0.png
  libs/ui-card/src/components/breaking-news-bar/__image_snapshots__/BreakingNews - With Image should render breaking news bar without image - mobile #0.png
  libs/ui-card/src/components/breaking-news-bar/__image_snapshots__/BreakingNews - Without Image should render breaking news bar without image - desktop #0.png
  libs/ui-card/src/components/breaking-news-bar/__image_snapshots__/BreakingNews - Without Image should render breaking news bar without image - mobile #0.png
  libs/ui-card/src/components/card-coupon/__image_snapshots__/CardCoupon should render default card coupon #0.png
  libs/ui-card/src/components/card/__image_snapshots__/Card should render default card #0.png
  libs/ui-card/src/components/card/card-figure/__image_snapshots__/CardFigure should render all format variants #0.png
  libs/ui-card/src/components/card/card-figure/__image_snapshots__/CardFigure should render default image #0.png
  libs/ui-card/src/components/card/card-figure/__image_snapshots__/CardFigure should render image with shadow #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatImage should render hat image #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatTitle should render all color variants of title #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatTitle should render hat #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatWrapper should render hat image and hat title composition #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatWrapper should render hat with link #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatWrapper should render type variant composition #0.png
  libs/ui-card/src/components/card/card-label/__image_snapshots__/CardLabel should render all other type variants #0.png
  libs/ui-card/src/components/card/card-label/__image_snapshots__/CardLabel should render type sponsored-by variant #0.png
  libs/ui-card/src/components/card/card-title/__image_snapshots__/CardTitle should render all color variants #0.png
  libs/ui-card/src/components/card/card-title/__image_snapshots__/CardTitle should render all fontStyle variants in desktop #0.png
  libs/ui-card/src/components/card/card-title/__image_snapshots__/CardTitle should render all fontStyle variants in mobile #0.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - desktop #0.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - mobile #0.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - tablet #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto should render proportional card - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto should render proportional card - mobile #0.png
  libs/ui-card/src/components/two-cards-square-photo/__image_snapshots__/TwoCardsSquarePhoto should render two cards - desktop #0.png
  libs/ui-card/src/components/two-cards-square-photo/__image_snapshots__/TwoCardsSquarePhoto should render two cards - mobile #0.png
Due: none

test(image-missing): fixes prints with missing images
  libs/ui-card/src/components/card-coupon/__image_snapshots__/CardCoupon should render default card coupon #0.png
  libs/ui-card/src/components/card/__image_snapshots__/Card should render default card #0.png
Due: none

fix(conditional-link): adds new variant width=fit on the ConditionalLink to use as a wrapper
  libs/ui-base-components/src/components/conditional-link/conditional-link.tsx
  libs/ui-base-components/src/components/conditional-link/conditional-link.variants.ts
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatWrapper should render hat with link #0.png
  libs/ui-card/src/components/card/card-hat/card-hat.cy.tsx
  libs/ui-card/src/components/card/card-hat/card-hat.stories.tsx
Due: test, component-test

refactor: changing font to font-primary of ad-shell and ad-placeholder
  libs/ui-base-components/src/components/ad-placeholder/placeholder.tsx
  libs/ui-base-components/src/components/ad-shell/ad-shell.tsx
  libs/ui-base-components/src/components/ad-shell/ad-shell.variants.tsx
Due: test, component-test
