Repository r7com/front-monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build storybook, deploy storybook, test, component-test

.gitlab-ci.yml:

variables:
  NODE_VERSION: node:18
  CI: 'true'
  GIT_DEPTH: 0

image: $NODE_VERSION

stages:
  - test
  - storybook
  - deploy

.distributed:
  interruptible: true
  tags:
    - gitlab-runner-ec2
  only:
    - main
    - merge_requests
  cache:
    key:
      files:
        - yarn.lock
    paths:
      - '.yarn-cache/'
      - cache/Cypress
  before_script:
    - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
    - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
    - NX_HEAD=$CI_COMMIT_SHA

build storybook:
  extends: .distributed
  stage: storybook
  script:
    - yarn nx run-many --target=build
    - yarn nx build-storybook vision-components
  only:
    refs:
      - main
    changes:
      - '*.stories.tsx'
  artifacts:
    paths:
      - dist/apps/vision-components/

deploy storybook:
  image:
    name: gitlab.ir7.com.br:5050/sre/docker-images/gitlab-runner-images:1.0.5
    entrypoint: ['']
  stage: deploy
  interruptible: true
  tags:
    - gitlab-runner-ec2
  script:
    - ls -la dist/apps/vision-components
    - aws s3 cp dist/apps/vision-components/ s3://r7-pipelines-statics/vision-components/ --recursive
  dependencies:
    - build storybook
  only:
    refs:
      - main
    changes:
      - '*.stories.tsx'

test:
  stage: test
  extends: .distributed
  script:
    - npx nx affected --base=$NX_BASE --head=$NX_HEAD -t test --parallel=3 --configuration=ci
  only:
    refs:
      - main
      - merge_requests
    changes:
      - '*/**/*.tsx'
      - '*/**/*.ts'

component-test:
  image: cypress/browsers:node18.12.0-chrome106-ff106
  stage: test
  extends: .distributed
  script:
    - apt-get update && apt-get install -y xvfb
    - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
    - export DISPLAY=:99
    - npx nx build ui-base-components
    - npx nx affected --base=$NX_BASE --head=$NX_HEAD -t component-test --parallel=3 --configuration=ci
  only:
    refs:
      - main
      - merge_requests
    changes:
      - '*/**/*.tsx'
  artifacts:
    when: on_failure
    paths:
      - dist/cypress
    expire_in: 1 day

deploy libs setup:
  stage: deploy
  interruptible: true
  tags:
    - gitlab-runner-ec2
  script:
    - node ./deploy-libs.js
  artifacts:
    expire_in: '60 sec'
    paths:
      - dynamic-gitlab-ci.yml
  only:
    refs:
      - /ui\-.*/

deploy libs:
  stage: deploy
  needs:
    - deploy libs setup
  trigger:
    include:
      - artifact: dynamic-gitlab-ci.yml
        job: deploy libs setup
    strategy: depend

test(guerra): removed bug diff snapshot print
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - desktop #0.diff.png
Due: none

test(guerra): updated cypress snapshots images
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - desktop #0.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - mobile #0.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - tablet #0.png
Due: none

feat(card): new left-photo variant
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Three cards landscape small photo should render three cards - desktop #0.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Three cards landscape small photo should render three cards - mobile #0.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards landscape photo large should render two cards - desktop #0.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards landscape photo large should render two cards - mobile #0.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards landscape photo should render two cards - desktop #0.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards landscape photo should render two cards - mobile #0.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards landscape photo with bullet should render two cards - desktop #0.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards landscape photo with bullet should render two cards - mobile #0.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards square photo should render two cards - desktop #0.png
  libs/ui-card/src/components/left-photo/__image_snapshots__/LeftPhoto Two cards square photo should render two cards - mobile #0.png
  libs/ui-card/src/components/left-photo/left-photo-figure/left-photo-figure.tsx
  libs/ui-card/src/components/left-photo/left-photo-figure/left-photo-figure.variants.tsx
  libs/ui-card/src/components/left-photo/left-photo-title/left-photo-title.variants.tsx
  libs/ui-card/src/components/left-photo/left-photo.cy.tsx
  libs/ui-card/src/components/left-photo/left-photo.stories.tsx
Due: test, component-test

chore(ui-card): release version 0.13.0
  libs/ui-card/CHANGELOG.md
  libs/ui-card/package.json
Due: none

chore: updated ssnapsshots
  libs/ui-article-delivery/src/components/accessibility-bar/__image_snapshots__/AccessibilityBar Should render AccessibilityBar Desktop #0.diff.png
  libs/ui-article-delivery/src/components/article-header/__image_snapshots__/Signature should render article header on desktop #0.actual.png
  libs/ui-article-delivery/src/components/article-header/__image_snapshots__/Signature should render article header on desktop #0.diff.png
  libs/ui-article-delivery/src/components/article-header/__image_snapshots__/Signature should render article header on desktop #0.png
  libs/ui-article-delivery/src/components/article-header/__image_snapshots__/Signature should render article header on desktop dark mode #0.png
  libs/ui-article-delivery/src/components/article-header/__image_snapshots__/Signature should render article header on m dark mode #0.png
  libs/ui-article-delivery/src/components/article-header/__image_snapshots__/Signature should render article header on mobile #0.actual.png
  libs/ui-article-delivery/src/components/article-header/__image_snapshots__/Signature should render article header on mobile #0.png
  libs/ui-article-delivery/src/components/article-header/__image_snapshots__/Signature should render article header on mobile dark mode #0.png
  libs/ui-article-delivery/src/components/signature/__image_snapshots__/Signature should render agencyImageUrl prop dark mode #0.png
  libs/ui-base-components/src/components/breadcrumb/__image_snapshots__/Breadcrumb should render Breadcrumb Desktop #0.png
  libs/ui-base-components/src/components/breadcrumb/__image_snapshots__/Breadcrumb should render Breadcrumb dark mode #0.actual.png
  libs/ui-base-components/src/components/breadcrumb/__image_snapshots__/Breadcrumb should render Breadcrumb dark mode #0.diff.png
  libs/ui-base-components/src/components/breadcrumb/__image_snapshots__/Breadcrumb should render Breadcrumb dark mode #0.png
  libs/ui-base-components/src/components/breadcrumb/__image_snapshots__/Breadcrumb should render Breadcrumb mobile #0.png
  libs/ui-base-components/src/components/breadcrumb/__image_snapshots__/Breadcrumb should render Breadcrumb mobile dark mode #0.png
  libs/ui-base-components/src/components/breadcrumb/breadcrumb.cy.tsx
  libs/ui-base-components/src/components/breadcrumb/breadcrumb.variants.ts
  libs/ui-base-components/src/components/heading/__image_snapshots__/Heading Should render Heading dark mode #0.png
  libs/ui-base-components/src/components/heading/__image_snapshots__/Heading using size variations #0.png
  libs/ui-base-components/src/components/paragraph/__image_snapshots__/Paragraph should render fontSize dark mode #0.png
  libs/ui-base-components/src/components/paragraph/__image_snapshots__/Paragraph using color #0.png
  libs/ui-base-components/src/components/paragraph/__image_snapshots__/Paragraph using fontFamily #0.png
  libs/ui-base-components/src/components/paragraph/__image_snapshots__/Paragraph using fontSize #0.png
  libs/ui-base-components/src/components/paragraph/__image_snapshots__/Paragraph using fontWeight #0.png
  libs/ui-base-components/src/components/subheading/__image_snapshots__/Subheading should render subheading dark mode #0.png
  libs/ui-base-components/src/components/subheading/__image_snapshots__/Subheading using size variations #0.png
  libs/ui-base-components/src/components/typography/__image_snapshots__/Typography should render fontSize dark mode #0.png
  libs/ui-base-components/src/components/typography/__image_snapshots__/Typography using ClassName #0.png
  libs/ui-base-components/src/components/typography/__image_snapshots__/Typography using color #0.png
  libs/ui-base-components/src/components/typography/__image_snapshots__/Typography using fontFamily #0.png
  libs/ui-base-components/src/components/typography/__image_snapshots__/Typography using fontSize #0.png
  libs/ui-base-components/src/components/typography/__image_snapshots__/Typography using fontWeight #0.png
Due: test, component-test

chore: updated snapsshots
  libs/ui-article-delivery/src/components/accessibility-bar/__image_snapshots__/AccessibilityBar Should render AccessibilityBar #0.png
  libs/ui-article-delivery/src/components/accessibility-bar/__image_snapshots__/AccessibilityBar Should render AccessibilityBar Desktop #0.actual.png
  libs/ui-article-delivery/src/components/accessibility-bar/__image_snapshots__/AccessibilityBar Should render AccessibilityBar Desktop #0.png
  libs/ui-article-delivery/src/components/accessibility-bar/__image_snapshots__/AccessibilityBar Should render AccessibilityBar Desktop dark mode #0.png
  libs/ui-article-delivery/src/components/accessibility-bar/__image_snapshots__/AccessibilityBar Should render AccessibilityBar dark mode #0.png
  libs/ui-article-delivery/src/components/accessibility-bar/accessibility-bar.cy.tsx
Due: test, component-test

style(guerra): new auto height based on the text/bullets size on tablet & mobile
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - desktop #0.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - mobile #0.png
  libs/ui-card/src/components/guerra/__image_snapshots__/Guerra should render guerra card - tablet #0.png
  libs/ui-card/src/components/guerra/guerra-bullets/guerra-bullets.tsx
  libs/ui-card/src/components/guerra/guerra-figure/guerra-figure.tsx
  libs/ui-card/src/components/guerra/guerra-overlay/guerra-overlay.tsx
  libs/ui-card/src/components/guerra/guerra-title/guerra-title.tsx
Due: test, component-test

chore(ui-card): release version 0.14.0
  libs/ui-card/CHANGELOG.md
  libs/ui-card/package.json
Due: none

fix(section-heading-line): changes the border to a background to avoid the css overwrite on Arc
  libs/ui-section-heading/src/components/section-heading/section-heading-line/section-heading-line.tsx
Due: test, component-test

fix(section-foot-line): changes the border to a background to avoid the css overwrite on Arc
  libs/ui-section-foot/src/components/section-foot-line/section-foot-line.tsx
Due: test, component-test

test(section-heading): re-generated cypress screenshots with new font and line
  libs/ui-section-heading/src/components/section-heading/__image_snapshots__/SectionHeading - Image should match desktop image with image as title #0.png
  libs/ui-section-heading/src/components/section-heading/__image_snapshots__/SectionHeading - Image should match mobile image with image as title #0.png
  libs/ui-section-heading/src/components/section-heading/__image_snapshots__/SectionHeading - Title should match desktop image with text as title #0.png
  libs/ui-section-heading/src/components/section-heading/__image_snapshots__/SectionHeading - Title should match mobile image with text as title #0.png
Due: none

docs(demo-ui): added ui-section route with section-heading and section-foot on the demo-ui
  apps/demo-ui-components/src/app/app.tsx
  apps/demo-ui-components/src/app/routes/index.ts
  apps/demo-ui-components/src/app/routes/ui-card.tsx
  apps/demo-ui-components/src/app/routes/ui-section.tsx
Due: test, component-test

feat(dark-mode): adds dark-mode .dark class on style.css
  libs/ui-section-heading/src/style.css
Due: none

test(cypress-commands): added the addDarkMode command on cypress
  libs/ui-section-heading/cypress/support/commands.ts
Due: test

fix(dark-mode): fixes the dark-mode on the section-heading-line after the background change
  libs/ui-section-heading/src/components/section-heading/section-heading-line/section-heading-line.tsx
Due: test, component-test

test(dark-mode): added dark-mode test with print for the section-heading
  libs/ui-section-heading/src/components/section-heading/__image_snapshots__/SectionHeading - Title should match desktop image with text as title #0.png
  libs/ui-section-heading/src/components/section-heading/__image_snapshots__/SectionHeading - Title should match image with text as title dark mode #0.png
  libs/ui-section-heading/src/components/section-heading/__image_snapshots__/SectionHeading - Title should match mobile image with text as title dark mode #0.png
  libs/ui-section-heading/src/components/section-heading/section-heading.cy.tsx
Due: test, component-test

fix(section-line): fixes the section-heading/foot-line css overwrite
  apps/demo-ui-components/src/app/app.tsx
  apps/demo-ui-components/src/app/routes/index.ts
  apps/demo-ui-components/src/app/routes/ui-card.tsx
  apps/demo-ui-components/src/app/routes/ui-section.tsx
  libs/ui-section-foot/src/components/section-foot-line/section-foot-line.tsx
  libs/ui-section-heading/cypress/support/commands.ts
  libs/ui-section-heading/src/components/section-heading/__image_snapshots__/SectionHeading - Image should match desktop image with image as title #0.png
  libs/ui-section-heading/src/components/section-heading/__image_snapshots__/SectionHeading - Image should match mobile image with image as title #0.png
  libs/ui-section-heading/src/components/section-heading/__image_snapshots__/SectionHeading - Title should match desktop image with text as title #0.png
  libs/ui-section-heading/src/components/section-heading/__image_snapshots__/SectionHeading - Title should match image with text as title dark mode #0.png
  libs/ui-section-heading/src/components/section-heading/__image_snapshots__/SectionHeading - Title should match mobile image with text as title #0.png
  libs/ui-section-heading/src/components/section-heading/__image_snapshots__/SectionHeading - Title should match mobile image with text as title dark mode #0.png
  libs/ui-section-heading/src/components/section-heading/section-heading-line/section-heading-line.tsx
  libs/ui-section-heading/src/components/section-heading/section-heading.cy.tsx
  libs/ui-section-heading/src/style.css
Due: test, component-test

chore(ui-card): release version 0.14.1
  libs/ui-card/CHANGELOG.md
  libs/ui-card/package.json
Due: none

chore(ui-section-heading): release version 0.3.5
  libs/ui-section-heading/CHANGELOG.md
  libs/ui-section-heading/package.json
Due: none

chore(ui-section-foot): release version 0.2.3
  libs/ui-section-foot/CHANGELOG.md
  libs/ui-section-foot/package.json
Due: none

feat(ui-tv-guide): add tv guide library
  libs/ui-tv-guide/.eslintrc.json
  libs/ui-tv-guide/README.md
  libs/ui-tv-guide/cypress.config.ts
  libs/ui-tv-guide/cypress/fixtures/example.json
  libs/ui-tv-guide/cypress/support/commands.ts
  libs/ui-tv-guide/cypress/support/component-index.html
  libs/ui-tv-guide/cypress/support/component.ts
  libs/ui-tv-guide/cypress/tsconfig.json
  libs/ui-tv-guide/jest.config.ts
  libs/ui-tv-guide/package.json
  libs/ui-tv-guide/postcss.config.js
  libs/ui-tv-guide/project.json
  libs/ui-tv-guide/src/components/ui-tv-guide.cy.tsx
  libs/ui-tv-guide/src/components/ui-tv-guide.stories.tsx
  libs/ui-tv-guide/src/components/ui-tv-guide.tsx
  libs/ui-tv-guide/src/index.ts
  libs/ui-tv-guide/src/styles.css
  libs/ui-tv-guide/src/styles/styles.ts
  libs/ui-tv-guide/tailwind.config.js
  libs/ui-tv-guide/tsconfig.json
  libs/ui-tv-guide/tsconfig.lib.json
  libs/ui-tv-guide/tsconfig.spec.json
  libs/ui-tv-guide/vite.config.ts
  tsconfig.base.json
Due: test, component-test

refactor: removing opensans font
  libs/ui-base-components/src/components/paragraph/paragraph.cy.tsx
  libs/ui-base-components/src/components/paragraph/paragraph.stories.tsx
  libs/ui-base-components/src/components/paragraph/paragraph.variants.ts
  libs/ui-base-components/src/components/typography/typography.cy.tsx
  libs/ui-base-components/src/components/typography/typography.variants.ts
  libs/ui-voting-components/src/components/bullet/bullet.variants.ts
  libs/ui-voting-components/src/components/disclaimer/disclaimer.tsx
  yarn.lock
Due: test, component-test

feat: added privacy-box componeents
  apps/demo-ui-components/src/app/app.tsx
  cypress-global-configs/global-commands/global-commands.ts
  helpers/index.ts
  helpers/utils.test.ts
  helpers/utils.ts
  libs/ui-article-delivery/cypress/support/component.ts
  libs/ui-base-components/cypress/support/commands.ts
  libs/ui-base-components/cypress/support/component.ts
  libs/ui-base-components/src/components/button/button.variants.ts
  libs/ui-base-components/src/components/privacy-box/__image_snapshots__/PrivacyBox Should return privacy box #0.png
  libs/ui-base-components/src/components/privacy-box/__image_snapshots__/PrivacyBox Should return privacy box dark mode #0.diff.png
  libs/ui-base-components/src/components/privacy-box/__image_snapshots__/PrivacyBox Should return privacy box dark mode #0.png
  libs/ui-base-components/src/components/privacy-box/__image_snapshots__/PrivacyBox using fontSize #0.png
  libs/ui-base-components/src/components/privacy-box/__image_snapshots__/PrivacyBox using fontSize #1.png
  libs/ui-base-components/src/components/privacy-box/index.ts
  libs/ui-base-components/src/components/privacy-box/privacy-box.cy.tsx
  libs/ui-base-components/src/components/privacy-box/privacy-box.stories.tsx
  libs/ui-base-components/src/components/privacy-box/privacy-box.tsx
  libs/ui-base-components/src/components/privacy-box/privacy-box.variants.ts
  libs/ui-base-components/src/index.ts
  libs/ui-card/cypress/support/commands.ts
  libs/ui-card/cypress/support/component.ts
  libs/ui-section-heading/src/components/section-heading/section-heading-line/section-heading-line.tsx
  plugins/cookie/cookie.test.ts
  plugins/cookie/cookie.ts
  plugins/cookie/index.ts
  plugins/cookie/utils.test.ts
  plugins/cookie/utils.ts
  plugins/index.ts
  tools/nx-generate/src/utils/constants.mjs
  tsconfig.base.json
  yarn.lock
Due: test, component-test

feat: added privacy-box componeents
  libs/ui-base-components/src/components/privacy-box/__image_snapshots__/PrivacyBox Should return privacy box dark mode #0.diff.png
  libs/ui-base-components/src/components/privacy-box/__image_snapshots__/PrivacyBox using fontSize #0.png
  libs/ui-base-components/src/components/privacy-box/__image_snapshots__/PrivacyBox using fontSize #1.png
Due: none

feat: storybook
  libs/ui-article-delivery/cypress/support/component.ts
  libs/ui-base-components/src/components/privacy-box/privacy-box.stories.tsx
  plugins/cookie/utils.test.ts
  plugins/cookie/utils.ts
Due: test, component-test

feat: helpers
  plugins/cookie/utils.ts
Due: test

feat: adding the playplus logo to the header
  libs/ui-header-delivery/src/components/header/header-playplus-logo/header-playplus-logo.tsx
  libs/ui-header-delivery/src/components/header/header-root/header.tsx
Due: test, component-test

feat: two-call component development
  libs/ui-card/src/components/proportional-photo/proportional-photo-text-wrapper/proportional-photo-text-wrapper-variants.tsx
  libs/ui-card/src/components/proportional-photo/proportional-photo-text-wrapper/proportional-photo-text-wrapper.tsx
  libs/ui-card/src/components/proportional-photo/proportional-photo-title/proportional-photo-title-variants.tsx
  libs/ui-card/src/components/proportional-photo/proportional-photo-title/proportional-photo-title.tsx
  libs/ui-card/src/components/proportional-photo/proportional-photo.stories.tsx
Due: test, component-test

refactor: created helper and plugins and fix test and components
  helpers/utils.test.ts
  helpers/utils.ts
  libs/helpers/README.md
  libs/helpers/jest.config.ts
  libs/helpers/project.json
  libs/helpers/src/constants/constants.ts
  libs/helpers/src/constants/index.ts
  libs/helpers/src/index.ts
  libs/helpers/src/utils/index.ts
  libs/helpers/src/utils/utils.test.ts
  libs/helpers/src/utils/utils.ts
  libs/plugins/README.md
  libs/plugins/jest.config.ts
  libs/plugins/project.json
  libs/plugins/src/cookie/cookie.test.ts
  libs/plugins/src/cookie/cookie.ts
  libs/plugins/src/cookie/index.ts
  libs/plugins/src/index.ts
  libs/ui-base-components/.eslintrc.json
  libs/ui-base-components/src/components/privacy-box/privacy-box.cy.tsx
  libs/ui-base-components/src/components/privacy-box/privacy-box.stories.tsx
  libs/ui-base-components/src/components/privacy-box/privacy-box.tsx
  plugins/cookie/utils.ts
  tsconfig.base.json
Due: test, component-test

fix: added tsconfig
  libs/plugins/tsconfig.json
  libs/plugins/tsconfig.lib.json
  libs/plugins/tsconfig.spec.json
Due: none

fix: added tsconfig
  libs/helpers/tsconfig.json
  libs/helpers/tsconfig.lib.json
  libs/helpers/tsconfig.spec.json
Due: none

chore(ui-base-components): release version 0.6.8
  libs/ui-base-components/CHANGELOG.md
  libs/ui-base-components/package.json
Due: none

feat(vertical-carousel-card): new vertical carousel card
  libs/ui-card/src/components/vertical-carousel/index.ts
  libs/ui-card/src/components/vertical-carousel/vertical-carousel-arrow/index.ts
  libs/ui-card/src/components/vertical-carousel/vertical-carousel-arrow/vertical-carousel-arrow.tsx
  libs/ui-card/src/components/vertical-carousel/vertical-carousel-arrow/vertical-carousel-arrow.variants.tsx
  libs/ui-card/src/components/vertical-carousel/vertical-carousel-figure/index.ts
  libs/ui-card/src/components/vertical-carousel/vertical-carousel-figure/vertical-carousel-figure.tsx
  libs/ui-card/src/components/vertical-carousel/vertical-carousel-item/index.ts
  libs/ui-card/src/components/vertical-carousel/vertical-carousel-item/vertical-carousel-item.tsx
  libs/ui-card/src/components/vertical-carousel/vertical-carousel-scroll-container/index.ts
  libs/ui-card/src/components/vertical-carousel/vertical-carousel-scroll-container/vertical-carousel-scroll-container.tsx
  libs/ui-card/src/components/vertical-carousel/vertical-carousel-text-wrapper/index.ts
  libs/ui-card/src/components/vertical-carousel/vertical-carousel-text-wrapper/vertical-carousel-text-wrapper.tsx
  libs/ui-card/src/components/vertical-carousel/vertical-carousel-title/index.ts
  libs/ui-card/src/components/vertical-carousel/vertical-carousel-title/vertical-carousel-title.tsx
  libs/ui-card/src/components/vertical-carousel/vertical-carousel.mock.ts
  libs/ui-card/src/components/vertical-carousel/vertical-carousel.tsx
  libs/ui-card/src/index.ts
Due: test, component-test

test(vertical-carousel-card): added tests for the vertical-carousel-card
  libs/ui-card/src/components/vertical-carousel/__image_snapshots__/VerticalCarousel should render vertical carousel - desktop #0.png
  libs/ui-card/src/components/vertical-carousel/__image_snapshots__/VerticalCarousel should render vertical carousel - mobile #0.png
  libs/ui-card/src/components/vertical-carousel/vertical-carousel.cy.tsx
Due: test, component-test

fix(mock): added more more items on the mock so bigger containers are filled
  libs/ui-card/src/components/vertical-carousel/vertical-carousel.mock.ts
Due: test

docs(storybook): added storybook story for the vertical carousel
  libs/ui-card/src/components/vertical-carousel/vertical-carousel.stories.tsx
Due: test, component-test
