Repository r7com/front-monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: storybook, test, component-test

storybook:
  interruptible: true
  tags:
  - gitlab-runner-ec2
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - .yarn-cache/
    - cache/Cypress
  before_script:
  - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
  - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
  ...

test:
  interruptible: true
  tags:
  - gitlab-runner-ec2
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - .yarn-cache/
    - cache/Cypress
  before_script:
  - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
  - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
  ...

component-test:
  interruptible: true
  tags:
  - gitlab-runner-ec2
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - .yarn-cache/
    - cache/Cypress
  before_script:
  - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
  - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
  ...

chore(ui-section-heading): move o componente section-heading pra ui-section-heading
  libs/ui-base-components/src/index.ts
  libs/ui-section-heading/src/components/section-heading/__image_snapshots__/SectionHeading - Image should match desktop image with image as title #0.png
  libs/ui-section-heading/src/components/section-heading/__image_snapshots__/SectionHeading - Image should match mobile image with image as title #0.png
  libs/ui-section-heading/src/components/section-heading/__image_snapshots__/SectionHeading - Title should match desktop image with text as title #0.png
  libs/ui-section-heading/src/components/section-heading/__image_snapshots__/SectionHeading - Title should match mobile image with text as title #0.png
  libs/ui-section-heading/src/components/section-heading/index.tsx
  libs/ui-section-heading/src/components/section-heading/section-heading-image/section-heading-image.tsx
  libs/ui-section-heading/src/components/section-heading/section-heading-line/section-heading-line.tsx
  libs/ui-section-heading/src/components/section-heading/section-heading-tag/section-heading-tag.tsx
  libs/ui-section-heading/src/components/section-heading/section-heading-tags/section-heading-tags.tsx
  libs/ui-section-heading/src/components/section-heading/section-heading-title/section-heading-title.tsx
  libs/ui-section-heading/src/components/section-heading/section-heading.cy.tsx
  libs/ui-section-heading/src/components/section-heading/section-heading.stories.tsx
  libs/ui-section-heading/src/components/section-heading/section-heading.tsx
  libs/ui-section-heading/src/index.ts
  libs/ui-section-heading/src/lib/ui-section-heading.spec.tsx
  libs/ui-section-heading/src/lib/ui-section-heading.tsx
Due: test, component-test

chore(ui-section-heading): adiciona cypress ao projeto com comando nx
  libs/ui-section-heading/cypress.config.ts
  libs/ui-section-heading/cypress/fixtures/example.json
  libs/ui-section-heading/cypress/support/commands.ts
  libs/ui-section-heading/cypress/support/component-index.html
  libs/ui-section-heading/cypress/support/component.ts
  libs/ui-section-heading/cypress/tsconfig.json
  libs/ui-section-heading/project.json
  libs/ui-section-heading/tsconfig.json
  libs/ui-section-heading/tsconfig.lib.json
Due: test

chore(ui-section-heading): adiciona fontes vindas do Google ao cypress
  libs/ui-section-heading/cypress/support/component-index.html
Due: none

chore(ui-section-heading): atualiza cypress.config.ts
  libs/ui-section-heading/cypress.config.ts
Due: test

chore(ui-section-heading): atualiza script component-test com configurações padrões
  libs/ui-section-heading/project.json
Due: none

chore(ui-section-heading): adiciona teste visual, testing-library e import do css ao cypress
  libs/ui-section-heading/cypress/support/component.ts
Due: test

chore(ui-section-heading): adiciona tailwind com arquivos necessários ao projeto
  libs/ui-section-heading/postcss.config.js
  libs/ui-section-heading/src/style.css
  libs/ui-section-heading/tailwind.config.js
Due: none

chore(ui-section-heading): adiciona configs pra deploy NPM
  .gitlab-ci.yml
  libs/ui-section-heading/project.json
Due: none

chore(ui-section-heading): adiciona script typecheck ao project.json
  libs/ui-section-heading/project.json
Due: none

refactor(ui-card): card-label: refactor in the logic of iconName
  libs/ui-card/src/components/card/card-label/card-label.tsx
Due: test, component-test

refactor(ui-card): hat-title: changing variant name
  libs/ui-card/src/components/card/card-hat/card-hat-title.variants.tsx
  libs/ui-card/src/components/card/card-hat/card-hat.stories.tsx
Due: test, component-test

feat(ui-card): title: adding md fontsize
  libs/ui-card/src/components/card/card-title/card-title.variants.ts
Due: test

refactor(ui-card): hat-image: added width and height
  libs/ui-card/src/components/card/card-hat/card-hat-image.tsx
Due: test, component-test

test(ui-card): updating snapshots
  libs/ui-card/src/components/card/__image_snapshots__/Card should render default card #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatImage should render hat image #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatTitle should render all color variants of title #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatTitle should render hat #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatWrapper should render hat image and hat title composition #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatWrapper should render type variant composition #0.png
  libs/ui-card/src/components/card/card-image/__image_snapshots__/CardImage should render all format variants #0.png
  libs/ui-card/src/components/card/card-image/__image_snapshots__/CardImage should render default image #0.png
  libs/ui-card/src/components/card/card-image/__image_snapshots__/CardImage should render image with shadow #0.png
  libs/ui-card/src/components/card/card-label/__image_snapshots__/CardLabel should render all other type variants #0.png
  libs/ui-card/src/components/card/card-label/__image_snapshots__/CardLabel should render type sponsored-by variant #0.png
  libs/ui-card/src/components/card/card-title/__image_snapshots__/CardTitle should render all color variants #0.png
  libs/ui-card/src/components/card/card-title/__image_snapshots__/CardTitle should render all fontStyle variants in desktop #0.png
  libs/ui-card/src/components/card/card-title/__image_snapshots__/CardTitle should render all fontStyle variants in mobile #0.png
Due: none

chore(ui-section-heading): adiciona @testing-library/cypress nos types do tsconfig do cypress
  libs/ui-section-heading/cypress/tsconfig.json
Due: none

chore(ui-section-heading): adiciona quiet=true no ci do cypress no project.json
  libs/ui-section-heading/project.json
Due: none

refactor(ui-card): hat-wrapper and title: changing prop name
  libs/ui-card/src/components/card/card-hat/card-hat-wrapper.variants.tsx
  libs/ui-card/src/components/card/card-hat/card-hat.cy.tsx
  libs/ui-card/src/components/card/card-hat/card-hat.stories.tsx
  libs/ui-card/src/components/card/card-title/card-title.cy.tsx
Due: test, component-test

feat: renaming alt-bullet to bullet
  libs/ui-base-components/src/components/alt-bullet/index.ts
  libs/ui-base-components/src/components/bullet/__image_snapshots__/Bullet render all size variants #0.png
  libs/ui-base-components/src/components/bullet/bullet.cy.tsx
  libs/ui-base-components/src/components/bullet/bullet.stories.tsx
  libs/ui-base-components/src/components/bullet/bullet.tsx
  libs/ui-base-components/src/components/bullet/bullet.variants.ts
  libs/ui-base-components/src/components/bullet/index.ts
  libs/ui-base-components/src/index.ts
Due: test, component-test

chore(ui-header-delivery): release version 2.0.0
  libs/ui-header-delivery/CHANGELOG.md
  libs/ui-header-delivery/package.json
Due: none

fix(ui-base-components): adjusting bullet tests
  libs/ui-base-components/src/components/bullet/bullet.cy.tsx
Due: test, component-test

chore(ui-voting-components): adding svgr to vite config
  libs/ui-voting-components/vite.config.ts
Due: test

chore(libs): move section-heading pra nova lib ui-section-heading
  .gitlab-ci.yml
  libs/ui-base-components/src/index.ts
  libs/ui-section-heading/.eslintrc.json
  libs/ui-section-heading/README.md
  libs/ui-section-heading/cypress.config.ts
  libs/ui-section-heading/cypress/fixtures/example.json
  libs/ui-section-heading/cypress/support/commands.ts
  libs/ui-section-heading/cypress/support/component-index.html
  libs/ui-section-heading/cypress/support/component.ts
  libs/ui-section-heading/cypress/tsconfig.json
  libs/ui-section-heading/jest.config.ts
  libs/ui-section-heading/package.json
  libs/ui-section-heading/postcss.config.js
  libs/ui-section-heading/project.json
  libs/ui-section-heading/src/components/section-heading/__image_snapshots__/SectionHeading - Image should match desktop image with image as title #0.png
  libs/ui-section-heading/src/components/section-heading/__image_snapshots__/SectionHeading - Image should match mobile image with image as title #0.png
  libs/ui-section-heading/src/components/section-heading/__image_snapshots__/SectionHeading - Title should match desktop image with text as title #0.png
  libs/ui-section-heading/src/components/section-heading/__image_snapshots__/SectionHeading - Title should match mobile image with text as title #0.png
  libs/ui-section-heading/src/components/section-heading/index.tsx
  libs/ui-section-heading/src/components/section-heading/section-heading-image/section-heading-image.tsx
  libs/ui-section-heading/src/components/section-heading/section-heading-line/section-heading-line.tsx
  libs/ui-section-heading/src/components/section-heading/section-heading-tag/section-heading-tag.tsx
  libs/ui-section-heading/src/components/section-heading/section-heading-tags/section-heading-tags.tsx
  libs/ui-section-heading/src/components/section-heading/section-heading-title/section-heading-title.tsx
  libs/ui-section-heading/src/components/section-heading/section-heading.cy.tsx
  libs/ui-section-heading/src/components/section-heading/section-heading.stories.tsx
  libs/ui-section-heading/src/components/section-heading/section-heading.tsx
  libs/ui-section-heading/src/index.ts
  libs/ui-section-heading/src/style.css
  libs/ui-section-heading/tailwind.config.js
  libs/ui-section-heading/tsconfig.json
  libs/ui-section-heading/tsconfig.lib.json
  libs/ui-section-heading/tsconfig.spec.json
  libs/ui-section-heading/vite.config.ts
  tsconfig.base.json
Due: test, component-test

chore(ui-section-heading): release version 0.0.1-alpha.0
  libs/ui-section-heading/CHANGELOG.md
  libs/ui-section-heading/package.json
Due: none

chore(ui-section-heading): release version 0.1.0
  libs/ui-section-heading/CHANGELOG.md
  libs/ui-section-heading/package.json
Due: none

refactor(ui-voting-components): moves storybook stories to a Voting group
  libs/ui-voting-components/src/components/avatar/avatar.stories.tsx
  libs/ui-voting-components/src/components/bullet/bullet.stories.tsx
  libs/ui-voting-components/src/components/card-status/card-status.stories.tsx
  libs/ui-voting-components/src/components/disclaimer/disclaimer.stories.tsx
  libs/ui-voting-components/src/components/snackbar/snackbar.stories.tsx
Due: test, component-test

refactor(ui-base-components): moves storybook stories to a Base group
  libs/ui-base-components/src/components/bullet/bullet.stories.tsx
  libs/ui-base-components/src/components/button/button.stories.tsx
  libs/ui-base-components/src/components/chips/chips.stories.tsx
  libs/ui-base-components/src/components/icon-button/icon-button.stories.tsx
  libs/ui-base-components/src/components/subtitle/subtitle.stories.tsx
  libs/ui-base-components/src/components/svg-icon/svg-icon.stories.tsx
  libs/ui-base-components/src/components/text/text.stories.tsx
  libs/ui-base-components/src/components/title/title.stories.tsx
  libs/ui-base-components/src/components/toggle/toggle.stories.tsx
  libs/ui-base-components/src/components/tooltip/tooltip.stories.tsx
Due: test, component-test

refactor(storybook): moves voting and base components to a Voting and Base group
  libs/ui-base-components/src/components/bullet/bullet.stories.tsx
  libs/ui-base-components/src/components/button/button.stories.tsx
  libs/ui-base-components/src/components/chips/chips.stories.tsx
  libs/ui-base-components/src/components/icon-button/icon-button.stories.tsx
  libs/ui-base-components/src/components/subtitle/subtitle.stories.tsx
  libs/ui-base-components/src/components/svg-icon/svg-icon.stories.tsx
  libs/ui-base-components/src/components/text/text.stories.tsx
  libs/ui-base-components/src/components/title/title.stories.tsx
  libs/ui-base-components/src/components/toggle/toggle.stories.tsx
  libs/ui-base-components/src/components/tooltip/tooltip.stories.tsx
  libs/ui-voting-components/src/components/avatar/avatar.stories.tsx
  libs/ui-voting-components/src/components/bullet/bullet.stories.tsx
  libs/ui-voting-components/src/components/card-status/card-status.stories.tsx
  libs/ui-voting-components/src/components/disclaimer/disclaimer.stories.tsx
  libs/ui-voting-components/src/components/snackbar/snackbar.stories.tsx
Due: test, component-test

chore(demo-ui-components): update demo signature
  apps/demo-ui-components/src/app/app.tsx
  apps/demo-ui-components/src/app/routes/ui-article-delivery.tsx
Due: test, component-test

test(signature): add tests to signature component
  libs/ui-article-delivery/src/components/signature/signature.cy.tsx
Due: test, component-test

docs(signature): add stories to signature component
  libs/ui-article-delivery/src/components/signature/signature.stories.tsx
Due: test, component-test

feat(signature): add signature component
  libs/ui-article-delivery/cypress.config.ts
  libs/ui-article-delivery/cypress/fixtures/example.json
  libs/ui-article-delivery/cypress/support/commands.ts
  libs/ui-article-delivery/cypress/support/component-index.html
  libs/ui-article-delivery/cypress/support/component.ts
  libs/ui-article-delivery/cypress/support/style.css
  libs/ui-article-delivery/cypress/tsconfig.json
  libs/ui-article-delivery/postcss.config.js
  libs/ui-article-delivery/project.json
  libs/ui-article-delivery/src/components/signature/__image_snapshots__/Signature should render agencyImageUrl prop #0.diff.png
  libs/ui-article-delivery/src/components/signature/__image_snapshots__/Signature should render agencyImageUrl prop #0.png
  libs/ui-article-delivery/src/components/signature/__image_snapshots__/Signature should render updated time #0.diff.png
  libs/ui-article-delivery/src/components/signature/__image_snapshots__/Signature should render updated time #0.png
  libs/ui-article-delivery/src/components/signature/signature-agency/signature-agency.tsx
  libs/ui-article-delivery/src/components/signature/signature-content/signature-content.tsx
  libs/ui-article-delivery/src/components/signature/signature-date/signature-date.tsx
  libs/ui-article-delivery/src/components/signature/signature-info/signature-info.tsx
  libs/ui-article-delivery/src/components/signature/signature.tsx
  libs/ui-article-delivery/src/components/signature/utils/formatDate.test.ts
  libs/ui-article-delivery/src/components/signature/utils/formatDate.ts
  libs/ui-article-delivery/src/index.ts
  libs/ui-article-delivery/src/style.css
  libs/ui-article-delivery/tailwind.config.js
  libs/ui-article-delivery/tsconfig.json
  libs/ui-article-delivery/tsconfig.lib.json
Due: test, component-test

feat(font-size-changer): added size structure
  apps/admin/src/app/app.tsx
  libs/ui-base-components/src/components/font-size-changer/font-size-changer-root/font-size-changer.tsx
  libs/ui-base-components/src/components/font-size-changer/index.ts
  libs/ui-base-components/src/components/font-size-changer/readme.md
  libs/ui-base-components/src/index.ts
  libs/ui-base-components/tsconfig.json
Due: test, component-test

refactor(signature): improve code with the correct images and structure in demo app
  apps/demo-ui-components/src/app/routes/ui-article-delivery.tsx
  libs/ui-article-delivery/src/components/signature/__image_snapshots__/Signature should render agencyImageUrl prop #0.diff.png
  libs/ui-article-delivery/src/components/signature/__image_snapshots__/Signature should render updated time #0.diff.png
  libs/ui-article-delivery/src/components/signature/signature-info/signature-info.tsx
  package.json
  yarn.lock
Due: test, component-test

test(signature): update image snapshot
  libs/ui-article-delivery/src/components/signature/__image_snapshots__/Signature should render agencyImageUrl prop #0.png
Due: none

test(signature): fix timezone to CI tests
  .gitlab-ci.yml
  libs/ui-article-delivery/project.json
  libs/ui-article-delivery/src/components/signature/__image_snapshots__/Signature should render agencyImageUrl prop #0.png
  libs/ui-article-delivery/src/components/signature/__image_snapshots__/Signature should render updated time #0.png
  libs/ui-article-delivery/src/components/signature/signature-agency/signature-agency.tsx
  libs/ui-article-delivery/src/components/signature/utils/formatDate.test.ts
Due: test, component-test

test(signature): remove watch config
  libs/ui-article-delivery/project.json
Due: none

feat(font0size-changer): created styles and defined rules
  .eslintrc.json
  apps/admin/src/app/app.tsx
  libs/ui-base-components/src/components/font-size-changer/font-size-changer-decrease/font-size-changer-decrease.tsx
  libs/ui-base-components/src/components/font-size-changer/font-size-changer-decrease/index.ts
  libs/ui-base-components/src/components/font-size-changer/font-size-changer-increase/font-size-changer-increase.tsx
  libs/ui-base-components/src/components/font-size-changer/font-size-changer-increase/index.ts
  libs/ui-base-components/src/components/font-size-changer/font-size-changer-root/font-size-changer-root.tsx
  libs/ui-base-components/src/components/font-size-changer/font-size-changer-root/font-size-changer.tsx
  libs/ui-base-components/src/components/font-size-changer/font-size-changer-root/index.ts
  libs/ui-base-components/src/components/font-size-changer/font-size-changer.variants.ts
  libs/ui-base-components/src/components/font-size-changer/utils/index.ts
  libs/ui-base-components/src/components/font-size-changer/utils/utils.ts
  libs/ui-theme-core/src/tailwind-preset.js
Due: test, component-test

test(signature): set timezone to formatDate function
  .gitlab-ci.yml
  libs/ui-article-delivery/jest.config.ts
  libs/ui-article-delivery/src/components/signature/utils/formatDate.ts
Due: test

Path conditions:
  storybook: any of: *.stories.tsx
  test: any of: */**/*.tsx, */**/*.ts
  component-test: any of: */**/*.tsx
