Repository r7com/front-monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ui-components-admin build, ui-components-admin test, ui-components-admin e2e, admin build, admin test, voting build, voting test

ui-components-admin build:
  stage: build
  script:
  - yarn nx build ui-components-admin

ui-components-admin test:
  stage: test
  script:
  - yarn nx test ui-components-admin

ui-components-admin e2e:
  stage: e2e
  image: cypress/browsers:node18.12.0-chrome107
  script:
  - apt-get update && apt-get install -y xvfb
  - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
  - export DISPLAY=:99
  - yarn nx component-test ui-components-admin --graph=output.html
  artifacts:
    when: always
    paths:
  ...

admin build:
  stage: build
  needs:
  - ui-components-admin build
  script:
  - yarn nx build admin

admin test:
  stage: test
  script:
  - yarn nx test admin

voting build:
  stage: build
  needs:
  - ui-components-admin build
  script:
  - yarn nx build voting

voting test:
  stage: test
  script:
  - yarn nx test voting
  environment: production

trigger
  libs/ui-components-admin/.storybook/main.ts
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

trigger
  libs/ui-components-admin/.storybook/main.ts
  output.html
  static/3rdpartylicenses.txt
  static/environment.js
  static/favicon.ico
  static/main.js
  static/polyfills.js
  static/runtime.js
  static/styles.css
  static/styles.js
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

trigger
  apps/admin/src/app/app.spec.tsx
  apps/voting/src/app/app.spec.tsx
  libs/ui-components-admin/.storybook/main.ts
  output.html
  static/3rdpartylicenses.txt
  static/environment.js
  static/favicon.ico
  static/main.js
  static/polyfills.js
  static/runtime.js
  static/styles.css
  static/styles.js
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

test admin
  apps/admin/src/app/app.tsx
Due: admin build, admin test

teste
  apps/admin/src/app/app.tsx
Due: admin build, admin test

variacoes de cor, formato, bordas, etc para botoes
  apps/admin/src/app/app.tsx
  libs/ui-components-admin/src/components/button/button.tsx
  libs/ui-theme-core/src/tailwind-preset.js
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e, admin build, admin test

Começando componente disclaimer
  libs/ui-components-admin/src/components/disclaimer/button.cy.tsx
  libs/ui-components-admin/src/components/disclaimer/button.stories.tsx
  libs/ui-components-admin/src/components/disclaimer/disclaimer.tsx
  libs/ui-components-admin/src/components/disclaimer/index.ts
  libs/ui-components-admin/src/index.ts
  libs/ui-components-admin/src/svg/disclaimer.svg
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

configuracoes para importar todos os atributos de elementos svg trocando nvmrc para lts
  .nvmrc
  apps/admin/src/app/app.tsx
  apps/admin/webpack.config.js
  apps/voting/webpack.config.js
  libs/ui-components-admin/src/components/button/button.tsx
  libs/ui-components-admin/src/components/svg-icon/svg-icon.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e, admin build, admin test, voting build, voting test

Alterações no componente disclaimer
  libs/ui-components-admin/src/components/disclaimer/disclaimer.cy.tsx
  libs/ui-components-admin/src/components/disclaimer/disclaimer.stories.tsx
  libs/ui-components-admin/src/components/disclaimer/disclaimer.tsx
  libs/ui-components-admin/src/svg/disclaimer.svg
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

criando a estrutura inicial
  apps/voting/src/app/app.tsx
  apps/voting/src/style.css
  libs/ui-components-admin/src/components/tooltip/index.ts
  libs/ui-components-admin/src/components/tooltip/tooltip.tsx
  libs/ui-components-admin/src/index.ts
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e, voting build, voting test

Ajustes finais do disclaimer
  libs/ui-components-admin/src/components/disclaimer/__image_snapshots__/Disclaimer should match the snapshot #0.png
  libs/ui-components-admin/src/components/disclaimer/button.cy.tsx
  libs/ui-components-admin/src/components/disclaimer/button.stories.tsx
  libs/ui-components-admin/src/components/disclaimer/disclaimer.cy.tsx
  libs/ui-components-admin/src/components/disclaimer/disclaimer.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

criando a variacao da esquerdaa
  apps/voting/src/app/app.tsx
  libs/ui-components-admin/src/components/tooltip/tooltip.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e, voting build, voting test

correções no disclaimer
  libs/ui-components-admin/src/components/disclaimer/disclaimer.cy.tsx
  libs/ui-components-admin/src/components/disclaimer/disclaimer.tsx
  libs/ui-components-admin/src/svg/circle-info.svg
  libs/ui-components-admin/src/svg/disclaimer.svg
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

criado duas variacoes left and top
  apps/voting/src/app/app.tsx
  libs/ui-components-admin/src/components/tooltip/tooltip.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e, voting build, voting test

criado a variacao do bottom
  apps/voting/src/app/app.tsx
  libs/ui-components-admin/src/components/tooltip/tooltip.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e, voting build, voting test

Disclaimer
  libs/ui-components-admin/src/components/disclaimer/__image_snapshots__/Disclaimer should match the snapshot #0.png
  libs/ui-components-admin/src/components/disclaimer/disclaimer.cy.tsx
  libs/ui-components-admin/src/components/disclaimer/disclaimer.stories.tsx
  libs/ui-components-admin/src/components/disclaimer/disclaimer.tsx
  libs/ui-components-admin/src/components/disclaimer/index.ts
  libs/ui-components-admin/src/index.ts
  libs/ui-components-admin/src/svg/circle-info.svg
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

melhorando a centralizacao do componente
  apps/voting/src/app/app.tsx
  libs/ui-components-admin/src/components/tooltip/tooltip.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e, voting build, voting test

criado todas as variacoes
  apps/voting/src/app/app.tsx
  libs/ui-components-admin/src/components/tooltip/tooltip.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e, voting build, voting test

ajustando os testes do cypess
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip render Tooltip #0.png
  libs/ui-components-admin/src/components/tooltip/tooltip.cy.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

feat: implementação inicial do componente de avatar e suas variantes
  apps/admin/src/app/app.tsx
  libs/ui-components-admin/src/components/avatar/avatar.cy.tsx
  libs/ui-components-admin/src/components/avatar/avatar.stories.tsx
  libs/ui-components-admin/src/components/avatar/avatar.tsx
  libs/ui-components-admin/src/components/avatar/index.ts
  libs/ui-components-admin/src/components/button/__image_snapshots__/Button renders as button #0.png
  libs/ui-components-admin/src/components/button/__image_snapshots__/Button renders as link #0.png
  libs/ui-components-admin/src/index.ts
  yarn.lock
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e, admin build, admin test

test: snapshots gerados pelos testes do componente de avatar
  libs/ui-components-admin/src/components/avatar/__image_snapshots__/Avatar renders avatar enumerator variant #0.png
  libs/ui-components-admin/src/components/avatar/__image_snapshots__/Avatar renders avatar enumerator variant with default value +1 #0.png
  libs/ui-components-admin/src/components/avatar/__image_snapshots__/Avatar renders avatar with image variant #0.png
  libs/ui-components-admin/src/components/avatar/__image_snapshots__/Avatar should renders avatar with image variant #0.png
  libs/ui-components-admin/src/components/avatar/__image_snapshots__/Avatar should renders avatar with image variant with determined source #0.png
  libs/ui-components-admin/src/components/avatar/__image_snapshots__/Avatar should renders avatar with image variant with fallback image #0.png
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

fix: removendo import não utilizado
  apps/admin/src/app/app.tsx
Due: admin build, admin test

feat: Desenvolvimento do componente de status
  libs/ui-components-admin/src/components/card-status/button.stories.tsx
  libs/ui-components-admin/src/components/card-status/card-status.cy.tsx
  libs/ui-components-admin/src/components/card-status/card-status.tsx
  libs/ui-components-admin/src/components/card-status/index.ts
  libs/ui-components-admin/src/index.ts
  libs/ui-components-admin/src/svg/error.svg
  libs/ui-components-admin/src/svg/helper.svg
  libs/ui-components-admin/src/svg/info.svg
  libs/ui-components-admin/src/svg/success.svg
  libs/ui-components-admin/src/svg/waiting.svg
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

test: correções nos testes do componente avatar
  libs/ui-components-admin/src/components/avatar/avatar.cy.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

fix: Remoção de classe desnecessária
  libs/ui-components-admin/src/components/card-status/card-status.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

ajuste no componente e teste
  libs/ui-components-admin/.storybook/main.ts
  libs/ui-components-admin/.storybook/preview.ts
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip render Tooltip #0.png
  libs/ui-components-admin/src/components/tooltip/tooltip.cy.tsx
  libs/ui-components-admin/src/components/tooltip/tooltip.stories.tsx
  libs/ui-components-admin/src/components/tooltip/tooltip.tsx
  package.json
  yarn.lock
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

componente snackbar com testes cypress e storybook
  libs/ui-components-admin/.storybook/preview.ts
  libs/ui-components-admin/src/components/snackbar/__image_snapshots__/Snackbar render snackbar alert #0.png
  libs/ui-components-admin/src/components/snackbar/__image_snapshots__/Snackbar render snackbar default #0.png
  libs/ui-components-admin/src/components/snackbar/__image_snapshots__/Snackbar render snackbar success #0.png
  libs/ui-components-admin/src/components/snackbar/__image_snapshots__/Snackbar render snackbar warning #0.png
  libs/ui-components-admin/src/components/snackbar/index.ts
  libs/ui-components-admin/src/components/snackbar/snackbar.cy.tsx
  libs/ui-components-admin/src/components/snackbar/snackbar.stories.tsx
  libs/ui-components-admin/src/components/snackbar/snackbar.tsx
  libs/ui-components-admin/src/index.ts
  libs/ui-components-admin/src/svg/circle-info.svg
  libs/ui-components-admin/src/svg/github.svg
  libs/ui-components-admin/src/svg/snackbar-alert.svg
  libs/ui-components-admin/src/svg/snackbar-close.svg
  libs/ui-components-admin/src/svg/snackbar-success.svg
  libs/ui-components-admin/src/svg/snackbar-warning.svg
  package.json
  yarn.lock
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

funcionalidade de notificacao
  apps/admin/src/app/app.tsx
  apps/admin/src/bootstrap.tsx
  libs/ui-components-admin/src/components/snackbar/context/notification-context.ts
  libs/ui-components-admin/src/components/snackbar/hook/use-notifications.ts
  libs/ui-components-admin/src/components/snackbar/provider/notification-provider.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e, admin build, admin test

conflitos
  libs/ui-components-admin/src/components/snackbar/index.ts
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

removendo import do snackbar, usado apenas no notification provider
  libs/ui-components-admin/src/components/snackbar/index.ts
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

removendo funcionalidade notification
  apps/admin/src/app/app.tsx
  apps/admin/src/bootstrap.tsx
  libs/ui-components-admin/src/components/snackbar/context/notification-context.ts
  libs/ui-components-admin/src/components/snackbar/hook/use-notifications.ts
  libs/ui-components-admin/src/components/snackbar/index.ts
  libs/ui-components-admin/src/components/snackbar/provider/notification-provider.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e, admin build, admin test

apagando codigo nao usado
  apps/admin/src/app/app.tsx
Due: admin build, admin test

test: Desenvolvimento de teste do componente
  libs/ui-components-admin/src/components/card-status/card-status.cy.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

Path conditions:
  ui-components-admin build: (any of: libs/ui-components-admin/**/*) and (not (any of: libs/ui-components-admin/**/*.{json,md}, libs/ui-components-admin/**/*.test.{js,ts,jsx,tsx}, libs/ui-components-admin/**/*.spec.{js,ts,jsx,tsx}))
  ui-components-admin test: (any of: libs/ui-components-admin/**/*) and (not (any of: libs/ui-components-admin/**/*.{json,md}, libs/ui-components-admin/**/*.test.{js,ts,jsx,tsx}, libs/ui-components-admin/**/*.spec.{js,ts,jsx,tsx}))
  ui-components-admin e2e: (any of: libs/ui-components-admin/**/*) and (not (any of: libs/ui-components-admin/**/*.{json,md}, libs/ui-components-admin/**/*.test.{js,ts,jsx,tsx}, libs/ui-components-admin/**/*.spec.{js,ts,jsx,tsx}))
  admin build: (any of: apps/admin/**/*) and (not (any of: apps/admin/**/*.{json,md}, apps/admin/**/*.test.{js,ts,jsx,tsx}, apps/admin/**/*.spec.{js,ts,jsx,tsx}))
  admin test: (any of: apps/admin/**/*) and (not (any of: apps/admin/**/*.{json,md}, apps/admin/**/*.test.{js,ts,jsx,tsx}, apps/admin/**/*.spec.{js,ts,jsx,tsx}))
  voting build: (any of: apps/voting/**/*) and (not (any of: apps/voting/**/*.{json,md}, apps/voting/**/*.test.{js,ts,jsx,tsx}, apps/voting/**/*.spec.{js,ts,jsx,tsx}))
  voting test: (any of: apps/voting/**/*) and (not (any of: apps/voting/**/*.{json,md}, apps/voting/**/*.test.{js,ts,jsx,tsx}, apps/voting/**/*.spec.{js,ts,jsx,tsx}))
