Repository r7com/front-monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: storybook, test, component-test

.gitlab-ci.yml:

variables:
  NODE_VERSION: node:18
  CI: 'true'
  GIT_DEPTH: 0

image: $NODE_VERSION

stages:
  - test
  - deploy
  - storybook

.distributed:
  interruptible: true
  tags:
    - gitlab-runner-ec2
  only:
    - main
    - merge_requests
  cache:
    key:
      files:
        - yarn.lock
    paths:
      - '.yarn-cache/'
      - cache/Cypress
  before_script:
    - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
    - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
    - NX_HEAD=$CI_COMMIT_SHA

storybook:
  extends: .distributed
  stage: storybook
  script:
    - yarn nx build-storybook vision-components
    - ls -la dist/apps/vision-components
  only:
    refs:
      - main
      - merge_requests
    changes:
      - '*.stories.tsx'
test:
  stage: test
  extends: .distributed
  script:
    - npx nx affected --base=$NX_BASE --head=$NX_HEAD -t test --parallel=3 --configuration=ci
  only:
    refs:
      - main
      - merge_requests
    changes:
      - '*/**/*.tsx'
      - '*/**/*.ts'

component-test:
  image: cypress/browsers:node18.12.0-chrome106-ff106
  stage: test
  extends: .distributed
  script:
    - apt-get update && apt-get install -y xvfb
    - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
    - export DISPLAY=:99
    - CHANGED_FOLDERS=$(git diff --dirstat=files,0 -w --name-only origin/${CI_DEFAULT_BRANCH} $CI_COMMIT_SHA -- '**/components/**' | sed 's:/[^/]*$:/\*:' | paste -sd ',')
    # CHANGED_FOLDERS:
    # Check which folders were modified until the last commit with main
    # only display component folders modified with pattern '/*,' from the cypress spec pattern
    - echo $CHANGED_FOLDERS
    - npx nx affected --base=$NX_BASE --head=$NX_HEAD -t component-test --parallel=3 --configuration=ci --spec "${CHANGED_FOLDERS}"
  only:
    refs:
      - main
      - merge_requests
    changes:
      - '*/**/*.tsx'
  artifacts:
    when: on_failure
    paths:
      - dist/cypress
    expire_in: 1 day

deploy ui-form-components:
  stage: deploy
  extends: .distributed
  script:
    - yarn nx build ui-form-components
    - yarn nx build-css ui-form-components
    - cd ./dist/libs/ui-form-components
    - echo "@r7:registry=https://registry.npmjs.org/" > .npmrc
    - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> .npmrc
    - npm publish
  only:
    refs:
      - /ui-form-components\-.*/

deploy ui-base-components:
  stage: deploy
  extends: .distributed
  script:
    - yarn nx build ui-base-components
    - yarn nx build-css ui-base-components
    - cd ./dist/libs/ui-base-components
    - echo "@r7:registry=https://registry.npmjs.org/" > .npmrc
    - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> .npmrc
    - npm publish
  only:
    refs:
      - /ui-base-components\-.*/

deploy ui-footer-delivery:
  stage: deploy
  extends: .distributed
  script:
    - yarn nx build ui-footer-delivery
    - yarn nx build-css ui-footer-delivery
    - cd ./dist/libs/ui-footer-delivery
    - echo "@r7:registry=https://registry.npmjs.org/" > .npmrc
    - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> .npmrc
    - npm publish
  only:
    refs:
      - /ui-footer-delivery\-.*/

chore: inicializando o estado do MenuProvider com string vazia
  libs/ui-header-delivery/src/components/menu/providers/menu-provider.tsx
Due: test, component-test

chore: formatando callback do MenuItem
  libs/ui-header-delivery/src/components/menu/menu-item/menu-item.tsx
Due: test, component-test

ci: added deply ui-card script
  .gitlab-ci.yml
Due: none

feat: initial files for each subcomponent of card component
  libs/ui-card/src/components/card/card-hat/card-hat.tsx
  libs/ui-card/src/components/card/card-image/card-image.tsx
  libs/ui-card/src/components/card/card-label/card-label.tsx
  libs/ui-card/src/components/card/card-root/card-root.tsx
  libs/ui-card/src/components/card/card-title/card-title.tsx
  libs/ui-card/src/components/card/index.ts
  libs/ui-card/src/components/ui-card.spec.tsx
  libs/ui-card/src/components/ui-card.tsx
  libs/ui-card/src/index.ts
Due: test, component-test

test(ui-footer-delivery): add cypress configurations
  libs/ui-footer-delivery/cypress.config.ts
  libs/ui-footer-delivery/cypress/fixtures/example.json
  libs/ui-footer-delivery/cypress/support/commands.ts
  libs/ui-footer-delivery/cypress/support/component-index.html
  libs/ui-footer-delivery/cypress/support/component.ts
  libs/ui-footer-delivery/cypress/tsconfig.json
  libs/ui-footer-delivery/project.json
  libs/ui-footer-delivery/src/components/footer/footer.tsx
  libs/ui-footer-delivery/src/components/footer/index.ts
  libs/ui-footer-delivery/tsconfig.json
  libs/ui-footer-delivery/tsconfig.lib.json
Due: test, component-test

chore: apagando codigo nao utilizado
  libs/ui-header-delivery/src/components/header/header.tsx
  libs/ui-header-delivery/src/components/header/header.variants.ts
  libs/ui-header-delivery/src/components/menu/contexts/menu-context.tsx
  libs/ui-header-delivery/src/components/menu/hooks/use-active-item.ts
  libs/ui-header-delivery/src/components/menu/menu-list/menu-list.tsx
  libs/ui-header-delivery/src/components/menu/menu-root/menu-root.tsx
  libs/ui-header-delivery/src/components/menu/providers/menu-provider.tsx
Due: test, component-test

refactor: removendo submenu do item e ajustando os estilos
  libs/ui-header-delivery/src/components/menu/menu-item/menu-item.tsx
Due: test, component-test

chore: criando storybook para header com menu de navegacao
  libs/ui-header-delivery/src/components/header.stories.tsx
Due: test, component-test

style: ajuste na altura do header
  libs/ui-header-delivery/src/components/header/header.variants.ts
Due: test

test: criando testes para header com menu de navegacao
  libs/ui-header-delivery/src/components/__image_snapshots__/Header with menu navigation should be visible with desktop viewport #0.png
  libs/ui-header-delivery/src/components/header.cy.tsx
Due: test, component-test

feat: card title component with dynamic tag
  libs/ui-card/src/components/card/card-title/card-title.tsx
Due: test, component-test

chore: added typecheck script
  libs/ui-card/project.json
Due: none

refactor: removing mock from card root component
  libs/ui-card/src/components/card/card-root/card-root.tsx
Due: test, component-test

fix: added new props within components
  libs/ui-footer-delivery/src/components/institutional/institutional-link/institucional-link.tsx
Due: test, component-test

fix: changes typescript rules
  libs/ui-footer-delivery/src/components/institutional/institutional-link/institucional-link.tsx
  libs/ui-footer-delivery/src/components/institutional/institutional.cy.tsx
  libs/ui-footer-delivery/src/components/institutional/institutional.stories.tsx
Due: test, component-test

refactor: separando MenuItem e MenuLink
  libs/ui-header-delivery/src/components/header.cy.tsx
  libs/ui-header-delivery/src/components/header.stories.tsx
  libs/ui-header-delivery/src/components/menu/index.ts
  libs/ui-header-delivery/src/components/menu/menu-item/menu-item.tsx
  libs/ui-header-delivery/src/components/menu/menu-link/menu-link.tsx
  libs/ui-header-delivery/src/components/menu/menu-list/menu-list.tsx
Due: test, component-test

chore: trocando variavel editorialColor do header para bgColor
  libs/ui-header-delivery/src/components/header.stories.tsx
  libs/ui-header-delivery/src/components/header/header.tsx
Due: test, component-test

style: ajuste nos estilos da lista de menu
  libs/ui-header-delivery/src/components/menu/menu-item/menu-item.tsx
  libs/ui-header-delivery/src/components/menu/menu-link/menu-link.tsx
Due: test, component-test

ci: changes changed_folders variables
  .gitlab-ci.yml
  libs/ui-footer-delivery/src/components/institutional/institutional-root/institucional-root.tsx
Due: test, component-test

chore: trocando operador para validar cor customizada do header
  libs/ui-header-delivery/src/components/header/header.tsx
Due: test, component-test

chore: trocando '_self' por undefined por '_self' já é padrao
  libs/ui-header-delivery/src/components/menu/menu-link/menu-link.tsx
Due: test, component-test

chore: setting up tailwind in ui-card lib
  libs/ui-card/postcss.config.js
  libs/ui-card/src/style.css
  libs/ui-card/tailwind.config.js
Due: none

chore: added config to darkMode in tailwind preset
  libs/ui-theme-core/src/tailwind-preset.js
Due: none

chore: added script to build css with tailwind
  libs/ui-card/project.json
Due: none

feat: styling card title
  libs/ui-card/src/components/card/card-title/card-title.tsx
  libs/ui-card/src/components/card/card-title/card-title.variants.ts
Due: test, component-test

ci: update snapshot
  libs/ui-footer-delivery/src/components/institutional/__image_snapshots__/Institutional Footer should render Institutional Footer #0.png
  libs/ui-footer-delivery/src/components/institutional/__image_snapshots__/Institutional Footer should render mobile Institutional Footer #0.png
Due: none

fix: removed folder
  libs/ui-footer-delivery/src/components/institutional/__image_snapshots__/Institutional Footer should render Institutional Footer #0.png
  libs/ui-footer-delivery/src/components/institutional/__image_snapshots__/Institutional Footer should render mobile Institutional Footer #0.png
Due: none

ci: testando resolucao diferente para o chrome
  .gitlab-ci.yml
  libs/ui-header-delivery/src/components/header/header.tsx
Due: test, component-test

ci: added stage deploy
  .gitlab-ci.yml
  libs/ui-footer-delivery/project.json
Due: none

chore(ui-footer-delivery): release version 0.0.1-alpha.0
  libs/ui-base-components/CHANGELOG.md
  libs/ui-base-components/package.json
  libs/ui-footer-delivery/CHANGELOG.md
  libs/ui-footer-delivery/package.json
Due: none

chore(ui-footer-delivery): release version 0.0.1-alpha.0
  libs/ui-footer-delivery/CHANGELOG.md
Due: none

ci: bypass nos testes de component com screenshots
  libs/ui-base-components/project.json
  libs/ui-footer-delivery/project.json
  libs/ui-form-components/project.json
  libs/ui-header-delivery/project.json
Due: none

test: atualizando testes do header
  libs/ui-header-delivery/src/components/__image_snapshots__/Header with menu navigation should be visible with desktop viewport #0.png
  libs/ui-header-delivery/src/components/header.cy.tsx
Due: test, component-test

chore(ui-footer-delivery): release version 0.1.0
  libs/ui-footer-delivery/CHANGELOG.md
  libs/ui-footer-delivery/package.json
Due: none

chore(ui-footer-delivery): release version 0.1.1
  libs/ui-footer-delivery/CHANGELOG.md
  libs/ui-footer-delivery/package.json
Due: none

chore(ui-footer-delivery): release version 0.1.2
  libs/ui-footer-delivery/CHANGELOG.md
  libs/ui-footer-delivery/package.json
Due: none

chore: trocando nome do projeto front- monorepo/ui-header-delivery para r7/ui-header-delivery
  libs/ui-header-delivery/package.json
Due: none

refactor(ui-footer-delivery): remove html
  libs/ui-footer-delivery/index.html
Due: none

refactor(ui-footer-delivery): remove footer component
  apps/demo-ui-components/src/app/ui-footer-delivery/footer-mock.tsx
Due: test, component-test
