Repository r7com/front-monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build storybook, deploy storybook, test, component-test

build storybook:
  interruptible: true
  tags:
  - gitlab-runner-ec2
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - .yarn-cache/
    - cache/Cypress
  before_script:
  - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
  - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
  ...

deploy storybook:
  image:
    name: gitlab.ir7.com.br:5050/sre/docker-images/gitlab-runner-images:1.0.5
    entrypoint:
    - ''
  stage: deploy
  interruptible: true
  tags:
  - gitlab-runner-ec2
  script:
  - ls -la dist/apps/vision-components
  ...

test:
  interruptible: true
  tags:
  - gitlab-runner-ec2
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - .yarn-cache/
    - cache/Cypress
  before_script:
  - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
  - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
  ...

component-test:
  interruptible: true
  tags:
  - gitlab-runner-ec2
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - .yarn-cache/
    - cache/Cypress
  before_script:
  - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
  - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
  ...

chore: realocated articleProvider
  apps/demo-ui-components/src/app/app.tsx
  apps/demo-ui-components/src/app/routes/ui-article-delivery.tsx
Due: test, component-test

chore(yarn-lock): updates yarn.lock
  yarn.lock
Due: none

chore: realocated articleProvider
  libs/ui-article-delivery/src/utils/constants/constants.ts
  libs/ui-article-delivery/src/utils/provider/article-provider.tsx
Due: test, component-test

ci(tailwindcss): adds watch-css script to watch for changes and build tailwindcss automatically
  libs/ui-article-delivery/project.json
  libs/ui-base-components/project.json
  libs/ui-card/project.json
  libs/ui-footer-delivery/project.json
  libs/ui-form-components/project.json
  libs/ui-header-delivery/project.json
  libs/ui-layout/project.json
  libs/ui-layout/src/style.css
  libs/ui-layout/src/styles/styles.ts
  libs/ui-section-foot/project.json
  libs/ui-section-heading/project.json
  libs/ui-section-menu/project.json
  libs/ui-voting-components/project.json
Due: test

ci(watch-css): removes unnecessary single quote
  libs/ui-article-delivery/project.json
  libs/ui-base-components/project.json
  libs/ui-card/project.json
  libs/ui-footer-delivery/project.json
  libs/ui-form-components/project.json
  libs/ui-header-delivery/project.json
  libs/ui-layout/project.json
  libs/ui-section-foot/project.json
  libs/ui-section-heading/project.json
  libs/ui-section-menu/project.json
  libs/ui-voting-components/project.json
Due: none

chore: yarn.lock
  yarn.lock
Due: none

Feat: Typography
  apps/demo-ui-components/src/app/app.tsx
  apps/demo-ui-components/src/app/routes/ui-article-delivery.tsx
  libs/ui-article-delivery/src/utils/constants/constants.ts
  libs/ui-article-delivery/src/utils/context/article-context.ts
  libs/ui-article-delivery/src/utils/provider/article-provider.tsx
  libs/ui-base-components/src/components/paragraph/paragraph.variants.ts
  libs/ui-base-components/src/components/typography/__image_snapshots__/Typography using ClassName #0.png
  libs/ui-base-components/src/components/typography/__image_snapshots__/Typography using color #0.png
  libs/ui-base-components/src/components/typography/__image_snapshots__/Typography using fontFamily #0.png
  libs/ui-base-components/src/components/typography/__image_snapshots__/Typography using fontSize #0.png
  libs/ui-base-components/src/components/typography/__image_snapshots__/Typography using fontWeight #0.png
  libs/ui-base-components/src/components/typography/index.ts
  libs/ui-base-components/src/components/typography/mock/typography.css
  libs/ui-base-components/src/components/typography/typography.cy.tsx
  libs/ui-base-components/src/components/typography/typography.stories.tsx
  libs/ui-base-components/src/components/typography/typography.tsx
  libs/ui-base-components/src/components/typography/typography.variants.ts
  libs/ui-base-components/src/index.ts
Due: test, component-test

chore(ui-base-components): release version 0.6.0
  libs/ui-base-components/CHANGELOG.md
  libs/ui-base-components/package.json
Due: none

chore(ui-article-delivery): release version 0.4.2
  libs/ui-article-delivery/CHANGELOG.md
  libs/ui-article-delivery/package.json
Due: none

style: adding color presets to breaking-news bar theme
  libs/ui-theme-core/src/tailwind-preset.js
Due: none

feat: breaking-news bar with its variants and validations
  libs/ui-card/src/components/breaking-news-bar/breaking-news.tsx
  libs/ui-card/src/components/breaking-news-bar/breaking-news.variants.ts
Due: test, component-test

test: breaking-news bar tests with snapshots
  libs/ui-card/src/components/breaking-news-bar/__image_snapshots__/BreakingNews - With Image should render breaking news bar without image - desktop #0.png
  libs/ui-card/src/components/breaking-news-bar/__image_snapshots__/BreakingNews - With Image should render breaking news bar without image - mobile #0.png
  libs/ui-card/src/components/breaking-news-bar/__image_snapshots__/BreakingNews - Without Image should render breaking news bar without image - desktop #0.png
  libs/ui-card/src/components/breaking-news-bar/__image_snapshots__/BreakingNews - Without Image should render breaking news bar without image - mobile #0.png
  libs/ui-card/src/components/breaking-news-bar/breaking-news.cy.tsx
Due: test, component-test

docs: breaking-news storybook
  libs/ui-card/src/components/breaking-news-bar/breaking-news.stories.tsx
Due: test, component-test

chore: export breaking-news component
  libs/ui-card/src/components/breaking-news-bar/index.ts
  libs/ui-card/src/index.ts
Due: test

chore: add breaking-news bar to demo application
  apps/demo-ui-components/src/app/routes/ui-card.tsx
Due: test, component-test

feat(proportional-photo): new card/widget ProportionalPhoto
  libs/ui-card/src/components/proportional-photo/index.ts
  libs/ui-card/src/components/proportional-photo/proportional-photo.tsx
  libs/ui-card/src/index.ts
Due: test, component-test

feat(demo-ui): adds ProportionalPhoto card/wdiget on the demo with examples
  apps/demo-ui-components/src/app/routes/ui-card.tsx
Due: test, component-test

docs(storybook): updates two-cards-square-photo Figma url
  libs/ui-card/src/components/two-cards-square-photo/two-cards-square-photo.stories.tsx
Due: test, component-test

test(two-cards-square-photo): removes cy.debug()
  libs/ui-card/src/components/two-cards-square-photo/two-cards-square-photo.cy.tsx
Due: test, component-test

docs(storybook): adds storybook for ProportionalPhoto card/widget
  libs/ui-card/src/components/proportional-photo/proportional-photo.stories.tsx
Due: test, component-test

test(proportional-photo): adds tests for ProportionalPhoto card/widget
  libs/ui-card/src/components/proportional-photo/proportional-photo.cy.tsx
Due: test, component-test

docs(demo-ui): updates ProportionalPhoto mocks on the SpecialOne grid with prod examples
  apps/demo-ui-components/src/app/routes/ui-card.tsx
Due: test, component-test

refactor(ui-card): change breaking-news image props to imageUrl(string) and imageAlt(string)
  libs/ui-card/src/components/breaking-news-bar/breaking-news.cy.tsx
  libs/ui-card/src/components/breaking-news-bar/breaking-news.stories.tsx
  libs/ui-card/src/components/breaking-news-bar/breaking-news.tsx
Due: test, component-test

fix: remove favicon
  libs/ui-base-components/public/favicon.ico
Due: none

chore: fix tailwind variants
  libs/ui-theme-core/src/tailwind-preset.js
Due: none

chore: fix styles
  libs/ui-layout/cypress/support/component.ts
Due: test

chore(ui-header-delivery): release version 2.5.0
  libs/ui-header-delivery/CHANGELOG.md
  libs/ui-header-delivery/package.json
Due: none

chore: added variable css
  libs/ui-theme-core/src/tailwind-preset.js
Due: none

Feat/font family
  libs/ui-base-components/src/components/heading/heading.variants.ts
  libs/ui-base-components/src/components/paragraph/paragraph.tsx
  libs/ui-base-components/src/components/paragraph/paragraph.variants.ts
  libs/ui-base-components/src/components/subheading/subheading.variants.ts
  libs/ui-base-components/src/components/typography/typography.tsx
  libs/ui-base-components/src/components/typography/typography.variants.ts
  libs/ui-layout/cypress/support/component.ts
  libs/ui-theme-core/src/tailwind-preset.js
Due: test, component-test

chore(ui-base-components): release version 0.6.1
  libs/ui-base-components/CHANGELOG.md
  libs/ui-base-components/package.json
Due: none

chore(ui-base-components): release version 0.6.2
  libs/ui-base-components/CHANGELOG.md
  libs/ui-base-components/package.json
Due: none

feat(tailwind-preset): changing neutral-high-600 color
  libs/ui-theme-core/src/tailwind-preset.js
Due: none

chore(demo-app): fixing breaking-news bar demo
  apps/demo-ui-components/src/app/routes/ui-card.tsx
Due: test, component-test

feat(renderhat): changes the hat string prop to a renderHat React.Node
  apps/demo-ui-components/src/app/routes/ui-card.tsx
  libs/ui-card/src/components/proportional-photo/proportional-photo.stories.tsx
  libs/ui-card/src/components/proportional-photo/proportional-photo.tsx
Due: test, component-test

test(renderhat): updates the hat props to the renderHat
  libs/ui-card/src/components/proportional-photo/proportional-photo.cy.tsx
Due: test, component-test

Path conditions:
  build storybook: any of: *.stories.tsx
  deploy storybook: any of: *.stories.tsx
  test: any of: */**/*.tsx, */**/*.ts
  component-test: any of: */**/*.tsx
