Repository r7com/front-monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: storybook, test, component-test

.gitlab-ci.yml:

variables:
  NODE_VERSION: node:18
  CI: 'true'
  GIT_DEPTH: 0

image: $NODE_VERSION

stages:
  - test
  - deploy
  - storybook

.distributed:
  interruptible: true
  tags:
    - gitlab-runner-ec2
  only:
    - main
    - merge_requests
  cache:
    key:
      files:
        - yarn.lock
    paths:
      - '.yarn-cache/'
      - cache/Cypress
  before_script:
    - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
    - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
    - NX_HEAD=$CI_COMMIT_SHA

storybook:
  extends: .distributed
  stage: storybook
  script:
    - yarn nx build-storybook vision-components
    - ls -la dist/apps/vision-components
  only:
    refs:
      - main
      - merge_requests
    changes:
      - '*.stories.tsx'
test:
  stage: test
  extends: .distributed
  script:
    - npx nx affected --base=$NX_BASE --head=$NX_HEAD -t test --parallel=3 --configuration=ci
  only:
    refs:
      - main
      - merge_requests
    changes:
      - '*/**/*.tsx'
      - '*/**/*.ts'

component-test:
  image: cypress/browsers:node18.12.0-chrome106-ff106
  stage: test
  extends: .distributed
  script:
    - apt-get update && apt-get install -y xvfb
    - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
    - export DISPLAY=:99
    - CHANGED_FOLDERS=$(git diff --dirstat=files,0 -w --name-only origin/${CI_DEFAULT_BRANCH} $CI_COMMIT_SHA -- '**/components/**' | sed 's:/[^/]*$:/\*:' | paste -sd ',')
    # CHANGED_FOLDERS:
    # Check which folders were modified until the last commit with main
    # only display component folders modified with pattern '/*,' from the cypress spec pattern
    - echo $CHANGED_FOLDERS
    - npx nx affected --base=$NX_BASE --head=$NX_HEAD -t component-test --parallel=3 --configuration=ci --spec "${CHANGED_FOLDERS}"
  only:
    refs:
      - main
      - merge_requests
    changes:
      - '*/**/*.tsx'
  artifacts:
    when: on_failure
    paths:
      - dist/cypress
    expire_in: 1 day

deploy ui-form-components:
  stage: deploy
  extends: .distributed
  script:
    - yarn nx build ui-form-components
    - yarn nx build-css ui-form-components
    - cd ./dist/libs/ui-form-components
    - echo "@r7:registry=https://registry.npmjs.org/" > .npmrc
    - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> .npmrc
    - npm publish
  only:
    refs:
      - /ui-form-components\-.*/

deploy ui-base-components:
  stage: deploy
  extends: .distributed
  script:
    - yarn nx build ui-base-components
    - yarn nx build-css ui-base-components
    - cd ./dist/libs/ui-base-components
    - echo "@r7:registry=https://registry.npmjs.org/" > .npmrc
    - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> .npmrc
    - npm publish
  only:
    refs:
      - /ui-base-components\-.*/

deploy ui-footer-delivery:
  stage: deploy
  extends: .distributed
  script:
    - yarn nx build ui-footer-delivery
    - yarn nx build-css ui-footer-delivery
    - cd ./dist/libs/ui-footer-delivery
    - echo "@r7:registry=https://registry.npmjs.org/" > .npmrc
    - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> .npmrc
    - npm publish
  only:
    refs:
      - /ui-footer-delivery\-.*/

refactor: added isHome and new rules
  libs/ui-header-delivery/src/components/header/header-logo/header-logo.tsx
Due: test, component-test

refactor: new snapshoot and refactor test
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions header-search-form should only be visible after header-search-toggle click #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar search form should only be visible in small devices #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - desktop presentation #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - mobile presentation #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header Portal R7, sidebar-toggle button, navigation-menu, social-media share buttons and search-toggle button should be visible in large devices #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header R7-Logo, sidebar-toggle button, navigation-menu, social-media share buttons and search-toggle button should be visible in large devices #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header Sidebar-toggle button and Portal R7 should be visible in small devices #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header Sidebar-toggle button and R7-Logo should be visible in small devices #0.png
  libs/ui-header-delivery/src/components/header.cy.tsx
  libs/ui-voting-components/src/style.css
Due: test, component-test

fix: removed css
  libs/ui-voting-components/src/style.css
Due: none

chore(ui-header-delivery): release version 2.1.0
  libs/ui-header-delivery/CHANGELOG.md
  libs/ui-header-delivery/package.json
Due: none

feat: custom hook to detect scroll direction
  libs/ui-header-delivery/src/components/header/utils/hooks/use-scroll-direction.ts
Due: test

chore: header scroll fixed by scroll-direction and/or device size
  libs/ui-header-delivery/src/components/header/header-main-section/header-main-section.tsx
  libs/ui-header-delivery/src/components/header/header-main-section/header-main-section.variants.ts
Due: test, component-test

chore: adding header component demo-ui-components
  apps/demo-ui-components/src/app/app.tsx
Due: test, component-test

fix: update isFixed on scroll on header using window scroll event to prevent re-renders
  libs/ui-header-delivery/src/components/header/header-main-section/header-main-section.tsx
Due: test, component-test

feat: adding lineHeight values
  libs/ui-theme-core/src/tailwind-preset.js
Due: none

refactor: adding lineheight to tailwind and adjusting heading and paragraph components
  libs/ui-base-components/src/components/heading/heading.tsx
  libs/ui-base-components/src/components/heading/heading.variants.ts
  libs/ui-base-components/src/components/paragraph/__image_snapshots__/Text using color #0.png
  libs/ui-base-components/src/components/paragraph/__image_snapshots__/Text using fontFamily #0.png
  libs/ui-base-components/src/components/paragraph/__image_snapshots__/Text using fontSize #0.png
  libs/ui-base-components/src/components/paragraph/__image_snapshots__/Text using fontWeight #0.png
  libs/ui-base-components/src/components/paragraph/index.ts
  libs/ui-base-components/src/components/paragraph/paragraph.cy.tsx
  libs/ui-base-components/src/components/paragraph/paragraph.stories.tsx
  libs/ui-base-components/src/components/paragraph/paragraph.tsx
  libs/ui-base-components/src/components/paragraph/paragraph.variants.ts
  libs/ui-base-components/src/components/subheading/subheading.tsx
  libs/ui-base-components/src/components/subheading/subheading.variants.ts
  libs/ui-base-components/src/index.ts
  libs/ui-theme-core/src/tailwind-preset.js
Due: test, component-test

style: header top-0 fixed when scrolling
  libs/ui-header-delivery/src/components/header/header-main-section/header-main-section.variants.ts
Due: test

refactor: spliting window scroll detection and isFixed state for section header
  libs/ui-header-delivery/src/components/header/header-main-section/header-main-section.tsx
Due: test, component-test

refactor(ui-base-components): add prefix in base components - initial changes
  add-prefix-variants.js
  add-prefix.js
  libs/ui-base-components/src/components/bullet/bullet.tsx
  libs/ui-base-components/src/components/bullet/bullet.variants.ts
  libs/ui-base-components/src/components/button/button.variants.ts
  libs/ui-base-components/src/components/chips/chips.variants.ts
  libs/ui-base-components/src/components/subtitle/subtitle.variants.ts
  libs/ui-base-components/src/components/svg-icon/insert-root.tsx
  libs/ui-base-components/src/components/svg-icon/svg-icon.variants.ts
  libs/ui-base-components/src/components/text/text.cy.tsx
  libs/ui-base-components/src/components/text/text.variants.ts
  libs/ui-base-components/src/components/title/title.variants.ts
  libs/ui-base-components/src/components/toggle/toggle.tsx
  libs/ui-base-components/src/components/toggle/toggle.variants.ts
  libs/ui-base-components/src/components/tooltip/tooltip.cy.tsx
  libs/ui-base-components/src/components/tooltip/tooltip.variants.ts
  libs/ui-base-components/tailwind.config.js
Due: test, component-test

refactor(ui-base-components): add prefix
  add-prefix-variants.js
  add-prefix.js
  libs/ui-base-components/src/components/chips/chips.variants.ts
  libs/ui-base-components/src/components/icon-button/icon-button.tsx
  libs/ui-base-components/src/components/toggle/toggle.variants.ts
  libs/ui-base-components/src/components/tooltip/tooltip.stories.tsx
  libs/ui-base-components/src/components/tooltip/tooltip.variants.ts
Due: test, component-test

refactor(Header): removed the image prop and inserted the img tag that received the url
  libs/ui-header-delivery/CHANGELOG.md
  libs/ui-header-delivery/package.json
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions header-search-form should only be visible after header-search-toggle click #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar search form should only be visible in small devices #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - desktop presentation #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - mobile presentation #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header Portal R7, sidebar-toggle button, navigation-menu, social-media share buttons and search-toggle button should be visible in large devices #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header R7-Logo, sidebar-toggle button, navigation-menu, social-media share buttons and search-toggle button should be visible in large devices #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header Sidebar-toggle button and Portal R7 should be visible in small devices #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header Sidebar-toggle button and R7-Logo should be visible in small devices #0.png
  libs/ui-header-delivery/src/components/header.cy.tsx
  libs/ui-header-delivery/src/components/header.stories.tsx
  libs/ui-header-delivery/src/components/header/header-logo/header-logo.tsx
Due: test, component-test

chore(ui-header-delivery): release version 2.0.1
  libs/ui-header-delivery/CHANGELOG.md
  libs/ui-header-delivery/package.json
Due: none

chore(ui-header-delivery): release version 2.1.0
  libs/ui-header-delivery/CHANGELOG.md
Due: none

chore(ui-header-delivery): release version 2.1.1
  libs/ui-header-delivery/CHANGELOG.md
  libs/ui-header-delivery/package.json
Due: none

test: removing unused variant
  libs/ui-base-components/src/components/heading/heading.cy.tsx
  libs/ui-base-components/src/components/subheading/subheading.cy.tsx
Due: test, component-test

Nomenclaturas
  libs/ui-base-components/src/components/heading/__image_snapshots__/Title using size variations #0.png
  libs/ui-base-components/src/components/heading/heading.cy.tsx
  libs/ui-base-components/src/components/heading/heading.stories.tsx
  libs/ui-base-components/src/components/heading/heading.tsx
  libs/ui-base-components/src/components/heading/heading.variants.ts
  libs/ui-base-components/src/components/heading/index.ts
  libs/ui-base-components/src/components/paragraph/__image_snapshots__/Text using color #0.png
  libs/ui-base-components/src/components/paragraph/__image_snapshots__/Text using fontFamily #0.png
  libs/ui-base-components/src/components/paragraph/__image_snapshots__/Text using fontSize #0.png
  libs/ui-base-components/src/components/paragraph/__image_snapshots__/Text using fontWeight #0.png
  libs/ui-base-components/src/components/paragraph/index.ts
  libs/ui-base-components/src/components/paragraph/paragraph.cy.tsx
  libs/ui-base-components/src/components/paragraph/paragraph.stories.tsx
  libs/ui-base-components/src/components/paragraph/paragraph.tsx
  libs/ui-base-components/src/components/paragraph/paragraph.variants.ts
  libs/ui-base-components/src/components/subheading/__image_snapshots__/Subtitle using size variations #0.png
  libs/ui-base-components/src/components/subheading/index.ts
  libs/ui-base-components/src/components/subheading/subheading.cy.tsx
  libs/ui-base-components/src/components/subheading/subheading.stories.tsx
  libs/ui-base-components/src/components/subheading/subheading.tsx
  libs/ui-base-components/src/components/subheading/subheading.variants.ts
  libs/ui-base-components/src/components/subtitle/index.ts
  libs/ui-base-components/src/components/subtitle/subtitle.cy.tsx
  libs/ui-base-components/src/components/subtitle/subtitle.tsx
  libs/ui-base-components/src/components/subtitle/subtitle.variants.ts
  libs/ui-base-components/src/components/text/index.ts
  libs/ui-base-components/src/components/text/text.cy.tsx
  libs/ui-base-components/src/components/title/index.ts
  libs/ui-base-components/src/components/title/title.cy.tsx
  libs/ui-base-components/src/components/title/title.tsx
  libs/ui-base-components/src/components/title/title.variants.ts
  libs/ui-base-components/src/index.ts
  libs/ui-theme-core/src/tailwind-preset.js
Due: test, component-test

feat: update add prefix with support variants
  add-prefix.js
Due: none

refactor(ui-article-delivery): add prefix tailwind
  add-prefix-variants.js
  add-prefix.js
  libs/ui-article-delivery/src/components/accessibility-bar/accessibility-bar-list/accessibility-bar-list.tsx
  libs/ui-article-delivery/src/components/accessibility-bar/accessibility-bar.cy.tsx
  libs/ui-article-delivery/src/components/accessibility-bar/accessibility-bar.stories.tsx
  libs/ui-article-delivery/src/components/accessibility-bar/accessibility-bar.tsx
  libs/ui-article-delivery/src/components/audima/audima.cy.tsx
  libs/ui-article-delivery/src/components/audima/audima.stories.tsx
  libs/ui-article-delivery/src/components/contrast-control/contrast-control.tsx
  libs/ui-article-delivery/src/components/contrast-control/contrast-control.variants.tsx
  libs/ui-article-delivery/src/components/font-size-control/font-size-control.cy.tsx
  libs/ui-article-delivery/src/components/font-size-control/font-size-control.stories.tsx
  libs/ui-article-delivery/src/components/font-size-control/font-size-control.variants.ts
  libs/ui-article-delivery/src/components/signature/signature-agency/signature-agency.tsx
  libs/ui-article-delivery/src/components/signature/signature-date/signature-date.tsx
  libs/ui-article-delivery/src/components/signature/signature-info/signature-info.tsx
  libs/ui-article-delivery/src/components/signature/signature.tsx
  libs/ui-article-delivery/src/components/social-share/social-icons/share.tsx
  libs/ui-article-delivery/src/components/social-share/social-icons/social-icons.variants.ts
  libs/ui-article-delivery/src/components/social-share/social-item/social-item.variants.ts
  libs/ui-article-delivery/src/components/social-share/social-list/social-list.tsx
  libs/ui-article-delivery/src/components/social-share/social-share.cy.tsx
  libs/ui-article-delivery/tailwind.config.js
Due: test, component-test

refactor(ui-card): add prefix
  libs/ui-card/src/components/card/card-hat/card-hat-image.tsx
  libs/ui-card/src/components/card/card-hat/card-hat-title.variants.tsx
  libs/ui-card/src/components/card/card-hat/card-hat-wrapper.variants.tsx
  libs/ui-card/src/components/card/card-hat/card-hat.cy.tsx
  libs/ui-card/src/components/card/card-image/card-image.cy.tsx
  libs/ui-card/src/components/card/card-image/card-image.stories.tsx
  libs/ui-card/src/components/card/card-image/card-image.variants.tsx
  libs/ui-card/src/components/card/card-label/card-label.cy.tsx
  libs/ui-card/src/components/card/card-label/card-label.stories.tsx
  libs/ui-card/src/components/card/card-label/card-label.tsx
  libs/ui-card/src/components/card/card-title/card-title.cy.tsx
  libs/ui-card/src/components/card/card-title/card-title.stories.tsx
  libs/ui-card/src/components/card/card-title/card-title.variants.ts
  libs/ui-card/src/components/card/card.stories.tsx
  libs/ui-card/tailwind.config.js
Due: test, component-test

refactor(ui-card): add prefix
  add-prefix.js
  libs/ui-card/src/components/card/card-label/card-label-variants.tsx
  libs/ui-card/src/components/card/card-title/card-title.variants.ts
Due: test, component-test

refactor(ui-footer-delivery): add prefix
  add-prefix.js
  libs/ui-footer-delivery/src/components/institutional/institutional-content/institutional-content.tsx
  libs/ui-footer-delivery/src/components/institutional/institutional-copyright/institucional-copyright.tsx
  libs/ui-footer-delivery/src/components/institutional/institutional-editorial/institutional-editorial.tsx
  libs/ui-footer-delivery/src/components/institutional/institutional-item/institutional-item.tsx
  libs/ui-footer-delivery/src/components/institutional/institutional-link/institucional-link.tsx
  libs/ui-footer-delivery/src/components/institutional/institutional-list/institucional-list.tsx
  libs/ui-footer-delivery/src/components/institutional/institutional-logo/institutional-logo.tsx
  libs/ui-footer-delivery/src/components/institutional/institutional-root/institucional-root.tsx
  libs/ui-footer-delivery/src/components/institutional/institutional-wrapper/institucional-wrapper.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-container.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-menu-item.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-menu-link.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-menu-list.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-menu-title.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-root.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-submenu-item.tsx
  libs/ui-footer-delivery/tailwind.config.js
Due: test, component-test

refactor(ui-form-components): add prefix
  add-prefix.js
  libs/ui-form-components/tailwind.config.js
Due: none

refactor(ui-header-delivery): add prefix
  add-prefix.js
  libs/ui-header-delivery/src/components/header.stories.tsx
  libs/ui-header-delivery/src/components/header/header-logo/header-logo.tsx
  libs/ui-header-delivery/src/components/header/header-main-section/header-main-section.variants.ts
  libs/ui-header-delivery/src/components/header/header-root/header.tsx
  libs/ui-header-delivery/src/components/header/header-search-toggle/header-search-toggle.tsx
  libs/ui-header-delivery/src/components/header/header-search/header-search.tsx
  libs/ui-header-delivery/src/components/header/header-search/header-search.variants.ts
  libs/ui-header-delivery/src/components/header/header-section/header-section.tsx
  libs/ui-header-delivery/src/components/header/header-social-item/header-social-item.tsx
  libs/ui-header-delivery/src/components/header/header-social-list/header-social-list.tsx
  libs/ui-header-delivery/src/components/menu/menu-item/menu-item.tsx
  libs/ui-header-delivery/src/components/menu/menu-link/menu-link.tsx
  libs/ui-header-delivery/src/components/menu/menu-list/menu-list.tsx
  libs/ui-header-delivery/src/components/menu/menu-root/menu.tsx
  libs/ui-header-delivery/src/components/menu/menu-router-link/menu-router-link.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-button/sidebar-button.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-category/sidebar-category.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-item/sidebar-item.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-link/sidebar-link.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-root/sidebar.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-root/sidebar.variants.ts
  libs/ui-header-delivery/src/components/sidebar/sidebar-search/sidebar-search.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-search/sidebar-search.variants.ts
  libs/ui-header-delivery/src/components/sidebar/sidebar-submenu/sidebar-submenu.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-submenu/sidebar-submenu.variants.ts
  libs/ui-header-delivery/src/components/sidebar/sidebar-toggle/sidebar-toggle.variants.ts
  libs/ui-header-delivery/tailwind.config.js
Due: test, component-test

refactor(ui-section-foot): add prefix
  add-prefix.js
  libs/ui-section-foot/src/components/section-foot-line/section-foot-line.tsx
  libs/ui-section-foot/src/components/section-foot-link/section-foot-link.tsx
  libs/ui-section-foot/src/components/section-foot.tsx
  libs/ui-section-foot/tailwind.config.js
Due: test, component-test

refactor(ui-section-heading): add prefix
  add-prefix.js
  libs/ui-section-heading/src/components/section-heading/section-heading-image/section-heading-image.tsx
  libs/ui-section-heading/src/components/section-heading/section-heading-line/section-heading-line.tsx
  libs/ui-section-heading/src/components/section-heading/section-heading-tag/section-heading-tag.tsx
  libs/ui-section-heading/src/components/section-heading/section-heading-tags/section-heading-tags.tsx
  libs/ui-section-heading/src/components/section-heading/section-heading-title/section-heading-title.tsx
  libs/ui-section-heading/src/components/section-heading/section-heading.tsx
  libs/ui-section-heading/tailwind.config.js
Due: test, component-test

refactor(ui-section-menu): add prefix
  add-prefix.js
  libs/ui-header-delivery/tailwind.config.js
  libs/ui-section-heading/tailwind.config.js
  libs/ui-section-menu/src/components/menu-button/menu-button.tsx
  libs/ui-section-menu/src/components/menu-item/menu-item.tsx
  libs/ui-section-menu/src/components/menu-link/menu-link.tsx
  libs/ui-section-menu/src/components/menu-list/menu-list.tsx
  libs/ui-section-menu/src/components/section-menu.stories.tsx
  libs/ui-section-menu/src/components/section-menu.tsx
  libs/ui-section-menu/src/components/submenu-item/submenu-item.tsx
  libs/ui-section-menu/src/components/submenu/submenu.variants.ts
  libs/ui-section-menu/tailwind.config.js
Due: test, component-test

fix: change format negative values in classes
  libs/ui-article-delivery/src/components/accessibility-bar/accessibility-bar.cy.tsx
  libs/ui-article-delivery/src/components/accessibility-bar/accessibility-bar.stories.tsx
  libs/ui-article-delivery/src/components/audima/audima.cy.tsx
  libs/ui-article-delivery/src/components/audima/audima.stories.tsx
  libs/ui-base-components/src/components/tooltip/tooltip.variants.ts
  libs/ui-header-delivery/src/components/header/header-search/header-search.variants.ts
  libs/ui-header-delivery/src/components/sidebar/sidebar-root/sidebar.variants.ts
  libs/ui-header-delivery/src/components/sidebar/sidebar-toggle/sidebar-toggle.variants.ts
Due: test, component-test

fix(ui-header-delivery): include header prefix in sidebar state true and false
  apps/demo-ui-components/src/app/app.tsx
  apps/demo-ui-components/src/app/mocks/MENU_DATA.ts
  apps/demo-ui-components/src/app/mocks/SIDEBAR_DATA.ts
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions header-search-form should only be visible after header-search-toggle click #0.actual.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions header-search-form should only be visible after header-search-toggle click #0.diff.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar search form should only be visible in small devices #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - desktop presentation #0.actual.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - desktop presentation #0.diff.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - desktop presentation #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - mobile presentation #0.actual.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - mobile presentation #0.diff.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - mobile presentation #0.png
  libs/ui-header-delivery/src/components/sidebar/sidebar-item/sidebar-item.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-submenu/sidebar-submenu.variants.ts
Due: test, component-test

fix(ui-header-delivery): add header prefix in z-index and top classes
  libs/ui-header-delivery/src/components/header/header-main-section/header-main-section.variants.ts
Due: test

fix(ui-header-delivery): fixing header fixed on scroll and adding animation
  libs/ui-header-delivery/src/components/header/header-main-section/header-main-section.tsx
  libs/ui-header-delivery/src/components/header/header-main-section/header-main-section.variants.ts
  libs/ui-header-delivery/src/components/header/header-root/header.tsx
  libs/ui-header-delivery/src/components/header/header-root/header.variants.ts
  libs/ui-header-delivery/src/components/header/utils/context/header-context.ts
  libs/ui-header-delivery/src/components/header/utils/hooks/use-scroll-direction.ts
  libs/ui-header-delivery/src/components/header/utils/provider/header-provider.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-root/sidebar.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-root/sidebar.variants.ts
Due: test, component-test

feat: including dangerouslySetInnerHTML
  libs/ui-base-components/src/components/heading/heading.tsx
  libs/ui-base-components/src/components/paragraph/paragraph.tsx
  libs/ui-base-components/src/components/subheading/subheading.tsx
Due: test, component-test

feat: tools to add prefix tailwind
  tools/src/add-prefix/README.md
  tools/src/add-prefix/add-prefix.js
Due: none

fix(ui-base-components): background color in text component
  libs/ui-base-components/src/components/paragraph/__image_snapshots__/Paragraph using color #0.png
  libs/ui-base-components/src/components/paragraph/paragraph.cy.tsx
Due: test, component-test

chore: optional header.height key in header-context
  libs/ui-header-delivery/src/components/header/utils/context/header-context.ts
Due: test
