Repository r7com/front-monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build storybook, deploy storybook, test, component-test

.gitlab-ci.yml:

variables:
  NODE_VERSION: node:18
  CI: 'true'
  GIT_DEPTH: 0

image: $NODE_VERSION

stages:
  - test
  - storybook
  - deploy

.distributed:
  interruptible: true
  tags:
    - gitlab-runner-ec2
  only:
    - main
    - merge_requests
  cache:
    key:
      files:
        - yarn.lock
    paths:
      - '.yarn-cache/'
      - cache/Cypress
  before_script:
    - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
    - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
    - NX_HEAD=$CI_COMMIT_SHA

build storybook:
  extends: .distributed
  stage: storybook
  script:
    - yarn nx run-many --target=build
    - yarn nx build-storybook vision-components
  only:
    refs:
      - main
    changes:
      - '*.stories.tsx'
  artifacts:
    paths:
      - dist/apps/vision-components/

deploy storybook:
  image:
    name: gitlab.ir7.com.br:5050/sre/docker-images/gitlab-runner-images:1.0.5
    entrypoint: ['']
  stage: deploy
  interruptible: true
  tags:
    - gitlab-runner-ec2
  script:
    - ls -la dist/apps/vision-components
    - aws s3 cp dist/apps/vision-components/ s3://r7-pipelines-statics/vision-components/ --recursive
  dependencies:
    - build storybook
  only:
    refs:
      - main
    changes:
      - '*.stories.tsx'

test:
  stage: test
  extends: .distributed
  script:
    - npx nx affected --base=$NX_BASE --head=$NX_HEAD -t test --parallel=3 --configuration=ci
  only:
    refs:
      - main
      - merge_requests
    changes:
      - '*/**/*.tsx'
      - '*/**/*.ts'

component-test:
  image: cypress/browsers:node18.12.0-chrome106-ff106
  stage: test
  extends: .distributed
  script:
    - apt-get update && apt-get install -y xvfb
    - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
    - export DISPLAY=:99
    - npx nx build ui-base-components
    - npx nx affected --base=$NX_BASE --head=$NX_HEAD -t component-test --parallel=3 --configuration=ci
  only:
    refs:
      - main
      - merge_requests
    changes:
      - '*/**/*.tsx'
  artifacts:
    when: on_failure
    paths:
      - dist/cypress
    expire_in: 1 day

deploy libs setup:
  stage: deploy
  interruptible: true
  tags:
    - gitlab-runner-ec2
  script:
    - node ./deploy-libs.js
  artifacts:
    expire_in: '60 sec'
    paths:
      - dynamic-gitlab-ci.yml
  only:
    refs:
      - /ui\-.*/

deploy libs:
  stage: deploy
  needs:
    - deploy libs setup
  trigger:
    include:
      - artifact: dynamic-gitlab-ci.yml
        job: deploy libs setup
    strategy: depend

chore(ui-header-delivery): release version 2.5.4
  libs/ui-header-delivery/CHANGELOG.md
  libs/ui-header-delivery/package.json
Due: none

fix(proportionalphoto): cypress tuning and class removal
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto Medium bullet should render proportional card with call and bullet - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto Medium bullet should render proportional card with call and bullet - mobile #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto Medium text should render proportional card with two calls - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto Medium text should render proportional card with two calls- mobile #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto Small bullet should render proportional card with call and bullet - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto Small bullet should render proportional card with call and bullet - mobile #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto Small text should render proportional card with two calls - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto Small text should render proportional card with two calls- mobile #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto big bullet should render proportional card with call and bullet - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto big bullet should render proportional card with call and bullet - mobile #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto big should render proportional card - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto big should render proportional card - mobile #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto big text should render proportional card with two calls - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto big text should render proportional card with two calls- mobile #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto medium should render proportional card - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto medium should render proportional card - mobile #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto responsive should render proportional card - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto responsive should render proportional card - mobile #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto small should render proportional card - desktop #0.png
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto small should render proportional card - mobile #0.png
  libs/ui-card/src/components/proportional-photo/proportional-photo.cy.tsx
Due: test, component-test

fix(proportionalphoto): margin adjustment
  libs/ui-card/src/components/proportional-photo/__image_snapshots__/ProportionalPhoto medium should render proportional card - desktop #0.png
  libs/ui-card/src/components/proportional-photo/proportional-photo-text-wrapper/proportional-photo-text-wrapper-variants.tsx
  libs/ui-card/src/components/proportional-photo/proportional-photo.cy.tsx
  libs/ui-card/src/components/proportional-photo/proportional-photo.stories.tsx
Due: test, component-test

feat(ui-tv-guide): add onChange to tabs actions
  libs/ui-tv-guide/src/components/tv-guide-programs/tabs/tv-guide-programs-week.tsx
  yarn.lock
Due: test, component-test

style(ui-tv-guide): fixing styles from tab button and select
  libs/ui-tv-guide/src/components/tv-guide-programs/events/variants.ts
  libs/ui-tv-guide/src/components/tv-guide-programs/tabs/tv-guide-programs-week.tsx
  libs/ui-tv-guide/src/components/tv-guide-programs/tabs/variants.ts
  libs/ui-tv-guide/src/components/tv-guide-select/variants.ts
Due: test, component-test

feat(svg-icon): add sprites svg
  libs/ui-base-components/src/components/svg-icon/index.ts
  libs/ui-base-components/src/components/svg-icon/svg-sprite.tsx
Due: test, component-test

fix(svg-icon): include export default to svgs
  libs/ui-layout/vite.config.ts
  libs/ui-section-heading/vite.config.ts
Due: test

docs(svg-icon): update stories with sprites svg
  apps/vision-components/.storybook/preview.tsx
  apps/vision-components/tsconfig.storybook.json
Due: test, component-test

refactor(svg-icon): improve performance svg removing client side mode
  apps/demo-ui-components/src/app/app.tsx
  libs/ui-base-components/src/components/svg-icon/index.ts
  libs/ui-base-components/src/components/svg-icon/insert-root.tsx
  libs/ui-base-components/src/components/svg-icon/sprites.tsx
  libs/ui-base-components/src/components/svg-icon/svg-icon.tsx
  libs/ui-base-components/vite.config.ts
Due: test, component-test

chore(ui-base-components): release version 0.8.0
  libs/ui-base-components/CHANGELOG.md
  libs/ui-base-components/package.json
Due: none

chore(ui-base-components): release version 0.7.1
  libs/ui-base-components/CHANGELOG.md
  libs/ui-base-components/package.json
Due: none

chore(ui-article-delivery): release version 0.5.1
  libs/ui-article-delivery/CHANGELOG.md
  libs/ui-article-delivery/package.json
Due: none

chore(ui-header-delivery): release version 2.5.5
  libs/ui-header-delivery/CHANGELOG.md
  libs/ui-header-delivery/package.json
Due: none

chore(ui-card): release version 0.16.1
  libs/ui-card/CHANGELOG.md
  libs/ui-card/package.json
Due: none

chore(ui-layout): release version 0.6.2
  libs/ui-layout/CHANGELOG.md
  libs/ui-layout/package.json
Due: none

chore(ui-section-menu): release version 0.2.3
  libs/ui-section-menu/CHANGELOG.md
  libs/ui-section-menu/package.json
Due: none

chore(ui-section-heading): release version 0.3.6
  libs/ui-section-heading/CHANGELOG.md
  libs/ui-section-heading/package.json
Due: none

chore(ui-section-foot): release version 0.2.4
  libs/ui-section-foot/CHANGELOG.md
  libs/ui-section-foot/package.json
Due: none

doc(ui-card): update doc
  libs/ui-card/README.md
Due: none

feat: added taboola newsroom
  libs/ui-card/src/components/card/card-hat/card-hat-image.tsx
  libs/ui-card/src/components/card/card-label/card-label.tsx
  libs/ui-card/src/components/card/card-title/card-title.tsx
  libs/ui-card/src/components/card/card.tsx
  libs/ui-layout/src/components/latest-news/latest-news.tsx
Due: test, component-test

refactor: removed data attr
  libs/ui-layout/src/components/latest-news/latest-news.tsx
Due: test, component-test

chore: fix changelog
  libs/ui-card/CHANGELOG.md
  libs/ui-card/package.json
Due: none

chore(ui-card): release version 0.17.0
  libs/ui-card/CHANGELOG.md
Due: none

chore: fix changelog
  libs/ui-card/CHANGELOG.md
Due: none

chore(ui-footer-delivery): release version 1.3.3
  libs/ui-footer-delivery/CHANGELOG.md
  libs/ui-footer-delivery/package.json
Due: none

chore: rollback changelog
  libs/ui-card/CHANGELOG.md
  libs/ui-card/package.json
Due: none

chore(ui-card): release version 0.17.0
  libs/ui-card/CHANGELOG.md
  libs/ui-card/package.json
Due: none

style(ui-tv-guide): adjusting tv-guide components
  libs/ui-tv-guide/src/components/tv-guide-button/tv-guide-button.tsx
  libs/ui-tv-guide/src/components/tv-guide-details/variants.ts
Due: test, component-test

chore(ui-tv-guide): change rating types
  apps/demo-ui-components/src/app/routes/ui-tv-guide.tsx
  libs/ui-tv-guide/src/components/ui-tv-guide.cy.tsx
  libs/ui-tv-guide/src/components/ui-tv-guide.stories.tsx
Due: test, component-test

refactor(ui-tv-guide): refactoring rating title utils
  libs/ui-tv-guide/src/components/tv-guide-details/utils/utils.ts
Due: test

chore(ui-card): release version 0.18.0
  libs/ui-card/CHANGELOG.md
  libs/ui-card/package.json
Due: none

refactor: removed data attr
  libs/ui-card/src/components/card/card.tsx
Due: test, component-test

Feat/newsroom
  libs/ui-card/src/components/card/card-hat/card-hat-image.tsx
  libs/ui-card/src/components/card/card-label/card-label.tsx
  libs/ui-card/src/components/card/card-title/card-title.tsx
  libs/ui-card/src/components/card/card.tsx
Due: test, component-test

chore(ui-card): release version 0.18.1
  libs/ui-card/CHANGELOG.md
  libs/ui-card/package.json
Due: none

style(ui-tv-guide): using default age-rating colors
  libs/ui-theme-core/src/tailwind-preset.js
  libs/ui-tv-guide/src/components/tv-guide-details/variants.ts
Due: test

test(ui-tv-guide): fixing tests with week tabs
  libs/ui-tv-guide/src/components/__image_snapshots__/TvGuide should render ui-tv-guide in desktop mode #0.png
  libs/ui-tv-guide/src/components/__image_snapshots__/TvGuide should render ui-tv-guide in mobile mode #0.png
  libs/ui-tv-guide/src/components/__image_snapshots__/TvGuide should render ui-tv-guide in tablet mode #0.png
  libs/ui-tv-guide/src/components/ui-tv-guide.cy.tsx
Due: test, component-test

chore(demo-components): adding complete ui-tv-guide components to demo application
  apps/demo-ui-components/src/app/routes/ui-tv-guide.tsx
Due: test, component-test

chore(demo-components): adding tv-guide to demo components
  apps/demo-ui-components/src/app/app.tsx
  apps/demo-ui-components/src/app/routes/index.ts
  apps/demo-ui-components/src/app/routes/ui-tv-guide.tsx
Due: test, component-test
