Repository r7com/front-monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: storybook, test, component-test

.gitlab-ci.yml:

variables:
  NODE_VERSION: node:18
  CI: 'true'
  GIT_DEPTH: 0

image: $NODE_VERSION

stages:
  - test
  - deploy
  - storybook

.distributed:
  interruptible: true
  tags:
    - gitlab-runner-ec2
  only:
    - main
    - merge_requests
  cache:
    key:
      files:
        - yarn.lock
    paths:
      - '.yarn-cache/'
      - cache/Cypress
  before_script:
    - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
    - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
    - NX_HEAD=$CI_COMMIT_SHA

storybook:
  extends: .distributed
  stage: storybook
  script:
    - yarn nx build-storybook vision-components
    - ls -la dist/apps/vision-components
  only:
    refs:
      - main
      - merge_requests
    changes:
      - '*.stories.tsx'
test:
  stage: test
  extends: .distributed
  script:
    - npx nx affected --base=$NX_BASE --head=$NX_HEAD -t test --parallel=3 --configuration=ci
  only:
    refs:
      - main
      - merge_requests
    changes:
      - '*/**/*.tsx'
      - '*/**/*.ts'

component-test:
  image: cypress/browsers:node18.12.0-chrome106-ff106
  stage: test
  extends: .distributed
  script:
    - apt-get update && apt-get install -y xvfb
    - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
    - export DISPLAY=:99
    - CHANGED_FOLDERS=$(git diff --dirstat=files,0 -w --name-only origin/${CI_DEFAULT_BRANCH} $CI_COMMIT_SHA -- '**/components/**' | sed 's:/[^/]*$:/\*:' | paste -sd ',')
    # CHANGED_FOLDERS:
    # Check which folders were modified until the last commit with main
    # only display component folders modified with pattern '/*,' from the cypress spec pattern
    - echo $CHANGED_FOLDERS
    - npx nx affected --base=$NX_BASE --head=$NX_HEAD -t component-test --parallel=3 --configuration=ci --spec "${CHANGED_FOLDERS}"
  only:
    refs:
      - main
      - merge_requests
    changes:
      - '*/**/*.tsx'
  artifacts:
    when: on_failure
    paths:
      - dist/cypress
    expire_in: 1 day

deploy ui-form-components:
  stage: deploy
  extends: .distributed
  script:
    - yarn nx build ui-form-components
    - yarn nx build-css ui-form-components
    - cd ./dist/libs/ui-form-components
    - echo "@r7:registry=https://registry.npmjs.org/" > .npmrc
    - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> .npmrc
    - npm publish
  only:
    refs:
      - /ui-form-components\-.*/

deploy ui-base-components:
  stage: deploy
  extends: .distributed
  script:
    - yarn nx build ui-base-components
    - yarn nx build-css ui-base-components
    - cd ./dist/libs/ui-base-components
    - echo "@r7:registry=https://registry.npmjs.org/" > .npmrc
    - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> .npmrc
    - npm publish
  only:
    refs:
      - /ui-base-components\-.*/

deploy ui-footer-delivery:
  stage: deploy
  extends: .distributed
  script:
    - yarn nx build ui-footer-delivery
    - yarn nx build-css ui-footer-delivery
    - cd ./dist/libs/ui-footer-delivery
    - echo "@r7:registry=https://registry.npmjs.org/" > .npmrc
    - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> .npmrc
    - npm publish
  only:
    refs:
      - /ui-footer-delivery\-.*/

chore: removing threshold in custom hook for scroll direction detection
  libs/ui-header-delivery/src/components/header/utils/hooks/use-scroll-direction.ts
Due: test

fix: remove sheading duplicated and update images card tests
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatImage should render hat image #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatTitle should render all color variants of title #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatTitle should render hat #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatWrapper should render hat image and hat title composition #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatWrapper should render type variant composition #0.png
  libs/ui-card/src/components/card/card-hat/card-hat.cy.tsx
  libs/ui-card/src/components/card/card-image/__image_snapshots__/CardImage should render all format variants #0.png
  libs/ui-card/src/components/card/card-image/__image_snapshots__/CardImage should render default image #0.actual.png
  libs/ui-card/src/components/card/card-image/__image_snapshots__/CardImage should render default image #0.diff.png
  libs/ui-card/src/components/card/card-image/__image_snapshots__/CardImage should render default image #0.png
  libs/ui-card/src/components/card/card-image/__image_snapshots__/CardImage should render image with shadow #0.png
  libs/ui-card/src/components/card/card-image/card-image.cy.tsx
  libs/ui-card/src/components/card/card-label/__image_snapshots__/CardLabel should render all other type variants #0.diff.png
  libs/ui-card/src/components/card/card-label/__image_snapshots__/CardLabel should render all other type variants #0.png
  libs/ui-card/src/components/card/card-label/__image_snapshots__/CardLabel should render type sponsored-by variant #0.png
  libs/ui-card/src/components/card/card-title/__image_snapshots__/CardTitle should render all color variants #0.png
  libs/ui-card/src/components/card/card-title/__image_snapshots__/CardTitle should render all fontStyle variants in desktop #0.png
  libs/ui-card/src/components/card/card-title/__image_snapshots__/CardTitle should render all fontStyle variants in mobile #0.png
  libs/ui-section-heading/src/components/section-heading/section-heading-tags/section-heading-tags.tsx
Due: test, component-test

fix: all components dependsOn ui-base and it is not necessary build-css
  .gitlab-ci.yml
  libs/ui-article-delivery/project.json
  libs/ui-base-components/project.json
  libs/ui-card/project.json
  libs/ui-footer-delivery/project.json
  libs/ui-form-components/project.json
  libs/ui-header-delivery/project.json
  libs/ui-section-foot/project.json
  libs/ui-section-heading/project.json
  libs/ui-section-menu/project.json
  libs/ui-voting-components/project.json
Due: none

feat(ui-base-components): added icon size variation and responsiveness for bullet component
  libs/ui-base-components/src/components/bullet/bullet.tsx
  libs/ui-base-components/src/components/bullet/bullet.variants.ts
Due: test, component-test

feat(ui-card): styles corrections
  libs/ui-card/src/components/card/card-hat/card-hat-title.variants.tsx
  libs/ui-card/src/components/card/card.stories.tsx
  libs/ui-card/src/components/card/card.tsx
Due: test, component-test

chore: [nx migration] move-target-defaults
  migrations.json
  nx.json
  package.json
  yarn.lock
Due: none

chore: [nx migration] move-options-to-target-defaults
  apps/admin/project.json
  apps/voting/project.json
  libs/ui-article-delivery/project.json
  libs/ui-base-components/project.json
  libs/ui-card/project.json
  libs/ui-footer-delivery/project.json
  libs/ui-form-components/project.json
  libs/ui-header-delivery/project.json
  libs/ui-section-foot/project.json
  libs/ui-section-heading/project.json
  libs/ui-voting-components/project.json
  nx.json
Due: none

chore(ui-section-foot): release version 0.1.0
  libs/ui-section-foot/CHANGELOG.md
  libs/ui-section-foot/package.json
Due: none

chore(ui-base-components): release version 0.2.0
  libs/ui-base-components/CHANGELOG.md
  libs/ui-base-components/package.json
Due: none

chore(ui-card): release version 0.2.0
  libs/ui-card/CHANGELOG.md
  libs/ui-card/package.json
Due: none

chore(ui-footer-delivery): release version 1.1.0
  libs/ui-footer-delivery/CHANGELOG.md
  libs/ui-footer-delivery/package.json
Due: none

chore(ui-header-delivery): release version 2.2.0
  libs/ui-header-delivery/CHANGELOG.md
  libs/ui-header-delivery/package.json
Due: none

chore(ui-section-menu): release version 0.1.0
  libs/ui-section-menu/CHANGELOG.md
  libs/ui-section-menu/package.json
Due: none

chore(ui-section-heading): release version 0.2.0
  libs/ui-section-heading/CHANGELOG.md
  libs/ui-section-heading/package.json
Due: none

refactor: correcting the prop nomenclature
  libs/ui-base-components/src/components/heading/heading.tsx
  libs/ui-base-components/src/components/paragraph/paragraph.tsx
  libs/ui-base-components/src/components/subheading/subheading.tsx
Due: test, component-test

feat(ui-card): added card- namespace on tailwind classes
  libs/ui-card/src/components/card/card-hat/card-hat-wrapper.tsx
  libs/ui-card/src/components/card/card-image/card-image.cy.tsx
  libs/ui-card/src/components/card/card-image/card-image.stories.tsx
  libs/ui-card/src/components/card/card-title/card-title.stories.tsx
  libs/ui-card/src/components/card/card-title/card-title.tsx
  libs/ui-card/src/components/card/card.stories.tsx
  libs/ui-card/src/components/card/card.tsx
Due: test, component-test

feat: changing dangerously validation
  libs/ui-base-components/src/components/heading/heading.tsx
  libs/ui-base-components/src/components/paragraph/paragraph.tsx
  libs/ui-base-components/src/components/subheading/subheading.tsx
Due: test, component-test

feat: changing validation
  libs/ui-base-components/src/components/heading/heading.tsx
  libs/ui-base-components/src/components/paragraph/paragraph.tsx
  libs/ui-base-components/src/components/subheading/subheading.tsx
Due: test, component-test

feat: created new structure
  package.json
  tools/src/generate-lib/generate-lib.js
  tools/src/nx-generate/nx-generate.mjs
  tools/src/nx-generate/src/generaters/react-application.mjs
  tools/src/nx-generate/src/generaters/react-library.mjs
  tools/src/nx-generate/src/templates/cypress/cypress.config.ts
  tools/src/nx-generate/src/templates/cypress/tsconfig.json
  tools/src/nx-generate/src/templates/tailwind/postcss.config.js
  tools/src/nx-generate/src/templates/tailwind/src/styles.css
  tools/src/nx-generate/src/templates/tailwind/src/styles/styles.ts
  tools/src/nx-generate/src/templates/tailwind/tailwind.config.js
  tools/src/nx-generate/src/utils/constants.mjs
  tools/src/nx-generate/src/utils/questions.mjs
  tools/src/nx-generate/src/utils/utils.mjs
  tsconfig.base.json
  yarn.lock
Due: test

test(ui-card): updated screenshots
  libs/ui-card/src/components/card/__image_snapshots__/Card should render default card #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatImage should render hat image #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatTitle should render all color variants of title #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatTitle should render hat #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatWrapper should render hat image and hat title composition #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatWrapper should render hat with link #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatWrapper should render type variant composition #0.png
  libs/ui-card/src/components/card/card-image/__image_snapshots__/CardImage should render all format variants #0.png
  libs/ui-card/src/components/card/card-image/__image_snapshots__/CardImage should render default image #0.png
  libs/ui-card/src/components/card/card-image/__image_snapshots__/CardImage should render image with shadow #0.png
Due: none

feat(ui-card): removing withLink prop; validation on url prop
  libs/ui-card/src/components/card/card-hat/card-hat-wrapper.tsx
  libs/ui-card/src/components/card/card-hat/card-hat.cy.tsx
  libs/ui-card/src/components/card/card-hat/card-hat.stories.tsx
  libs/ui-card/src/components/card/card-image/card-image.cy.tsx
  libs/ui-card/src/components/card/card-image/card-image.stories.tsx
  libs/ui-card/src/components/card/card-image/card-image.tsx
  libs/ui-card/src/components/card/card-title/card-title.cy.tsx
  libs/ui-card/src/components/card/card-title/card-title.stories.tsx
  libs/ui-card/src/components/card/card-title/card-title.tsx
  libs/ui-card/src/components/card/card.cy.tsx
  libs/ui-card/src/components/card/card.stories.tsx
  libs/ui-card/src/components/card/card.tsx
Due: test, component-test

chore: removed files
  tools/src/nx-generate/src/generaters/react-library.mjs
  tools/src/nx-generate/src/utils/constants.mjs
  tools/src/nx-generate/src/utils/questions.mjs
  tools/src/nx-generate/src/utils/utils.mjs
  tsconfig.base.json
Due: none

feat(base-components): adding dangerouslyHTML
  libs/ui-base-components/src/components/heading/heading.tsx
  libs/ui-base-components/src/components/paragraph/paragraph.tsx
  libs/ui-base-components/src/components/subheading/subheading.tsx
Due: test, component-test

refactor: removed audima
  apps/demo-ui-components/src/app/routes/ui-article-delivery.tsx
  libs/ui-article-delivery/src/components/audima/__image_snapshots__/Audima Should render Audima #0.png
  libs/ui-article-delivery/src/components/audima/audima.cy.tsx
  libs/ui-article-delivery/src/components/audima/audima.stories.tsx
  libs/ui-article-delivery/src/components/audima/audima.tsx
  libs/ui-article-delivery/src/components/audima/index.ts
  libs/ui-article-delivery/src/components/contrast-control/constants/constants.ts
  libs/ui-article-delivery/src/components/contrast-control/contrast-control.tsx
  libs/ui-article-delivery/src/index.ts
Due: test, component-test

chore(ui-article-delivery): release version 0.1.0
  libs/ui-article-delivery/CHANGELOG.md
  libs/ui-article-delivery/package.json
Due: none

chore(ui-article-delivery): release version 0.2.0
  libs/ui-article-delivery/CHANGELOG.md
  libs/ui-article-delivery/package.json
Due: none

chore: added article-delivery ci
  .gitlab-ci.yml
Due: none

refactor: add preflight to avoid reset css in all libraries
  libs/ui-article-delivery/src/style.css
  libs/ui-article-delivery/tailwind.config.js
  libs/ui-card/src/style.css
  libs/ui-card/tailwind.config.js
  libs/ui-footer-delivery/src/style.css
  libs/ui-footer-delivery/tailwind.config.js
  libs/ui-form-components/src/style.css
  libs/ui-form-components/tailwind.config.js
  libs/ui-header-delivery/src/components/sidebar/sidebar-root/sidebar.tsx
  libs/ui-header-delivery/src/style.css
  libs/ui-header-delivery/tailwind.config.js
  libs/ui-section-foot/src/style.css
  libs/ui-section-foot/tailwind.config.js
  libs/ui-section-heading/src/style.css
  libs/ui-section-heading/tailwind.config.js
  libs/ui-section-menu/src/style.css
  libs/ui-section-menu/tailwind.config.js
Due: test, component-test

feat(ui-card): changed order of figure and a tags
  libs/ui-card/src/components/card/card-image/card-image.tsx
Due: test, component-test

feat(ui-base-components): new link component
  libs/ui-base-components/src/components/link/link.tsx
Due: test, component-test

test(ui-card): updating test with new elements order
  libs/ui-card/src/components/card/card-image/card-image.cy.tsx
Due: test, component-test

feat(ui-card): using new link component
  libs/ui-card/src/components/card/card-hat/card-hat-wrapper.tsx
  libs/ui-card/src/components/card/card-image/card-image.tsx
  libs/ui-card/src/components/card/card-title/card-title.tsx
  libs/ui-card/src/components/card/card.tsx
Due: test, component-test

feat(ui-base-components): new conditional link component
  libs/ui-base-components/src/components/conditional-link/conditional-link.tsx
  libs/ui-base-components/src/components/conditional-link/index.ts
  libs/ui-base-components/src/index.ts
Due: test, component-test

test(ui-base-components): new tests for conditional-link component
  libs/ui-base-components/src/components/conditional-link/conditional-link.cy.tsx
Due: test, component-test

docs(ui-base-components): added stories for conditional-link component
  libs/ui-base-components/src/components/conditional-link/conditional-link.stories.tsx
Due: test, component-test

refactor(ui-card): using new conditional-link component
  libs/ui-card/src/components/card/card-hat/card-hat-wrapper.tsx
  libs/ui-card/src/components/card/card-image/card-image.tsx
  libs/ui-card/src/components/card/card-title/card-title.tsx
  libs/ui-card/src/components/card/card.tsx
Due: test, component-test

refactor(ui-base-components): changing bullet slot name
  libs/ui-base-components/src/components/bullet/bullet.tsx
  libs/ui-base-components/src/components/bullet/bullet.variants.ts
Due: test, component-test
