Repository r7com/front-monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ui-components-admin build, ui-components-admin test, ui-components-admin e2e, admin build, admin test, voting build, voting test

ui-components-admin build:
  stage: build
  script:
  - yarn nx build ui-components-admin

ui-components-admin test:
  stage: test
  script:
  - yarn nx test ui-components-admin

ui-components-admin e2e:
  stage: e2e
  image: cypress/browsers:node18.12.0-chrome107
  script:
  - apt-get update && apt-get install -y xvfb
  - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
  - export DISPLAY=:99
  - yarn nx component-test ui-components-admin --graph=output.html
  artifacts:
    when: always
    paths:
  ...

admin build:
  stage: build
  needs:
  - ui-components-admin build
  script:
  - yarn nx build admin

admin test:
  stage: test
  script:
  - yarn nx test admin

voting build:
  stage: build
  needs:
  - ui-components-admin build
  script:
  - yarn nx build voting

voting test:
  stage: test
  script:
  - yarn nx test voting
  environment: production

task: funcionalidades dos componentes input e select
  libs/ui-form-components/src/components/input-field/index.ts
  libs/ui-form-components/src/components/input-field/input-field.tsx
  libs/ui-form-components/src/components/input-field/input-field.variants.ts
  libs/ui-form-components/src/components/select-field/index.ts
  libs/ui-form-components/src/components/select-field/select-field.tsx
  libs/ui-form-components/src/components/select-field/select-field.variants.ts
  libs/ui-form-components/src/index.ts
Due: none

fix: valor padrao no options
  libs/ui-form-components/src/components/select-field/select-field.tsx
Due: none

fix: ajustando imagens e textos de testes com adicao de novas variantes
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip Position bottom-right #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip Position left #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip Position right #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip Position top #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip Position top-left #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip Position top-right #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip Should be not visible on mouseover #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip Should be visible on mouseover #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip Should be visible with position bottom-right on mouseover #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip Should be visible with position left on mouseover #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip Should be visible with position right on mouseover #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip Should be visible with position top on mouseover #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip Should be visible with position top-left on mouseover #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip Should be visible with position top-right on mouseover #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip Visible #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip bottom-right #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip left #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip right #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip top #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip top-left #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip top-right #0.png
  libs/ui-components-admin/src/components/tooltip/tooltip.cy.tsx
  libs/ui-components-admin/src/components/tooltip/tooltip.tsx
  libs/ui-components-admin/src/components/tooltip/tooltip.variants.ts
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

changes: ajustado descricao do teste
  libs/ui-components-admin/src/components/tooltip/tooltip.cy.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

Fix: ajustes nos testes e no tooltip 'right' feito novamente snapshots
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip Should be visible with position left on mouseover #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip Should not be visible without mouseover #0.png
  libs/ui-components-admin/src/components/tooltip/tooltip.cy.tsx
  libs/ui-components-admin/src/components/tooltip/tooltip.tsx
  libs/ui-components-admin/src/components/tooltip/tooltip.variants.ts
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

task: adicionando "type: tel" ao input-field
  libs/ui-form-components/src/components/input-field/input-field.tsx
Due: none

refactor: ajuste de role e teste
  libs/ui-components-admin/src/components/card-status/__image_snapshots__/should render all its CardStatus Check render of error #0.png
  libs/ui-components-admin/src/components/card-status/__image_snapshots__/should render all its CardStatus Check render of helper #0.png
  libs/ui-components-admin/src/components/card-status/__image_snapshots__/should render all its CardStatus Check render of info #0.png
  libs/ui-components-admin/src/components/card-status/__image_snapshots__/should render all its CardStatus Check render of success #0.png
  libs/ui-components-admin/src/components/card-status/__image_snapshots__/should render all its CardStatus Check status of waiting #0.png
  libs/ui-components-admin/src/components/card-status/card-status.cy.tsx
  libs/ui-components-admin/src/components/card-status/card-status.tsx
  libs/ui-components-admin/yarn.lock
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

refactor: remoção de linha
  apps/admin/src/app/app.tsx
Due: admin build, admin test

Usando tailwind variants
  libs/ui-components-admin/src/components/chips/chips.stories.tsx
  libs/ui-components-admin/src/components/chips/chips.tsx
  libs/ui-components-admin/src/components/chips/chips.variants.ts
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

Ajustes merge
  libs/ui-components-admin/src/components/button/button.variants.ts
  libs/ui-components-admin/src/components/chips/chips.tsx
  libs/ui-components-admin/src/components/chips/chips.variants.ts
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

Ajustes merge
  libs/ui-components-admin/src/components/chips/chips.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

fix: trocando nome das props de options
  libs/ui-form-components/src/components/select-field/select-field.tsx
Due: none

fix: removendo type para nao perder timagem padrao do HTMLInput
  libs/ui-form-components/src/components/input-field/input-field.tsx
Due: none

refactor: trocando tv para createVariants
  libs/ui-components-admin/src/components/button/button.variants.ts
  libs/ui-components-admin/src/components/card-status/card-status.variants.ts
  libs/ui-components-admin/src/components/snackbar/snackbar.variants.ts
  libs/ui-components-admin/src/components/svg-icon/svg-icon.variants.ts
  libs/ui-components-admin/src/components/text/text.variants.ts
  libs/ui-components-admin/src/components/toggle/toggle.variants.ts
  libs/ui-components-admin/src/components/tooltip/tooltip.variants.ts
  libs/ui-form-components/src/components/input-field/input-field.variants.ts
  libs/ui-form-components/src/components/select-field/select-field.variants.ts
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

Alterando link do figma
  libs/ui-components-admin/src/components/chips/chips.stories.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

Atualizando variants
  libs/ui-components-admin/src/components/chips/chips.variants.ts
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

Atualizando variants do button
  libs/ui-components-admin/src/components/button/button.variants.ts
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

fix: corrigindo nomes do base components em outros projetos
  .gitignore
  libs/ui-base-components/.storybook/main.ts
  libs/ui-base-components/vite.config.ts
Due: none

fix: corrigindo nome no ci
  .gitlab-ci.yml
Due: none

fix: corrigindo nome no storybook
  README.md
  libs/ui-base-components/project.json
Due: none

comentando pipeline do admin
  .gitlab-ci.yml
Due: none

Ajustes
  libs/ui-components-admin/src/components/button/button.variants.ts
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

docs: adicionando referência no readme para a doc de contribuição
  README.md
Due: none

Update main.ts
  libs/ui-form-components/.storybook/main.ts
Due: none

inserindo branch do base components para teste da pipeline
  .gitlab-ci.yml
Due: none

alterando organização para @r7-jarvics
  libs/ui-base-components/src/components/button/button.variants.ts
  libs/ui-base-components/src/components/card-status/card-status.variants.ts
  libs/ui-base-components/src/components/snackbar/snackbar.variants.ts
  libs/ui-base-components/src/components/svg-icon/svg-icon.variants.ts
  libs/ui-base-components/src/components/text/text.variants.ts
  libs/ui-base-components/src/components/toggle/toggle.variants.ts
  libs/ui-base-components/src/components/tooltip/tooltip.variants.ts
  libs/ui-form-components/src/components/input-field/input-field.variants.ts
  libs/ui-form-components/src/components/select-field/select-field.variants.ts
Due: none

pipeline: voltando com as configurações anteriores
  .gitlab-ci.yml
Due: none

trigger pipeline
  .gitlab-ci.yml
Due: none

comentando a parte de votação para trigger na pipeline
  .gitlab-ci.yml
Due: none

shore: update no react-router-dom 6.11.2 -> 6.15.0
  package.json
  yarn.lock
Due: none

refactor: atualizando forma como rotas sao criadas nas aplicacoes, seguindo a nova atualizacao do react-router-dom
  apps/admin/src/app/app.tsx
  apps/admin/src/bootstrap.tsx
Due: admin build, admin test

test: atualização de snapshots
  apps/admin/src/app/app.tsx
  libs/ui-components-admin/src/components/card-status/__image_snapshots__/CardStatus Check status of error #0.png
  libs/ui-components-admin/src/components/card-status/__image_snapshots__/CardStatus Check status of helper #0.png
  libs/ui-components-admin/src/components/card-status/__image_snapshots__/CardStatus Check status of info #0.png
  libs/ui-components-admin/src/components/card-status/__image_snapshots__/CardStatus Check status of success #0.png
  libs/ui-components-admin/src/components/card-status/__image_snapshots__/CardStatus Check status of waiting #0.png
  libs/ui-components-admin/src/components/card-status/__image_snapshots__/should render all its CardStatus Check render of error #0.png
  libs/ui-components-admin/src/components/card-status/__image_snapshots__/should render all its CardStatus Check render of helper #0.png
  libs/ui-components-admin/src/components/card-status/__image_snapshots__/should render all its CardStatus Check render of info #0.png
  libs/ui-components-admin/src/components/card-status/__image_snapshots__/should render all its CardStatus Check render of success #0.png
  libs/ui-components-admin/src/components/card-status/__image_snapshots__/should render all its CardStatus Check status of waiting #0.png
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e, admin build, admin test

fix: remoção do componente do app
  apps/admin/src/app/app.tsx
Due: admin build, admin test

removendo console.log
  apps/admin/src/app/app.tsx
Due: admin build, admin test

shore: separando rotas num arquivo separado
  apps/admin/src/bootstrap.tsx
  apps/admin/src/routes/index.ts
  apps/admin/src/routes/routes.tsx
Due: admin build, admin test

Path conditions:
  ui-components-admin build: (any of: libs/ui-components-admin/**/*) and (not (any of: libs/ui-components-admin/**/*.{json,md}, libs/ui-components-admin/**/*.test.{js,ts,jsx,tsx}, libs/ui-components-admin/**/*.spec.{js,ts,jsx,tsx}))
  ui-components-admin test: (any of: libs/ui-components-admin/**/*) and (not (any of: libs/ui-components-admin/**/*.{json,md}, libs/ui-components-admin/**/*.test.{js,ts,jsx,tsx}, libs/ui-components-admin/**/*.spec.{js,ts,jsx,tsx}))
  ui-components-admin e2e: (any of: libs/ui-components-admin/**/*) and (not (any of: libs/ui-components-admin/**/*.{json,md}, libs/ui-components-admin/**/*.test.{js,ts,jsx,tsx}, libs/ui-components-admin/**/*.spec.{js,ts,jsx,tsx}))
  admin build: (any of: apps/admin/**/*) and (not (any of: apps/admin/**/*.{json,md}, apps/admin/**/*.test.{js,ts,jsx,tsx}, apps/admin/**/*.spec.{js,ts,jsx,tsx}))
  admin test: (any of: apps/admin/**/*) and (not (any of: apps/admin/**/*.{json,md}, apps/admin/**/*.test.{js,ts,jsx,tsx}, apps/admin/**/*.spec.{js,ts,jsx,tsx}))
  voting build: (any of: apps/voting/**/*) and (not (any of: apps/voting/**/*.{json,md}, apps/voting/**/*.test.{js,ts,jsx,tsx}, apps/voting/**/*.spec.{js,ts,jsx,tsx}))
  voting test: (any of: apps/voting/**/*) and (not (any of: apps/voting/**/*.{json,md}, apps/voting/**/*.test.{js,ts,jsx,tsx}, apps/voting/**/*.spec.{js,ts,jsx,tsx}))
