Repository r7com/front-monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build storybook, deploy storybook, test, component-test

Path conditions:
  build storybook: any of: *.stories.tsx
  deploy storybook: any of: *.stories.tsx
  test: any of: */**/*.tsx, */**/*.ts
  component-test: any of: */**/*.tsx

fix(ui-layout): add build-arc-css
  libs/ui-layout/project.json
Due: none

chore(ui-layout): release version 0.1.1
  libs/ui-layout/CHANGELOG.md
  libs/ui-layout/package.json
Due: none

fix(ui-layout): fix changelog
  libs/ui-layout/CHANGELOG.md
Due: none

feat(ads): changing style of ad-shell and ad-placeholder
  libs/ui-base-components/src/components/ad-placeholder/placeholder.tsx
  libs/ui-base-components/src/components/ad-shell/ad-shell.variants.tsx
Due: test, component-test

test(ui-layout): tests and snapshots for magazine grids
  libs/ui-layout/src/components/magazine/__image_snapshots__/Magazine Grids - Desktop should render magazine-one grid with two elements #0.png
  libs/ui-layout/src/components/magazine/__image_snapshots__/Magazine Grids - Desktop should render magazine-two grid with three elements #0.png
  libs/ui-layout/src/components/magazine/__image_snapshots__/Magazine Grids - Mobile should render magazine-one grid with two elements #0.png
  libs/ui-layout/src/components/magazine/__image_snapshots__/Magazine Grids - Mobile should render magazine-two grid with three elements #0.png
  libs/ui-layout/src/components/magazine/magazine.cy.tsx
Due: test, component-test

feat(ui-layout): creating magazine grids for 2 and 3 blocks
  libs/ui-layout/src/components/magazine/index.ts
  libs/ui-layout/src/components/magazine/magazine.tsx
  libs/ui-layout/src/index.ts
Due: test, component-test

docs(ui-layout): storybook for magazine grids
  libs/ui-layout/src/components/magazine/magazine.stories.tsx
Due: test, component-test

chore(ui-layout): add magazine grids to demo application
  apps/demo-ui-components/src/app/routes/ui-layout.tsx
Due: test, component-test

test: fixing tests descriptions
  libs/ui-layout/src/components/magazine/__image_snapshots__/Magazine Grids - Desktop should render magazine-one grid with three elements #0.png
  libs/ui-layout/src/components/magazine/__image_snapshots__/Magazine Grids - Desktop should render magazine-two grid with two elements #0.png
  libs/ui-layout/src/components/magazine/__image_snapshots__/Magazine Grids - Mobile should render magazine-one grid with three elements #0.png
  libs/ui-layout/src/components/magazine/__image_snapshots__/Magazine Grids - Mobile should render magazine-two grid with two elements #0.png
  libs/ui-layout/src/components/magazine/magazine.cy.tsx
Due: test, component-test

chore: creating mocks folder for block components
  libs/ui-layout/src/components/magazine/magazine.cy.tsx
  libs/ui-layout/src/components/magazine/magazine.stories.tsx
  libs/ui-layout/src/components/magazine/mocks/mocks.tsx
Due: test, component-test

chore(container-query): installs tailwindcss/container-queries
  package.json
  yarn.lock
Due: none

chore(container-query): adds tailwindcss/container-queries plugin on the tailwind-preset
  libs/ui-theme-core/src/tailwind-preset.js
Due: none

feat(card-title): adds new fontStyle variant 'none'
  libs/ui-card/src/components/card/card-title/card-title.variants.ts
Due: test

feat(component): new card component two-cards-square-photo
  libs/ui-card/src/components/two-cards-square-photo/index.ts
  libs/ui-card/src/components/two-cards-square-photo/two-cards-square-photo.tsx
  libs/ui-card/src/index.ts
Due: test, component-test

docs(storybook): two-cards-square-photo storybook
  libs/ui-card/src/components/two-cards-square-photo/two-cards-square-photo.stories.tsx
Due: test, component-test

test(two-cards-square-photo): added tests for the two-cards-square-photo card
  libs/ui-card/src/components/two-cards-square-photo/__image_snapshots__/TwoCardsSquarePhoto should render two cards - desktop #0.png
  libs/ui-card/src/components/two-cards-square-photo/__image_snapshots__/TwoCardsSquarePhoto should render two cards - mobile #0.png
  libs/ui-card/src/components/two-cards-square-photo/two-cards-square-photo.cy.tsx
Due: test, component-test

feat(demo-ui): adds the card two-cards-square-photo to the demo-ui-components
  apps/demo-ui-components/src/app/app.tsx
  apps/demo-ui-components/src/app/routes/index.ts
  apps/demo-ui-components/src/app/routes/ui-card.tsx
Due: test, component-test

style(leading): ajusted leading to match prod
  libs/ui-card/src/components/two-cards-square-photo/__image_snapshots__/TwoCardsSquarePhoto should render two cards - desktop #0.png
  libs/ui-card/src/components/two-cards-square-photo/__image_snapshots__/TwoCardsSquarePhoto should render two cards - mobile #0.png
  libs/ui-card/src/components/two-cards-square-photo/two-cards-square-photo.tsx
Due: test, component-test

chore(ui-layout): release version 0.2.0
  libs/ui-layout/CHANGELOG.md
  libs/ui-layout/package.json
Due: none

chore(ui-layout): release version 0.3.0
  libs/ui-layout/CHANGELOG.md
  libs/ui-layout/package.json
Due: none

chore: resolved merge
  apps/demo-ui-components/src/app/app.tsx
  libs/ui-footer-delivery/src/components/institutional/__image_snapshots__/Institutional Footer should render Institutional Footer #0.actual.png
  libs/ui-footer-delivery/src/components/institutional/__image_snapshots__/Institutional Footer should render Institutional Footer #0.diff.png
  libs/ui-footer-delivery/src/components/institutional/__image_snapshots__/Institutional Footer should render mobile Institutional Footer #0.actual.png
  libs/ui-footer-delivery/src/components/institutional/__image_snapshots__/Institutional Footer should render mobile Institutional Footer #0.diff.png
  libs/ui-svg/.eslintrc.json
  libs/ui-svg/README.md
  libs/ui-svg/cypress.config.ts
  libs/ui-svg/cypress/fixtures/example.json
  libs/ui-svg/cypress/support/commands.ts
  libs/ui-svg/cypress/support/component-index.html
  libs/ui-svg/cypress/support/component.ts
  libs/ui-svg/cypress/tsconfig.json
  libs/ui-svg/jest.config.ts
  libs/ui-svg/package.json
  libs/ui-svg/postcss.config.js
  libs/ui-svg/project.json
  libs/ui-svg/src/components/acrl-r.svg
  libs/ui-svg/src/components/icon.tsx
  libs/ui-svg/src/components/ui-svg.cy.tsx
  libs/ui-svg/src/components/ui-svg.stories.tsx
  libs/ui-svg/src/components/ui-svg.tsx
  libs/ui-svg/src/components/ui-svg.variants.ts
  libs/ui-svg/src/index.ts
  libs/ui-svg/src/styles.css
  libs/ui-svg/src/styles/styles.ts
  libs/ui-svg/tailwind.config.js
  libs/ui-svg/tsconfig.json
  libs/ui-svg/tsconfig.lib.json
  libs/ui-svg/tsconfig.spec.json
  libs/ui-svg/vite.config.ts
  package.json
  tsconfig.base.json
  yarn.lock
Due: test, component-test

chore: removed ui-svg
  apps/demo-ui-components/src/app/app.tsx
  libs/ui-svg/.eslintrc.json
  libs/ui-svg/README.md
  libs/ui-svg/cypress.config.ts
  libs/ui-svg/cypress/fixtures/example.json
  libs/ui-svg/cypress/support/commands.ts
  libs/ui-svg/cypress/support/component-index.html
  libs/ui-svg/cypress/support/component.ts
  libs/ui-svg/cypress/tsconfig.json
  libs/ui-svg/jest.config.ts
  libs/ui-svg/package.json
  libs/ui-svg/postcss.config.js
  libs/ui-svg/project.json
  libs/ui-svg/src/components/acrl-r.svg
  libs/ui-svg/src/components/icon.tsx
  libs/ui-svg/src/components/ui-svg.cy.tsx
  libs/ui-svg/src/components/ui-svg.stories.tsx
  libs/ui-svg/src/components/ui-svg.tsx
  libs/ui-svg/src/components/ui-svg.variants.ts
  libs/ui-svg/src/index.ts
  libs/ui-svg/src/styles.css
  libs/ui-svg/src/styles/styles.ts
  libs/ui-svg/tailwind.config.js
  libs/ui-svg/tsconfig.json
  libs/ui-svg/tsconfig.lib.json
  libs/ui-svg/tsconfig.spec.json
  libs/ui-svg/vite.config.ts
  tsconfig.base.json
Due: test, component-test

fix(ui-card-demo): removes unnecessary layout- prefix
  apps/demo-ui-components/src/app/routes/ui-card.tsx
Due: test, component-test

style(leading): fixes leading responsiviness
  libs/ui-card/src/components/two-cards-square-photo/two-cards-square-photo.tsx
Due: test, component-test

fix(ui-card-demo): update mocks of two-cards-square-photo cards with prod
  apps/demo-ui-components/src/app/routes/ui-card.tsx
Due: test, component-test

feat(component): two-cards-square-photo
  apps/demo-ui-components/src/app/app.tsx
  apps/demo-ui-components/src/app/routes/index.ts
  apps/demo-ui-components/src/app/routes/ui-card.tsx
  libs/ui-card/src/components/card/card-title/card-title.variants.ts
  libs/ui-card/src/components/two-cards-square-photo/__image_snapshots__/TwoCardsSquarePhoto should render two cards - desktop #0.png
  libs/ui-card/src/components/two-cards-square-photo/__image_snapshots__/TwoCardsSquarePhoto should render two cards - mobile #0.png
  libs/ui-card/src/components/two-cards-square-photo/index.ts
  libs/ui-card/src/components/two-cards-square-photo/two-cards-square-photo.cy.tsx
  libs/ui-card/src/components/two-cards-square-photo/two-cards-square-photo.stories.tsx
  libs/ui-card/src/components/two-cards-square-photo/two-cards-square-photo.tsx
  libs/ui-card/src/index.ts
  libs/ui-theme-core/src/tailwind-preset.js
  package.json
  yarn.lock
Due: test, component-test

chore(ui-card): release version 0.4.0
  libs/ui-card/CHANGELOG.md
  libs/ui-card/package.json
Due: none

style(ui-base-components): change default color for twitter
  libs/ui-theme-core/src/tailwind-preset.js
Due: none

chore(ui-base-components): change twitter and share icons
  libs/ui-base-components/src/svg/compiled/symbol/svg/sprite.css.svg
  libs/ui-base-components/src/svg/share.svg
  libs/ui-base-components/src/svg/twitter.svg
Due: none

ci(tailwindcss): adds watch-css script to watch for changes and build tailwindcss automatically
  libs/ui-article-delivery/project.json
  libs/ui-base-components/project.json
  libs/ui-card/project.json
  libs/ui-footer-delivery/project.json
  libs/ui-form-components/project.json
  libs/ui-header-delivery/project.json
  libs/ui-layout/project.json
  libs/ui-section-foot/project.json
  libs/ui-section-heading/project.json
  libs/ui-section-menu/project.json
  libs/ui-voting-components/project.json
Due: none

ci(ui-layout-css): renames the styles.css to style.css to match the other libs
  libs/ui-layout/project.json
  libs/ui-layout/src/style.css
  libs/ui-layout/src/styles/styles.ts
Due: test

feat: created component
  libs/ui-base-components/src/components/typography/__image_snapshots__/Typography using ClassName #0.png
  libs/ui-base-components/src/components/typography/__image_snapshots__/Typography using color #0.png
  libs/ui-base-components/src/components/typography/__image_snapshots__/Typography using fontFamily #0.png
  libs/ui-base-components/src/components/typography/__image_snapshots__/Typography using fontSize #0.png
  libs/ui-base-components/src/components/typography/__image_snapshots__/Typography using fontWeight #0.png
  libs/ui-base-components/src/components/typography/index.ts
  libs/ui-base-components/src/components/typography/typography.css
  libs/ui-base-components/src/components/typography/typography.cy.tsx
  libs/ui-base-components/src/components/typography/typography.stories.tsx
  libs/ui-base-components/src/components/typography/typography.tsx
  libs/ui-base-components/src/components/typography/typography.variants.ts
  libs/ui-base-components/src/index.ts
Due: test, component-test

chore: added fallback paragraph
  libs/ui-base-components/src/components/paragraph/paragraph.variants.ts
  libs/ui-base-components/src/components/typography/typography.css
  libs/ui-base-components/src/components/typography/typography.cy.tsx
  libs/ui-base-components/src/components/typography/typography.stories.tsx
Due: test, component-test

chore: rename folder
  libs/ui-base-components/src/components/typography/mock/typography.css
Due: none

chore: fix articleProvider
  apps/demo-ui-components/src/app/routes/ui-article-delivery.tsx
Due: test, component-test

refactor: fix font size control
  apps/demo-ui-components/src/app/routes/ui-article-delivery.tsx
  libs/ui-article-delivery/src/utils/context/article-context.ts
  libs/ui-article-delivery/src/utils/provider/article-provider.tsx
  libs/ui-base-components/src/components/typography/typography.tsx
Due: test, component-test

chore: removed react
  libs/ui-base-components/src/components/typography/typography.tsx
Due: test, component-test

chore: realocated articleProvider
  apps/demo-ui-components/src/app/app.tsx
  apps/demo-ui-components/src/app/routes/ui-article-delivery.tsx
Due: test, component-test

chore: realocated articleProvider
  apps/demo-ui-components/src/app/routes/ui-article-delivery.tsx
Due: test, component-test
