Repository r7com/front-monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build storybook, deploy storybook, test, component-test

Path conditions:
  build storybook: any of: *.stories.tsx
  deploy storybook: any of: *.stories.tsx
  test: any of: */**/*.tsx, */**/*.ts
  component-test: any of: */**/*.tsx

docs: new story for internals-header
  libs/ui-header-delivery/src/components/header.stories.tsx
Due: test, component-test

test: testing internals-header scroll trigger
  libs/ui-header-delivery/src/components/__image_snapshots__/InternalsHeader should only be visible when triggerElement is out of the viewport #0.png
  libs/ui-header-delivery/src/components/internals-header.cy.tsx
Due: test, component-test

feat: custom hook to verify if element is in viewport
  libs/ui-header-delivery/src/components/internals-header/utils/hooks/use-is-in-viewport.ts
Due: test

test: fixing tests and snapshots
  libs/ui-header-delivery/src/components/__image_snapshots__/InternalsHeader should be rendered #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/InternalsHeader should only be visible when triggerElement is out of the viewport #0.png
  libs/ui-header-delivery/src/components/internals-header.cy.tsx
Due: test, component-test

feat(ui-article-delivery): add article header layout
  libs/ui-article-delivery/src/components/article-header/article-header-heading/article-header-heading.tsx
  libs/ui-article-delivery/src/components/article-header/article-header-topbar/article-header-topbar.tsx
  libs/ui-article-delivery/src/components/article-header/article-header.tsx
  libs/ui-article-delivery/src/components/article-header/index.ts
  libs/ui-article-delivery/src/components/signature/signature.tsx
  libs/ui-article-delivery/src/index.ts
Due: test, component-test

test(ui-article-delivery): add test to article-header
  libs/ui-article-delivery/src/components/article-header/__image_snapshots__/Signature should render article header #0.png
  libs/ui-article-delivery/src/components/article-header/__image_snapshots__/Signature should render article header on desktop #0.png
  libs/ui-article-delivery/src/components/article-header/__image_snapshots__/Signature should render article header on mobile #0.png
  libs/ui-article-delivery/src/components/article-header/__image_snapshots__/Signature should render section name props #0.png
  libs/ui-article-delivery/src/components/article-header/article-header.cy.tsx
Due: test, component-test

docs(ui-article-delivery): add article header layout storybook
  libs/ui-article-delivery/src/components/article-header/article-header.stories.tsx
Due: test, component-test

chore(ui-article-delivery): remove old images from snapshot
  libs/ui-article-delivery/src/components/article-header/__image_snapshots__/Signature should render article header #0.png
  libs/ui-article-delivery/src/components/article-header/__image_snapshots__/Signature should render section name props #0.png
Due: none

chore: suggestions from merge-request
  libs/ui-header-delivery/src/components/internals-header/internals-header-root/internals-header.tsx
  libs/ui-header-delivery/src/components/internals-header/internals-header-section-name/internals-header-section-name.tsx
  libs/ui-header-delivery/src/components/internals-header/utils/hooks/use-is-in-viewport.ts
Due: test, component-test

test(ui-base-components): added test for adplaceholder
  libs/ui-base-components/src/components/ad-placeholder/__image_snapshots__/AdPlaceholder should render ad placeholder #0.png
  libs/ui-base-components/src/components/ad-placeholder/placeholder.cy.tsx
  libs/ui-base-components/src/components/ad-placeholder/placeholder.tsx
Due: test, component-test

refactor(ui-base-components): changing colors of adplaceholder
  libs/ui-base-components/src/components/ad-placeholder/__image_snapshots__/AdPlaceholder should render ad placeholder #0.png
  libs/ui-base-components/src/components/ad-placeholder/placeholder.tsx
Due: test, component-test

docs(ui-base-components): added stories for adplaceholder
  libs/ui-base-components/src/components/ad-placeholder/placeholder.stories.tsx
Due: test, component-test

chore: removing console.log
  libs/ui-header-delivery/src/components/internals-header/utils/hooks/use-is-in-viewport.ts
Due: test

style: change socials color
  libs/ui-header-delivery/src/components/header/header-social-item/header-social-item.tsx
Due: test, component-test

feat(ui-article-delivery): add article header layout
  libs/ui-article-delivery/src/components/article-header/__image_snapshots__/Signature should render article header on desktop #0.png
  libs/ui-article-delivery/src/components/article-header/__image_snapshots__/Signature should render article header on mobile #0.png
  libs/ui-article-delivery/src/components/article-header/article-header-heading/article-header-heading.tsx
  libs/ui-article-delivery/src/components/article-header/article-header-topbar/article-header-topbar.tsx
  libs/ui-article-delivery/src/components/article-header/article-header.cy.tsx
  libs/ui-article-delivery/src/components/article-header/article-header.stories.tsx
  libs/ui-article-delivery/src/components/article-header/article-header.tsx
  libs/ui-article-delivery/src/components/article-header/index.ts
  libs/ui-article-delivery/src/components/signature/signature.tsx
  libs/ui-article-delivery/src/index.ts
Due: test, component-test

chore(ui-article-delivery): release version 0.4.0
  libs/ui-article-delivery/CHANGELOG.md
  libs/ui-article-delivery/package.json
Due: none

feat(ui-base-components): added variants for ad-shell
  libs/ui-base-components/src/components/ad-shell/ad-shell.tsx
  libs/ui-base-components/src/components/ad-shell/ad-shell.variants.tsx
Due: test, component-test

test(ui-base-components): added tests for ad-shell component
  libs/ui-base-components/src/components/ad-shell/__image_snapshots__/AdShell should render all layout variants #0.png
  libs/ui-base-components/src/components/ad-shell/ad-shell.cy.tsx
  libs/ui-base-components/src/components/ad-shell/ad-shell.tsx
Due: test, component-test

style(ui-base-components): added blank line in ad-shell component
  libs/ui-base-components/src/components/ad-shell/ad-shell.tsx
Due: test, component-test

chore: fix storybook
  libs/ui-base-components/src/components/breadcrumb/breadcrumb.stories.tsx
Due: test, component-test

refactor(ui-base-components): changing test order of ad-shell component; setting layout as optional
  libs/ui-base-components/src/components/ad-shell/__image_snapshots__/AdShell should render all layout variants #0.png
  libs/ui-base-components/src/components/ad-shell/ad-shell.cy.tsx
  libs/ui-base-components/src/components/ad-shell/ad-shell.tsx
Due: test, component-test

feat(ui-base-components): added sotires for ad-shell component
  libs/ui-base-components/src/components/ad-shell/ad-shell.stories.tsx
Due: test, component-test

style(ui-base-components): removing blank lines and unnecessary comments
  libs/ui-base-components/src/components/ad-placeholder/placeholder.stories.tsx
Due: test, component-test

Hat variant and card.image renaming
  libs/ui-card/src/components/card/card-figure/__image_snapshots__/CardFigure should render all format variants #0.png
  libs/ui-card/src/components/card/card-figure/__image_snapshots__/CardFigure should render default image #0.png
  libs/ui-card/src/components/card/card-figure/__image_snapshots__/CardFigure should render image with shadow #0.png
  libs/ui-card/src/components/card/card-figure/card-figure.cy.tsx
  libs/ui-card/src/components/card/card-figure/card-figure.stories.tsx
  libs/ui-card/src/components/card/card-figure/card-figure.tsx
  libs/ui-card/src/components/card/card-figure/card-figure.variants.tsx
  libs/ui-card/src/components/card/card-hat/card-hat-title.tsx
  libs/ui-card/src/components/card/card-hat/card-hat-title.variants.tsx
  libs/ui-card/src/components/card/card-hat/card-hat.stories.tsx
  libs/ui-card/src/components/card/card-label/card-label.stories.tsx
  libs/ui-card/src/components/card/card.stories.tsx
  libs/ui-card/src/components/card/card.tsx
Due: test, component-test

refactor: update fontSize styles
  apps/demo-ui-components/src/app/routes/ui-article-delivery.tsx
  libs/ui-base-components/src/components/paragraph/paragraph.variants.ts
Due: test, component-test

refactor: added new DS url and fix styles
  libs/ui-base-components/cypress/downloads/downloads.html (1).crdownload
  libs/ui-base-components/src/components/breadcrumb/__image_snapshots__/Breadcrumb should render Breadcrumb Desktop #0.png
  libs/ui-base-components/src/components/breadcrumb/__image_snapshots__/Breadcrumb should render Breadcrumb mobile #0.png
  libs/ui-base-components/src/components/breadcrumb/breadcrumb-item/breadcrumb-item.tsx
  libs/ui-base-components/src/components/breadcrumb/breadcrumb.stories.tsx
  libs/ui-base-components/src/components/bullet/__image_snapshots__/Bullet render all size variants #0.png
  libs/ui-base-components/src/components/button/__image_snapshots__/Button variant options should render all color variant options #0.png
  libs/ui-base-components/src/components/button/__image_snapshots__/Button variant options should render all size variant options #0.png
  libs/ui-base-components/src/components/button/__image_snapshots__/Button variant options should render as button #0.png
  libs/ui-base-components/src/components/button/__image_snapshots__/Button variant options should render as link #0.png
  libs/ui-base-components/src/components/button/__image_snapshots__/Button variant options should render with startIcon and endIcon #0.png
Due: test, component-test

chore: update snapshoot
  libs/ui-base-components/cypress/downloads/downloads.html (1).crdownload
  libs/ui-base-components/src/components/bullet/__image_snapshots__/Bullet render all size variants #0.png
  libs/ui-base-components/src/components/button/__image_snapshots__/Button variant options should render all color variant options #0.png
  libs/ui-base-components/src/components/button/__image_snapshots__/Button variant options should render all size variant options #0.png
  libs/ui-base-components/src/components/button/__image_snapshots__/Button variant options should render as button #0.png
  libs/ui-base-components/src/components/button/__image_snapshots__/Button variant options should render as link #0.png
  libs/ui-base-components/src/components/button/__image_snapshots__/Button variant options should render with startIcon and endIcon #0.png
Due: none

chore: added variants
  libs/ui-base-components/src/components/breadcrumb/breadcrumb-item/breadcrumb-item.tsx
  libs/ui-base-components/src/components/breadcrumb/breadcrumb.variants.ts
Due: test, component-test

feat: add comment inside empty variables in css from tailwind
  libs/ui-article-delivery/project.json
  libs/ui-base-components/project.json
  libs/ui-card/project.json
  libs/ui-footer-delivery/project.json
  libs/ui-form-components/project.json
  libs/ui-header-delivery/project.json
  libs/ui-section-foot/project.json
  libs/ui-section-heading/project.json
  libs/ui-section-menu/project.json
  package.json
  tools/add-empty-variable-css/add-empty-variable.js
  tools/jest.config.js
  tools/nx-generate/src/generaters/react-library/project-json.mjs
  tools/nx-generate/src/utils/constants.mjs
  tools/tsconfig.spec.json
  tools/tsconfig.tools.json
Due: none

test: function add comment in empty variables
  tools/add-empty-variable-css/add-empty-variable.spec.js
Due: none

ci: update ci to build specific css to arc environment
  deploy-libs.js
Due: none

Internals header
  libs/ui-header-delivery/src/components/__image_snapshots__/InternalsHeader should be rendered #0.png
  libs/ui-header-delivery/src/components/header.stories.tsx
  libs/ui-header-delivery/src/components/header/header-social-item/header-social-item.tsx
  libs/ui-header-delivery/src/components/internals-header.cy.tsx
  libs/ui-header-delivery/src/components/internals-header/index.ts
  libs/ui-header-delivery/src/components/internals-header/internals-header-root/internals-header.tsx
  libs/ui-header-delivery/src/components/internals-header/internals-header-root/internals-header.variants.ts
  libs/ui-header-delivery/src/components/internals-header/internals-header-section-name/internals-header-section-name.tsx
  libs/ui-header-delivery/src/components/internals-header/internals-header-title/internals-header-title.tsx
  libs/ui-header-delivery/src/components/internals-header/utils/hooks/use-is-in-viewport.ts
  libs/ui-header-delivery/src/index.ts
Due: test, component-test

refactor: refactoring to english messages
  tools/add-empty-variable-css/add-empty-variable.js
Due: none

chore(ui-header-delivery): release version 2.4.0
  libs/ui-header-delivery/CHANGELOG.md
  libs/ui-header-delivery/package.json
Due: none

fix(ui-header-delivery): check and validate if trigger element exists
  libs/ui-header-delivery/src/components/internals-header/internals-header-root/internals-header.tsx
  libs/ui-header-delivery/src/components/internals-header/utils/hooks/use-is-in-viewport.ts
Due: test, component-test

Refactor/Paragraph
  apps/demo-ui-components/src/app/routes/ui-article-delivery.tsx
  libs/ui-base-components/src/components/paragraph/paragraph.variants.ts
Due: test, component-test

chore(ui-base-components): release version 0.4.0
  libs/ui-base-components/CHANGELOG.md
  libs/ui-base-components/package.json
Due: none

style: fix layout arrow
  libs/ui-base-components/src/components/breadcrumb/__image_snapshots__/Breadcrumb should render Breadcrumb Desktop #0.png
  libs/ui-base-components/src/components/breadcrumb/__image_snapshots__/Breadcrumb should render Breadcrumb mobile #0.png
  libs/ui-base-components/src/components/breadcrumb/breadcrumb.variants.ts
Due: test

chore: fix color
  libs/ui-base-components/src/components/breadcrumb/breadcrumb.variants.ts
Due: test

refactor: create utils to include getParam
  tools/add-empty-variable-css/add-empty-variable.js
  tools/generate-dynamic-types.js
  tools/utils/utils.js
Due: none
