Repository r7com/front-monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: storybook, test, component-test

storybook:
  interruptible: true
  tags:
  - gitlab-runner-ec2
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - .yarn-cache/
    - cache/Cypress
  before_script:
  - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
  - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
  ...

test:
  interruptible: true
  tags:
  - gitlab-runner-ec2
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - .yarn-cache/
    - cache/Cypress
  before_script:
  - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
  - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
  ...

component-test:
  interruptible: true
  tags:
  - gitlab-runner-ec2
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - .yarn-cache/
    - cache/Cypress
  before_script:
  - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
  - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
  ...

test(signature): debugger date in ci
  libs/ui-article-delivery/src/components/signature/__image_snapshots__/Signature should render agencyImageUrl prop #0.png
  libs/ui-article-delivery/src/components/signature/__image_snapshots__/Signature should render updated time #0.png
  libs/ui-article-delivery/src/components/signature/signature.cy.tsx
  libs/ui-article-delivery/src/components/signature/utils/formatDate.ts
Due: test, component-test

refactor(signature): improve to a unique replace
  libs/ui-article-delivery/src/components/signature/utils/formatDate.ts
Due: test

feat(contrast-control): added structure initial
  apps/admin/src/app/app.tsx
  libs/ui-base-components/src/components/contrast-control/constants/constants.ts
  libs/ui-base-components/src/components/contrast-control/constants/index.ts
  libs/ui-base-components/src/components/contrast-control/contrast-control.tsx
  libs/ui-base-components/src/components/contrast-control/contrast-control.variants.tsx
  libs/ui-base-components/src/components/contrast-control/css/contrast.css
  libs/ui-base-components/src/components/contrast-control/index.ts
  libs/ui-base-components/src/index.ts
Due: test, component-test

feat(contrast-control): added style
  libs/ui-base-components/src/components/contrast-control/contrast-control.tsx
  libs/ui-base-components/src/components/contrast-control/css/contrast.css
Due: test, component-test

feat(contrast-control): added tailwind variants
  apps/admin/src/app/app.tsx
  libs/ui-base-components/src/components/contrast-control/contrast-control.tsx
  libs/ui-base-components/src/components/contrast-control/contrast-control.variants.tsx
  libs/ui-base-components/src/components/contrast-control/css/contrast.css
Due: test, component-test

test(signature): fix test in old browsers chrome
  libs/ui-article-delivery/src/components/signature/signature-date/signature-date.tsx
  libs/ui-article-delivery/src/components/signature/utils/formatDate.ts
Due: test, component-test

refactor(signature): remove space
  libs/ui-article-delivery/src/components/signature/utils/formatDate.ts
Due: test

fix(font-size-changer): renamed folders and style
  apps/admin/src/app/app.tsx
  libs/ui-base-components/src/components/font-size-changer/font-size-changer-decrease/font-size-changer-decrease.tsx
  libs/ui-base-components/src/components/font-size-changer/font-size-changer-increase/font-size-changer-increase.tsx
  libs/ui-base-components/src/components/font-size-changer/font-size-changer-root/font-size-changer-root.tsx
  libs/ui-base-components/src/components/font-size-changer/font-size-changer-root/index.ts
  libs/ui-base-components/src/components/font-size-changer/font-size-changer.tsx
  libs/ui-base-components/src/components/font-size-changer/font-size-changer.variants.ts
  libs/ui-base-components/src/components/font-size-changer/index.ts
Due: test, component-test

refactor(signature): refactoring args in storybook
  libs/ui-article-delivery/src/components/signature/signature-agency/signature-agency.tsx
  libs/ui-article-delivery/src/components/signature/signature.stories.tsx
  libs/ui-article-delivery/src/components/signature/signature.tsx
Due: test, component-test

refactor(signature): auto closed in signature tag
  apps/demo-ui-components/src/app/routes/ui-article-delivery.tsx
Due: test, component-test

refactor(signature): remove packagelock inside ui-article-delivery
  libs/ui-article-delivery/package-lock.json
  libs/ui-article-delivery/package.json
Due: none

feat(audima): create audima component
  apps/admin/src/app/app.tsx
  libs/ui-base-components/src/components/audima/audima.tsx
  libs/ui-base-components/src/components/audima/index.ts
  libs/ui-base-components/src/components/audima/utils/index.ts
  libs/ui-base-components/src/components/audima/utils/utils.ts
  libs/ui-base-components/src/index.ts
Due: test, component-test

feat(AccessibilityBar): created structure
  libs/ui-base-components/src/components/accessibility-bar/accessibility-bar-item/accessibility-bar-item.tsx
  libs/ui-base-components/src/components/accessibility-bar/accessibility-bar-item/index.ts
  libs/ui-base-components/src/components/accessibility-bar/accessibility-bar-list/accessibility-bar-list.tsx
  libs/ui-base-components/src/components/accessibility-bar/accessibility-bar.tsx
  libs/ui-base-components/src/components/accessibility-bar/index.ts
Due: test, component-test

feat(accessibilityBar): created variants
  libs/ui-base-components/src/components/accessibility-bar/accessibility-bar.variants.ts
Due: test

feat(accessibility): created integration of audima, font-control and contrast
  apps/admin/src/app/app.tsx
  libs/ui-base-components/src/components/accessibility-bar/accessibility-bar-item/accessibility-bar-item.tsx
  libs/ui-base-components/src/components/accessibility-bar/accessibility-bar-list/accessibility-bar-list.tsx
  libs/ui-base-components/src/components/accessibility-bar/accessibility-bar-list/index.ts
  libs/ui-base-components/src/components/accessibility-bar/accessibility-bar.tsx
  libs/ui-base-components/src/components/accessibility-bar/accessibility-bar.variants.ts
  libs/ui-base-components/src/components/audima/audima.tsx
  libs/ui-base-components/src/components/contrast-control/contrast-control.variants.tsx
  libs/ui-base-components/src/index.ts
Due: test, component-test

feat(signature): add signature component
  apps/demo-ui-components/src/app/app.tsx
  apps/demo-ui-components/src/app/routes/index.ts
  apps/demo-ui-components/src/app/routes/ui-article-delivery.tsx
  libs/ui-article-delivery/.eslintrc.json
  libs/ui-article-delivery/README.md
  libs/ui-article-delivery/cypress.config.ts
  libs/ui-article-delivery/cypress/fixtures/example.json
  libs/ui-article-delivery/cypress/support/commands.ts
  libs/ui-article-delivery/cypress/support/component-index.html
  libs/ui-article-delivery/cypress/support/component.ts
  libs/ui-article-delivery/cypress/support/style.css
  libs/ui-article-delivery/cypress/tsconfig.json
  libs/ui-article-delivery/jest.config.ts
  libs/ui-article-delivery/package.json
  libs/ui-article-delivery/postcss.config.js
  libs/ui-article-delivery/project.json
  libs/ui-article-delivery/src/components/signature/__image_snapshots__/Signature should render agencyImageUrl prop #0.png
  libs/ui-article-delivery/src/components/signature/__image_snapshots__/Signature should render updated time #0.png
  libs/ui-article-delivery/src/components/signature/index.ts
  libs/ui-article-delivery/src/components/signature/signature-agency/signature-agency.tsx
  libs/ui-article-delivery/src/components/signature/signature-content/signature-content.tsx
  libs/ui-article-delivery/src/components/signature/signature-date/signature-date.tsx
  libs/ui-article-delivery/src/components/signature/signature-info/signature-info.tsx
  libs/ui-article-delivery/src/components/signature/signature.cy.tsx
  libs/ui-article-delivery/src/components/signature/signature.stories.tsx
  libs/ui-article-delivery/src/components/signature/signature.tsx
  libs/ui-article-delivery/src/components/signature/utils/formatDate.test.ts
  libs/ui-article-delivery/src/components/signature/utils/formatDate.ts
  libs/ui-article-delivery/src/index.ts
  libs/ui-article-delivery/src/style.css
  libs/ui-article-delivery/tailwind.config.js
  libs/ui-article-delivery/tsconfig.json
  libs/ui-article-delivery/tsconfig.lib.json
  libs/ui-article-delivery/tsconfig.spec.json
  libs/ui-article-delivery/vite.config.ts
  tsconfig.base.json
Due: test, component-test

chore: update deploy and build trigger for storybook
  .gitlab-ci.yml
Due: none

chore: move on folders to ui-article-delivery
  apps/admin/src/app/app.tsx
  libs/ui-article-delivery/src/components/accessibility-bar/accessibility-bar-item/accessibility-bar-item.tsx
  libs/ui-article-delivery/src/components/accessibility-bar/accessibility-bar-item/index.ts
  libs/ui-article-delivery/src/components/accessibility-bar/accessibility-bar-list/accessibility-bar-list.tsx
  libs/ui-article-delivery/src/components/accessibility-bar/accessibility-bar-list/index.ts
  libs/ui-article-delivery/src/components/accessibility-bar/accessibility-bar.tsx
  libs/ui-article-delivery/src/components/accessibility-bar/accessibility-bar.variants.ts
  libs/ui-article-delivery/src/components/accessibility-bar/index.ts
  libs/ui-article-delivery/src/components/audima/audima.tsx
  libs/ui-article-delivery/src/components/audima/index.ts
  libs/ui-article-delivery/src/components/audima/utils/index.ts
  libs/ui-article-delivery/src/components/audima/utils/utils.ts
  libs/ui-article-delivery/src/components/contrast-control/constants/constants.ts
  libs/ui-article-delivery/src/components/contrast-control/constants/index.ts
  libs/ui-article-delivery/src/components/contrast-control/contrast-control.tsx
  libs/ui-article-delivery/src/components/contrast-control/contrast-control.variants.tsx
  libs/ui-article-delivery/src/components/contrast-control/css/contrast.css
  libs/ui-article-delivery/src/components/contrast-control/index.ts
  libs/ui-article-delivery/src/components/font-size-changer/font-size-changer-decrease/font-size-changer-decrease.tsx
  libs/ui-article-delivery/src/components/font-size-changer/font-size-changer-decrease/index.ts
  libs/ui-article-delivery/src/components/font-size-changer/font-size-changer-increase/font-size-changer-increase.tsx
  libs/ui-article-delivery/src/components/font-size-changer/font-size-changer-increase/index.ts
  libs/ui-article-delivery/src/components/font-size-changer/font-size-changer.tsx
  libs/ui-article-delivery/src/components/font-size-changer/font-size-changer.variants.ts
  libs/ui-article-delivery/src/components/font-size-changer/index.ts
  libs/ui-article-delivery/src/components/font-size-changer/readme.md
  libs/ui-article-delivery/src/components/font-size-changer/utils/index.ts
  libs/ui-article-delivery/src/components/font-size-changer/utils/utils.ts
  libs/ui-article-delivery/src/index.ts
  libs/ui-base-components/src/index.ts
Due: test, component-test

refactor(section-heading): adds a story for each subcomponent
  libs/ui-section-heading/src/components/section-heading/section-heading-image/section-heading-image.stories.tsx
  libs/ui-section-heading/src/components/section-heading/section-heading-line/section-heading-line.stories.tsx
  libs/ui-section-heading/src/components/section-heading/section-heading-tag/section-heading-tag.stories.tsx
  libs/ui-section-heading/src/components/section-heading/section-heading-title/section-heading-title.stories.tsx
Due: test, component-test

chore: restructre of folders
  apps/admin/src/app/app.tsx
  apps/demo-ui-components/src/app/routes/ui-article-delivery.tsx
  apps/demo-ui-components/src/style.css
  libs/ui-article-delivery/src/components/accessibility-bar/accessibility-bar-item/accessibility-bar-item.tsx
  libs/ui-article-delivery/src/components/accessibility-bar/accessibility-bar-list/accessibility-bar-list.tsx
  libs/ui-article-delivery/src/components/accessibility-bar/accessibility-bar.tsx
  libs/ui-article-delivery/src/components/accessibility-bar/accessibility-bar.variants.ts
  libs/ui-article-delivery/src/components/audima/audima.tsx
  libs/ui-article-delivery/src/components/contrast-control/constants/constants.ts
  libs/ui-article-delivery/src/components/contrast-control/contrast-control.tsx
  libs/ui-article-delivery/src/components/contrast-control/contrast-control.variants.tsx
  libs/ui-article-delivery/src/components/contrast-control/css/contrast.css
  libs/ui-article-delivery/src/components/font-size-changer/font-size-changer-decrease/index.ts
  libs/ui-article-delivery/src/components/font-size-changer/font-size-changer-increase/index.ts
  libs/ui-article-delivery/src/components/font-size-changer/font-size-changer.tsx
  libs/ui-article-delivery/src/components/font-size-changer/font-size-changer.variants.ts
  libs/ui-article-delivery/src/components/font-size-changer/index.ts
  libs/ui-article-delivery/src/components/font-size-control/font-size-control-decrease/font-size-control-decrease.tsx
  libs/ui-article-delivery/src/components/font-size-control/font-size-control-decrease/index.ts
  libs/ui-article-delivery/src/components/font-size-control/font-size-control-increase/font-size-control-increase.tsx
  libs/ui-article-delivery/src/components/font-size-control/font-size-control-increase/index.ts
  libs/ui-article-delivery/src/components/font-size-control/font-size-control.tsx
  libs/ui-article-delivery/src/components/font-size-control/font-size-control.variants.ts
  libs/ui-article-delivery/src/components/font-size-control/index.ts
  libs/ui-article-delivery/src/components/font-size-control/readme.md
  libs/ui-article-delivery/src/components/font-size-control/utils/index.ts
  libs/ui-article-delivery/src/components/font-size-control/utils/utils.ts
  libs/ui-article-delivery/src/components/signature/signature-agency/signature-agency.tsx
  libs/ui-article-delivery/src/components/signature/signature-date/signature-date.tsx
  libs/ui-article-delivery/src/components/signature/signature-info/signature-info.tsx
  libs/ui-article-delivery/src/index.ts
  libs/ui-article-delivery/tailwind.config.js
  libs/ui-base-components/src/components/button/button.variants.ts
  libs/ui-base-components/src/components/subtitle/subtitle.variants.ts
  libs/ui-base-components/src/components/text/text.variants.ts
  libs/ui-base-components/src/components/title/title.variants.ts
Due: test, component-test

chore(ui-section-heading): release version 0.1.1
  libs/ui-section-heading/CHANGELOG.md
  libs/ui-section-heading/package.json
Due: none

refactor(ui-card): re-adding svg sprite with updates
  libs/ui-base-components/src/svg/compiled/symbol/svg/sprite.css.svg
Due: none

feat(ui-card): ui-card-componentes
  libs/ui-base-components/src/components/svg-icon/svg-icon.types.ts
  libs/ui-base-components/src/svg/acrl-r.svg
  libs/ui-base-components/src/svg/compiled/symbol/svg/sprite.css.svg
  libs/ui-base-components/src/svg/phone.svg
  libs/ui-base-components/src/svg/quotation.svg
  libs/ui-base-components/src/svg/r7-estudio.svg
  libs/ui-base-components/src/svg/thunder.svg
  libs/ui-card/src/components/card/card-hat/card-hat-image.tsx
  libs/ui-card/src/components/card/card-hat/card-hat-title.tsx
  libs/ui-card/src/components/card/card-hat/card-hat-title.variants.tsx
  libs/ui-card/src/components/card/card-hat/card-hat-wrapper.tsx
  libs/ui-card/src/components/card/card-hat/card-hat-wrapper.variants.tsx
  libs/ui-card/src/components/card/card-hat/card-hat.tsx
  libs/ui-card/src/components/card/card-image/card-image.tsx
  libs/ui-card/src/components/card/card-image/card-image.variants.tsx
  libs/ui-card/src/components/card/card-label/card-label-variants.tsx
  libs/ui-card/src/components/card/card-label/card-label.tsx
  libs/ui-card/src/components/card/card-root/card-root.tsx
  libs/ui-card/src/components/card/card-title/card-title.tsx
  libs/ui-card/src/components/card/card-title/card-title.variants.ts
  libs/ui-card/src/components/card/card.tsx
  libs/ui-card/src/components/card/index.ts
  libs/ui-card/vite.config.ts
Due: test, component-test

refactor(ui-card): setting className default value, removing duplicated style
  libs/ui-card/src/components/card/card-hat/card-hat-image.tsx
  libs/ui-card/src/components/card/card.tsx
Due: test, component-test

test: created test
  apps/demo-ui-components/src/app/routes/ui-article-delivery.tsx
  libs/ui-article-delivery/.eslintrc.json
  libs/ui-article-delivery/src/components/audima/utils/utils.test.ts
Due: test, component-test

refactor(ui-card): merge request corrections
  libs/ui-card/src/components/card/card-hat/card-hat-wrapper.tsx
  libs/ui-card/src/components/card/card-hat/card-hat-wrapper.variants.tsx
  libs/ui-card/src/components/card/card-image/card-image.tsx
  libs/ui-card/src/components/card/card-label/card-label-variants.tsx
  libs/ui-card/src/components/card/card-title/card-title.tsx
Due: test, component-test

chore: added aspectRatio in tailwind preset
  libs/ui-card/src/components/card/card-image/card-image.variants.tsx
  libs/ui-theme-core/src/tailwind-preset.js
Due: test, component-test

refactor(ui-card): added conditional for rel attribute in card link
  libs/ui-card/src/components/card/card.tsx
Due: test, component-test

chore: default social-media colors
  libs/ui-theme-core/src/tailwind-preset.js
Due: none

chore: add social-share component to demo-ui app
  apps/demo-ui-components/src/app/routes/ui-article-delivery.tsx
Due: test, component-test

chore: add google-news svg to svg-icons sprite
  libs/ui-base-components/src/components/svg-icon/svg-icon.types.ts
  libs/ui-base-components/src/svg/compiled/symbol/svg/sprite.css.svg
  libs/ui-base-components/src/svg/google-news-white.svg
Due: test

feat: creating social-icon components with variants
  libs/ui-article-delivery/src/components/social-share/social-icons/facebook.tsx
  libs/ui-article-delivery/src/components/social-share/social-icons/google-news.tsx
  libs/ui-article-delivery/src/components/social-share/social-icons/index.ts
  libs/ui-article-delivery/src/components/social-share/social-icons/linkedin.tsx
  libs/ui-article-delivery/src/components/social-share/social-icons/share.tsx
  libs/ui-article-delivery/src/components/social-share/social-icons/social-icons.variants.ts
  libs/ui-article-delivery/src/components/social-share/social-icons/twitter.tsx
  libs/ui-article-delivery/src/components/social-share/social-icons/types.ts
  libs/ui-article-delivery/src/components/social-share/social-icons/whatsapp.tsx
Due: test, component-test

feat: social-share wrapper, link and item
  libs/ui-article-delivery/src/components/social-share/social-item/social-item.tsx
  libs/ui-article-delivery/src/components/social-share/social-item/social-item.variants.ts
  libs/ui-article-delivery/src/components/social-share/social-list/social-list.tsx
  libs/ui-article-delivery/src/components/social-share/social-share.tsx
Due: test, component-test

chore: add svgr plugin to ui-article-lib
  libs/ui-article-delivery/vite.config.ts
Due: test

docs: social-share storybook
  libs/ui-article-delivery/src/components/social-share/social-share.stories.tsx
Due: test, component-test

test: social-share tests with snapshot
  libs/ui-article-delivery/src/components/social-share/__image_snapshots__/SocialShare should render social-share links #0.png
  libs/ui-article-delivery/src/components/social-share/social-share.cy.tsx
Due: test, component-test

chore: exporting social-share component
  libs/ui-article-delivery/src/components/social-share/index.ts
  libs/ui-article-delivery/src/index.ts
Due: test

chore: using social-share wrapper in demo app
  apps/demo-ui-components/src/app/routes/ui-article-delivery.tsx
Due: test, component-test

test: add tests with different component variants
  libs/ui-article-delivery/src/components/social-share/__image_snapshots__/SocialShare should render social-share links with primary color and square shape #0.png
  libs/ui-article-delivery/src/components/social-share/__image_snapshots__/SocialShare should render social-share links with secondary color and rounded shape #0.png
  libs/ui-article-delivery/src/components/social-share/social-share.cy.tsx
Due: test, component-test

feat(acessibilityBar): added storybook and created audima font-size components
  apps/admin/src/bootstrap.tsx
  apps/demo-ui-components/src/app/app.tsx
  apps/demo-ui-components/src/app/routes/ui-article-delivery.tsx
  apps/vision-components/.storybook/tailwind.css
  apps/voting/src/bootstrap.tsx
  libs/ui-article-delivery/src/components/accessibility-bar/accessibility-bar.cy.tsx
  libs/ui-article-delivery/src/components/accessibility-bar/accessibility-bar.stories.tsx
  libs/ui-article-delivery/src/components/audima/__image_snapshots__/Audima Should render Audima #0.png
  libs/ui-article-delivery/src/components/audima/__image_snapshots__/Audima Should render Audima #1.png
  libs/ui-article-delivery/src/components/audima/audima.cy.tsx
  libs/ui-article-delivery/src/components/audima/audima.stories.tsx
  libs/ui-article-delivery/src/components/audima/audima.tsx
  libs/ui-article-delivery/src/components/contrast-control/contrast-control.cy.tsx
  libs/ui-article-delivery/src/components/contrast-control/contrast-control.stories.tsx
  libs/ui-article-delivery/src/components/contrast-control/css/contrast.css
  libs/ui-article-delivery/src/components/font-size-control/font-size-control-decrease/font-size-control-decrease.tsx
  libs/ui-article-delivery/src/components/font-size-control/font-size-control-increase/font-size-control-increase.tsx
  libs/ui-article-delivery/src/components/font-size-control/font-size-control.variants.ts
  libs/ui-article-delivery/src/components/font-size-control/readme.md
  libs/ui-article-delivery/src/components/font-size-control/utils/utils.ts
  libs/ui-article-delivery/src/index.ts
  libs/ui-article-delivery/src/utils/consumer/article-consumer.ts
  libs/ui-article-delivery/src/utils/context/article-context.ts
  libs/ui-article-delivery/src/utils/hooks/use-article-actions.ts
  libs/ui-article-delivery/src/utils/provider/article-provider.tsx
  libs/ui-article-delivery/vite.config.ts
  libs/ui-base-components/src/components/svg-icon/insert-root.tsx
  yarn.lock
Due: test, component-test

Path conditions:
  storybook: any of: *.stories.tsx
  test: any of: */**/*.tsx, */**/*.ts
  component-test: any of: */**/*.tsx
