Repository r7com/front-monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: storybook, test, component-test

.gitlab-ci.yml:

variables:
  NODE_VERSION: node:18
  CI: 'true'
  GIT_DEPTH: 0

image: $NODE_VERSION

stages:
  - test
  - deploy
  - storybook

.distributed:
  interruptible: true
  tags:
    - gitlab-runner-ec2
  only:
    - main
    - merge_requests
  cache:
    key:
      files:
        - yarn.lock
    paths:
      - '.yarn-cache/'
      - cache/Cypress
  before_script:
    - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
    - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
    - NX_HEAD=$CI_COMMIT_SHA

storybook:
  extends: .distributed
  stage: storybook
  script:
    - yarn nx build-storybook vision-components
    - ls -la dist/apps/vision-components
  only:
    refs:
      - main
      - merge_requests
    changes:
      - '*.stories.tsx'
test:
  stage: test
  extends: .distributed
  script:
    - npx nx affected --base=$NX_BASE --head=$NX_HEAD -t test --parallel=3 --configuration=ci
  only:
    refs:
      - main
      - merge_requests
    changes:
      - '*/**/*.tsx'
      - '*/**/*.ts'

component-test:
  image: cypress/browsers:node18.12.0-chrome106-ff106
  stage: test
  extends: .distributed
  script:
    - apt-get update && apt-get install -y xvfb
    - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
    - export DISPLAY=:99
    - CHANGED_FOLDERS=$(git diff --dirstat=files,0 -w --name-only origin/${CI_DEFAULT_BRANCH} $CI_COMMIT_SHA -- '**/components/**' | sed 's:/[^/]*$:/\*:' | paste -sd ',')
    # CHANGED_FOLDERS:
    # Check which folders were modified until the last commit with main
    # only display component folders modified with pattern '/*,' from the cypress spec pattern
    - echo $CHANGED_FOLDERS
    - npx nx affected --base=$NX_BASE --head=$NX_HEAD -t component-test --parallel=3 --configuration=ci --spec "${CHANGED_FOLDERS}"
  only:
    refs:
      - main
      - merge_requests
    changes:
      - '*/**/*.tsx'
  artifacts:
    when: on_failure
    paths:
      - dist/cypress
    expire_in: 1 day

deploy ui-form-components:
  stage: deploy
  extends: .distributed
  script:
    - yarn nx build ui-form-components
    - yarn nx build-css ui-form-components
    - cd ./dist/libs/ui-form-components
    - echo "@r7:registry=https://registry.npmjs.org/" > .npmrc
    - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> .npmrc
    - npm publish
  only:
    refs:
      - /ui-form-components\-.*/

deploy ui-base-components:
  stage: deploy
  extends: .distributed
  script:
    - yarn nx build ui-base-components
    - yarn nx build-css ui-base-components
    - cd ./dist/libs/ui-base-components
    - echo "@r7:registry=https://registry.npmjs.org/" > .npmrc
    - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> .npmrc
    - npm publish
  only:
    refs:
      - /ui-base-components\-.*/

deploy ui-footer-delivery:
  stage: deploy
  extends: .distributed
  script:
    - yarn nx build ui-footer-delivery
    - yarn nx build-css ui-footer-delivery
    - cd ./dist/libs/ui-footer-delivery
    - echo "@r7:registry=https://registry.npmjs.org/" > .npmrc
    - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> .npmrc
    - npm publish
  only:
    refs:
      - /ui-footer-delivery\-.*/

chore: add aria-control to sidebar-toggle button
  libs/ui-header-delivery/src/components/sidebar/sidebar-toggle/sidebar-toggle.tsx
Due: test, component-test

style: adjust in header styles
  libs/ui-header-delivery/src/components/header/header.variants.ts
Due: test

chore: blocking scroll when sidebar is open within sidebar-provider
  libs/ui-header-delivery/src/components/sidebar/utils/provider/sidebar-provider.tsx
Due: test, component-test

refactor: closing sidebar when click insivible button with aria-controls=sidebar
  libs/ui-header-delivery/src/components/sidebar/sidebar-root/sidebar-root.tsx
Due: test, component-test

style: changing backdrop styles
  libs/ui-header-delivery/src/components/sidebar/sidebar-root/sidebar-root.variants.ts
Due: test

fix: fixing misspelled 'sidebarContainer' word
  libs/ui-header-delivery/src/components/sidebar/sidebar-root/sidebar-root.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-root/sidebar-root.variants.ts
Due: test, component-test

style: changing hidden to sr-only in 'backdrop' button content and text from en-us to pt-br
  libs/ui-header-delivery/src/components/sidebar/sidebar-root/sidebar-root.tsx
Due: test, component-test

refactor(ui-card): moving font class to base variant on card-title subcomponent
  libs/ui-card/src/components/card/card-title/card-title.tsx
  libs/ui-card/src/components/card/card-title/card-title.variants.ts
Due: test, component-test

refactor(ui-card): correcting styles of card-hat-title subcomponent
  libs/ui-card/src/components/card/card-hat/card-hat-title.tsx
Due: test, component-test

feat(ui-card): implementing card-label subcomponent with live and sponsored-by variants
  libs/ui-card/src/components/card/card-label/card-label-variants.tsx
  libs/ui-card/src/components/card/card-label/card-label.tsx
Due: test, component-test

feat(ui-card): card-image subcomponent implemented
  libs/ui-card/src/components/card/card-image/card-image.tsx
Due: test, component-test

feat(ui-card): adding className prop to card-root subcomponent
  libs/ui-card/src/components/card/card-root/card-root.tsx
Due: test, component-test

refactor: changing sidebar-category to li element
  libs/ui-header-delivery/src/components/sidebar/sidebar-category/sidebar-category.tsx
Due: test, component-test

refactor: changing sidebar-root components disposition
  libs/ui-header-delivery/src/components/sidebar/sidebar-root/sidebar-root.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-root/sidebar-root.variants.ts
Due: test, component-test

ci: remove changed folders feature. Nx behaves differently after update with main branch
  .gitlab-ci.yml
Due: none

style: fixing backdrop button style overflowing screen
  libs/ui-header-delivery/src/components/sidebar/sidebar-root/sidebar-root.variants.ts
Due: test

style: changing hardcoded color to preset color in sidebar-category
  libs/ui-header-delivery/src/components/sidebar/sidebar-category/sidebar-category.tsx
Due: test, component-test

refactor(sitemap-footer): move prop color from title to root component using css variables
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-menu-title.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-root.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer.stories.tsx
Due: test, component-test

docs(sitemap-footer): change prop to color
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer.stories.tsx
Due: test, component-test

perf: removing "as never" cast by initializing context as context or null
  libs/ui-header-delivery/src/components/sidebar/utils/context/sidebar-context.ts
Due: test

refactor: renomeado section-heading pra section-heading-root
  libs/ui-base-components/src/components/section-heading/index.tsx
  libs/ui-base-components/src/components/section-heading/section-heading-root.cy.tsx
  libs/ui-base-components/src/components/section-heading/section-heading-root.stories.tsx
  libs/ui-base-components/src/components/section-heading/section-heading-root.tsx
  libs/ui-base-components/src/index.ts
Due: test, component-test

feat(ui-base-components): add sitemap footer component
  .gitlab-ci.yml
  libs/ui-footer-delivery/CHANGELOG.md
  libs/ui-footer-delivery/package.json
  libs/ui-footer-delivery/project.json
  libs/ui-footer-delivery/src/components/sitemap-footer/__image_snapshots__/SitemapFooter should render Sitemap Footer with the correct structure #0.png
  libs/ui-footer-delivery/src/components/sitemap-footer/index.ts
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-container.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-menu-item.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-menu-link.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-menu-list.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-menu-title.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-root.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-submenu-item.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-submenu.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer.cy.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer.stories.tsx
  libs/ui-footer-delivery/src/index.ts
  libs/ui-footer-delivery/src/mocks/sitemap.ts
  package.json
  yarn.lock
Due: test, component-test

chore(ui-footer-delivery): release version 1.0.0
  libs/ui-footer-delivery/CHANGELOG.md
  libs/ui-footer-delivery/package.json
Due: none

chore: removing host from admin and voting projects
  apps/admin/project.json
  apps/voting/project.json
Due: none

docs: adding sidebar submenu in storybook
  libs/ui-header-delivery/src/components/header.stories.tsx
Due: test, component-test

chore: using dot notation to compose 'menu' components
  libs/ui-header-delivery/src/components/menu/index.ts
  libs/ui-header-delivery/src/components/menu/menu-root/menu-root.tsx
  libs/ui-header-delivery/src/components/menu/menu-root/menu.tsx
Due: test, component-test

feat: open corresponding submenu by id on button click
  libs/ui-header-delivery/src/components/sidebar/sidebar-button/sidebar-button.tsx
Due: test, component-test

chore: using dot notation to compose 'sidebar' components
  libs/ui-header-delivery/src/components/sidebar/index.ts
  libs/ui-header-delivery/src/components/sidebar/sidebar-root/sidebar-root.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-root/sidebar.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-root/sidebar.variants.ts
Due: test, component-test

feat: adding submenu context actions and current active
  libs/ui-header-delivery/src/components/sidebar/utils/context/sidebar-context.ts
Due: test

feat: adding submenu actions and current state to provider
  libs/ui-header-delivery/src/components/sidebar/utils/provider/sidebar-provider.tsx
Due: test, component-test

feat: creating sidebar-submenu component with its actions and validations
  libs/ui-header-delivery/src/components/sidebar/sidebar-submenu/sidebar-submenu.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-submenu/sidebar-submenu.variants.ts
Due: test, component-test

docs: update snapshots for header with sidebar tests
  libs/ui-header-delivery/src/components/__image_snapshots__/Header with sidebar should open sidebar on sidebar-toggle click #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header with sidebar sidebar should not be visible by default #0.png
Due: none

feat: adding custom label for sidebar-list
  libs/ui-header-delivery/src/components/sidebar/sidebar-list/sidebar-list.tsx
Due: test, component-test

chore: changing submenu item mock data
  libs/ui-header-delivery/src/mocks/SIDEBAR_DATA.ts
Due: test

docs: adding label to rendered sidebar-list
  libs/ui-header-delivery/src/components/header.stories.tsx
Due: test, component-test

test: adding interaction tests for sidebar submenu
  libs/ui-header-delivery/src/components/header.cy.tsx
Due: test, component-test

feat(demo-ui-components): create app demo to ui-components
  apps/demo-ui-components/.eslintrc.json
  apps/demo-ui-components/README.md
  apps/demo-ui-components/index.html
  apps/demo-ui-components/postcss.config.js
  apps/demo-ui-components/project.json
  apps/demo-ui-components/public/favicon.ico
  apps/demo-ui-components/src/app/app.tsx
  apps/demo-ui-components/src/app/mocks/sitemap.ts
  apps/demo-ui-components/src/app/routes/ui-footer-delivery.tsx
  apps/demo-ui-components/src/assets/.gitkeep
  apps/demo-ui-components/src/main.tsx
  apps/demo-ui-components/src/style.css
  apps/demo-ui-components/tailwind.config.js
  apps/demo-ui-components/tsconfig.app.json
  apps/demo-ui-components/tsconfig.json
  apps/demo-ui-components/tsconfig.spec.json
  apps/demo-ui-components/vite.config.ts
Due: test, component-test

docs(ui-card): added storybook for ui-card subcomponents
  libs/ui-card/src/components/card/card-hat/card-hat.stories.tsx
  libs/ui-card/src/components/card/card-image/card-image.stories.tsx
  libs/ui-card/src/components/card/card-label/card-label.stories.tsx
  libs/ui-card/src/components/card/card-title/card-title.stories.tsx
  libs/ui-card/src/components/card/card.stories.tsx
Due: test, component-test

feat(ui-card): added hat-title font color variant and set aspect ratio of hat-image to square
  libs/ui-card/src/components/card/card-hat/card-hat-image.tsx
  libs/ui-card/src/components/card/card-hat/card-hat-title.tsx
  libs/ui-card/src/components/card/card-hat/card-hat-title.variants.tsx
Due: test, component-test

feat(ui-card): added image variants to format and shadow
  libs/ui-card/src/components/card/card-image/card-image.tsx
  libs/ui-card/src/components/card/card-image/card-image.variants.tsx
Due: test, component-test
