Repository r7com/front-monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: storybook, test, component-test

.gitlab-ci.yml:

variables:
  NODE_VERSION: node:18
  CI: 'true'
  GIT_DEPTH: 0

image: $NODE_VERSION

stages:
  - test
  - deploy
  - storybook

.distributed:
  interruptible: true
  tags:
    - gitlab-runner-ec2
  only:
    - main
    - merge_requests
  cache:
    key:
      files:
        - yarn.lock
    paths:
      - '.yarn-cache/'
      - cache/Cypress
  before_script:
    - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
    - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
    - NX_HEAD=$CI_COMMIT_SHA

storybook:
  extends: .distributed
  stage: storybook
  script:
    - yarn nx build-storybook vision-components
    - ls -la dist/apps/vision-components
  only:
    refs:
      - main
      - merge_requests
    changes:
      - '*.stories.tsx'
test:
  stage: test
  extends: .distributed
  script:
    - npx nx affected --base=$NX_BASE --head=$NX_HEAD -t test --parallel=3 --configuration=ci
  only:
    refs:
      - main
      - merge_requests
    changes:
      - '*/**/*.tsx'
      - '*/**/*.ts'

component-test:
  image: cypress/browsers:node18.12.0-chrome106-ff106
  stage: test
  extends: .distributed
  script:
    - apt-get update && apt-get install -y xvfb
    - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
    - export DISPLAY=:99
    - CHANGED_FOLDERS=$(git diff --dirstat=files,0 -w --name-only origin/${CI_DEFAULT_BRANCH} $CI_COMMIT_SHA -- '**/components/**' | sed 's:/[^/]*$:/\*:' | paste -sd ',')
    # CHANGED_FOLDERS:
    # Check which folders were modified until the last commit with main
    # only display component folders modified with pattern '/*,' from the cypress spec pattern
    - echo $CHANGED_FOLDERS
    - npx nx affected --base=$NX_BASE --head=$NX_HEAD -t component-test --parallel=3 --configuration=ci --spec "${CHANGED_FOLDERS}"
  only:
    refs:
      - main
      - merge_requests
    changes:
      - '*/**/*.tsx'
  artifacts:
    when: on_failure
    paths:
      - dist/cypress
    expire_in: 1 day

deploy ui-form-components:
  stage: deploy
  extends: .distributed
  script:
    - yarn nx build ui-form-components
    - yarn nx build-css ui-form-components
    - cd ./dist/libs/ui-form-components
    - echo "@r7:registry=https://registry.npmjs.org/" > .npmrc
    - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> .npmrc
    - npm publish
  only:
    refs:
      - /ui-form-components\-.*/

deploy ui-base-components:
  stage: deploy
  extends: .distributed
  script:
    - yarn nx build ui-base-components
    - yarn nx build-css ui-base-components
    - cd ./dist/libs/ui-base-components
    - echo "@r7:registry=https://registry.npmjs.org/" > .npmrc
    - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> .npmrc
    - npm publish
  only:
    refs:
      - /ui-base-components\-.*/

deploy ui-footer-delivery:
  stage: deploy
  extends: .distributed
  script:
    - yarn nx build ui-footer-delivery
    - yarn nx build-css ui-footer-delivery
    - cd ./dist/libs/ui-footer-delivery
    - echo "@r7:registry=https://registry.npmjs.org/" > .npmrc
    - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> .npmrc
    - npm publish
  only:
    refs:
      - /ui-footer-delivery\-.*/

test(ui-base-components): updating tests with new style of bullet
  libs/ui-base-components/src/components/bullet/__image_snapshots__/Bullet render all size variants #0.png
  libs/ui-base-components/src/components/bullet/bullet.cy.tsx
Due: test, component-test

feat: created new strucutre
  package.json
  tools/src/nx-generate/nx-generate.mjs
  tools/src/nx-generate/src/generaters/react-library.mjs
  tools/src/nx-generate/src/templates/tailwind/tailwind.config.js
  tools/src/nx-generate/src/utils/constants.mjs
  tools/src/nx-generate/src/utils/utils.mjs
  tsconfig.base.json
  yarn.lock
Due: none

refactor(ui-card/ui-base-components): merge request improvements
  libs/ui-article-delivery/src/components/font-size-control/font-size-control.tsx
  libs/ui-base-components/src/components/conditional-link/conditional-link.tsx
  libs/ui-card/src/components/card/card-hat/card-hat-wrapper.tsx
  libs/ui-card/src/components/card/card-hat/card-hat.cy.tsx
  libs/ui-card/src/components/card/card-hat/card-hat.stories.tsx
  libs/ui-card/src/components/card/card-image/card-image.cy.tsx
  libs/ui-card/src/components/card/card-image/card-image.stories.tsx
  libs/ui-card/src/components/card/card-image/card-image.tsx
  libs/ui-card/src/components/card/card-label/card-label.stories.tsx
  libs/ui-card/src/components/card/card-title/card-title.cy.tsx
  libs/ui-card/src/components/card/card-title/card-title.stories.tsx
  libs/ui-card/src/components/card/card-title/card-title.tsx
  libs/ui-card/src/components/card/card.cy.tsx
  libs/ui-card/src/components/card/card.stories.tsx
  libs/ui-card/src/components/card/card.tsx
Due: test, component-test

chore: updating dependencies
  package.json
  yarn.lock
Due: none

refactor: removed folder
  tools/src/nx-generate/src/generaters/react-library.mjs
  tools/src/nx-generate/src/templates/cypress/tsconfig.json
  tools/src/nx-generate/src/templates/storybook/template.stories.tsx
  tools/src/nx-generate/src/utils/constants.mjs
  tsconfig.base.json
Due: test, component-test

refactor: move on folder
  tools/src/nx-generate/nx-generate.mjs
  tools/src/nx-generate/src/generaters/index.mjs
  tools/src/nx-generate/src/generaters/react-application/react-application.mjs
  tools/src/nx-generate/src/generaters/react-library/react-library.mjs
  tools/src/nx-generate/src/generaters/react-library/tailwind.mjs
  tools/src/nx-generate/src/generaters/react-library/templates/cypress/cypress.config.ts
  tools/src/nx-generate/src/generaters/react-library/templates/storybook/template.stories.tsx
  tools/src/nx-generate/src/generaters/react-library/templates/tailwind/postcss.config.js
  tools/src/nx-generate/src/generaters/react-library/templates/tailwind/src/styles.css
  tools/src/nx-generate/src/generaters/react-library/templates/tailwind/src/styles/styles.ts
  tools/src/nx-generate/src/generaters/react-library/templates/tailwind/tailwind.config.js
  tools/src/nx-generate/src/utils/constants.mjs
Due: test, component-test

refactor: move on folder
  tsconfig.base.json
Due: none

chore(ui-section-heading): release version 0.3.0
  libs/ui-section-heading/CHANGELOG.md
  libs/ui-section-heading/package.json
Due: none

chore(ui-section-foot): release version 0.2.0
  libs/ui-section-foot/CHANGELOG.md
  libs/ui-section-foot/package.json
Due: none

chore(ui-article-delivery): release version 0.2.0
  libs/ui-article-delivery/CHANGELOG.md
  libs/ui-article-delivery/package.json
Due: none

chore(ui-card): release version 0.3.0
  libs/ui-card/CHANGELOG.md
  libs/ui-card/package.json
Due: none

chore(ui-footer-delivery): release version 1.2.0
  libs/ui-footer-delivery/CHANGELOG.md
  libs/ui-footer-delivery/package.json
Due: none

chore(ui-header-delivery): release version 2.3.0
  libs/ui-header-delivery/CHANGELOG.md
  libs/ui-header-delivery/package.json
Due: none

chore(ui-section-menu): release version 0.2.0
  libs/ui-section-menu/CHANGELOG.md
  libs/ui-section-menu/package.json
Due: none

refactor: add optimizeUniversalDefaults to avoid extra variables in all libraries
  .gitlab-ci.yml
  libs/ui-article-delivery/tailwind.config.js
  libs/ui-base-components/tailwind.config.js
  libs/ui-card/tailwind.config.js
  libs/ui-footer-delivery/tailwind.config.js
  libs/ui-form-components/tailwind.config.js
  libs/ui-header-delivery/tailwind.config.js
  libs/ui-section-foot/tailwind.config.js
  libs/ui-section-heading/tailwind.config.js
  libs/ui-section-menu/tailwind.config.js
  libs/ui-theme-core/src/tailwind-preset.js
Due: none

feat: new conditionalLink component in ui-base-componnents; updated tests and stories of ui-card
  libs/ui-article-delivery/src/components/font-size-control/font-size-control.tsx
  libs/ui-base-components/src/components/bullet/__image_snapshots__/Bullet render all size variants #0.png
  libs/ui-base-components/src/components/bullet/bullet.cy.tsx
  libs/ui-base-components/src/components/bullet/bullet.tsx
  libs/ui-base-components/src/components/bullet/bullet.variants.ts
  libs/ui-base-components/src/components/conditional-link/conditional-link.cy.tsx
  libs/ui-base-components/src/components/conditional-link/conditional-link.stories.tsx
  libs/ui-base-components/src/components/conditional-link/conditional-link.tsx
  libs/ui-base-components/src/components/conditional-link/index.ts
  libs/ui-base-components/src/index.ts
  libs/ui-card/src/components/card/__image_snapshots__/Card should render default card #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatImage should render hat image #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatTitle should render all color variants of title #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatTitle should render hat #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatWrapper should render hat with link #0.png
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatWrapper should render type variant composition #0.png
  libs/ui-card/src/components/card/card-hat/card-hat-title.tsx
  libs/ui-card/src/components/card/card-hat/card-hat-title.variants.tsx
  libs/ui-card/src/components/card/card-hat/card-hat.cy.tsx
  libs/ui-card/src/components/card/card-hat/card-hat.stories.tsx
  libs/ui-card/src/components/card/card-image/__image_snapshots__/CardImage should render all format variants #0.png
  libs/ui-card/src/components/card/card-image/__image_snapshots__/CardImage should render default image #0.png
  libs/ui-card/src/components/card/card-image/__image_snapshots__/CardImage should render image with shadow #0.png
  libs/ui-card/src/components/card/card-image/card-image.cy.tsx
  libs/ui-card/src/components/card/card-image/card-image.stories.tsx
  libs/ui-card/src/components/card/card-label/card-label.stories.tsx
  libs/ui-card/src/components/card/card-title/card-title.cy.tsx
  libs/ui-card/src/components/card/card-title/card-title.stories.tsx
  libs/ui-card/src/components/card/card.cy.tsx
  libs/ui-card/src/components/card/card.stories.tsx
  libs/ui-card/src/components/card/card.tsx
  package.json
Due: test, component-test

chore(ui-base-components): release version 0.3.0
  libs/ui-base-components/CHANGELOG.md
  libs/ui-base-components/package.json
Due: none

chore(ui-card): release version 0.3.1
  libs/ui-card/CHANGELOG.md
  libs/ui-card/package.json
Due: none

refactor: add common dependencies in the ui-base-components package
  libs/ui-article-delivery/vite.config.ts
  libs/ui-card/vite.config.ts
  libs/ui-footer-delivery/vite.config.ts
  libs/ui-form-components/vite.config.ts
  libs/ui-header-delivery/vite.config.ts
  libs/ui-section-foot/vite.config.ts
  libs/ui-section-heading/vite.config.ts
  libs/ui-section-menu/src/index.ts
  libs/ui-section-menu/vite.config.ts
  libs/ui-voting-components/vite.config.ts
  package.json
  yarn.lock
Due: test

refactor: separated responsability
  tools/src/nx-generate/src/generaters/react-library/cypress.mjs
  tools/src/nx-generate/src/generaters/react-library/files-manipulation.mjs
  tools/src/nx-generate/src/generaters/react-library/project-json.mjs
  tools/src/nx-generate/src/generaters/react-library/react-library.mjs
  tools/src/nx-generate/src/generaters/react-library/storybook.mjs
  tools/src/nx-generate/src/generaters/react-library/tailwind.mjs
  tools/src/nx-generate/src/utils/constants.mjs
  tools/src/nx-generate/src/utils/utils.mjs
Due: none

feat: build working
  tools/src/nx-generate/nx-generate.mjs
  tools/src/nx-generate/src/generaters/react-application/react-application.mjs
  tools/src/nx-generate/src/generaters/react-library/cypress.mjs
  tools/src/nx-generate/src/generaters/react-library/project-json.mjs
  tools/src/nx-generate/src/generaters/react-library/react-library.mjs
  tools/src/nx-generate/src/generaters/react-library/tailwind.mjs
  tools/src/nx-generate/src/utils/utils.mjs
Due: none

docs: added comments on functions
  tools/src/nx-generate/src/utils/utils.mjs
  tools/src/nx-generate/src/utils/utils.test.js
Due: none

refactor: add common dependencies in the ui-base-components package
  .gitlab-ci.yml
  apps/demo-ui-components/src/app/routes/ui-article-delivery.tsx
  libs/ui-article-delivery/project.json
  libs/ui-article-delivery/src/components/accessibility-bar/accessibility-bar.cy.tsx
  libs/ui-article-delivery/src/components/accessibility-bar/accessibility-bar.stories.tsx
  libs/ui-article-delivery/src/components/font-size-control/font-size-control.cy.tsx
  libs/ui-article-delivery/src/components/font-size-control/font-size-control.stories.tsx
  libs/ui-article-delivery/src/components/font-size-control/font-size-control.tsx
  libs/ui-article-delivery/tailwind.config.js
  libs/ui-article-delivery/vite.config.ts
  libs/ui-base-components/tailwind.config.js
  libs/ui-card/tailwind.config.js
  libs/ui-card/vite.config.ts
  libs/ui-footer-delivery/project.json
  libs/ui-footer-delivery/tailwind.config.js
  libs/ui-footer-delivery/vite.config.ts
  libs/ui-form-components/tailwind.config.js
  libs/ui-form-components/vite.config.ts
  libs/ui-header-delivery/tailwind.config.js
  libs/ui-header-delivery/vite.config.ts
  libs/ui-section-foot/tailwind.config.js
  libs/ui-section-foot/vite.config.ts
  libs/ui-section-heading/tailwind.config.js
  libs/ui-section-heading/vite.config.ts
  libs/ui-section-menu/project.json
  libs/ui-section-menu/src/index.ts
  libs/ui-section-menu/tailwind.config.js
  libs/ui-section-menu/vite.config.ts
  libs/ui-theme-core/src/tailwind-preset.js
  libs/ui-voting-components/vite.config.ts
  package.json
  yarn.lock
Due: test, component-test

feat(sitemap-footer): removing color prop
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-root.tsx
Due: test, component-test

feat(sitemap-footer): rework and adding mobile layout
  libs/ui-footer-delivery/src/components/sitemap-footer/index.ts
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-container.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-menu-dropdown.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-menu-item.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-menu-list.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-menu-title.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-submenu.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer.variants.ts
  libs/ui-footer-delivery/src/components/sitemap-footer/utils/context/dropdown-context.ts
  libs/ui-footer-delivery/src/components/sitemap-footer/utils/hooks/use-dropdown.ts
  libs/ui-footer-delivery/src/components/sitemap-footer/utils/provider/dropdown-provider.tsx
  libs/ui-footer-delivery/src/mocks/sitemap.ts
  libs/ui-theme-core/src/tailwind-preset.js
  yarn.lock
Due: test, component-test

chore(sitemap-footer): adjusting storybook
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer.stories.tsx
Due: test, component-test

test(sitemap-footer): fixing old and adding new tests
  libs/ui-footer-delivery/src/components/sitemap-footer/__image_snapshots__/SitemapFooter should render Sitemap Footer mobile with the correct structure #0.png
  libs/ui-footer-delivery/src/components/sitemap-footer/__image_snapshots__/SitemapFooter should render Sitemap Footer mobile with the correct structure opening and closing dropdown #0.png
  libs/ui-footer-delivery/src/components/sitemap-footer/__image_snapshots__/SitemapFooter should render Sitemap Footer with the correct structure #0.diff.png
  libs/ui-footer-delivery/src/components/sitemap-footer/__image_snapshots__/SitemapFooter should render Sitemap Footer with the correct structure #1.png
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer.cy.tsx
Due: test, component-test

chore(ui-article-delivery): release version 0.3.0
  libs/ui-article-delivery/CHANGELOG.md
  libs/ui-article-delivery/package.json
Due: none

chore(ui-base-components): release version 0.3.1
  libs/ui-base-components/CHANGELOG.md
  libs/ui-base-components/package.json
Due: none

chore(ui-card): release version 0.3.2
  libs/ui-card/CHANGELOG.md
  libs/ui-card/package.json
Due: none

chore(sitemap-footer): adjusting demo footer with new section footer
  apps/demo-ui-components/src/app/mocks/sitemap.ts
  apps/demo-ui-components/src/app/routes/ui-footer-delivery.tsx
Due: test, component-test

chore(sitemap-footer): updating figma links on storybook
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer.stories.tsx
Due: test, component-test

chore(ui-footer-delivery): release version 1.2.1
  libs/ui-footer-delivery/CHANGELOG.md
  libs/ui-footer-delivery/package.json
Due: none

chore(ui-header-delivery): release version 2.3.1
  libs/ui-header-delivery/CHANGELOG.md
  libs/ui-header-delivery/package.json
Due: none

chore(ui-section-foot): release version 0.2.1
  libs/ui-section-foot/CHANGELOG.md
  libs/ui-section-foot/package.json
Due: none

chore(ui-section-heading): release version 0.3.1
  libs/ui-section-heading/CHANGELOG.md
  libs/ui-section-heading/package.json
Due: none

chore(ui-section-menu): release version 0.2.1
  libs/ui-section-menu/CHANGELOG.md
  libs/ui-section-menu/package.json
Due: none

feat: creating script to automate deploy for libs
  .gitlab-ci.yml
  deploy-libs.js
Due: none

fix(sitemap-footer): removing unnused comments
  libs/ui-footer-delivery/src/components/sitemap-footer/utils/hooks/use-dropdown.ts
  libs/ui-footer-delivery/src/components/sitemap-footer/utils/provider/dropdown-provider.tsx
Due: test, component-test
