Repository r7com/front-monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: storybook, test, component-test

.gitlab-ci.yml:

variables:
  NODE_VERSION: node:18
  CI: 'true'
  GIT_DEPTH: 0

image: $NODE_VERSION

stages:
  - test
  - deploy
  - storybook

.distributed:
  interruptible: true
  tags:
    - gitlab-runner-ec2
  only:
    - main
    - merge_requests
  cache:
    key:
      files:
        - yarn.lock
    paths:
      - '.yarn-cache/'
      - cache/Cypress
  before_script:
    - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
    - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
    - NX_HEAD=$CI_COMMIT_SHA

storybook:
  extends: .distributed
  stage: storybook
  script:
    - yarn nx build-storybook vision-components
    - ls -la dist/apps/vision-components
  only:
    refs:
      - main
      - merge_requests
    changes:
      - '*.stories.tsx'
test:
  stage: test
  extends: .distributed
  script:
    - npx nx affected --base=$NX_BASE --head=$NX_HEAD -t test --parallel=3 --configuration=ci
  only:
    refs:
      - main
      - merge_requests
    changes:
      - '*/**/*.tsx'
      - '*/**/*.ts'

component-test:
  image: cypress/browsers:node18.12.0-chrome106-ff106
  stage: test
  extends: .distributed
  script:
    - apt-get update && apt-get install -y xvfb
    - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
    - export DISPLAY=:99
    - CHANGED_FOLDERS=$(git diff --dirstat=files,0 -w --name-only origin/${CI_DEFAULT_BRANCH} $CI_COMMIT_SHA -- '**/components/**' | sed 's:/[^/]*$:/\*:' | paste -sd ',')
    # CHANGED_FOLDERS:
    # Check which folders were modified until the last commit with main
    # only display component folders modified with pattern '/*,' from the cypress spec pattern
    - echo $CHANGED_FOLDERS
    - npx nx affected --base=$NX_BASE --head=$NX_HEAD -t component-test --parallel=3 --configuration=ci --spec "${CHANGED_FOLDERS}"
  only:
    refs:
      - main
      - merge_requests
    changes:
      - '*/**/*.tsx'
  artifacts:
    when: on_failure
    paths:
      - dist/cypress
    expire_in: 1 day

deploy ui-form-components:
  stage: deploy
  extends: .distributed
  script:
    - yarn nx build ui-form-components
    - yarn nx build-css ui-form-components
    - cd ./dist/libs/ui-form-components
    - echo "@r7:registry=https://registry.npmjs.org/" > .npmrc
    - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> .npmrc
    - npm publish
  only:
    refs:
      - /ui-form-components\-.*/

deploy ui-base-components:
  stage: deploy
  extends: .distributed
  script:
    - yarn nx build ui-base-components
    - yarn nx build-css ui-base-components
    - cd ./dist/libs/ui-base-components
    - echo "@r7:registry=https://registry.npmjs.org/" > .npmrc
    - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> .npmrc
    - npm publish
  only:
    refs:
      - /ui-base-components\-.*/

deploy ui-footer-delivery:
  stage: deploy
  extends: .distributed
  script:
    - yarn nx build ui-footer-delivery
    - yarn nx build-css ui-footer-delivery
    - cd ./dist/libs/ui-footer-delivery
    - echo "@r7:registry=https://registry.npmjs.org/" > .npmrc
    - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> .npmrc
    - npm publish
  only:
    refs:
      - /ui-footer-delivery\-.*/

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

ci: added entrypoint: [""]
  .gitlab-ci.yml
Due: none

Iniciando card component
  .gitlab-ci.yml
  libs/ui-card/.eslintrc.json
  libs/ui-card/README.md
  libs/ui-card/cypress.config.ts
  libs/ui-card/cypress/fixtures/example.json
  libs/ui-card/cypress/support/commands.ts
  libs/ui-card/cypress/support/component-index.html
  libs/ui-card/cypress/support/component.ts
  libs/ui-card/cypress/tsconfig.json
  libs/ui-card/jest.config.ts
  libs/ui-card/package.json
  libs/ui-card/postcss.config.js
  libs/ui-card/project.json
  libs/ui-card/src/components/card/__image_snapshots__/My First Test Does not do much! #0.png
  libs/ui-card/src/components/card/card-hat/card-hat.tsx
  libs/ui-card/src/components/card/card-image/card-image.tsx
  libs/ui-card/src/components/card/card-label/card-label.tsx
  libs/ui-card/src/components/card/card-root/card-root.tsx
  libs/ui-card/src/components/card/card-title/card-title.tsx
  libs/ui-card/src/components/card/card-title/card-title.variants.ts
  libs/ui-card/src/components/card/card.cy.tsx
  libs/ui-card/src/components/card/index.ts
  libs/ui-card/src/index.ts
  libs/ui-card/src/style.css
  libs/ui-card/tailwind.config.js
  libs/ui-card/tsconfig.json
  libs/ui-card/tsconfig.lib.json
  libs/ui-card/tsconfig.spec.json
  libs/ui-card/vite.config.ts
  libs/ui-theme-core/src/tailwind-preset.js
  tsconfig.base.json
Due: test, component-test

fix(sitemap-footer): fix correct name link
  libs/ui-footer-delivery/src/components/sitemap-footer/index.ts
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer-menu-link.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer.cy.tsx
  libs/ui-footer-delivery/src/components/sitemap-footer/sitemap-footer.stories.tsx
Due: test, component-test

refactor(ui-footer-delivery): change mock name to uppercase
  libs/ui-footer-delivery/src/mocks/sitemap.ts
Due: test

feat: hat subcomponent of ui-card
  libs/ui-card/src/components/card/card-hat/card-hat-image.tsx
  libs/ui-card/src/components/card/card-hat/card-hat-title.tsx
  libs/ui-card/src/components/card/card-hat/card-hat-wrapper.tsx
  libs/ui-card/src/components/card/card-hat/card-hat.tsx
Due: test, component-test

feat: added hat subcomponents to index; Adding news attributes to the card root
  libs/ui-card/src/components/card/card-root/card-root.tsx
  libs/ui-card/src/components/card/index.ts
Due: test, component-test

changes: adding needs parameter to .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

changes: modifying trigger rules.
  .gitlab-ci.yml
Due: none

changes: adding dependencies parameter.
  .gitlab-ci.yml
Due: none

ci: added flag end of line command
  .gitlab-ci.yml
Due: none

ci: added validation tags
  .gitlab-ci.yml
Due: none

fix: rename link
  libs/ui-header-delivery/src/components/header.stories.tsx
Due: test, component-test

feat: handle sidebar state (open/close) with sidebar-provider and use-sidebar hook
  libs/ui-header-delivery/src/components/sidebar/utils/context/sidebar-context.ts
  libs/ui-header-delivery/src/components/sidebar/utils/hooks/use-sidebar.ts
  libs/ui-header-delivery/src/components/sidebar/utils/provider/sidebar-provider.tsx
Due: test, component-test

feat: wrapping header component with sidebar-provider
  libs/ui-header-delivery/src/components/header/header.tsx
Due: test, component-test

style: adjust header styles
  libs/ui-header-delivery/src/components/header/header.variants.ts
Due: test

chore: reorganizing menu-item and menu-link props
  libs/ui-header-delivery/src/components/menu/menu-item/menu-item.tsx
  libs/ui-header-delivery/src/components/menu/menu-link/menu-link.tsx
Due: test, component-test

feat: creating sidebar-toggle component
  libs/ui-header-delivery/src/components/sidebar/sidebar-toggle/sidebar-toggle.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-toggle/sidebar-toggle.variants.ts
Due: test, component-test

feat: creating sidebar-root component
  libs/ui-header-delivery/src/components/sidebar/sidebar-root/sidebar-root.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-root/sidebar-root.variants.ts
Due: test, component-test

feat: creating sidebar-link component
  libs/ui-header-delivery/src/components/sidebar/sidebar-link/sidebar-link.tsx
Due: test, component-test

feat: creating sidebar-list component
  libs/ui-header-delivery/src/components/sidebar/sidebar-list/sidebar-list.tsx
Due: test, component-test

feat: creating sidebar-link component
  libs/ui-header-delivery/src/components/sidebar/sidebar-item/sidebar-item.tsx
Due: test, component-test

feat: creating sidebar-button component
  libs/ui-header-delivery/src/components/sidebar/sidebar-button/sidebar-button.tsx
Due: test, component-test

feat: creating sidebar-category component
  libs/ui-header-delivery/src/components/sidebar/sidebar-category/sidebar-category.tsx
Due: test, component-test

feat: exporting sidebar components
  libs/ui-header-delivery/src/index.ts
Due: test

chore: local mock data
  libs/ui-header-delivery/src/mocks/MENU_DATA.ts
  libs/ui-header-delivery/src/mocks/SIDEBAR_DATA.ts
Due: test

chore: exporting sidebar components
  libs/ui-header-delivery/src/components/sidebar/index.ts
Due: test

refactor: using anchor default props in menu-link and sidebar-link
  libs/ui-header-delivery/src/components/menu/menu-link/menu-link.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-link/sidebar-link.tsx
Due: test, component-test

test: sidebar toggle test
  libs/ui-header-delivery/src/components/header.cy.tsx
Due: test, component-test

docs: header storybook with menu and sidebar
  libs/ui-header-delivery/src/components/header.stories.tsx
Due: test, component-test

chore: removendo prop 'title' reduntando do menu-link
  libs/ui-header-delivery/src/components/menu/menu-link/menu-link.tsx
Due: test, component-test

test: header with sidebar snapshots
  libs/ui-header-delivery/src/components/__image_snapshots__/Header with sidebar should open sidebar on sidebar-toggle click #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header with sidebar sidebar should not be visible by default #0.png
  libs/ui-header-delivery/src/components/header.cy.tsx
Due: test, component-test

test: update snapshots from header tests
  libs/ui-header-delivery/src/components/__image_snapshots__/Header with menu navigation should be visible with desktop viewport #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header with sidebar should open sidebar on sidebar-toggle click #0.png
Due: none

chore: changing pros 'newWindow' to 'openInNewtab' in menu-link and sidebar-link
  libs/ui-header-delivery/src/components/menu/menu-link/menu-link.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-link/sidebar-link.tsx
Due: test, component-test
