Repository r7com/front-monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ui-components-admin build, ui-components-admin test, ui-components-admin e2e, admin build, admin test, voting build, voting test

ui-components-admin build:
  stage: build
  script:
  - yarn nx build ui-components-admin

ui-components-admin test:
  stage: test
  script:
  - yarn nx test ui-components-admin

ui-components-admin e2e:
  stage: e2e
  image: cypress/browsers:node18.12.0-chrome107
  script:
  - apt-get update && apt-get install -y xvfb
  - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
  - export DISPLAY=:99
  - yarn nx component-test ui-components-admin --graph=output.html
  artifacts:
    when: always
    paths:
  ...

admin build:
  stage: build
  needs:
  - ui-components-admin build
  script:
  - yarn nx build admin

admin test:
  stage: test
  script:
  - yarn nx test admin

voting build:
  stage: build
  needs:
  - ui-components-admin build
  script:
  - yarn nx build voting

voting test:
  stage: test
  script:
  - yarn nx test voting
  environment: production

fix: trocando animacao do snackbar, agora aparecendo de baixo pra cima
  libs/ui-components-admin/src/components/snackbar/snackbar.variants.ts
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

Inserindo gap, removendo o uso de validElement e cloneElement
  libs/ui-components-admin/src/components/chips/chips.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

fix: removendo 'role' do snackbar se nao existe mensagem pra ser mostrada
  libs/ui-components-admin/src/components/snackbar/snackbar.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

fix: adicionando timeout para suavizar a animacao do snackbar
  libs/ui-components-admin/src/components/snackbar/providers/notification-provider.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

removendo regra do 'role' como undefined
  libs/ui-components-admin/src/components/snackbar/snackbar.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

Separando testes de variante e funcionalidade
  libs/ui-components-admin/src/components/chips/chips.cy.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

refactor: linter
  libs/ui-components-admin/src/components/tab/index.ts
  libs/ui-components-admin/src/components/tab/tab.cy.tsx
  libs/ui-components-admin/src/components/tab/tab.stories.tsx
  libs/ui-components-admin/src/components/tab/tab.tsx
  libs/ui-components-admin/src/components/tab/tab.variants.ts
  libs/ui-components-admin/src/index.ts
  libs/ui-theme-core/src/tailwind-preset.js
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

test: ajustando os testes do componente de texto
  libs/ui-components-admin/src/components/text/text.cy.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

refactor: inclusão de tipagem
  libs/ui-components-admin/src/components/card-status/card-status.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

docs: ajustando o storybook do componente de texto
  libs/ui-components-admin/src/components/text/text.stories.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

refactor: incluindo o arquivo de variants
  libs/ui-components-admin/src/components/text/__image_snapshots__/Text uses custom text for disclaimer paragraph #0.png
  libs/ui-components-admin/src/components/text/__image_snapshots__/uses custom text for disclaimer paragraph #0.png
  libs/ui-components-admin/src/components/text/text.tsx
  libs/ui-components-admin/src/components/text/text.variants.ts
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

test: adicionado o bg preto para ver o text branco
  libs/ui-components-admin/src/components/text/__image_snapshots__/Text using color #0.png
  libs/ui-components-admin/src/components/text/__image_snapshots__/Text using fontFamily #0.png
  libs/ui-components-admin/src/components/text/__image_snapshots__/Text using fontSize #0.png
  libs/ui-components-admin/src/components/text/__image_snapshots__/Text using fontWeight #0.png
  libs/ui-components-admin/src/components/text/text.cy.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

chore: adicionando fonte ao storybook
  libs/ui-components-admin/.storybook/preview-head.html
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

chore: adicionando fonte ao cypress
  libs/ui-components-admin/cypress/support/component-index.html
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

chore: adicionando fonte ao admin
  apps/admin/src/index.html
Due: admin build, admin test

fix: incluindo o = 'p' no extends
  libs/ui-components-admin/src/components/text/text.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

Forçando clck nos testes para evitar erros
  libs/ui-components-admin/src/components/chips/chips.cy.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

adicionando testes com o botao desabilitado para os componentes "button" e "icon-button"
  libs/ui-components-admin/src/components/button/button.cy.tsx
  libs/ui-components-admin/src/components/button/button.tsx
  libs/ui-components-admin/src/components/icon-button/icon-button.cy.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

adicionando configs de svg no build de production do admin
  apps/admin/webpack.config.prod.js
  package.json
  yarn.lock
Due: admin build, admin test

fix: removendo espaço no variants do toggle
  libs/ui-components-admin/src/components/toggle/toggle.variants.ts
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

feat: Criacao da lib ui-form-components para componentes compartilhados de formulario
  libs/ui-form-components/.eslintrc.json
  libs/ui-form-components/.storybook/main.ts
  libs/ui-form-components/.storybook/preview.ts
  libs/ui-form-components/.storybook/tsconfig.json
  libs/ui-form-components/README.md
  libs/ui-form-components/cypress.config.ts
  libs/ui-form-components/cypress/fixtures/example.json
  libs/ui-form-components/cypress/support/commands.ts
  libs/ui-form-components/cypress/support/component-index.html
  libs/ui-form-components/cypress/support/component.ts
  libs/ui-form-components/cypress/tsconfig.json
  libs/ui-form-components/jest.config.ts
  libs/ui-form-components/package.json
  libs/ui-form-components/postcss.config.js
  libs/ui-form-components/project.json
  libs/ui-form-components/src/components/ui-form-components.cy.tsx
  libs/ui-form-components/src/components/ui-form-components.stories.tsx
  libs/ui-form-components/src/components/ui-form-components.tsx
  libs/ui-form-components/src/index.ts
  libs/ui-form-components/src/style.css
  libs/ui-form-components/tailwind.config.js
  libs/ui-form-components/tsconfig.json
  libs/ui-form-components/tsconfig.lib.json
  libs/ui-form-components/tsconfig.spec.json
  libs/ui-form-components/vite.config.ts
  tsconfig.base.json
Due: none

Renderizando button ao usar clickable
  libs/ui-components-admin/src/components/chips/chips.cy.tsx
  libs/ui-components-admin/src/components/chips/chips.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

Component de Texto
  apps/admin/src/index.html
  libs/ui-components-admin/.storybook/preview-head.html
  libs/ui-components-admin/cypress/support/component-index.html
  libs/ui-components-admin/src/components/text/__image_snapshots__/Text using color #0.png
  libs/ui-components-admin/src/components/text/__image_snapshots__/Text using fontFamily #0.png
  libs/ui-components-admin/src/components/text/__image_snapshots__/Text using fontSize #0.png
  libs/ui-components-admin/src/components/text/__image_snapshots__/Text using fontWeight #0.png
  libs/ui-components-admin/src/components/text/index.ts
  libs/ui-components-admin/src/components/text/text.cy.tsx
  libs/ui-components-admin/src/components/text/text.stories.tsx
  libs/ui-components-admin/src/components/text/text.tsx
  libs/ui-components-admin/src/components/text/text.variants.ts
  libs/ui-components-admin/src/index.ts
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e, admin build, admin test

chore: juntando os imports do root
  apps/admin/src/app/app.spec.tsx
  apps/admin/src/bootstrap.tsx
Due: none

changes: incluindo novas variacoes e layout de seta
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip Not visible #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip Not visible #1.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip Position bottom-right #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip Position left #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip Position right #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip Position top #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip Position top-left #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip Position top-right #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip Visible #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip Visible #1.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip bottom-right #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip left #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip right #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip top #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip top-left #0.png
  libs/ui-components-admin/src/components/tooltip/__image_snapshots__/Tooltip top-right #0.png
  libs/ui-components-admin/src/components/tooltip/tooltip.cy.tsx
  libs/ui-components-admin/src/components/tooltip/tooltip.stories.tsx
  libs/ui-components-admin/src/components/tooltip/tooltip.tsx
  libs/ui-components-admin/src/components/tooltip/tooltip.variants.ts
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

fix: ajustando espacamento de botao
  libs/ui-components-admin/src/components/tooltip/tooltip.variants.ts
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

fix: usando tailwind-variants do utils com twMerge false no bullet
  libs/ui-components-admin/src/components/bullet/bullet.variants.ts
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

chore(adicionando cz para comits semanticos): qq
  package.json
  yarn.lock
Due: none

Revert "chore(adicionando cz para comits semanticos): qq"
  package.json
  yarn.lock
Due: none

chore: adicionado cz ao projeto
  package.json
  yarn.lock
Due: none

refactor: inclusão do aria-label ajuste de teste
  libs/ui-components-admin/src/components/card-status/card-status.cy.tsx
  libs/ui-components-admin/src/components/card-status/card-status.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

refactor: ajuste de cypress pelo aria-label
  libs/ui-components-admin/src/components/card-status/card-status.cy.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

Ajustes finos
  libs/ui-components-admin/src/components/chips/chips.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

refactor: ajuste da describe e it do teste
  libs/ui-components-admin/src/components/card-status/card-status.cy.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

fix: renomeado tv pra createVariants no utils
  .vscode/settings.json
  libs/ui-components-admin/src/components/bullet/bullet.variants.ts
  libs/utils/src/tailwind-variants/tailwind-variants.ts
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

Imports do root
  apps/admin/src/app/app.spec.tsx
  apps/admin/src/bootstrap.tsx
Due: none

fix: desabilitado twMerge antes habilitado para teste
  libs/utils/src/tailwind-variants/tailwind-variants.ts
Due: none

shore: excluindo componente teste
  libs/ui-form-components/src/components/ui-form-components.cy.tsx
  libs/ui-form-components/src/components/ui-form-components.stories.tsx
  libs/ui-form-components/src/components/ui-form-components.tsx
Due: none

Path conditions:
  ui-components-admin build: (any of: libs/ui-components-admin/**/*) and (not (any of: libs/ui-components-admin/**/*.{json,md}, libs/ui-components-admin/**/*.test.{js,ts,jsx,tsx}, libs/ui-components-admin/**/*.spec.{js,ts,jsx,tsx}))
  ui-components-admin test: (any of: libs/ui-components-admin/**/*) and (not (any of: libs/ui-components-admin/**/*.{json,md}, libs/ui-components-admin/**/*.test.{js,ts,jsx,tsx}, libs/ui-components-admin/**/*.spec.{js,ts,jsx,tsx}))
  ui-components-admin e2e: (any of: libs/ui-components-admin/**/*) and (not (any of: libs/ui-components-admin/**/*.{json,md}, libs/ui-components-admin/**/*.test.{js,ts,jsx,tsx}, libs/ui-components-admin/**/*.spec.{js,ts,jsx,tsx}))
  admin build: (any of: apps/admin/**/*) and (not (any of: apps/admin/**/*.{json,md}, apps/admin/**/*.test.{js,ts,jsx,tsx}, apps/admin/**/*.spec.{js,ts,jsx,tsx}))
  admin test: (any of: apps/admin/**/*) and (not (any of: apps/admin/**/*.{json,md}, apps/admin/**/*.test.{js,ts,jsx,tsx}, apps/admin/**/*.spec.{js,ts,jsx,tsx}))
  voting build: (any of: apps/voting/**/*) and (not (any of: apps/voting/**/*.{json,md}, apps/voting/**/*.test.{js,ts,jsx,tsx}, apps/voting/**/*.spec.{js,ts,jsx,tsx}))
  voting test: (any of: apps/voting/**/*) and (not (any of: apps/voting/**/*.{json,md}, apps/voting/**/*.test.{js,ts,jsx,tsx}, apps/voting/**/*.spec.{js,ts,jsx,tsx}))
