Repository r7com/front-monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build storybook, deploy storybook, test, component-test

Path conditions:
  build storybook: any of: *.stories.tsx
  deploy storybook: any of: *.stories.tsx
  test: any of: */**/*.tsx, */**/*.ts
  component-test: any of: */**/*.tsx

refactor(ui-layout): update to 24 columns grid system
  .vscode/settings.json
  apps/demo-ui-components/src/app/app.tsx
  apps/demo-ui-components/src/app/routes/index.ts
  apps/demo-ui-components/src/app/routes/ui-article-delivery.tsx
  apps/demo-ui-components/src/app/routes/ui-layout.tsx
  libs/ui-layout/project.json
  libs/ui-layout/src/components/special-one/special-one.tsx
  libs/ui-theme-core/src/tailwind-preset.js
  libs/ui-theme-core/src/utils/generate-grid.js
  tsconfig.base.json
Due: test, component-test

refactor(ui-layout): remove reactElement type
  libs/ui-layout/src/components/special-one/special-one.tsx
Due: test, component-test

chore(ui-header-delivery): release version 2.4.1
  libs/ui-header-delivery/CHANGELOG.md
  libs/ui-header-delivery/package.json
Due: none

feat: add comment inside empty variables in css from tailwind
  deploy-libs.js
  libs/ui-article-delivery/project.json
  libs/ui-base-components/project.json
  libs/ui-card/project.json
  libs/ui-footer-delivery/project.json
  libs/ui-form-components/project.json
  libs/ui-header-delivery/project.json
  libs/ui-section-foot/project.json
  libs/ui-section-heading/project.json
  libs/ui-section-menu/project.json
  package.json
  tools/add-empty-variable-css/add-empty-variable.js
  tools/add-empty-variable-css/add-empty-variable.spec.js
  tools/generate-dynamic-types.js
  tools/jest.config.js
  tools/nx-generate/src/generaters/react-library/project-json.mjs
  tools/nx-generate/src/utils/constants.mjs
  tools/tsconfig.spec.json
  tools/tsconfig.tools.json
  tools/utils/utils.js
Due: none

chore(ui-header-delivery): release version 2.4.2
  libs/ui-header-delivery/CHANGELOG.md
  libs/ui-header-delivery/package.json
Due: none

chore(ui-article-delivery): release version 0.4.1
  libs/ui-article-delivery/CHANGELOG.md
  libs/ui-article-delivery/package.json
Due: none

chore(ui-base-components): release version 0.4.1
  libs/ui-base-components/CHANGELOG.md
  libs/ui-base-components/package.json
Due: none

chore(ui-footer-delivery): release version 1.3.1
  libs/ui-footer-delivery/CHANGELOG.md
  libs/ui-footer-delivery/package.json
Due: none

chore(ui-section-foot): release version 0.2.2
  libs/ui-section-foot/CHANGELOG.md
  libs/ui-section-foot/package.json
Due: none

chore(ui-section-heading): release version 0.3.2
  libs/ui-section-heading/CHANGELOG.md
  libs/ui-section-heading/package.json
Due: none

chore(ui-section-menu): release version 0.2.2
  libs/ui-section-menu/CHANGELOG.md
  libs/ui-section-menu/package.json
Due: none

chore(ui-card): release version 0.3.3
  libs/ui-card/CHANGELOG.md
  libs/ui-card/package.json
Due: none

Feat/Breadcrumb
  apps/demo-ui-components/src/app/routes/ui-article-delivery.tsx
  libs/ui-base-components/src/components/breadcrumb/__image_snapshots__/Breadcrumb should render Breadcrumb Desktop #0.png
  libs/ui-base-components/src/components/breadcrumb/__image_snapshots__/Breadcrumb should render Breadcrumb mobile #0.png
  libs/ui-base-components/src/components/breadcrumb/breadcrumb-item/breadcrumb-item.tsx
  libs/ui-base-components/src/components/breadcrumb/breadcrumb-item/index.ts
  libs/ui-base-components/src/components/breadcrumb/breadcrumb-list/breadcrumb-list.tsx
  libs/ui-base-components/src/components/breadcrumb/breadcrumb-list/index.ts
  libs/ui-base-components/src/components/breadcrumb/breadcrumb.cy.tsx
  libs/ui-base-components/src/components/breadcrumb/breadcrumb.stories.tsx
  libs/ui-base-components/src/components/breadcrumb/breadcrumb.tsx
  libs/ui-base-components/src/components/breadcrumb/breadcrumb.variants.ts
  libs/ui-base-components/src/components/breadcrumb/index.ts
  libs/ui-base-components/src/components/breadcrumb/mocks/MENU_DATA.ts
  libs/ui-base-components/src/index.ts
  libs/ui-theme-core/src/tailwind-preset.js
Due: test, component-test

chore(ui-base-components): release version 0.5.0
  libs/ui-base-components/CHANGELOG.md
  libs/ui-base-components/package.json
Due: none

test: delete unnecessary tests
  .vscode/settings.json
  libs/ui-header-delivery/src/components/__image_snapshots__/InternalsHeader should be rendered #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/InternalsHeader should only be visible when triggerElement is out of the viewport #0.png
  libs/ui-header-delivery/src/components/internals-header.cy.tsx
Due: test, component-test

refactor(ui-layout): change containwe width
  libs/ui-theme-core/src/tailwind-preset.js
Due: none

chore(ui-layout): add proportional grids to demo-app
  apps/demo-ui-components/src/app/routes/ui-layout.tsx
Due: test, component-test

chore(ui-layout): migrating grid component to independent file
  libs/ui-layout/src/components/grid/grid.tsx
  libs/ui-layout/src/components/grid/index.ts
  libs/ui-layout/src/components/special-one/special-one.tsx
Due: test, component-test

feat(ui-layout): create proportional grids from 1 to 4 slots
  libs/ui-layout/src/components/proportional/index.ts
  libs/ui-layout/src/components/proportional/proportional.tsx
Due: test, component-test

chore(ui-layout): export proportional grid component
  libs/ui-layout/src/index.ts
Due: test

chore: separete grid component to independent file
  libs/ui-layout/src/components/grid/grid.tsx
  libs/ui-layout/src/components/grid/index.ts
  libs/ui-layout/src/components/special-one/special-one.tsx
Due: test, component-test

chore(ui-vision-components): add styles from ui-layout in vision-components
  apps/vision-components/.storybook/preview.ts
Due: test

test(ui-layout): creating tests for all four proportional grids
  libs/ui-layout/src/components/__image_snapshots__/Proportional Grids should render proportional-four grid with four element #0.png
  libs/ui-layout/src/components/__image_snapshots__/Proportional Grids should render proportional-one grid with one element #0.png
  libs/ui-layout/src/components/__image_snapshots__/Proportional Grids should render proportional-three grid with three element #0.png
  libs/ui-layout/src/components/__image_snapshots__/Proportional Grids should render proportional-two grid with two element #0.png
  libs/ui-layout/src/components/proportional.cy.tsx
Due: test, component-test

docs(ui-layout): creating storybook file for proportional-grids
  libs/ui-layout/src/components/proportional.stories.tsx
Due: test, component-test

feat(ui-layout): add mobile and tabled styles
  apps/demo-ui-components/src/app/routes/ui-layout.tsx
  apps/vision-components/.storybook/preview.ts
  libs/ui-layout/src/components/layout.cy.tsx
  libs/ui-layout/src/components/layout.stories.tsx
  libs/ui-layout/src/components/layout.tsx
  libs/ui-layout/src/components/special-one/__image_snapshots__/SpecialOne should render SpecialOne on Desktop #0.png
  libs/ui-layout/src/components/special-one/__image_snapshots__/SpecialOne should render SpecialOne on Tablet #0.png
  libs/ui-layout/src/components/special-one/__image_snapshots__/SpecialOne should render SpecialOne on Tablet #1.png
  libs/ui-layout/src/components/special-one/mocks/mocks.tsx
  libs/ui-layout/src/components/special-one/special-one-main/special-one-main.tsx
  libs/ui-layout/src/components/special-one/special-one-sidebar/special-one-sidebar.tsx
  libs/ui-layout/src/components/special-one/special-one.cy.tsx
  libs/ui-layout/src/components/special-one/special-one.stories.tsx
  libs/ui-layout/src/components/special-one/special-one.tsx
Due: test, component-test

chore: reorganizing folders
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids should render proportional-four grid with four element #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids should render proportional-one grid with one element #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids should render proportional-three grid with three element #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids should render proportional-two grid with two element #0.png
  libs/ui-layout/src/components/proportional/proportional.cy.tsx
  libs/ui-layout/src/components/proportional/proportional.stories.tsx
  libs/ui-layout/src/components/proportional/proportional.tsx
Due: test, component-test

refactor(ui-layout): update grid and gap to tablet and mobile
  apps/demo-ui-components/src/app/routes/ui-layout.tsx
  libs/ui-layout/src/components/grid/grid.tsx
  libs/ui-layout/src/components/special-one/__image_snapshots__/SpecialOne should render SpecialOne on Mobile #0.png
  libs/ui-layout/src/components/special-one/__image_snapshots__/SpecialOne should render SpecialOne on Tablet #0.png
  libs/ui-layout/src/components/special-one/__image_snapshots__/SpecialOne should render SpecialOne on Tablet #1.png
  libs/ui-layout/src/components/special-one/mocks/mocks.tsx
  libs/ui-layout/src/components/special-one/special-one-main/special-one-main.tsx
  libs/ui-layout/src/components/special-one/special-one.cy.tsx
Due: test, component-test

test(ui-header-delivery): update test with header fixed
  libs/ui-header-delivery/src/components/header.cy.tsx
  libs/ui-header-delivery/src/components/internals-header.cy.tsx
Due: test, component-test

style(ui-layout): change breakpoint for proportional grids
  libs/ui-layout/src/components/proportional/proportional.tsx
Due: test, component-test

docs(ui-layout): change import for proportional storybook
  libs/ui-layout/src/components/proportional/proportional.stories.tsx
Due: test, component-test

test(ui-layout): tests and snapshot for proportional component
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Desktop should render proportional-four grid with four element #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Desktop should render proportional-one grid with one element #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Desktop should render proportional-three grid with three element #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Desktop should render proportional-two grid with two element #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Mobile should render proportional-four grid with four elements #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Mobile should render proportional-one grid with one element #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Mobile should render proportional-three grid with three elements #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Mobile should render proportional-two grid with two elements #0.png
  libs/ui-layout/src/components/proportional/proportional.cy.tsx
Due: test, component-test

chore(ui-layout): delete unused files
  libs/ui-layout/src/components/layout.cy.tsx
  libs/ui-layout/src/components/layout.stories.tsx
  libs/ui-layout/src/components/layout.tsx
Due: test, component-test

chore(ui-layout): creating mock file for block components
  libs/ui-layout/src/components/proportional/mocks/mocks.tsx
  libs/ui-layout/src/components/proportional/proportional.cy.tsx
  libs/ui-layout/src/components/proportional/proportional.stories.tsx
Due: test, component-test

test: fixing proportional shapshot tests
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Mobile should render proportional-four grid with four elements #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Mobile should render proportional-three grid with three elements #0.png
  libs/ui-layout/src/components/proportional/__image_snapshots__/Proportional Grids - Mobile should render proportional-two grid with two elements #0.png
Due: none

chore: change proportional setup function name
  libs/ui-layout/src/components/proportional/proportional.tsx
Due: test, component-test

chore: add proportional components to demo-app
  apps/demo-ui-components/src/app/routes/ui-layout.tsx
Due: test, component-test

chore: change grid prop to cols
  libs/ui-layout/src/components/proportional/proportional.tsx
Due: test, component-test

ci(gitlab-ci): build libs in component-test and build storybook
  .gitlab-ci.yml
Due: none

chore(ui-layout): release version 0.1.0
  libs/ui-layout/CHANGELOG.md
  libs/ui-layout/package.json
Due: none
