Repository r7com/front-monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build storybook, deploy storybook, test, component-test

.gitlab-ci.yml:

variables:
  NODE_VERSION: node:18
  CI: 'true'
  GIT_DEPTH: 0

image: $NODE_VERSION

stages:
  - test
  - storybook
  - deploy

.distributed:
  interruptible: true
  tags:
    - gitlab-runner-ec2
  only:
    - main
    - merge_requests
  cache:
    key:
      files:
        - yarn.lock
    paths:
      - '.yarn-cache/'
      - cache/Cypress
  before_script:
    - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
    - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
    - NX_HEAD=$CI_COMMIT_SHA

build storybook:
  extends: .distributed
  stage: storybook
  script:
    - yarn nx run-many --target=build
    - yarn nx build-storybook vision-components
  only:
    refs:
      - main
    changes:
      - '*.stories.tsx'
  artifacts:
    paths:
      - dist/apps/vision-components/

deploy storybook:
  image:
    name: gitlab.ir7.com.br:5050/sre/docker-images/gitlab-runner-images:1.0.5
    entrypoint: ['']
  stage: deploy
  interruptible: true
  tags:
    - gitlab-runner-ec2
  script:
    - ls -la dist/apps/vision-components
    - aws s3 cp dist/apps/vision-components/ s3://r7-pipelines-statics/vision-components/ --recursive
  dependencies:
    - build storybook
  only:
    refs:
      - main
    changes:
      - '*.stories.tsx'

test:
  stage: test
  extends: .distributed
  script:
    - npx nx affected --base=$NX_BASE --head=$NX_HEAD -t test --parallel=3 --configuration=ci
  only:
    refs:
      - main
      - merge_requests
    changes:
      - '*/**/*.tsx'
      - '*/**/*.ts'

component-test:
  image: cypress/browsers:node18.12.0-chrome106-ff106
  stage: test
  extends: .distributed
  script:
    - apt-get update && apt-get install -y xvfb
    - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
    - export DISPLAY=:99
    - npx nx build ui-base-components
    - npx nx affected --base=$NX_BASE --head=$NX_HEAD -t component-test --parallel=3 --configuration=ci
  only:
    refs:
      - main
      - merge_requests
    changes:
      - '*/**/*.tsx'
  artifacts:
    when: on_failure
    paths:
      - dist/cypress
    expire_in: 1 day

deploy libs setup:
  stage: deploy
  interruptible: true
  tags:
    - gitlab-runner-ec2
  script:
    - node ./deploy-libs.js
  artifacts:
    expire_in: '60 sec'
    paths:
      - dynamic-gitlab-ci.yml
  only:
    refs:
      - /ui\-.*/

deploy libs:
  stage: deploy
  needs:
    - deploy libs setup
  trigger:
    include:
      - artifact: dynamic-gitlab-ci.yml
        job: deploy libs setup
    strategy: depend

chore(global): yarn.lock
  yarn.lock
Due: none

chore(ui-tv-guide): release version 0.1.1
  libs/ui-tv-guide/CHANGELOG.md
  libs/ui-tv-guide/package.json
Due: none

fix: adding gap through ui-layout
  libs/ui-layout/src/components/article/article.tsx
Due: test, component-test

test(ui-tv-guide): fixing ui-tv-guide tests
  libs/ui-tv-guide/src/components/__image_snapshots__/TvGuide should render ui-tv-guide in desktop mode #0.png
  libs/ui-tv-guide/src/components/__image_snapshots__/TvGuide should render ui-tv-guide in mobile mode #0.png
  libs/ui-tv-guide/src/components/__image_snapshots__/TvGuide should render ui-tv-guide in tablet mode #0.png
  libs/ui-tv-guide/src/components/ui-tv-guide.cy.tsx
  yarn.lock
Due: test, component-test

fix: adding gap to ui-layout
  libs/ui-layout/src/components/article/article.tsx
Due: test, component-test

chore(ui-header-delivery): release version 2.5.6
  libs/ui-header-delivery/CHANGELOG.md
  libs/ui-header-delivery/package.json
Due: none

chore(ui-layout): release version 0.6.3
  libs/ui-layout/CHANGELOG.md
  libs/ui-layout/package.json
Due: none

feat(ui-header-delivery): change style of links to be uppercased
  libs/ui-header-delivery/src/components/sidebar/sidebar-link/sidebar-link.tsx
Due: test, component-test

feat(ui-header-delivery): changing to multilevel submenu
  apps/demo-ui-components/src/app/app.tsx
  apps/demo-ui-components/src/app/mocks/SIDEBAR_DATA.ts
  libs/ui-header-delivery/src/components/header/utils/context/header-context.ts
  libs/ui-header-delivery/src/components/header/utils/provider/header-provider.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-button/sidebar-button.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-submenu/sidebar-submenu.tsx
Due: test, component-test

feat: adding vertical line in header
  libs/ui-header-delivery/src/components/sidebar/sidebar-toggle/sidebar-toggle.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-toggle/sidebar-toggle.variants.ts
  yarn.lock
Due: test, component-test

fix: adding vertical lines to the header
  libs/ui-header-delivery/src/components/header/header-social-list/header-social-list.tsx
  libs/ui-header-delivery/src/components/menu/menu-root/menu.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-toggle/sidebar-toggle.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-toggle/sidebar-toggle.variants.ts
Due: test, component-test

fix: adjusting the vertical bars
  libs/ui-header-delivery/src/components/header/header-social-list/header-social-list.tsx
  libs/ui-header-delivery/src/components/menu/menu-root/menu.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-toggle/sidebar-toggle.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-toggle/sidebar-toggle.variants.ts
  yarn.lock
Due: test, component-test

test(ui-header-delivery): updating tests mock and snapshots
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions header-search-form should only be visible after header-search-toggle click #0.actual.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions header-search-form should only be visible after header-search-toggle click #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar search form should only be visible in small devices #0.actual.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar search form should only be visible in small devices #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - desktop presentation #0.actual.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - desktop presentation #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - mobile presentation #0.actual.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - mobile presentation #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header Portal R7, sidebar-toggle button, navigation-menu, social-media share buttons and search-toggle button should be visible in large devices #0.actual.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header Portal R7, sidebar-toggle button, navigation-menu, social-media share buttons and search-toggle button should be visible in large devices #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header Sidebar-toggle button and Portal R7 should be visible in small devices #0.actual.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header Sidebar-toggle button and Portal R7 should be visible in small devices #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/InternalsHeader should only be visible when triggerElement is out of the viewport #0.png
  libs/ui-header-delivery/src/mocks/SIDEBAR_DATA.ts
Due: test

Removing gap
  libs/ui-header-delivery/src/components/header/header-root/header.tsx
Due: test, component-test

chore: update nx packages
  .env
  migrations.json
  nx.json
  package.json
  yarn.lock
Due: none

chore(ui-tv-guide): release version 0.1.0
  libs/ui-tv-guide/CHANGELOG.md
  libs/ui-tv-guide/package.json
Due: none

test(ui-header-delivery): update header structure
  libs/ui-header-delivery/src/components/header.cy.tsx
Due: test, component-test

docs(ui-header-delivery): update stories with new structure of header
  libs/ui-header-delivery/src/components/header.stories.tsx
Due: test, component-test

test(ui-header-delivery): added test to nested submenu
  libs/ui-header-delivery/src/components/header.cy.tsx
Due: test, component-test

test: update snapshots
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions header-search-form should only be visible after header-search-toggle click #0.actual.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions header-search-form should only be visible after header-search-toggle click #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar search form should only be visible in small devices #0.actual.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar search form should only be visible in small devices #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - desktop presentation #0.actual.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - desktop presentation #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - mobile presentation #0.actual.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - mobile presentation #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header Portal R7, sidebar-toggle button, navigation-menu, social-media share buttons and search-toggle button should be visible in large devices #0.actual.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header Portal R7, sidebar-toggle button, navigation-menu, social-media share buttons and search-toggle button should be visible in large devices #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header Sidebar-toggle button and Portal R7 should be visible in small devices #0.actual.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header Sidebar-toggle button and Portal R7 should be visible in small devices #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/InternalsHeader should only be visible when triggerElement is out of the viewport #0.png
Due: none

fix: adding border-style to icons
  libs/ui-header-delivery/src/components/header/header-social-item/header-social-item.tsx
Due: test, component-test

test: update snapshots
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions header-search-form should only be visible after header-search-toggle click #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - desktop presentation #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header Portal R7, sidebar-toggle button, navigation-menu, social-media share buttons and search-toggle button should be visible in large devices #0.png
Due: none

fix: returning to the correct margin
  libs/ui-header-delivery/src/components/header/header-social-list/header-social-list.tsx
Due: test, component-test

fix: adding border-style to sidebar dividing line
  libs/ui-header-delivery/src/components/sidebar/sidebar-category/sidebar-category.tsx
Due: test, component-test

refactor(ui-header-delivery): spliting toggleSubmenu in two different functions
  libs/ui-header-delivery/src/components/header/utils/context/header-context.ts
  libs/ui-header-delivery/src/components/header/utils/provider/header-provider.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-button/sidebar-button.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-submenu/sidebar-submenu.tsx
Due: test, component-test

fix: header corrections
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions header-search-form should only be visible after header-search-toggle click #0.actual.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions header-search-form should only be visible after header-search-toggle click #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar search form should only be visible in small devices #0.actual.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar search form should only be visible in small devices #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - desktop presentation #0.actual.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - desktop presentation #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - mobile presentation #0.actual.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - mobile presentation #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header Portal R7, sidebar-toggle button, navigation-menu, social-media share buttons and search-toggle button should be visible in large devices #0.actual.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header Portal R7, sidebar-toggle button, navigation-menu, social-media share buttons and search-toggle button should be visible in large devices #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header Sidebar-toggle button and Portal R7 should be visible in small devices #0.actual.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header Sidebar-toggle button and Portal R7 should be visible in small devices #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/InternalsHeader should only be visible when triggerElement is out of the viewport #0.png
  libs/ui-header-delivery/src/components/header/header-social-item/header-social-item.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-category/sidebar-category.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-toggle/sidebar-toggle.tsx
  libs/ui-header-delivery/src/components/sidebar/sidebar-toggle/sidebar-toggle.variants.ts
  yarn.lock
Due: test, component-test

chore(ui-header-delivery): release version 2.5.7
  libs/ui-header-delivery/CHANGELOG.md
  libs/ui-header-delivery/package.json
Due: none

test(ui-header-delivery): added internalHeader snapshot
  libs/ui-header-delivery/src/components/__image_snapshots__/InternalsHeader should only be visible when triggerElement is out of the viewport #0.png
Due: none

refactor(ui-header-delivery): updating snapshots
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions header-search-form should only be visible after header-search-toggle click #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar search form should only be visible in small devices #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - desktop presentation #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header - Elements Interactions sidebar should only be visible after sidebar-toggle click - mobile presentation #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header Portal R7, sidebar-toggle button, navigation-menu, social-media share buttons and search-toggle button should be visible in large devices #0.png
  libs/ui-header-delivery/src/components/__image_snapshots__/Header Sidebar-toggle button and Portal R7 should be visible in small devices #0.png
Due: none
