Repository r7com/front-monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: storybook, test, component-test

storybook:
  interruptible: true
  tags:
  - gitlab-runner-ec2
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - .yarn-cache/
    - cache/Cypress
  before_script:
  - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
  - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
  ...

test:
  interruptible: true
  tags:
  - gitlab-runner-ec2
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - .yarn-cache/
    - cache/Cypress
  before_script:
  - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
  - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
  ...

component-test:
  interruptible: true
  tags:
  - gitlab-runner-ec2
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - .yarn-cache/
    - cache/Cypress
  before_script:
  - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile
  - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
  ...

test: adding tests for hotsite-menu and snapshots
  libs/ui-hotsite-delivery/src/components/hotsite-menu/__image_snapshots__/Hotsite should be visible in large devices #0.png
  libs/ui-hotsite-delivery/src/components/hotsite-menu/__image_snapshots__/Hotsite should be visible in small devices #0.png
  libs/ui-hotsite-delivery/src/components/hotsite-menu/hotsite-menu.cy.tsx
Due: test, component-test

chore: style.css fot tailwind
  libs/ui-hotsite-delivery/src/style.css
Due: none

chore: mock data for testing
  libs/ui-hotsite-delivery/src/mocks/data.ts
Due: test

style: small adjusts for menu style
  libs/ui-hotsite-delivery/src/components/hotsite-menu/hotsite-button/hotsite-button.tsx
  libs/ui-hotsite-delivery/src/components/hotsite-menu/hotsite-item/hotsite-item.tsx
  libs/ui-hotsite-delivery/src/components/hotsite-menu/hotsite-link/hotsite-link.tsx
  libs/ui-hotsite-delivery/src/components/hotsite-menu/hotsite-menu.tsx
  libs/ui-hotsite-delivery/src/components/hotsite-menu/hotsite-submenu-item/hotsite-submenu-item.tsx
  libs/ui-hotsite-delivery/src/components/hotsite-menu/hotsite-submenu/hotsite-submenu.variants.ts
Due: test, component-test

docs: storybook for hotsite-menu
  libs/ui-hotsite-delivery/src/components/hotsite-menu/hotsite-menu.stories.tsx
Due: test, component-test

feat(ui-section-foot): inclusion of the figma in the storybook and text adjustment
  libs/ui-section-foot/src/components/section-foot-link/section-foot-link.tsx
  libs/ui-section-foot/src/components/section-foot-text/section-foot-text.tsx
  libs/ui-section-foot/src/components/section-foot.stories.tsx
  libs/ui-section-foot/src/components/section-foot.tsx
Due: test, component-test

fix: rename some fuunctions and variables
  globals.d.ts
  libs/ui-article-delivery/src/components/contrast-control/contrast-control.tsx
  libs/ui-article-delivery/src/components/font-size-control/font-size-control-decrease/font-size-control-decrease.tsx
  libs/ui-article-delivery/src/components/font-size-control/font-size-control-increase/font-size-control-increase.tsx
  libs/ui-article-delivery/src/utils/context/article-context.ts
  libs/ui-article-delivery/src/utils/provider/article-provider.tsx
Due: test, component-test

chore: removed template string
  libs/ui-article-delivery/src/components/accessibility-bar/accessibility-bar.stories.tsx
Due: test, component-test

chore: removed line
  libs/ui-article-delivery/src/components/contrast-control/contrast-control.tsx
Due: test, component-test

ci: adding deploy command for ui-hotsite-delivery
  .gitlab-ci.yml
Due: none

fix(fixAccessibilityBarStorybook): added article provider
  libs/ui-article-delivery/src/components/accessibility-bar/accessibility-bar.stories.tsx
Due: test, component-test

ci(ui-article-delivery): add build commands to CI
  libs/ui-article-delivery/project.json
Due: none

chore: updates nx packages
  .gitignore
  .prettierignore
  apps/admin-e2e/project.json
  apps/admin/project.json
  apps/demo-ui-components/project.json
  apps/voting-e2e/project.json
  apps/voting/project.json
  libs/ui-article-delivery/project.json
  libs/ui-base-components/project.json
  libs/ui-card/project.json
  libs/ui-footer-delivery/project.json
  libs/ui-form-components/project.json
  libs/ui-header-delivery/project.json
  libs/ui-section-heading/project.json
  libs/ui-section-menu/project.json
  libs/ui-voting-components/project.json
  migrations.json
  nx.json
  package.json
  yarn.lock
Due: none

fix(ui-article-delivery): remove duplicated svgr plugin import
  libs/ui-article-delivery/vite.config.ts
Due: test

fix(AccessibilityBarStorybook): added article provider
  libs/ui-article-delivery/src/components/accessibility-bar/accessibility-bar.stories.tsx
Due: test, component-test

chore: deleting ui-hotsite-delivery lib - migrating its components to ui-section-menu
  libs/ui-hotsite-delivery/.eslintrc.json
  libs/ui-hotsite-delivery/README.md
  libs/ui-hotsite-delivery/cypress.config.ts
  libs/ui-hotsite-delivery/cypress/fixtures/example.json
  libs/ui-hotsite-delivery/cypress/support/commands.ts
  libs/ui-hotsite-delivery/cypress/support/component-index.html
  libs/ui-hotsite-delivery/cypress/support/component.ts
  libs/ui-hotsite-delivery/cypress/tsconfig.json
  libs/ui-hotsite-delivery/jest.config.ts
  libs/ui-hotsite-delivery/package.json
  libs/ui-hotsite-delivery/postcss.config.js
  libs/ui-hotsite-delivery/project.json
  libs/ui-hotsite-delivery/src/components/hotsite-menu/__image_snapshots__/Hotsite should be visible in large devices #0.png
  libs/ui-hotsite-delivery/src/components/hotsite-menu/__image_snapshots__/Hotsite should be visible in small devices #0.png
  libs/ui-hotsite-delivery/src/components/hotsite-menu/hotsite-button/hotsite-button.tsx
  libs/ui-hotsite-delivery/src/components/hotsite-menu/hotsite-item/hotsite-item.tsx
  libs/ui-hotsite-delivery/src/components/hotsite-menu/hotsite-link/hotsite-link.tsx
  libs/ui-hotsite-delivery/src/components/hotsite-menu/hotsite-list/hotsite-list.tsx
  libs/ui-hotsite-delivery/src/components/hotsite-menu/hotsite-menu.cy.tsx
  libs/ui-hotsite-delivery/src/components/hotsite-menu/hotsite-menu.stories.tsx
  libs/ui-hotsite-delivery/src/components/hotsite-menu/hotsite-menu.tsx
  libs/ui-hotsite-delivery/src/components/hotsite-menu/hotsite-submenu-item/hotsite-submenu-item.tsx
  libs/ui-hotsite-delivery/src/components/hotsite-menu/hotsite-submenu/hotsite-submenu.tsx
  libs/ui-hotsite-delivery/src/components/hotsite-menu/hotsite-submenu/hotsite-submenu.variants.ts
  libs/ui-hotsite-delivery/src/components/hotsite-menu/index.ts
  libs/ui-hotsite-delivery/src/components/hotsite-menu/utils/context/hotsite-provider.ts
  libs/ui-hotsite-delivery/src/components/hotsite-menu/utils/hooks/use-hotsite-actions.ts
  libs/ui-hotsite-delivery/src/components/hotsite-menu/utils/provider/hotsite-provider.tsx
  libs/ui-hotsite-delivery/src/index.ts
  libs/ui-hotsite-delivery/src/mocks/data.ts
  libs/ui-hotsite-delivery/src/style.css
  libs/ui-hotsite-delivery/tailwind.config.js
  libs/ui-hotsite-delivery/tsconfig.json
  libs/ui-hotsite-delivery/tsconfig.lib.json
  libs/ui-hotsite-delivery/tsconfig.spec.json
  libs/ui-hotsite-delivery/vite.config.ts
Due: test, component-test

chore: migrate ui-hotsite-delivery components to ui-section-menu
  libs/ui-section-menu/src/components/__image_snapshots__/SectionMenu should be visible in large devices #0.png
  libs/ui-section-menu/src/components/__image_snapshots__/SectionMenu should be visible in small devices #0.png
  libs/ui-section-menu/src/components/index.ts
  libs/ui-section-menu/src/components/menu-button/menu-button.tsx
  libs/ui-section-menu/src/components/menu-item/menu-item.tsx
  libs/ui-section-menu/src/components/menu-link/menu-link.tsx
  libs/ui-section-menu/src/components/menu-list/menu-list.tsx
  libs/ui-section-menu/src/components/section-menu.cy.tsx
  libs/ui-section-menu/src/components/section-menu.stories.tsx
  libs/ui-section-menu/src/components/section-menu.tsx
  libs/ui-section-menu/src/components/submenu-item/submenu-item.tsx
  libs/ui-section-menu/src/components/submenu/submenu.tsx
  libs/ui-section-menu/src/components/submenu/submenu.variants.ts
  libs/ui-section-menu/src/mocks/data.ts
  libs/ui-section-menu/src/utils/context/section-menu-context.ts
  libs/ui-section-menu/src/utils/hooks/use-section-menu-actions.ts
  libs/ui-section-menu/src/utils/provider/section-menu-provider.tsx
  libs/ui-section-menu/vite.config.ts
Due: test, component-test

chore: deleting ui-hotsite-delivery from aliases configuration
  tsconfig.base.json
Due: none

chore(packages): updated yarn.lock
  yarn.lock
Due: none

chore: removing comment
  libs/ui-section-menu/src/components/menu-link/menu-link.tsx
Due: test, component-test

feat: add prefix from node commands
  add-prefix.js
Due: none

chore: updates nx packages
  .gitignore
  .prettierignore
  apps/admin-e2e/project.json
  apps/admin/project.json
  apps/demo-ui-components/project.json
  apps/voting-e2e/project.json
  apps/voting/project.json
  libs/ui-article-delivery/project.json
  libs/ui-article-delivery/vite.config.ts
  libs/ui-base-components/project.json
  libs/ui-card/project.json
  libs/ui-footer-delivery/project.json
  libs/ui-form-components/project.json
  libs/ui-header-delivery/project.json
  libs/ui-section-heading/project.json
  libs/ui-section-menu/project.json
  libs/ui-voting-components/project.json
  migrations.json
  nx.json
  package.json
  yarn.lock
Due: test

feat(ui-section-foot): removing template string
  libs/ui-section-foot/src/components/section-foot-link/section-foot-link.tsx
Due: test, component-test

feat(ui-section-foot): adjustment of the link, storybook and test components
  libs/ui-section-foot/src/components/section-foot-link/section-foot-link.tsx
  libs/ui-section-foot/src/components/section-foot-text/section-foot-text.tsx
  libs/ui-section-foot/src/components/section-foot.cy.tsx
  libs/ui-section-foot/src/components/section-foot.stories.tsx
  libs/ui-section-foot/src/components/section-foot.tsx
Due: test, component-test

feat(ui-section-foot): duplicate class removal
  libs/ui-section-foot/src/components/section-foot-link/section-foot-link.tsx
Due: test, component-test

chore: adding label to demo-ui-components section-menu
  apps/demo-ui-components/src/app/routes/ui-section-menu.tsx
Due: test, component-test

chore: adding nxCloudAccessToken to nx.json
  nx.json
Due: none

Nx Cloud Configs
  apps/demo-ui-components/src/app/routes/ui-section-menu.tsx
  nx.json
Due: test, component-test

feat(ui-section-foot): link adjustment in storybook
  libs/ui-section-foot/src/components/section-foot.stories.tsx
Due: test, component-test

refactor: starting to change the nomenclature
  libs/ui-base-components/src/components/heading/__image_snapshots__/Title using size variations #0.png
  libs/ui-base-components/src/components/heading/heading.cy.tsx
  libs/ui-base-components/src/components/heading/heading.stories.tsx
  libs/ui-base-components/src/components/heading/heading.tsx
  libs/ui-base-components/src/components/heading/heading.variants.ts
  libs/ui-base-components/src/components/heading/index.ts
  libs/ui-base-components/src/components/subheading/__image_snapshots__/Subtitle using size variations #0.png
  libs/ui-base-components/src/components/subheading/index.ts
  libs/ui-base-components/src/components/subheading/subheading.cy.tsx
  libs/ui-base-components/src/components/subheading/subheading.stories.tsx
  libs/ui-base-components/src/components/subheading/subheading.tsx
  libs/ui-base-components/src/components/subheading/subheading.variants.ts
  libs/ui-base-components/src/components/subtitle/index.ts
  libs/ui-base-components/src/components/subtitle/subtitle.cy.tsx
  libs/ui-base-components/src/components/subtitle/subtitle.tsx
  libs/ui-base-components/src/components/text/index.ts
  libs/ui-base-components/src/components/text/paragraph.cy.tsx
  libs/ui-base-components/src/components/text/paragraph.stories.tsx
  libs/ui-base-components/src/components/text/paragraph.tsx
  libs/ui-base-components/src/components/text/paragraph.variants.ts
  libs/ui-base-components/src/components/text/text.cy.tsx
  libs/ui-base-components/src/components/title/index.ts
  libs/ui-base-components/src/components/title/title.tsx
  libs/ui-base-components/src/index.ts
Due: test, component-test

feat(ui-card): added card without main link
  libs/ui-card/src/components/card/card.cy.tsx
  libs/ui-card/src/components/card/card.stories.tsx
  libs/ui-card/src/components/card/card.tsx
Due: test, component-test

feat(ui-card): added link in the hat subcomponent; tests and storybook updated
  libs/ui-card/src/components/card/card-hat/__image_snapshots__/CardHatWrapper should render hat with link #0.png
  libs/ui-card/src/components/card/card-hat/card-hat-title.tsx
  libs/ui-card/src/components/card/card-hat/card-hat-title.variants.tsx
  libs/ui-card/src/components/card/card-hat/card-hat-wrapper.tsx
  libs/ui-card/src/components/card/card-hat/card-hat.cy.tsx
  libs/ui-card/src/components/card/card-hat/card-hat.stories.tsx
Due: test, component-test

feat(ui-card): added link option to image and title subcomponents
  libs/ui-card/src/components/card/card-image/card-image.tsx
  libs/ui-card/src/components/card/card-title/card-title.tsx
Due: test, component-test

test(ui-card): added tests for link option of image and title subcomponents
  libs/ui-card/src/components/card/card-image/card-image.cy.tsx
  libs/ui-card/src/components/card/card-title/card-title.cy.tsx
Due: test, component-test

docs(ui-card): added stories for link option of image and title subcomponents
  libs/ui-card/src/components/card/card-image/card-image.stories.tsx
  libs/ui-card/src/components/card/card-title/card-title.stories.tsx
Due: test, component-test

feat(ui-article-delivery): share links using popup instead of default anchor
  libs/ui-article-delivery/src/components/social-share/social-icons/facebook.tsx
  libs/ui-article-delivery/src/components/social-share/social-icons/google-news.tsx
  libs/ui-article-delivery/src/components/social-share/social-icons/linkedin.tsx
  libs/ui-article-delivery/src/components/social-share/social-icons/twitter.tsx
  libs/ui-article-delivery/src/components/social-share/social-icons/whatsapp.tsx
  libs/ui-article-delivery/src/components/social-share/utils/sharer.ts
Due: test, component-test

fix(Header): removed prop acepted reactNode and inserted img tag that receved url
  libs/ui-header-delivery/src/components/header.cy.tsx
  libs/ui-header-delivery/src/components/header.stories.tsx
  libs/ui-header-delivery/src/components/header/header-logo/header-logo.tsx
Due: test, component-test

fix(header): title of link and added width and height
  libs/ui-header-delivery/src/components/header/header-logo/header-logo.tsx
Due: test, component-test

fix(header): removed lazy
  libs/ui-header-delivery/src/components/header/header-logo/header-logo.tsx
Due: test, component-test

Path conditions:
  storybook: any of: *.stories.tsx
  test: any of: */**/*.tsx, */**/*.ts
  component-test: any of: */**/*.tsx
