Repository r7com/front-monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ui-components-admin build, ui-components-admin test, ui-components-admin e2e, admin build, admin test, voting build, voting test

.gitlab-ci.yml:

variables:
  NODE_VERSION: node:16.14-alpine
  CI: 'true'

image: $NODE_VERSION

default:
  tags:
    - gitlab-runner-ec2
  cache:
    key:
      files:
        - yarn.lock
    paths:
      - '.yarn-cache/'
  before_script:
    - yarn install --cache-folder .yarn-cache --prefer-offline --frozen-lockfile

stages:
  - build
  - test
  - e2e

#ui-components-admin jobs
ui-components-admin build:
  stage: build
  script:
    - yarn nx build ui-components-admin
  only:
    refs:
      - main
      - merge_requests
    changes:
      - libs/ui-components-admin/**/*
  except:
    changes:
      - libs/ui-components-admin/**/*.{json,md}
      - libs/ui-components-admin/**/*.test.{js,ts,jsx,tsx}
      - libs/ui-components-admin/**/*.spec.{js,ts,jsx,tsx}

ui-components-admin test:
  stage: test
  script:
    - yarn nx test ui-components-admin
  only:
    refs:
      - main
      - merge_requests
    changes:
      - libs/ui-components-admin/**/*
  except:
    changes:
      - libs/ui-components-admin/**/*.{json,md}
      - libs/ui-components-admin/**/*.test.{js,ts,jsx,tsx}
      - libs/ui-components-admin/**/*.spec.{js,ts,jsx,tsx}

ui-components-admin e2e:
  stage: e2e
  image: cypress/browsers:node18.12.0-chrome107
  script:
    - apt-get update && apt-get install -y xvfb
    - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
    - export DISPLAY=:99
    - yarn nx component-test ui-components-admin --graph=output.html
  only:
    refs:
      - main
      - merge_requests
    changes:
      - libs/ui-components-admin/**/*
  except:
    changes:
      - libs/ui-components-admin/**/*.{json,md}
      - libs/ui-components-admin/**/*.test.{js,ts,jsx,tsx}
      - libs/ui-components-admin/**/*.spec.{js,ts,jsx,tsx}

  artifacts:
    when: always
    paths:
      - cypress/videos/**/*.mp4
      - cypress/screenshots/**/*.png
    expire_in: 1 day

#admin jobs
admin build:
  stage: build
  needs: ["ui-components-admin build"]
  script:
    - yarn nx build admin
  only:
    refs:
      - main
      - merge_requests
    changes:
      - apps/admin/**/*
  except:
    changes:
      - apps/admin/**/*.{json,md}
      - apps/admin/**/*.test.{js,ts,jsx,tsx}
      - apps/admin/**/*.spec.{js,ts,jsx,tsx}


admin test:
  stage: test
  script:
    - yarn nx test admin
  only:
    refs:
      - main
      - merge_requests
    changes:
      - apps/admin/**/*
  except:
    changes:
      - apps/admin/**/*.{json,md}
      - apps/admin/**/*.test.{js,ts,jsx,tsx}
      - apps/admin/**/*.spec.{js,ts,jsx,tsx}


# voting jobs
voting build:
  stage: build
  needs: ["ui-components-admin build"]
  script:
    - yarn nx build voting
  only:
    refs:
      - main
      - merge_requests
    changes:
      - apps/voting/**/*
  except:
    changes:
      - apps/voting/**/*.{json,md}
      - apps/voting/**/*.test.{js,ts,jsx,tsx}
      - apps/voting/**/*.spec.{js,ts,jsx,tsx}


voting test:
  stage: test
  script:
    - yarn nx test voting
  only:
    refs:
      - merge_requests
    changes:
      - apps/voting/**/*
  except:
    changes:
      - apps/voting/**/*.{json,md}
      - apps/voting/**/*.test.{js,ts,jsx,tsx}
      - apps/voting/**/*.spec.{js,ts,jsx,tsx}

  environment: production

fix: removido parametros desnecessários e parametro de extensão agora opcional
  generate-dynamic-types.js
Due: none

feat: adiciona validação pra estourar erro quando não achar arquivos
  generate-dynamic-types.js
Due: none

chore: usando os novos parametros nos scripts
  libs/ui-components-admin/project.json
Due: none

test: alterações no teste
  libs/ui-components-admin/src/components/text/__image_snapshots__/Text uses custom text for disclaimer paragraph #0.png
  libs/ui-components-admin/src/components/text/__image_snapshots__/uses custom text for disclaimer paragraph #0.png
  libs/ui-components-admin/src/components/text/text.cy.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

docs: ajustes no sotrybook
  libs/ui-components-admin/src/components/text/text.stories.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

feat: adicionando e extends na prop "as"
  libs/ui-components-admin/src/components/text/__image_snapshots__/Disclaimer should match the snapshot #0.png
  libs/ui-components-admin/src/components/text/text.tsx
  libs/ui-theme-core/src/tailwind-preset.js
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

Estilizando svg no componente, refatorando testes
  libs/ui-components-admin/src/components/chips/__image_snapshots__/Chips renders a icon chip with only icon tertiary #0.png
  libs/ui-components-admin/src/components/chips/__image_snapshots__/Chips renders a icon selected chip with only icon tertiary #0.png
  libs/ui-components-admin/src/components/chips/__image_snapshots__/Chips renders a large chip disabled with icon left primary #0.png
  libs/ui-components-admin/src/components/chips/__image_snapshots__/Chips renders a large chip disabled with icon right primary #0.png
  libs/ui-components-admin/src/components/chips/__image_snapshots__/Chips renders a large chip with disabled primary #0.png
  libs/ui-components-admin/src/components/chips/__image_snapshots__/Chips renders a large chip with disabled tertiary #0.png
  libs/ui-components-admin/src/components/chips/__image_snapshots__/Chips renders a large chip with icon left primary #0.png
  libs/ui-components-admin/src/components/chips/__image_snapshots__/Chips renders a large chip with icon right primary #0.png
  libs/ui-components-admin/src/components/chips/__image_snapshots__/Chips renders a large chip with only icon primary #0.png
  libs/ui-components-admin/src/components/chips/__image_snapshots__/Chips renders a large chip with only icon secondary #0.png
  libs/ui-components-admin/src/components/chips/__image_snapshots__/Chips renders a large chip with primary #0.png
  libs/ui-components-admin/src/components/chips/__image_snapshots__/Chips renders a large chip with selected primary #0.png
  libs/ui-components-admin/src/components/chips/__image_snapshots__/Chips renders a large chip with selected tertiary #0.png
  libs/ui-components-admin/src/components/chips/__image_snapshots__/Chips renders a large selected chip with only icon primary #0.png
  libs/ui-components-admin/src/components/chips/__image_snapshots__/Chips renders a large selected chip with only icon secondary #0.png
  libs/ui-components-admin/src/components/chips/__image_snapshots__/Chips renders a medium chip with secondary #0.png
  libs/ui-components-admin/src/components/chips/__image_snapshots__/Chips renders a medium chip with selected tertiary #0.png
  libs/ui-components-admin/src/components/chips/__image_snapshots__/Chips renders a small chip with selected secondary #0.png
  libs/ui-components-admin/src/components/chips/__image_snapshots__/Chips renders a small chip with tertiary #0.png
  libs/ui-components-admin/src/components/chips/chips.cy.tsx
  libs/ui-components-admin/src/components/chips/chips.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

fix: corrigido log do parametro outputFile
  generate-dynamic-types.js
Due: none

fix: gerado e usando tipagem dinâmica no svg-icon
  libs/ui-components-admin/src/components/svg-icon/svg-icon.tsx
  libs/ui-components-admin/src/components/svg-icon/svg-icon.types.ts
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

Ajustando teste de disabled
  libs/ui-components-admin/src/components/chips/chips.cy.tsx
  libs/ui-components-admin/src/components/chips/chips.tsx
  yarn.lock
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

refactor: utilizando tailwind-variants nos componentes: * bullet * button * card-status * svg-icon * tooltip
  .vscode/settings.json
  libs/ui-components-admin/src/components/bullet/bullet.tsx
  libs/ui-components-admin/src/components/bullet/variants.ts
  libs/ui-components-admin/src/components/button/__image_snapshots__/Button renders as button #0.png
  libs/ui-components-admin/src/components/button/__image_snapshots__/Button renders as button #1.png
  libs/ui-components-admin/src/components/button/__image_snapshots__/Button renders as link #0.png
  libs/ui-components-admin/src/components/button/__image_snapshots__/Button renders as link #1.png
  libs/ui-components-admin/src/components/button/__image_snapshots__/Button with icon #0.diff.png
  libs/ui-components-admin/src/components/button/__image_snapshots__/Button with icon #0.png
  libs/ui-components-admin/src/components/button/__image_snapshots__/Button with icon #1.png
  libs/ui-components-admin/src/components/button/button.tsx
  libs/ui-components-admin/src/components/button/variants.ts
  libs/ui-components-admin/src/components/card-status/card-status.tsx
  libs/ui-components-admin/src/components/card-status/variants.ts
  libs/ui-components-admin/src/components/svg-icon/svg-icon.tsx
  libs/ui-components-admin/src/components/svg-icon/variants.ts
  libs/ui-components-admin/src/components/tooltip/tooltip.tsx
  libs/ui-components-admin/src/components/tooltip/variants.ts
  package.json
  yarn.lock
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

refactor: trocando nome dos arquivos de variantes para [component].variants.ts
  libs/ui-components-admin/src/components/bullet/bullet.tsx
  libs/ui-components-admin/src/components/bullet/bullet.variants.ts
  libs/ui-components-admin/src/components/button/button.tsx
  libs/ui-components-admin/src/components/button/button.variants.ts
  libs/ui-components-admin/src/components/card-status/card-status.tsx
  libs/ui-components-admin/src/components/card-status/card-status.variants.ts
  libs/ui-components-admin/src/components/svg-icon/svg-icon.tsx
  libs/ui-components-admin/src/components/svg-icon/svg-icon.variants.ts
  libs/ui-components-admin/src/components/tooltip/tooltip.tsx
  libs/ui-components-admin/src/components/tooltip/tooltip.variants.ts
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

apagando svg nao usados
  libs/ui-components-admin/src/svg/snackbar-alert.svg
  libs/ui-components-admin/src/svg/snackbar-close.svg
  libs/ui-components-admin/src/svg/snackbar-success.svg
  libs/ui-components-admin/src/svg/snackbar-warning.svg
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

removendo fonte
  libs/ui-theme-core/src/tailwind-preset.js
Due: none

fix: utilizando tipagem de svg na importacao de svg
  libs/ui-components-admin/src/hooks/use-dynamic-svg-import.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

refactor: troca nos estilos do snackbar utilizando tailwind-variants
  libs/ui-components-admin/src/components/snackbar/snackbar.tsx
  libs/ui-components-admin/src/components/snackbar/snackbar.variants.ts
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

task: criando contexto para uso do snackbar como notificacao
  libs/ui-components-admin/src/components/snackbar/contexts/notification-context.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

task: criacao de hook para utilizar notificacoes
  libs/ui-components-admin/src/components/snackbar/contexts/notification-context.tsx
  libs/ui-components-admin/src/components/snackbar/hooks/use-notification.ts
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

task: criação do provider das notificacoes utilizando o snackbar
  libs/ui-components-admin/src/components/snackbar/index.ts
  libs/ui-components-admin/src/components/snackbar/providers/notification-provider.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

task: instalando uuid para uso interno
  package.json
  yarn.lock
Due: none

task: importando provider de notificacao e disponibilizando para uso no admin
  apps/admin/src/bootstrap.tsx
Due: admin build, admin test

task: exemplos de uso das notificacoes
  apps/admin/src/app/app.tsx
Due: admin build, admin test

test: corrigindo testes e snapshots
  libs/ui-components-admin/src/components/snackbar/__image_snapshots__/Snackbar render snackbar alert #0.png
  libs/ui-components-admin/src/components/snackbar/__image_snapshots__/Snackbar render snackbar default #0.png
  libs/ui-components-admin/src/components/snackbar/__image_snapshots__/Snackbar render snackbar error #0.png
  libs/ui-components-admin/src/components/snackbar/__image_snapshots__/Snackbar render snackbar informative #0.png
  libs/ui-components-admin/src/components/snackbar/__image_snapshots__/Snackbar render snackbar positive #0.png
  libs/ui-components-admin/src/components/snackbar/__image_snapshots__/Snackbar render snackbar success #0.png
  libs/ui-components-admin/src/components/snackbar/__image_snapshots__/Snackbar render snackbar warning #0.png
  libs/ui-components-admin/src/components/snackbar/snackbar.cy.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

Refatorando disabled e onclick
  libs/ui-components-admin/src/components/chips/__image_snapshots__/Chips renders a large chip with disabled tertiary #0.png
  libs/ui-components-admin/src/components/chips/__image_snapshots__/Chips renders a medium chip with disabled tertiary #0.png
  libs/ui-components-admin/src/components/chips/chips.cy.tsx
  libs/ui-components-admin/src/components/chips/chips.stories.tsx
  libs/ui-components-admin/src/components/chips/chips.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

refactor: modificando componente de toggle para utilizar tailwind variants
  libs/ui-components-admin/src/components/toggle/toggle.tsx
  libs/ui-components-admin/src/components/toggle/toggle.variants.ts
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

fix: possibilidade de executar uma acao 'onSnackbarDismiss'
  apps/admin/src/app/app.tsx
  libs/ui-components-admin/src/components/snackbar/hooks/use-notification.ts
  libs/ui-components-admin/src/components/snackbar/providers/notification-provider.tsx
  libs/ui-components-admin/src/components/snackbar/snackbar.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e, admin build, admin test

removendo teste desnecessario
  libs/ui-components-admin/src/components/snackbar/snackbar.cy.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

fix: ajustando nome dos slots de variantes do toggle
  libs/ui-components-admin/src/components/toggle/toggle.tsx
  libs/ui-components-admin/src/components/toggle/toggle.variants.ts
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

ajustes merge
  apps/admin/src/app/app.tsx
  libs/ui-components-admin/src/components/snackbar/contexts/notification-context.tsx
  libs/ui-components-admin/src/components/snackbar/hooks/use-notification.ts
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e, admin build, admin test

fix: adicionando role="alert" ao snackbar para acessibilidade
  libs/ui-components-admin/src/components/snackbar/snackbar.cy.tsx
  libs/ui-components-admin/src/components/snackbar/snackbar.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

fix: trocando tipagem de iconVariant do snackbar
  libs/ui-components-admin/src/components/snackbar/snackbar.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

fix: removendo NonNullable da tipagem de icones do snackbar
  libs/ui-components-admin/src/components/snackbar/snackbar.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

fix: ajustando paddings no toggle
  libs/ui-components-admin/src/components/toggle/toggle.tsx
  libs/ui-components-admin/src/components/toggle/toggle.variants.ts
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

fix: adicionando drop-shadow ao texto quando botao esta focado
  libs/ui-components-admin/src/components/button/button.variants.ts
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

fix: adicionando aria-hidden=true no svg-icon quando nao tem titulo
  libs/ui-components-admin/src/components/svg-icon/svg-icon.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

task: adicionando dropShadow nas configs do tailwind
  libs/ui-theme-core/src/tailwind-preset.js
Due: none

task: adicionando role 'alert' ou 'status' condicionalmente no snackbar
  libs/ui-components-admin/src/components/snackbar/snackbar.cy.tsx
  libs/ui-components-admin/src/components/snackbar/snackbar.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

fix: adicionando gap entre o 'children' e os icones no componente button
  apps/admin/src/app/app.tsx
  libs/ui-components-admin/src/components/button/button.tsx
  libs/ui-components-admin/src/components/button/button.variants.ts
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e, admin build, admin test

fix: corrigindo logica do snackbar, deve vir com 'open=false' por padrao
  libs/ui-components-admin/src/components/snackbar/snackbar.cy.tsx
  libs/ui-components-admin/src/components/snackbar/snackbar.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e

shore: adicionando open=true a todas as novas mensagens
  libs/ui-components-admin/src/components/snackbar/providers/notification-provider.tsx
Due: ui-components-admin build, ui-components-admin test, ui-components-admin e2e
